<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="icon" href="/static/img/logo180x180.png">
        <meta name="description" content="{{config["APP_DESCRIPTION"]}}">
        <meta name="keywords" content="{{config["APP_KEYWORDS"]}}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{config["APP_TITLE"]}}</title>
        <!-- IOS MANIFEST -->
        <link rel="apple-touch-icon" href="/static/img/touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/img/logo152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/logo180x180.png">
        <link rel="apple-touch-icon" sizes="167x167" href="/static/img/logo167x167.png">
        <meta name="apple-mobile-web-app-title" content="{{config["APP_NAME"]}}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="canonical" href="/" />
        {{ stylesheet_tag('main') | safe }}
        {% block style %} {% endblock %}        
    </head>
    <body>
        <div class='clean-content-wrapper'>            
            {% block top_region %}{% endblock %}
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for cat, message in messages %}
                        <div class='alert alert-{{cat}} alert-dismissible fade show' role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}                  
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}            
        </div>        
        {{ javascript_tag('runtime', 'main') | safe }}
        {% block scripts %}{% endblock %}
    </body>
</html>
