<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <link rel="icon" href="/static/img/logo.ico">
        <meta name="description" content="{{config["APP_DESCRIPTION"]}}">
        <meta name="keywords" content="{{config["APP_KEYWORDS"]}}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block page_title %} {{config["APP_TITLE"]}}{% endblock %} </title>
    <!-- IOS MANIFEST -->
        <link rel="apple-touch-icon" href="/static/img/touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/img/logo_icon_sm.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/logo_icon_sm.png">
        <link rel="apple-touch-icon" sizes="167x167" href="/static/img/logo_icon_sm.png">
        <meta name="apple-mobile-web-app-title" content="{{config["APP_NAME"]}}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="canonical" href="/" />
        {{ stylesheet_tag('main') | safe }}
        {% block style %} {% endblock %}

        {% if config["GA_TRACKING_ENABLED"] %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ config['GA_TRACKING_ID'] }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ config["GA_TRACKING_ID"] }}');
        </script>
        {% endif %}

    </head>
    <body>
        <div class='top-bar-wrapper'>
            {% include "components/topbar.html" %}
        </div>

        <div class='global-wrapper'>
            <div class='top-region-wrapper'>
                <div class='top-region-background-wrapper'>
                    {% block top_region_background %}{% endblock %}
                </div>
                <div class='top-region-content'>
                    {% block top_region %}{% endblock %}
                </div>
            </div>
            <div class='content-wrapper'>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for cat, message in messages %}
                            <div class='alert alert-{{cat}} alert-dismissible fade show' role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}                  
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
            <div class='bottom-region-wrapper'>
                <div class='bottom-region-background-wrapper'>
                    {% block bottom_region_background %}{% endblock %}
                </div>                
                <div class='bottom-region-content'>
                    {% block bottom_region %}{% endblock %}
                </div>
            </div>
        </div>

        <div class='footer-wrapper'>
            {% include "components/footer.html" %}
        </div>

        <script type="text/template" id='site-variables'>
            {{ constants['js_vars'] | fmt_json_str }}
        </script>

        {% if current_user.is_authenticated %}
            {% include "components/support_modal.html" %}
        {% endif %}

        {% if current_user.is_authenticated %}
        {% include "components/quick_messages.html" %}
        {% endif %}
                     
        {{ javascript_tag('runtime', 'main') | safe }}

        {% if current_user.is_authenticated %}
        <script>            
            window.start_notification_manager();
            window.start_quick_messages_service();
            window.handle_support_bubble();
        </script>
        {% endif %}

        {% if config['LOG_USER_ACTIVITY_ENABLED'] %}

            {% if current_user.is_authenticated %}
            <script>            
                window.log_current_page({{ current_user.get_id() }});
            </script>
            {% else %}
            <script>
                window.log_current_page();
            </script>
            {% endif %}
        {% endif %}

        {% block scripts %}{% endblock %}
    </body>
</html>
