{% extends "layouts/base.html" %}

{% block content %}
<div class='row medium-gutters'>
    <div class='col-sm-12 col-md-3'>
        {% block left_column %}{% endblock %}
    </div>
    <div class='col-sm-12 col-md-9'>
        {% block right_column %}{% endblock %}
    </div>
</div>
{% endblock %}
