{% if view != "clean" %}
{% extends "layouts/L1.html" %}
{% else %}
{% extends "layouts/base_clean.html" %}
{% endif %}

{% block page_title %} {{ _('Create a New Quote') }} {% endblock %}

{% import 'components/forms.html' as forms_macro with context %}

{% block content %}
<div id='create-quote-wrapper'>
    <h3>{{ _('Create a new quote') }}</h3>
    <div>
    </div>
    <form id='create-quote-form' method='POST' enctype="multipart/form-data">
        <input type='hidden' name='rfq_id' value='{{ rfq.id }}'>              
        {{ forms_macro.input('title', _('Title')) }}
        {{ forms_macro.input('price', _('Price')) }} 
        {{ forms_macro.input('quantity', _('Quantity')) }}
        
        <div class='select-products form-group'>
            <label for='select-products'>{{ _('Products') }}</label>
            <select multiple name='products' class='form-control hide' id='select-products-input'>
                {% for product in products %}
                <option value='{{ product.id }}'>{{ product.name }}</option>
                {% endfor %}
            </select>

            <div class='select-products-grid products-grid-view'>
                <div class='row'>
                    {% for product in products %}
                    <div class='col-6 col-sm-3 col-md-2 mb-2'>
                        <div class='card product-grid-item select-products-item' data-product_id='{{ product.id }}'>
                            <img class='card-img-top'
                                src="{{ product.display_pic or '/static/img/product_default.png' }}" />
                            <div class='card-body'>
                                <div class='card-title'>{{ product.name }}</div>                              
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>        

        {{ forms_macro.textarea('content', _('Content')) }}
        {{ forms_macro.media_input('media', _('Media'), multiple=True) }}
        {{ forms_macro.other_details() }}
        {{ forms_macro.submit_btn(text=_('Submit')) }}
        <a href='javascript:history.go(-1);'><span class='btn-cancel'>{{ _('Cancel') }}</span></a>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ javascript_tag('quote') | safe }}
<script>
    SUMO.quote.handle_create_quote_form();
</script>
{% endblock %}