{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}

{% block page_title %} {{ _('Create a New Quote') }} {% endblock %}

{% block content %}
<div id='create-quote-page-wrapper'>
    <h3>{{ _('Create a new quote') }}</h3>
    <div>
    </div>
    <form id='create-quote-form' method='POST'>
    </form>
</div>
{% endblock %}