{% extends "layouts/L1.html" %}

{% import 'components/media.html' as media_comps with context %}
{% import 'components/account.html' as account_comps with context %}
{% import 'components/company.html' as company_comps with context %}

{% block page_title %} {{ _('Quote') }} {% endblock %}

{% block top_region %}
<h3>{% if quote.title %}{{ _('Quote') }} | {{ quote.title }}{% else %}{{ _('Quote for') }} {{ quote.rfq.product }}{% endif %}
    <a class='btn-contact'
        href='{{ url_for("messages.rfq_thread_contact_seller", quote_id=quote.id) }}'>{{ _('Contact Seller') }}</a>
</h3>
{% endblock %}

{% block content %}
<div class='quote-wrapper row'>
    <div class='col-sm-12 col-md-9'>
        <table class='details-table'>
            <tbody>
                <tr>
                    <th>{{ _('Reply to') }}</th>
                    <td><a href='{{ url_for("rfq.rfq_page", pr_id=quote.rfq.id) }}'>{{ _('RFQ') }} {{ quote.rfq.product }}</a></td>
                </tr>            
                <tr>
                    <th>{{ _('Seller') }}</th>
                    <td><a href='{{ url_for("account.account_page", pr_id=quote.seller.id) }}'>{{ quote.seller.name }}</a></td>
                </tr>
                <tr>
                    <th>{{ _('Company') }}</th>
                    <td><a href='{{ url_for("company.company_page", pr_id=quote.seller.company.id) }}'>{{ quote.seller.company.name }}</a></td>
                </tr>
                <tr>
                    <th>{{ _('Price') }}</th>
                    <td>{{ quote.price }}</td>
                </tr>
                <tr>
                    <th>{{ _('Quantity') }}</th>
                    <td>{{ quote.quantity }}</td>
                </tr>

                {% if quote.other_details %}
                {% for key,val in quote.other_details.items() %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ val }}</td>
                </tr>                
                {% endfor %}
                {% endif %}                   
                <tr>
                    <th>{{ _('Products') }}</th>
                    <td>
                        <div class='row'>                            
                        {% for product in quote.products %}
                        <div class='col-6 col-sm-4 col-md-3'>
                           <div class='product-grid-item card'>
                                <img class='card-img-top'
                                    src='{% if not product.media %}/static/img/product_default.png{% else %}{{ product.media[0].thumbnail() }}{% endif %}'>
                                <div class='card-body'>
                                    <div class='card-text'>
                                        <a href='{{ url_for("product.product_page", pr_id=product.id) }}'>{{ product.name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan=2>
                        {{ media_comps.render_media_grid(quote.media_list)  }}
                    </td>
                </tr>                
                <tr>
                    <td colspan=2>{{ quote.content|safe }}</td>
                </tr>
            </tbody>
        </table>

        {% if is_owner %}
        <a class='btn-update' href='{{ url_for("quote.update_quote", pr_id=quote.id) }}'>{{ _('Update') }}</a>
        {% endif %}
    </div>
    <div class='col-sm-12 col-md-3'>
        {{ account_comps.render_account_short_info(quote.seller, title=_('Seller profile')) }}
        {{ company_comps.render_company_short_info(quote.seller.company) }}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    load_media_grid_lightbox('#media-grid');
</script>
{% endblock %}