{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}

{% block page_title %} {{ _('Update Quote') }} {% endblock %}

{% block content %}
<div id='update-quote-wrapper'>
    <h3>{{ _('Update Quote') }} {% if quote.title %}{{ quote.title }}{% else %}{{ quote.id }}{% endif %}</h3>
    <div>
    </div>
    <form id='update-quote-form' method='POST' enctype="multipart/form-data">
        <input type='hidden' name='quote_id' value='{{ quote.id }}'>
        {{ forms_macro.input('title', _('Title'), value=quote.title) }}        
        {{ forms_macro.input('price', _('Price'), value=quote.price) }} 
        {{ forms_macro.input('quantity', _('Quantity'), value=quote.quantity) }}

        <div class='select-products form-group'>
            <label for='select-products'>{{ _('Products') }}</label>
            <select multiple name='products' class='form-control hide' id='select-products-input'>
                {% for product in products %}
                <option value='{{ product.id }}'
                    {% if product.id in quote.products_ids %}selected{% endif %}>
                    {{ product.name }}
                </option>
                {% endfor %}
            </select>

            <div class='select-products-grid products-grid-view'>
                <div class='row'>
                    {% for product in products %}
                    <div class='col-6 col-sm-3 col-md-2 mb-2'>
                        <div class='card product-grid-item select-products-item {% if product.id in quote.products_ids %}selected{% endif %}'
                            data-product_id='{{ product.id }}'>
                            <img class='card-img-top'
                                src="{{ product.display_pic or '/static/img/product_default.png' }}" />
                            <div class='card-body'>
                                <div class='card-title'>{{ product.name }}</div>                              
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>            

        {{ forms_macro.textarea('content', _('Content'), value=quote.content) }}
        {{ forms_macro.media_input('media', _('Media'), multiple=True, 
            items=quote.media_list, datatype='quote') }}
        {{ forms_macro.other_details(values=quote.other_details) }}        
        {{ forms_macro.submit_btn(text=_('Submit')) }}
        {# forms_macro.action_btn(
            url_for("api.quote_delete", quote_id=quote.id),
            url_for("quote.manage_quotes"),
            cls='btn-danger',
            name='delete-quote',
            text=_('Delete'),
            confirm_text=_('Are you sure to delete this quote?'))
        #}

        <a href='javascript:history.go(-1);' class='btn-cancel'>{{ _('Cancel') }}</a>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ javascript_tag('quote') | safe }}
<script>
    SUMO.quote.handle_update_quote_form();
</script>
{% endblock %}