{% extends "layouts/L1.html" %}
{% import 'components/account.html' as account_comps with context %}

{% block top_region_background %}
{{ account_comps.top_banner(current_user) }}
{% endblock %}

{% block top_region %}
<h3 class="account-top-info">
    {% block page_title %} {{ _('My Notifications') }} {% endblock %}
</h3>
{% endblock %}

{% block content %}
<p><i>{{ _('We automatically removed notifications older than 3 months. Please go to ') }}</i><a href='{{ url_for("account.settings") }}'>{{ _('My Account') }}/{{ _('Settings') }}</a><i>{{ _(' to change notifications settings') }}</i></p>

<form method='GET' required>
    <div class='form-group' id='filter-notifications-form'>
        <label for='notification_type'>{{ _('Filter by') }}</label>
        <select name='notification_type' class='form-control' id='select-notification-type'>
            {% for ntype, nlabel in notification_types %}
            <option value='{{ ntype }}' {% if ntype == notification_type %}selected{% endif %}>{{ nlabel }}</option>
            {% endfor %}
        </select>
    </div>
</form>

<br>

<div class='notifications-wrapper'>
    {% if notifications %}
    <div class='scrollable'>
    <table class='table'>
        <thead>
            <tr>                           
                <th>{{ _('Type') }}</th>                
                <th>{{ _('Received Time') }}</th>
                <th>{{ _('Content') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for notification, read in notifications %}
            <tr class='noti-{{ "read" if read else "unread" }}'>                
                <td><span class='notitype {{ notification.notification_type }}'>{{ notification.notification_type|fmt_noti_type }}</span></td>
                <td>{{ notification.create_time|fmt_datetime_friendly }}</td>
                <td>{{ notification|fmt_notification }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <div class='pages'>
        {% set start = [1, current_page-5]|max %}
        {% set end = [start+5, num_pages]|min %}
        {% if start > 1 %}
        <span class='page-item' data-page='{{ current_page-1 }}'><i class='fa fa-chevron-left'></i></span>
        {% endif %}

        {% for i in range(start, end+1) %}
        <span class='page-item {% if current_page == i %}active{% endif %}' id='page-item-{{i}}' data-page='{{ i }}'>{{ i }}</span>
        {% endfor %}

        {% if end < num_pages %}
        <span class='page-item' data-page='{{ current_page+1 }}'><i class='fa fa-chevron-right'></i></span>
        {% endif %}
    </div>
    
    {% else %}
    <p><i>{{ _('No notifications found.') }}</i></p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ javascript_tag('my_notifications_page') | safe }}
<script>    
    SUMO.my_notifications_page.start_page();
</script>
{% endblock %}