{% extends "messages/base.html" %}

{% block main %}
<div class='search-threads-wrapper'>
    <div class='search-box'>
        <div class="input-group with-shadow">
            <span class="input-group-addon">
                <select class='search-opts-select' id='search-opts-select'>
                    {% for val, opt in search_options %}
                    <option {% if val == search_opt %}selected{% endif %} 
                        value='{{ val }}'>{{ opt }}</option>
                    {% endfor %}
                </select>
            </span>
            <input type="text" class="form-control" name='search-input' id='threads-search-input'
                onfocus="this.setSelectionRange(10000,10001);"
                aria-label="" placeholder="{{ _('Search message threads') }}" value='{% if search_term %}{{ search_term }}{% endif %}'>
            <span class="input-group-addon" id='threads-search-btn'>
                <i class='fa fa-search'></i>
            </span>
        </div>
    </div>
</div>

<div class='threads-list-wrapper mt-3'>
    {{ render_threads(threads) }}
</div>

<div class='pages'>
    {% set start = [1, current_page-5]|max %}
    {% set end = [start+5, num_pages]|min %}
    {% if start > 1 %}
    <span class='page-item' data-page='{{ current_page-1 }}'><i class='fa fa-chevron-left'></i></span>
    {% endif %}

    {% for i in range(start, end+1) %}
    <span class='page-item {% if current_page == i %}active{% endif %}' id='page-item-{{i}}' data-page='{{ i }}'>{{ i }}</span>
    {% endfor %}

    {% if end < num_pages %}
    <span class='page-item' data-page='{{ current_page+1 }}'><i class='fa fa-chevron-right'></i></span>
    {% endif %}
</div>
{% endblock %}


{% macro render_threads(threads) %}
{% if threads %}
{% for thread in threads %}
<div class='thread-item media'>
    <span class='unread-per-thread big' data-thread_id='{{ thread.id }}'></span>
    <img height='35px' width='35px' class='rounded-circle mr-3'
        src='{% if not thread.creator.profile_pic %} /static/img/user_default.png {% else %}{{ thread.creator.profile_pic }}{% endif %}'>
    <div class='media-body'>
        <div class='thread-item-title'>
            <a href='{{ url_for("messages.thread_page", pr_id=thread.id) }}'>
                <b>
                    {% if thread.thread_type == 'private_thread' %}
                    {{ thread.name_for_user(current_user.id) }}
                    {% else %}        
                    {{ thread.name }}
                    {% endif %}
                </b>
            </a>            
        </div>
        <p>{{ thread.description }}</p>
        <span class='thread-archive-btn clickable' ctooltip='{{ _("Unarchive") }}' data-thread_id='{{ thread.id }}' 
            data-user_id='{{ current_user.id }}' data-is_archived='true'>
            <i class='fa fa-check'></i>
        </span>
    </div>
</div>
{% endfor %}
{% else %}
<p>{{ _('No archived threads found.') }}</p>
{% endif %}
{% endmacro %}

{% block scripts %}
{{ super() }}
<script>
    SUMO.messages.home.start_page();
</script>
{% endblock %}