{% extends "layouts/base.html" %}

{% import 'components/account.html' as account_comps with context %}
{% block page_title %} {{ _('My Messages') }} {% endblock %}

{% block top_region_background %}
{{ account_comps.top_banner(current_user) }}
{% endblock %}

{% block top_region %}
<h3 class='account-top-info'>
    {{ _('My Messages') }}
</h3>
{% endblock %}

{% block content %}
{% set items = [
    (_('Active threads'), url_for('messages.home')),
    (_('New'), url_for('messages.new_thread')),
    (_('Contacts'), url_for('messages.contacts')),
    (_('Settings'), url_for('messages.settings')),
    (_('Archived'), url_for('messages.archived')),
] %}
<ul class="nav nav-pills">
{% for name, path in items %}
<li class="nav-item">
    <a class="nav-link {% if request.path == path %}active{% endif %}" href="{{ path }}">{{ name }}</a>
</li>
{% endfor %}
</ul>
<br>
<div class='messages-main-wrapper'>
    {% block main %} {% endblock %}
</div>
{% endblock %}

{% block style %}
{{ stylesheet_tag('messages') | safe }}
{% endblock %}

{% block scripts %}
{{ javascript_tag('messages') | safe }}
{% endblock %}