{% extends "messages/base.html" %}

{% block page_title %} {{ _('My Contacts') }} {% endblock %}

{% block main %}
<div class='row medium-gutters'>
    <div class='col-sm-12 col-md-3 order-md-9'>
        <div class='mb-3'>
            <div class='input-group with-shadow'>
                <input type="text" class="form-control" name='search-users' id='search-users-input' 
                    aria-label="" placeholder="{{ _('Search users') }}">
                <span class="input-group-addon">
                    <i class='fa fa-search'></i>
                </span>
            </div>     
            <div id='search-users-output' class='search-users-output'>
            </div>
        </div>
    </div>

    <div class='col-sm-12 col-md-9'>
        <div class='my-colleagues'>
            <h4 class="mb-3">{{ _('My colleagues') }}
                <a href='{{ url_for("company.get_employee_list") }}'>
                    <span class='btn-update'>{{ _('Manage') }}</span>
                </a>
            </h4>
            {{ render_contacts(colleagues) }}
        </div>

        <br>

        <div class='my-business-contacts'>
            <h4 class="mb-3">{{ _('My business contacts') }}</h4>
            {{ render_contacts(biz_contacts) }}
        </div>
    </div>
</div>
{% endblock %}

{% macro render_contacts(users) %}
<div class='contacts-list'>
{% if users|length > 0 %}
    {% for user in users %}
    <div class='contacts-list-item media'>
        <img height='30px' width='30px' class='rounded-circle' alt='{{ user.name }}'
            src='{% if not user.profile_pic %} /static/img/user_default.png {% else %}{{ user.profile_pic }}{% endif %}'>
        <div class='media-body'>            
            <div><a href='{{ url_for("account.account_page", pr_id=user.id) }}'><b>{{ user.name }}</b></a></div>
            <div><i>{% if user.company_id %}{{ user.company.name }}{% else %}{{ user.company_name }}{% endif %}</i></div>        
        </div>

        <a class='message-user-btn' href='{{ url_for("messages.private_thread", user_id=user.id) }}'>
            <span class='btn-message'>{{ _('Message') }}</span>
        </a>
    </div>
    {% endfor %}
{% else %}
<p><i>{{ _('No contacts.') }}</i></p>
{% endif %}
</div>
{% endmacro %}


{% block scripts %}
{{ super() }}
<script>
    SUMO.messages.contacts_page.start_page();
</script>
{% endblock %}
