{% extends "layouts/L1.html" %}

{% import 'components/media.html' as media_comps with context %}      
{% import 'components/company.html' as company_comps with context %} 
{% import 'components/product_category.html' as product_cat_comps with context %}
{% import 'components/forms.html' as forms_macro with context %}

{% block top_region_background %}
{{ company_comps.top_banner(product.company, overlay=True) }}
{% endblock %}

{% block top_region %}
<div class='page-top-title'>
    <h1>{{ _('Product Inquiry') }}</h1>
</div>
{% endblock %}

{% block center %}

<div class='product-info'>
    <h4>{{ _('Product') }}:</h4>
    <div class='media product-list-item mb-3'>
        <img src="{{ product.display_pic or '/static/img/product_default.png' }}" />
        <div class='media-body'>
            <h5 class='mt-0'><a href="{{ url_for('product.product_page', pr_id=product.id) }}">{{ product.name|fmt_title(numchars=100) }}</a></h5>
            <div class='company-link mb-2'>
                <a href='{{ url_for("company.company_page", pr_id=product.company.id) }}'>
                    {{ product.company.name | fmt_title }}
                </a>
            </div>            
            <div>
                {% for keyword in product.keywords[:5] %}
                <span class='keyword'>{{ keyword }}</span>
                {% endfor %}
            </div>
            <div class='mb-2 category-path'>{{ product_cat_comps.render_product_cat_links(product.product_category.path) }}</div>
            <div class='mb-2'>
                <i>{{ product.description|striptags|strip_spaces|fmt_title(numchars=250) }}</i>
            </div>
        </div>
    </div>
</div>

<br>
<p><i>{{ _('Please fill in the following quick form to inquire the seller about this product.') }}</i></p>

<form id='product-inquiry-form' method='POST'>
    <input type='hidden' name='product_id' value='{{ product.id }}'>    
    {{ forms_macro.textarea('text', _('Message (5000 characters limit)'), placeholder="{{ _('Hello, I am interested in ...') }}", maxlength=5000, rows=10) }}

    <input type='submit' class='btn-submit' value='{{ _("Submit") }}'>
    <a class='btn-cancel' href='javascript:history.go(-1);'>{{ _('Back') }}</a>    
</form>

{% endblock %}

{% block scripts %}

{{ javascript_tag('product') | safe }}

<script>
    SUMO.product.handle_product_inquiry_form();
</script>
{% endblock %}