{% if view != "clean" %}
{% extends "messages/base.html" %}
{% else %}
{% extends "messages/base_clean.html" %}
{% endif %}

{% import 'components/forms.html' as forms_macro with context %}

{% block main %}
<div id='new-thread-form-wrapper'>
    <h4 class='mb-3'>{{ _('New message thread') }}</h4>
    <div class='form-group'>
        <label for='users-search'>{{ _('Invite users') }}</label>        
        <div class='input-group'>
            <input class='form-control' placeholder="{{ _('Search user by name, phone or email') }}" 
                type='text' id='search-users-input'>    
            <span class='input-group-addon'>
                <i class='fa fa-search'></i>
            </span>
        </div>
        <div class='search-users-output' id='search-users-output'>
        </div>        
    </div>
    <form id='new-thread-form' method='POST'>
        <input type='hidden' name='creator_id' value='{{ current_user.id }}'>        
        <div class='search-users-added' id='search-users-added'></div>

        {{ forms_macro.input('name', _('Name')) }}
        {{ forms_macro.textarea('description', _('Description'), rows=5, richtext=False) }}
        {{ forms_macro.checkbox('is_public', _('Is public?'), checked=True, type='checkbox') }}
 
        {{ forms_macro.submit_btn(text=_('Submit')) }}
    </form>      
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    SUMO.messages.forms.handle_new_thread_form();
</script>
{% endblock %}
