{% extends "messages/base.html" %}
{% import 'components/forms.html' as forms_macro with context %}

{% block main %}
<p>

</p>
<div>
    {{ forms_macro.checkbox('email_update', _('Email me latest messages')) }}
    {{ forms_macro.checkbox('only_contacts', _('ONLY allow people IN my address book to send private messages')) }}
    <br>
    <button class='btn-submit'>{{ _('Save') }}</button>
</div>
{% endblock %}