{% if view != "clean" %}
    {% extends "messages/base_no_nav.html" %}
{% else %}
{% extends "messages/base_clean.html" %}
{% endif %}

{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/quote.html' as quote_comps with context %}

{% block top_region %}
<div class='thread-messages-nav'>    
    <div class='thread-title'>
        <span>
            {% if view != "clean" %}
            <a class='thread-back' href='{{ url_for("messages.home") }}'>
                <i class='fa fa-arrow-left'></i>
            </a>
            {% endif %}
            {% if thread.thread_type == 'private_thread' %}
            {{ thread.name_for_user(current_user.id) }}
            {% else %}
            {{ thread.name }}
            {% endif %}
        </span>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link tab" href="#messages" data-view="#messages">{{ _("Messages") }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tab" href="#pinned" data-view="#pinned">{{ _("Pinned") }}</a>
        </li>
        {% if thread.thread_type == 'rfq' %}
        <li class="nav-item">
            <a class="nav-link tab" href="#specs" data-view="#specs">{{ _("Specifications") }}</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link tab" href="#info" data-view="#info">{{ _("Thread Info") }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tab" href="#search" data-view="#search">{{ _("Search") }}</a>
        </li>        
        <li class="nav-item">
            <a class="nav-link tab" href="#users" data-view="#users">{{ _("Users") }}</a>
        </li>                
        <li class="nav-item">
            <a class="nav-link tab" href="#attachments" data-view="#attachments">{{ _("Attachments") }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tab" href="#export" data-view="#export">{{ _("Export Thread") }}</a>
        </li>        
    </ul>
</div>
{% endblock %}

{% block main %}
    {{ thread_main() }}
{% endblock %}

{% macro thread_side() %}
{% endmacro %}

{% macro thread_main() %}

<div class='tab-view msg-tab-view thread-messages-tab-view' id='messages'>

    <div class='thread-messages-wrapper' id='thread-messages-wrapper'>
        <div class='thread-messages-container'>
                
            <div class='thread-messages' id='thread-messages'>
                <div id='react-root__messages_box'></div>
            </div>

            <div class='messages-editor'>
                <div class='messages-media-attachment-wrapper' id='messages-media-attachment-wrapper' >
                    <form id='add-media-form' enctype="multipart/form-data">                        
                        <input type='hidden' name='thread_id' value='{{ thread.id }}'>
                        <input type='hidden' name='content' value=''>
                        <input type='file' class='add-media-input' 
                        multiple name='media' id='messages-media-attachment-input'>
                    </form>
                    <div class='add-media-preview' id='messages-media-attachment-preview'>
                    </div>
                    <span class='x-btn'><i class='fa fa-close'></i></span>
                </div>
                <div class='messages-editor-basic' id='messages-editor-basic'>
                    <div class='input-group'>
                        <span class='input-group-addon' id='messages-advanced-btn'><i class='fa fa-edit'></i></span>
                        <span class='input-group-addon' id='messages-settings-btn'><i class='fa fa-wrench'></i></span>
                        <div class='messages-editor-basic-textarea-container form-control'>
                            <textarea
                            class='form-control' rows=1 name='new-message-input' 
                            id='new-message-input'></textarea>
                        </div>
                        <div class='emojipicker-wrapper' id='emojipicker-wrapper'>
                            <div id='react-root__emojipicker'></div>
                        </div>
                        <span class='input-group-addon' id='messages-emoji-btn'><i class='fa fa-smile-o'></i></span>
                        <span class='input-group-addon messages-attachment-btn'  id='messages-media-attachment-btn'>
                            <label for='messages-media-attachment-input'>
                                <i class='fa fa-file-image-o'></i>
                            </label>
                        </span>
                        <span class='input-group-addon' id='messages-send-btn'>{{ _('Send') }}</span>
                    </div>                    
                </div>

                <div class='messages-editor-advanced' id='messages-editor-advanced'>
                    <span class='editor-title'>{{ _('New message') }}</span>
                    {% if view != "clean" %}
                        <span class='fa fa-close x' id='messages-editor-advanced-x'></span>
                    {% endif %}

                    <div class='form-group'>
                        <label for='messages-editor-advanced-template-select'>{{ _('Select template') }}</label>
                        <select class='form-control'
                            id='messages-editor-advanced-template-select'>
                            <option selected value='normal' 
                                data-target_view='#messages-editor-advanced-normal'>{{ _('Normal') }}</option>
                            {% if thread.thread_type == "rfq" and current_user.id != thread.rfq.buyer_id %}
                            <option value='quote' 
                                data-target_view='#messages-editor-advanced-new-quote'>{{ _('New Quote') }}</option>
                            {% endif %}
                        </select>
                    </div>
                    
                    <div class='messages-editor-advanced-view normal' id='messages-editor-advanced-normal'>
                        <input class='form-control' id='messages-editor-advanced-subject-input' 
                            type='text' placeholder='{{ _("Type a subject") }}'>
                        <div id='messages-editor-advanced-input'></div>
                        <div class='messages-editor-advanced-control'>
                            <button class='btn-send' id='messages-editor-advanced-send'>{{ _('Send') }}</button>
                            <button class='btn-cancel' id='messages-editor-advanced-close'>{{ _('Close') }}</button>
                        </div>
                    </div>

                    {% if thread.thread_type == "rfq" and current_user.id != thread.rfq.buyer_id  %}
                    <div class='messages-editor-advanced-view new-quote hide' data-view_type='iframe'
                        id='messages-editor-advanced-new-quote'>
                        <iframe width='100%' height='100%' 
                            data-href='{{ url_for("quote.create_quote", rfq_id=thread.rfq.id, view="clean") }}'>
                        </iframe>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
</div>

<div class='tab-view msg-tab-view' id='search'>
    <div id='react-root__search_messages_output_box'></div>    
</div>

<div class='tab-view msg-tab-view' id='users'>
    {% if thread.thread_type != "private_thread" %}
    <div class='invite-users mb-4'>
        <label for='search-users-input'>{{ _('Invite users') }}</label>
        <div class="input-group with-shadow">            
            <input type="text" class="form-control" name='search-users-input' id='search-users-input'
                aria-label="" placeholder="{{ _('Search user by name, phone or email') }}">
            <span class="input-group-addon">
                <i class='fa fa-search'></i>
            </span>
        </div>
        <div class='search-users-output' id='search-users-output'></div>
        <form id='add-users-form'>
            <input type='hidden' name='thread_id' value='{{ thread.id }}'>
            <div class='search-users-added' id='search-users-added'></div>
        </form>
        <button class='btn-message' id='add-users-btn'>{{ _('Add') }}</button>
    </div>
    {% endif %}

    <div class='thread-users-list'>        
        <div class='list-group'>
            {% for user in thread.users %}  
            <div class='list-group-item-action list-group-item'>
                <a href='{{ url_for("account.account_page", pr_id=user.id) }}'>
                    <img height='30px' width='30px' class='rounded-circle' alt='{{ user.name }}'
                        src='{% if not user.profile_pic %} /static/img/user_default.png {% else %}{{ user.profile_pic }}{% endif %}'>
                    {{ user.name }}
                </a>
                {% if user.id == thread.creator_id %}
                <span class='ml-3 badge badge-primary'>{{ _('Creator') }}</span>
                {% elif current_user.id != user.id %}
                <button class='ml-3 btn btn-danger btn-sm remove-users-btn' 
                    data-user_id='{{ user.id }}'>{{ _('Remove') }}</button>                
                {% else %}
                <button class='ml-3 btn btn-danger btn-sm leave-thread-btn' id='leave-thread-btn'
                    data-user_id='{{ user.id }}'>{{ _('Leave') }}</button>                
                {% endif %}
                <a class='float-right' href='{{ url_for("messages.private_thread", user_id=user.id) }}'>
                    <span class='btn-message'>{{ _('Message') }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div> 
</div>

<div class='tab-view msg-tab-view' id='pinned'>
    <div id='react-root__pinned_messages_box'></div>
</div>

{% if thread.thread_type == 'rfq' %}
<div class='tab-view msg-tab-view' id='specs'>
    <div id='react-root__specs_box'></div>
</div>
{% endif %}

<div class='tab-view msg-tab-view' id='attachments'>
    <div id='react-root__attachments_box'></div>
</div>

<div class='tab-view msg-tab-view' id='info'>
    <div class='row'>
        <div class='col-sm-12 col-md-6'>

            <h5>{{ _("Participants' Companies") }}</h5>
            {% for company in companies %}
                {{ render_company(company) }}
            {% endfor %}

            {{ render_company(current_user.company) }}

        </div>

        {{ render_thread_info(thread) }}
        
    </div>
</div>

<div class='tab-view msg-tab-view' id='export'>
    {{ forms_macro.radio('export-thread', 'csv', _('Download CSV'), checked=True) }}
    {{ forms_macro.radio('export-thread', 'email', _('Email archive')) }}
    <div class='form-group'>
        <input type="email" class="form-control" name="email" placeholder="{{ _('Email to send archive') }}"/>
    </div>    
    <button class='btn-archive' id='export-messages-thread-btn'>{{ _('Archive') }}</button>    
</div>

{% endmacro %}

{% macro render_company(company) %}
{% if company %}
<div class='company-short-info'>

    <div class="scrollable"><table>
        <thead>
            <tr>
                <th colspan=2>
                    <a href='{{ url_for("company.company_page", pr_id=company.id) }}'>{{ company.name }}</a>
                    {% if current_user.company_id == company.id %}
                    <a href='{{ url_for("company.my_company") }}'><span class='btn-update btn-sm'>{{ _('Manage') }}</span></a>
                    {% endif %}
                </th>
            </tr>
        </thead>        
        <tbody>
            <tr>
                <th>{{ _('Description') }}</th>
                <td>{{ company.description }}</td>
            </tr>
            <tr>
                <th>{{ _('Location') }}</th>
                <td>{{ company.location }}</td>
            </tr>
            <tr>
                <th>{{ _('Country') }}</th>
                <td>{{ company.country }}</td>
            </tr>            
        </tbody>
    </table></div>
</div>    
{% endif %}
{% endmacro %}


{% macro render_thread_info(thread) %}
{% if thread.thread_type == "rfq" %}
{% set rfq = thread.rfq %}
<div class='col-12 col-sm-6 order-sm-12'>
    <div class='short-info'>
        <div class='card'>
            <div class='card-header'><span class='header-text'>{{ _('RFQ') }}</span></div>
            <div class='card-body'>        
                <div class='card-title'>
                    <h5><a href='{{ url_for("rfq.rfq_page", pr_id=rfq.id) }}'>{{ rfq.product }}</a></h5>        
                </div>            
                <div class='rfq-page-category mb-2'><i>{{ rfq.product_category.path_as_str }}</i></div>
                <div class='rfq-page-keywords'>
                    {% for keyword in rfq.keywords %}
                    <span class='keyword'>{{ keyword }}</span>
                    {% endfor %}
                </div>

                <div class="scrollable"><table class='table borderless table-sm'>
                    <tbody>
                        <tr>
                            <th>{{ _('Buyer') }}</th>
                            <td><a href='{{ url_for("account.account_page", pr_id=rfq.buyer.id) }}'>{{ rfq.buyer.name }}</a></td>
                        </tr>
                        <tr>
                            <th>{{ _('Company') }}</th>
                            <td>
                            {% if rfq.buyer.company_id %}
                                <a href='{{ url_for("company.company_page", pr_id=rfq.buyer.company.company_short_hand) }}'>{{ rfq.buyer.company.name }}
                                </a>
                            {% else %}
                                {{ rfq.buyer.company_name }}
                            {% endif %}
                            </td>
                        </tr>                
                        <tr>
                            <th>{{ _('Quantity') }}</th>
                            <td>{{ rfq.quantity }}</td>
                        </tr>
                        {% if rfq.other_details %}
                        {% for key,val in rfq.other_details.items() %}
                        <tr>
                            <th>{{ key }}</th>
                            <td>{{ val }}</td>
                        </tr>                
                        {% endfor %}
                        {% endif %}
                        <tr>
                            <td colspan=2>{{ rfq.content }}</td>
                        </tr>
                    </tbody>
                </table></div>
            </div>
        </div>
    </div>

    <br/>

    <h5>{{ _("Quotes") }}</h5>
    <div class='quotes-list'>
        {% for quote in rfq.quotes %}
            {% if quote.seller_id in thread.users_by_id %}
                {{ quote_comps.quote_item(quote) }}
            {% endif %}
        {% endfor %}
    </div>

    <br/>
</div>

<div class='col-12 col-sm-6'>
    <h5>{{ _("Related Products") }}</h5>
    {{ render_products_list(related_products) }}
</div>

{% elif thread.thread_type == "product_inquiry" %}
<div class='col-12 col-sm-6'>    
    <h5>{{ _("Related Products") }}</h5>
    {{ render_products_list(related_products) }}
</div>

{% elif thread.thread_type == "trade_lead" %}
{% set lead = thread.trade_lead %}
<div class='col-12 col-sm-6 order-sm-12'>
    <div class='short-info'>
        <div class='card'>
            <div class='card-header'><span class='header-text'>{{ _('Trade Lead') }}</span></div>
            <div class='card-body'> 
                <div class='card-title'>
                        <h5>
                        <a href='{{ url_for("trade_lead.trade_lead_page", pr_id=lead.id) }}'>
                                {{ lead.title }}
                        </a>
                        </h5>
                </div>
                            
                <div class='card-text'>
                        {% for keyword in lead.keywords %}
                        <span class='keyword'>{{ keyword }}</span>
                        {% endfor %}
                    </div>
                <div class='card-text category-path'>{{ lead.product_category.path_as_str }}</div>
                
                <div class="scrollable">
                    <table class='table borderless table-sm'>
                    <tbody>
                        <tr>
                            <th>{{ _('Posted by') }}</th>
                            <td><a href='{{ url_for("account.account_page", pr_id=lead.user.id) }}'>{{ lead.user.name }}</a></td>
                        </tr>             
                        <tr>
                            <th>{{ _('Quantity') }}</th>
                            <td>{{ lead.quantity }}</td>
                        </tr>
                        {% if lead.other_details %}
                        {% for key,val in lead.other_details.items() %}
                        <tr>
                            <th>{{ key }}</th>
                            <td>{{ val }}</td>
                        </tr>                
                        {% endfor %}
                        {% endif %}
                        <tr>
                            <td colspan=2>{{ lead.content }}</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endif %}
{% endmacro %}

{% macro render_products_list(products) %}

<div class='products-grid-view'>
    <div class='row'>
    {% for product in products %}
    <div class='col-6 col-md-5 mb-3'>
        <div class='card product-grid-item'>
            <img class='card-img-top'
            src="{{ product.display_pic or '/static/img/product_default.png' }}" />
            <div class='card-body'>
            <div class='card-title'>
                <a href="{{url_for('product.product_page', pr_id=product.id)}}">{{ product.name }}</a>
            </div>
            <div class='card-text category-path'>{{ product.product_category.path_as_str }}</div>
            <div class='card-text mt-2'>
                {% for keyword in product.keywords %}
                <span class='keyword'>{{ keyword }}</span>
                {% endfor %}
            </div>        
        </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endmacro %}

{% block scripts %}
<script type='text/template' id='thread-initial-data' style='display: none;' 
    data-current_thread="{{ thread.to_dict() | fmt_json_str }}"
    data-current_user="{{ current_user.to_dict() | fmt_json_str }}">
</script>
{{ super() }}
<script>
    SUMO.messages.thread_page.start();
</script>
{% endblock %}
