{% extends "layouts/L1.html" %}
{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/company.html' as company_comps with context %}
{% import 'components/product.html' as product_comps with context %}
{% import 'components/product_category.html' as product_cat_comps with context %}

{% block page_title %} {{ _('Marketplace and Search') }} {% endblock %}

{% block top_region_background %}
<div class='search-top-background'>
    <div class='search-top-background-overlay'></div>
</div>
{% endblock %}


{% set typeitems = [('products', _('Products')), 
    ('companies', _('Companies')), 
    ] %}

{% set viewtab_menu = [
    ('tabproducts', _('Products')),
    ('tabcompanies', _('Grouped by Companies'))
    ] %}

{% block top_region %}
<div class='row'>
    <div class='col-12'>
        <div class='marketplace-search-container'>
            <div class='marketplace-search-box'>
                <div class='search-stypes-container'>        
                    <div class="">
                        <span class="lead">{{ _('Search by') }} &nbsp;</span>
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if stype %}{% for item in typeitems if item[0] == stype %}{{  item[1] }}{% endfor %}{% endif %}  
                        </button>
                        <div class="dropdown-menu">
                            {% for item in typeitems %}
                                <a class="dropdown-item" href="{{ url_for('search.search', stype=item[0]) }}">{{ item[1] }}</a>                        
                            {% endfor %}        
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('search.search', stype='mylibrary') }}">{{ _('My Libraries') }}</a>
                        </div>
                    </div>
                </div>
    
                <div class='search-keyword-container'>
                    <div class='input-group with-shadow'>
                        <span class='input-group-addon' id='categories-btn' style='cursor: pointer;'>
                            &nbsp;{{ _('Categories') }} &nbsp;
                            <i class='fa fa-list-ul'></i>&nbsp;&nbsp;
                            <i class='fa fa-caret-down'></i>
                        </span>
                        <input class='form-control' type='text' name='keyword' value='{% if keyword %}{{ keyword }}{% endif %}'
                                id='search-input-field' placeholder="{{ _('Type a keyword to search') }}">
                        <span class='input-group-addon search-btn-link' id='search-btn'><i class='fa fa-search fa-3'></i></span>
                        <span class='input-group-addon search-btn-link' id='search-btn-new'><a href="{{ url_for('search.search') }}">{{ _('Clear') }}</a></span>
                    </div>
                    <div style='display:none;' class='categories-container' id='categories-container'>
                    {{ render_categories(categories) }}
                    </div>
                </div>
                {% if category %}
                <div class='search-category-breadcrumb'>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" data-category=""><a href="{{ url_for('search.search', category='') }}">{{ _('All') }}</a></li>
                            {% for cat in category %}
                            <li class="breadcrumb-item" data-category="{{ cat.id }}"><a href="{{ url_for('search.search', category=cat.id) }}">{{ cat.name }}</a></li>
                            {% endfor %}   
                        </ol>
                    </nav>
                </div>
                {% endif %}

                <div class='search-switchview-container'>

                    <div class='float-right pm-select-view' id='pm-select-view'>
                        <span id='pm-view-grid' data-view='grid' 
                            class='{% if view == "grid" %}active{% endif %}'>
                            <i class='fa fa-th-large'></i>
                        </span>
                        <span id='pm-view-list' data-view='list'
                            class='{% if view == "list" %}active{% endif %}'>
                            <i class='fa fa-list-ul mr-2'></i>
                        </span>
                        <br />
                    </div>                    
                </div>

                <div class='search-sort-container'>
                    {% if stype == 'products' %}
                    {{ forms_macro.select_from_list('sort_by', _('Sort by'), default=sorted_by_text, items=constants.SORT_ORDERS_PRODUCTS)  }}
                    {% else %}
                    {{ forms_macro.select_from_list('sort_by', _('Sort by'), default=sorted_by_text, items=constants.SORT_ORDERS_COMPANIES)  }}
                    {% endif %}
                </div>

                <div class='search-filter-container'>
                   
                    <span class='search-filter-btn' data-toggle="collapse" data-target="#filter-pane"><b>{{ _('Geographical Filter') }} &nbsp;<i class='fa fa-caret-down'></i></b></span>
            
                    <div id="filter-pane" class="filter-pane {% if selected_region_id %}show{% else %}collapse{% endif %}">
                        {{ select_region_cascade('select-region-wrapper', value=selected_region_id, selected_region_path=selected_region_path) }}
                        
                    </div>
                </div>

            </div>
            
        </div>  
    </div>
</div>
{% endblock %}

{% block content %}

<div class='search-wrapper'>

    <div class='row medium-gutters'>
        <div class='col-sm-12 col-md-3'>
            <div id='marketplace-search-features-sidebar' class='marketplace-search-features-sidebar'>
            <h4 class='marketplace-search-features-sidebar-top' onclick='toggle_menu("marketplace-search-features-sidebar")'>
                {{ _('Filtered By') }}
                <span class='toggle-marketplace-search-features-sidebar'>
                    <i class='fa fa-caret-down fa-3' aria-hidden="true"></i>
                </span>
            </h4>
            <div class='marketplace-search-features-sidebar-items'>
                {% if features %}
                <form class='form' id='refine-form'>
                {% for feature in features %}
                    {{ render_feature(feature) }}
                {% endfor %}
                <button type='button' class='btn btn-primary' id='filter-btn' >{{ _('Update') }}</button>
                <button type='button' class='btn btn-light' id='filter-clear-btn' >{{ _('Clear') }}</button>
                
                </form>
                {% endif %}
                </div>
            </div>
        </div>

       
       
        <div class='col-sm-12 col-md-9'>
            <div>
            <h5 id='refine-list-wrapper'>{{ num_results }} results for {% if keyword %}<span class="font-weight-bold">{{ keyword }}</span>{% endif %}
                {% for item in chosen_selectboxes %}
                    <a href='' class="badge badge-info" data-featurename="{{ item[1] }}"><span>{{ item[0] }}</span>&nbsp;<i class='fa fa-close fa-3'></i></a>
                {% endfor %}
             </h5>
             </div>
            
            {% if stype == 'products' %}
            <div class="btn-group" role="group" aria-label="search-result-viewtab" id="search-result-viewtab">
                {% for item in viewtab_menu %}
                <button type="button" class="btn btn-light {% if viewtab == item[0] %}active{% endif %}" data-viewtab='{{ item[0] }}'>{{ item[1] }}</button>
                {% endfor %}
            </div>
            {% endif %}            

            <div id='products-list-wrapper' class='mt-3'>
                {% if view == "list" %}
                    {% if stype == 'products' and viewtab=='tabproducts' %}
                        {{ product_comps.render_products_list(products) }}
                    {% else %}
                        {{ company_comps.render_companies_list(companies) }}
                    {% endif %}
                {% else %}
                    {% if stype == 'products' and viewtab=='tabproducts' %}
                        {{ product_comps.render_products_grid_with_contact(products, cls='marketplace') }}
                    {% else %}
                        {{ company_comps.render_companies_grid(companies, cls='marketplace') }}
                    {% endif %}
                {% endif %}
            </div>

            <div class='pages'>
              
                {% set start = [1, current_page - 3]|max %}
                {% set end = [current_page + 5, num_pages, start + 5]|min %}
                {% if start > 1 %}
                <span class='page-item' data-page='{{ current_page-1 }}'><i class='fa fa-chevron-left'></i></span>
                {% endif %}

                {% for i in range(start, end+1) %}
                <span class='page-item {% if current_page == i %}active{% endif %}' id='page-item-{{i}}' data-page='{{ i }}'>{{ i }}</span>
                {% endfor %}

                {% if end < num_pages %}
                <span class='page-item' data-page='{{ current_page+1 }}'><i class='fa fa-chevron-right'></i></span>
                {% endif %}
            </div>
            
            <br>
        </div>  

    </div>

</div>
{% endblock %}

{% macro render_categories(categories) %}
<div class='row'>
    {% for id,name in categories %}
    <div class='category-item col-sm-12 col-md-3 {% if (not id and not category) or category|int == id %}active{% endif %}' 
        data-category='{{ id }}'>{{ name }}</div>
    {% endfor %}
</div>
{% endmacro %}


{% macro render_feature(feature) %}
 {% if feature.type == 'checkbox' %}
 {{ forms_macro.checkboxes_filter(feature.name, feature.label, 
        options=feature.options,chosen=feature.chosen) }}
 {% endif %}
 {% if feature.type == 'checkboxjson' %}
 {{ forms_macro.checkboxes_filter(feature.name, feature.label, 
        options=feature.options,chosen=feature.chosen) }}
 {% endif %}
 {% if feature.type == 'numeric' %}
 {{ forms_macro.numeric_filter(feature.name, feature.label, val_min=feature.val_min, val_max=feature.val_max) }}
 {% endif %}
{% endmacro %}


{% macro select_region_cascade(id='select-region-wrapper', value='', selected_region_path='') %}
<div id='{{ id }}'>
        <p class='show-select-category'>{{ _('Please select a region/country') }}: 
            <span id='selected-region'>{{ selected_region_path }}</span>
            <i class='fa fa-caret-down fa-3'></i>
           
        </p>
        <div class='form-group'>
            <input type='hidden' name='search_region_id' id='search_region_id' class='form-control' value="{% if value %}{{ value }}{% endif %}">
        </div>
        <div id='select-category-content' class='select-category-content hide'>
            <div class='row'>
                <div class='col-12 col-sm-4 cat-level' id='cat-level1'></div>
                <div class='col-12 col-sm-6 cat-level' id='cat-level2'></div>                                               
            </div>
            <div class='mt-2 mb-2'>
                <span class='btn btn-primary' id='select-region-ok-btn'>OK</span>
                <span class='btn btn-light' id='select-region-cancel-btn'>{{ _('Cancel') }}</span>
            </div>
        </div>
    </div>
{% endmacro %}

{% block scripts %}
{{ super() }}
{{ javascript_tag('search_page') | safe }}
<script>
    SUMO.search_page.start_page();
</script>

{{ javascript_tag('product') | safe }}

{% endblock %}
