{% extends "layouts/L1.html" %}

{% import "components/quote.html" as quote_comps with context %}
{% import "components/rfq.html" as rfq_comps with context %}
{% import "components/product.html" as product_comps with context %}
{% import "components/thread.html" as thread_comps with context %}
{% import "components/company.html" as company_comps with context %}
{% import "components/account.html" as account_comps with context %}

{% block top_region_background %}
{{ company_comps.top_banner(current_user.company) }}
{% endblock %}

{% block top_region %}
<div class='auhome-welcome-wrapper'>
    <div class='auhome-top-info'>
        <div class='auhome-welcome-text'>
            <i>{{ _('Welcome back') }}, {{ current_user.name }}!</i>
            <!-- <a href='{{ url_for("account.my_account") }}'><span class='btn-update'>Manage account</span></a> -->
        </div>
        <img class='company-pic'
        src='{{ company.logo or "/static/img/company_default.png" }}'>
        <span class='company-name'>{{ current_user.company.name if current_user.company_id else (current_user.company_name or _('Not available') ) }}
            {% if not current_user.company_id %}
            <a class='link' href='{{ url_for("company.link_my_company") }}'>{{ _('Link my company') }}</a>
            {% endif %}
            <a class='btn-update' href='{{ url_for("company.my_company") }}'>{{ _('Manage') }}</a>
        </span>
    </div>
</div>
{% endblock %}

{% block content %}
<div class='row large-gutters'>
    <div class='col-sm-12 col-md-4'>
        <div class='auhome-content-wrapper'>
            
            <div class='auhome-user-profile home-section'>
                <h5>
                    <img class='profile-pic' src='{% if current_user.profile_pic %}{{ current_user.profile_pic }}{% else %}/static/img/user_default.png{% endif %}'>
                    {{ current_user.name }}
                </h5>
                <div><a href='{{ url_for("account.my_account") }}'>{{ _('Manage Account') }}</a></div>    
                <div><span class='unread-msgs-count-label'>{{ unread_msgs_count }}</span> {{ _('New Messages') }}</div>
            </div>

            <div class='auhome-contacts home-section'>
                <h4>{{ _('My Contacts') }}</h4>
                {{ account_comps.render_contacts_table(contacts) }}
            </div>

        </div>
    </div>

    <div class='col-sm-12 col-md-8'>

        <div class='auhome-tabs'>
            <ul class='nav nav-pills'>
                <li class='nav-item'>            
                    <a class='nav-link {% if view=="buy" %}active buyer{%endif%}'
                        href='{{ url_for("home.default", view="buy") }}'>{{ _('Buy') }}</a>
                </li>
                <li ckass='nav-item'>
                    <a class='nav-link {% if view=="sell" %}active seller{%endif%}'
                        href='{{ url_for("home.default", view="sell") }}'>{{ _('Sell') }}</a>
                </li>
            </ul>
        </div>

        <br>

        <div class='auhome-content-wrapper'>

        <div class='auhome-latest-messages home-section'>
            <h4>{{ _('Active Threads') }}</h4>
            <div class='threads-list-wrapper'>
                {{ thread_comps.render_threads_with_count(threads_with_count) }}
                <div><a href='{{ url_for("messages.home") }}'>{{ _('View all') }}</a></div>
            </div>
        </div>
        
        {% if view == "sell" %}

        <div class='auhome-quotes home-section'>
            <h4>{{ _('My Quotes') }}</h4>
            <div class='quotes-list-wrapper'>
                {{ quote_comps.render_quotes(quotes) }}
            </div>    
            <div><a href='{{ url_for("quote.manage_quotes") }}'>{{ _('Manage Quotes') }}</a></div>
        </div>

        <div class='auhome-most-viewed-products home-section'>
            <h4>{{ _('My Most viewed products') }}</h4>
            {{ product_comps.render_products_list_horizontal(most_viewed_products) }}
            <div><a href='{{ url_for("product.manage_products") }}'>{{ _('Manage Products') }}</a></div>    
        </div>

        {% else %}

        <div class='auhome-rfqs home-section'>
            <h4>{{ _('My RFQs') }}</h4>
            <div>
                <a href='{{ url_for("rfq.create_rfq") }}'><span class='btn-new-rfq'>{{ _('Request for Quotation') }}</span></a>
            </div>
            <br>
            <div class='rfqs-list-wrapper'>
                {{ rfq_comps.render_rfqs(rfqs) }}
            </div>    
            <div><a href='{{ url_for("rfq.manage_rfqs") }}'>{{ _('Manage RFQs') }}</a></div>
        </div>


        <div class='auhome-recommendations home-section'>
            <h4>{{ _('Products recommendation') }}</h4>
            {{ product_comps.render_products_list_horizontal(recommended_products) }}
        </div>

        <div class='auhome-search-history home-section'>
            <h4>{{ _('Search history') }}</h4>
            {{ product_comps.render_products_list_horizontal(search_history) }}
        </div>

        {% endif %}

        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}


{{ super() }}
{{ javascript_tag('home') | safe }}
{% endblock %}
