{% extends "layouts/L1.html" %}



{% block style %}
{% endblock %}

{% import "components/company.html" as company_comps with context %}
{% import "components/product.html" as product_comps with context %}

{% block top_region_background %}
<div class='launch-new-sourcing'>
    {{ _("We are launching our new trade leads portal!") }}
    <a href='{{ url_for("trade_lead.listing") }}' class='btn btn-success'>{{ _('DISCOVER') }}</a>
</div>

{# {% if current_user.is_authenticated %}    
<div class='goto-my-home'>
    <a href='{{ url_for("home.default") }}'>{{ _('Go to my home page') }}
        <span class='fa fa-home'></span>
    </a>
</div>
{% endif %} #}

<div class='home-top-background'>
    <div class='home-top-background-overlay'></div>
</div>
{% endblock %}

{% block top_region %}

<div class='home-top-section'>
    <div class='home-welcome'>{{ _('What are you looking for?') }}</div>

    <div class='home-search-wrapper'>

        <div class='search-box'>
            <form id='home-search-form' name='home-search-form' action='{{ url_for("search.search") }}' method='GET'>
            <div class='input-group with-shadow'>
                    <input class='form-control' type='text' name='keyword' value=''
                    id='search-input' placeholder="{{ _('Search products or companies') }}">
                    <span class='input-group-addon' id='search-btn' onclick="home-search-form.submit()"><i class='fa fa-search fa-3'></i></span>                
            </div>
            </form>
        </div>

        <div class='search-suggestions' id='search-suggestions'>
            <span class='search-suggestions-title'>{{ _('Most popular keywords: ') }}</span>            
            {% for kw in ['plastic boards', 'fidget spinner', 'drones', 'caco3', 'tropical fruits'] %}
	    <a href="{{ url_for('search.search', keyword=kw) }}"><span class='search-suggestion' value='{{ kw }}'>{{ kw }}</span></a>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}

{% block content %}
<div class='features-list home-section mt-3 mb-4'>
    <div id="home-features-list-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#home-features-list-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-features-list-carousel" data-slide-to="1"></li>
            <li data-target="#home-features-list-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href='{{ url_for("search.search", category=cats_dict["Consumer Electronics"]) }}'>
                <img class="d-block w-100" src="/static/img/home_cat_1.jpg" alt="First slide">      
                </a>
            </div>
            <div class="carousel-item">
                <a href='{{ url_for("search.search", category=cats_dict["Agriculture"]) }}'>
                <img class="d-block w-100" src="/static/img/home_cat_2.jpg" alt="Second slide">      
                </a>
            </div>
            <div class="carousel-item">                
                <a href='{{ url_for("search.search", category=cats_dict["Furniture"]) }}'>
                <img class="d-block w-100" src="/static/img/home_cat_3.jpg" alt="Third slide"> 
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#home-features-list-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#home-features-list-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class='home-submit-rfq home-section'>

    <div class='row large-gutters'>
        <!-- <div class='col-sm-12 col-md-6 sub-section'>
            <h4>{{ _('Newest Buy Requests') }}</h4>
            <div class='home-newest-rfqs-wrapper'>
                <div class='search-rfqs'>
                    <form method='GET' action='{{ url_for("rfq.sourcing") }}'>
                    <div class='input-group'>
                        <input name='keyword' class='form-control' type='text' placeholder="{{ _('Search from thousands of RFQs') }}">
                        <span class='input-group-addon'><button type='submit'><i class='fa fa-search'></i></button></span>
                    </div>
                    </form>
                </div>
                
                <div class='newest-rfqs'>
                    <div class='scrollable'>
                        <table class='table borderless table-sm'>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>{{ _('Product') }}</th>
                                    <th>{{ _('Time Left') }}</th>
                                    <th>{{ _('Quotes Left') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rfq in newest_rfqs %}
                                <tr>
                                    <td>{{ rfq.buyer.country|fmt_flag or "-" }}</td>
                                    <td><a href='{{ url_for("rfq.rfq_page", pr_id=rfq.id) }}'>{{ rfq.product }}</a></td>
                                    <td><span class='time-left'>{{ rfq.time_left_str }}</span></td>
                                    <td><span class='quotes-left'>{{ rfq.quotes_left }}</span></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->
        <div class='col-sm-12 col-md-6 sub-section'>
            <a href='{{ url_for("auth.register") }}'>
                <img class="home-supplier-img" alt='supplier_join' src='/static/img/supplier_join.jpg'>
            </a>
        </div>
        
        <div class='col-sm-12 col-md-6 sub-section'>
            <div class='submit-rfq-form-wrapper'>            
                <h4>{{ _('Request for Quotation') }}</h4>
                <div class='submit-rfq-form'>
                    <form action='{{ url_for("rfq.create_rfq") }}' method='GET'>
                        <div class='form-group'>
                            <input type='text' name='product' class='form-control' placeholder="{{ _('What are you looking for?') }}">
                        </div>
                        <div class='form-group'>
                            <div class='input-group'>
                                <input type='text' name='quantity' class='form-control' placeholder="{{ _('Quantity') }}">
                                <span class='input-group-addon'>
                                    <select name='unit'>
                                        {% for opt in constants.MEASURE_UNITS %}
                                        <option value='{{ opt }}'>{{ opt }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class='form-group'>
                            <input type='submit' class='btn-new-rfq' value='{{ _('Create an RFQ') }}'>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div class='home-hot-products home-section'>
    <div class='row large-gutters'>
        <div class='col-sm-12 col-md-6 sub-section'>
            <h4>{{ _('Popular product categories') }}</h4>
            <div class='row'>
                {% for id, cat in cats_with_id %}
                <div class='col-3'>
                    <a href='{{ url_for("search.search", category=id) }}'><span class='hot-category' data-cat_id='{{ id }}'>{{ cat }}</span></a>
                </div>
                {% endfor %}
                <div class='col-3'>
                    <a href='{{ url_for("search.search") }}'><span class='hot-category' data-cat_id='all'>{{ _("More") }}</span></a>
                </div>
            </div>
        </div>

        <div class='col-sm-12 col-md-6 sub-section'>
            <h4>{{ _('Featured products') }}</h4>
            <div class='featured-products-wrapper'>
                {{ product_comps.render_featured_products_grid(featured_products, cls='home-view') }}
            </div>
        </div>
    </div>
</div>

<div class='home-newest-products home-section'>
    <div class='row large-gutters'>
        <div class='col-sm-12 col-md-12 sub-section'>
            <h4>{{ _('Newest products') }}</h4>

            <div class='newest-products-wrapper'>
                {{ product_comps.render_products_list_horizontal(newest_products) }}
            </div>            
        </div>        
    </div>
</div>

<div class='home-sellers home-section'>
    <div class='row large-gutters'>
        <div class='col-sm-12 col-md-4 sub-section'>
            <h4>{{ _('Find suppliers by region') }}</h4>
            <div class='row'>
                {% for c,n in top_countries %}
                <div class='col-2'>
                    <a href='{{ url_for("search.search", viewtab="tabcompanies", search_region_id=geo.countries_id_by_name[n]) }}'>
                        <img class='flag flag-{{ c }}' src='/static/img/blank.gif'>
                    </a>
                </div>
                {% endfor %}
                <div clas='col-12'>
                    </br>
                    <a href='{{ url_for("search.search") }}'>{{ _('More regions') }}</a>
                </div>
            </div>
        </div>

        <div class='col-sm-12 col-md-8 sub-section'>
            <h4>{{ _('Top suppliers')  }}</h4>
            <div class='top-companies-wrapper'>
                {{ company_comps.render_companies_list_horizontal(top_companies) }}
            </div>
        </div>

    </div>
</div>



{% endblock %}

{% block bottom_region_background %}
<div class='home-bottom-background'></div>
{% endblock %}

{% block bottom_region %}
<div class='home-subscribe-wrapper'>
    <div class='home-subscribe'>
        <div class='home-subscribe-title'>{{ _('Join thousands of sellers and buyers worldwide today!') }}</div>
        <div class='home-subscribe-form'>
            <form action='{{ url_for("home.subscribe") }}' method='POST'>
            <div class='form-group'>
                <input class='form-control' name='name' type='text' placeholder="{{ _('Enter your name') }}">
            </div>
            
            <div class='form-group'>
                <input class='form-control' name='email' type='email' placeholder="{{ _('Enter your email') }}">
            </div>
            <div class='form-group'>                            
                <input type='submit' class='btn-primary' value='{{ _("Subscribe") }}'>
                <button class='btn-success'><a href='{{ url_for("auth.register") }}'>{{ _('Join Now!') }}</a></button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ javascript_tag('home') | safe }}
{% endblock %}
