{% extends "layouts/L1.html" %}


{% block top_region_background %}
<div class='static-page-top-background cyan'>
    <div class='home-top-background-overlay'></div>
</div>
{% endblock %}

{% block top_region %}
<div class='landing-top-section'>
    <div class='row'>
        <div class='col-sm-12 col-md-9 text-center'>
            
            <div class='landing-welcome float-right'>
                <div class='landing-welcome-content'>                                                         
                <h5> <img src="/static/img/logo.png" style="width: 40px; display: inline; margin: 0 5px;" />  {{ _('a global e-commerce platform') }} </h5>
                <br>
                Manage business and talk to your business partners 
                <br>
                from <b>anywhere</b> at <b>anytime.</b>
                <br>
                Connect to the world network of businesses.
                <br>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-sm-12 col-md-6 mb-3'>
        <div class='card benefit-grid-card seller'>
            <div class='card-header text-center text-white'>                
                <div class='benefit-name'>{{ _('Supplier')}}</div>
                <h2><div class='fa fa-globe'></div></h2>
            </div>
            <div class='card-body'>
                       <p>{{ _('Receive buy requests from more than') }} <span class='benefit-highlight'>192</span> {{ _('countries') }}</p>
                       <hr>
                       <p>{{ _('Save ') }} <span class='benefit-highlight'>80%</span> {{ _(' time you have to spend on communicating to buyers') }}</p>
                       <hr>
                       <p>{{ _('Organize your messages, conversation to your customization') }}</p>
                       <hr>
                       <p>{{ _('Manage your inventory, interaction') }}</p>
                       <hr>
                       <p>{{ _('Broadcast your events, offers, deals') }}</p>
                       <hr>
                       <p>
                           <a href='' class='btn-light'>{{ _('Discover More!') }}</a>
                       </p>
            </div>
        </div>
    </div>  
     <div class='col-sm-12 col-md-6 mb-3'>
        <div class='card benefit-grid-card buyer'>
                <div class='card-header text-center text-white'>                
                    <div class='benefit-name'>{{ _('Buyer')}}</div>
                    <h2><div class='fa fa-globe'></div></h2> 
                </div>
                <div class='card-body'>
                    <p>{{ _('Submit your Request for Quotes in less than ') }} <span class='benefit-highlight'>60</span> {{ _('seconds') }}</p>
                    <hr>
                    <p>{{ _('Increase your sourcing productivity by ') }} <span class='benefit-highlight'>200%</span></p>
                    <hr>
                    <p>{{ _('Easily search and find product') }}</p>
                    <hr>
                    <p>{{ _('Broadcast your events, offers, deals') }}</p>
                    <hr>
                    <p>
                        <a href='' class='btn-light'>{{ _('Discover More!') }}</a>
                    </p>
                </div>
        </div>
    </div> 
</div>
{% endblock %}