{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/product_category.html' as product_cat_comps with context %}

{% block page_title %} {{ _('Create a New Trade Lead') }} {% endblock %}

{% block content %}
<div id='create-trade-lead-form-wrapper'>
    <h3>{{ _('Create a new trade lead') }}</h3>    
    <form id='create-trade-lead-form' method='POST' enctype="multipart/form-data">
        {{ forms_macro.select('lead_type', _('Trade Lead Type'), items=constants.LEAD_TYPE_DICT) }}
        
        {{ forms_macro.input('title', _('Title')) }}
        
        {{ forms_macro.input('company', _('Company')) }}

        <label for='product_category'>{{ _('Product Category') }}</label>
        {{ product_cat_comps.select_category_cascade('create-trade-lead-select-category') }}
        {{ forms_macro.textarea_simple('content', _('Content'), richtext=False) }}
        {{ forms_macro.input('keywords', _('Keywords (comma separated)')) }}
        
        <div>
        <span class="btn btn-info mb-3" data-toggle="collapse" href="#collapseExtraDataForm" role="button" aria-expanded="false" aria-controls="collapseExtraDataForm">
                Additional Information (optional) <span class='fa fa-chevron-down'></span>
        </span>
        </div>
        <div class="collapse" id="collapseExtraDataForm">
            <div class="card card-body">
                 
            {{ forms_macro.input_dual_select_text('reference_type', 'reference_url', _('Reference'), minilabel1=_('Type'), minilabel2=_('URL'), items=constants.REFERENCE_TYPE_DICT) }}

            {{ forms_macro.media_input('media', _('Media'), multiple=True) }}

            {{ forms_macro.input('quantity', _('Quantity'), value=quantity) }}
            {{ forms_macro.checkbox('is_public', _('Is public?'), checked=True, type='checkbox') }}
            
            {{ forms_macro.other_details() }}
            
            </div>
        </div>
        {{ forms_macro.submit_btn(text=_('Submit')) }}
        <a href='javascript:history.go(-1);'><span class='btn-cancel'>{{ _('Cancel') }}</span></a>
    </form>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ javascript_tag('trade_lead') | safe }}
<script>
    SUMO.trade_lead.handle_create_trade_lead_form();
</script>
{% endblock %}