{% extends "layouts/L1.html" %}

{% import "components/account.html" as account_comps with context %}
{% import "components/trade_lead.html" as trade_lead_comps with context %}

{% block top_region %}
<h3 class='account-top-info'>{{ _("Manage Trade Leads") }}</h3>
{% endblock %}

{% block page_title %} {{ _('Manage Trade Leads') }} {% endblock %}

{% block top_region_background %}
{{ account_comps.top_banner(current_user) }}
{% endblock %}

{% block content %}

<div class='row medium-gutters'>

    <div class='col-sm-12 order-md-9 col-md-3'>

        <div class='create-trade-lead-btn mb-3'>
            <a href='{{ url_for("trade_lead.create_trade_lead") }}' class='btn-new-trade-lead'>{{ _('Create a Trade Lead') }}</a>
        </div>
    </div>

    <div class='col-sm-12 col-md-9'>

        <div class='trade-lead-list-wrapper'>
            {{ trade_lead_comps.render_trade_leads(trade_leads) }}
        </div>
         
    </div>
    
</div>
{% endblock %}

