{% extends "layouts/L1.html" %}
{% import "components/quote.html" as quote_comps with context %}
{% import 'components/media.html' as media_comps with context %}
{% import 'components/account.html' as account_comps with context %}

{% block page_title %}         {% if trade_lead.lead_type == constants.LEAD_TYPE_BUY %}
{{ _('Buy Lead') }}
{% elif trade_lead.lead_type == constants.LEAD_TYPE_SELL %}
{{ _('Sell Lead') }}
{% else %}
{{ _('Other Lead')  }}
{% endif %}| {{ trade_lead.title }} {% endblock %}

{% block top_region_background %}
<div class='rfq-top-background'
    style='background-image: url("{{ trade_lead.product_category.path[0].name|company_banner }}");
    background-size: cover; background-position:center;'>
    <div class='rfq-top-background-overlay'></div>
</div>
{% endblock %}

{% set color_match_dict = {
    constants.LEAD_TYPE_BUY: 'buyer',
    constants.LEAD_TYPE_SELL: 'seller',
    constants.LEAD_TYPE_OTHER: ''
}

%}

{% block top_region %}
<h3 class='rfq-top-info'>
    <span class='badge badge-sm {{ color_match_dict[trade_lead.lead_type] }} text-white'>
        {% if trade_lead.lead_type == constants.LEAD_TYPE_BUY %}
            {{ _('Buy Lead') }}
        {% elif trade_lead.lead_type == constants.LEAD_TYPE_SELL %}
            {{ _('Sell Lead') }}
        {% else %}
            {{ _('Other Lead')  }}
        {% endif %}
    </span>
    {{ trade_lead.title }}
    <a class='btn-contact'
        href='{{ url_for("messages.trade_lead_thread_page", trade_lead_id=trade_lead.id) }}'>{{ _('Contact') }}</a>
</h3>
{% endblock %}

{% block content %}
<div class='row trade-lead-page-wrapper'>
    <div class='col-sm-12 col-md-9'>
        <div class='trade-lead-page-category mb-2 category-path'><i>{{ trade_lead.product_category.path_as_str }}</i></div>
        <div class='trade-lead-page-keywords'>
            {% for keyword in trade_lead.keywords %}
            <span class='keyword'>{{ keyword }}</span>
            {% endfor %}
        </div>
        
        <table class='details-table'>
            <tbody>
                <tr>
                    <th>{{ _('Create time') }}</th>
                    <td>{{ trade_lead.create_time | fmt_datetime('short') }}</td>
                </tr>
                <tr>
                    <th>{{ _('Posted by') }}</th>
                    <td><a href='{{ url_for("account.account_page", pr_id=trade_lead.user_id) }}'>{{ trade_lead.user.name }}</a></td>
                </tr>
                <tr>
                    <th>{{ _('Country') }}</th>
                    <td>{{ trade_lead.country }}</td>
                    </tr>
                <tr>
                    <th>{{ _('Quantity') }}</th>
                    <td>{{ trade_lead.quantity }}</td>
                </tr>
                {% if trade_lead.other_details %}
                {% for key,val in trade_lead.other_details.items() %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ val }}</td>
                </tr>                
                {% endfor %}
                {% endif %}
                <tr>
                    <td colspan=2>
                        {{ media_comps.render_media_grid(trade_lead.media_list)  }}
                    </td>
                </tr>                             
                <tr>
                    <td colspan=2>{{ trade_lead.content|safe }}</td>
                </tr>
            </tbody>
        </table>
        
        <div>
        {% if is_owner %}
            <a class='btn-update mb-3' href='{{ url_for("trade_lead.update_trade_lead", pr_id=trade_lead.id) }}'>{{ _('Update') }}</a>
        {% endif %}
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    load_media_grid_lightbox('#media-grid');
</script>
{% endblock %}