{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/product_category.html' as product_cat_comps with context %}

{% block page_title %} {{ _('Update Trade Lead ') }}{% endblock %}

{% block content %}
<div id='update-rfq-form-wrapper'>
    <h3>{{ _('Trade Lead') }}</h3>
    <form id='update-trade-lead-form' method='POST' enctype="multipart/form-data">
        <input type='hidden' name='trade_lead_id' value='{{ trade_lead.id }}'>
        {{ forms_macro.select('lead_type', _('Trade Lead Type'), default=trade_lead.lead_type, items=constants.LEAD_TYPE_DICT) }}
        
        {{ forms_macro.input('title', _('Title'), value=trade_lead.title) }}  
        {{ forms_macro.input('company_name', _('Company Name'), value=trade_lead.company_name) }}

        <label for='product_category'>{{ _('Product Category') }}</label>
        {{ product_cat_comps.select_category_cascade('update-trade-lead-select-category', 
            value=trade_lead.product_category.id, 
            selected_category=trade_lead.product_category.path_as_str) }}

        {{ forms_macro.textarea_simple('content', _('Content'), value=trade_lead.content, richtext=False) }}
        {{ forms_macro.input('keywords', _('Keywords (comma separated)'), value=', '.join(trade_lead.keywords)) }}
            
        {{ forms_macro.input_dual_select_text('reference_type', 'reference_url', _('Reference'), minilabel1=_('Type'), minilabel2=_('URL'), items=constants.REFERENCE_TYPE_DICT) }}
      
        {{ forms_macro.input('quantity', _('Quantity'), value=trade_lead.quantity) }}
        {{ forms_macro.checkbox('is_public', _('Is public?'), checked=trade_lead.is_public, type='checkbox') }}
        {{ forms_macro.media_input('media', _('Add media'), items=trade_lead.media_list,
            multiple=True, datatype='trade_lead')}}

        {{ forms_macro.other_details(values=trade_lead.other_details) }}

        {{ forms_macro.submit_btn(text=_('Submit')) }}
                 
        <a href='javascript:history.go(-1);' class='btn-cancel'>{{ _('Cancel') }}</a>        
    </form>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ javascript_tag('trade_lead') | safe }}
<script>
    SUMO.trade_lead.handle_update_trade_lead_form();
</script>
{% endblock %}