{% extends "layouts/L1.html" %}

{% block center %}
<div class='row'>
    <div class='col-sm-12'>
    <h1>{{ _('Unauthorized') }}</h1>
    
    <p>{{ _('You are not permitted to access this page!') }} <a href="{{ url_for('static_pages.contact') }}">{{ _('Please contact us') }}</a></p>
    <p><a href="{{ url_for('home.default') }}">{{ _('Back to Home') }}</a> </p>
    </div>
</div>
{% endblock %}
