{% extends "layouts/L1.html" %}

{% block center %}
<div class='row'>
    <div class='col-sm-12'>
    <h1>{{ _('Page Forbidden') }}</h1>
    <p>{{ _('Apologies! This page is forbidden.') }} {% if not current_user.is_authenticated %} <a href="{{ url_for('auth.login') }}">{{ _('Please Login') }}</a> {{ _('or') }} <a href='{{ url_for("static_pages.contact") }}'>{{ _('contact us') }}</a>.{% endif %}</p>
    <p><a href="{{ url_for('home.default') }}">{{ _('Back to Home') }}</a> </p>
    </div>
</div>
{% endblock %}
