{% extends "layouts/L1.html" %}

{% block center %}
<div class='row'>
    <div class='col-sm-12'>
    <h1>{{ _('Page Not Found') }}</h1>
    <p>{{ _('Apologies! We could not find what you are looking for') }}.</p>
    <p><a href="/">{{ _('Back to Home') }}</a> </p>
    </div>
</div>
{% endblock %}



