{% extends "layouts/L1.html" %}

{% block center %}
<div class='row'>
    <div class='col-sm-12'>
    <h1>{{ _('Method Not Allowed') }}</h1>
    <p>{{ _('Apologies! This method is not allowed'). }}</p>
    <p><a href="/">{{ _('Back to Home') }}</a> </p>
    </div>
</div>
{% endblock %}
