{% extends "layouts/L1.html" %}

{% block center %}
<div class='row'>
    <div class='col-sm-12'>
    <h1>{{ _('Server Error') }}</h1>
    <p>{{ _('Apologies! We encounter server errors. Please try later.') }}</p>
    <p><a href="/">{{ _('Back to Home') }}</a> </p>
    </div>
</div>
{% endblock %}
