{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/product_category.html' as product_cat_comps with context %}


{% block page_title %} {{ _('Create Request') }} {% endblock %}

{% block top_region_background %}
<div class='sourcing-top-background'>
</div>
{% endblock %}


{% set viewtab_menu = [
    ('all', _('All Leads'), 'exchange', ''),
    ('buy', _('Buy Leads'), 'sign-in', 'buyer'),
    ('sell', _('Sell Leads'), 'sign-out', 'seller')
    ] %}

{% block top_region %}
<div class='row'>
    <div class='col-12'>
        <div class='sourcing-search-container'>
            <h3 class='sourcing-title'>{{ _('Create a new request') }}</h3>
        </div>   
    </div>
</div>
{% endblock %}

{% block content %}
<div class='sourcing-wrapper'>

    <div class='sourcing-main row medium-gutters'>

        <div class='col-sm-12 col-md-9'>
            <div id='trade-leads-list-wrapper'>
                <div>
                    <button type="button" class="btn btn-light buyer text-white">Buy Request</button>
                    <button type="button" class="btn btn-light btn-sm ">Sell Request</button>
                </div>
            </div>
            <div class='mt-3 input-terms'>
                <div class='input-group'>
                    
                    <span class='input-group-addon'>{{ _('I want to buy') }}</span>
                    <input class='form-control' value='' type='text' id='request-input' name='request-input' placeholder='Enter a product'>
                    <span class='input-group-addon'><i class='fa fa-search'></i></span>
                </div>
                <div class="search-request-output" id="search-request-output">
                        <div class="search-users-item media" data-user_name="Hoang Vo" data-user_id="20">
                            Dynamic Compressor</div>   
                        <div class="search-users-item media" data-user_name="Hoang Vo" data-user_id="21">
                            Air Bubble Compressor</div>   
                        <div class="search-users-item media" data-user_name="Hoang Vo" data-user_id="21">
                            Centrifugal Compressor</div>   
                        <div class="search-users-item media" data-user_name="Hoang Vo" data-user_id="21">
                            Diagonal Compressor
                        </div>
                </div>


                <div class='suggest-term-inputs'>

                <div class='mt-3'>
                        <span>Suggested terms &nbsp; <i class='fa fa-question-circle'></i></span>
                        <span class='keyword' data-sectarget='requesttarget3' id='item1'>Power Source</span>
                        <span class='keyword' id='item2'>Voltage</span>
                        <span class='keyword' id='item3'>Technology</span>
                        <span class='keyword' data-sectarget='requesttarget4'  id='item4'>RPM</span>
                        <span class='keyword' data-sectarget='requesttarget1' id='item5'>Power</span>
                        <span class='keyword' id='item6'>Flow Capacity</span>
                        <span class='keyword' data-sectarget='requesttarget2' id='item7'>Pressure</span>
                        <span class='btn btn-secondary btn-sm'><i class='fa fa-plus'></i></span>
                
                </div>
                <div class='mt-1'>
                        <span ><small>Frequent terms:</small></span>

                        <span data-sectarget='requesttarget5' class='keyword keyword-darkblue'>Unit Price</span>
                        <span class='keyword keyword-darkblue'>Quantity</span>
                        <span class='keyword keyword-darkblue'>Unit Type</span>
                        <span class='btn btn-secondary btn-sm'><i class='fa fa-plus'></i></span>
                        
                </div>
                <div class=' mt-1'>
                        <span><small>Other/Misc:</small></span>
                        <span class='keyword keyword-orange'>Delivery Date</span>
                        <span class='keyword keyword-orange'>Payment Type</span>
                        <span class='btn btn-secondary btn-sm'><i class='fa fa-plus'></i></span>
                </div>

                </div>
            </div>
            <div class="btn btn-info mt-3 mb-1">
                Required Specification <span class='fa fa-chevron-up'></span>
            </div>
            <div class='mt-3'>
                    <label for='product_category'><b>{{ _('Product Category') }}</b></label>
                    {{ product_cat_comps.select_category_cascade('create-trade-lead-select-category') }}

                    <div class='form-group sectarget' id='requesttarget1'>
                            <label for=''><span><b>Power</span></b><i class='ml-2 fa fa-times-circle'></i></label>
                            <div class='row mb-2'>
                                <div class='col-6'>
                                    <div class='input-group'>
                                        <span class='input-group-addon'>{{ _('Min/Equal') }}</span>
                                        <input class='form-control d-inline' value='{% if value_min %}{{ value_min }}{% endif %}' type='{{ type }}' id='{{ name1 }}-input' name='{{ name1 }}' placeholder='{{ placeholder }}'>
                                    </div>
                                </div>
                                <div class='col-6'>
                                    <div class='input-group'>
                                        <span class='input-group-addon'>{{ _('Max') }}</span>
                                        <input class='form-control d-inline' value='{% if value_max %}{{ value_max }}{% endif %}' type='{{ type }}' id='{{ name2 }}-input' name='{{ name2 }}' placeholder='{{ placeholder }}'>
                                    </div>        
                                </div>
                            </div>
                    </div>
                    <div class='form-group sectarget' id='requesttarget2'>
                            <label for=''><span><b>Pressure</b></span><i class='ml-2 fa fa-times-circle'></i></label>
                            <div class='row mb-2'>
                                <div class='col-6'>
                                    <div class='input-group'>
                                        <span class='input-group-addon'>{{ _('Min/Equal') }}</span>
                                        <input class='form-control d-inline' value='{% if value_min %}{{ value_min }}{% endif %}' type='{{ type }}' id='{{ name1 }}-input' name='{{ name1 }}' placeholder='{{ placeholder }}'>
                                    </div>
                                </div>
                                <div class='col-6'>
                                    <div class='input-group'>
                                        <span class='input-group-addon'>{{ _('Max') }}</span>
                                        <input class='form-control d-inline' value='{% if value_max %}{{ value_max }}{% endif %}' type='{{ type }}' id='{{ name2 }}-input' name='{{ name2 }}' placeholder='{{ placeholder }}'>
                                    </div>        
                                </div>
                            </div>
                    </div>
                    <div class='row mb-2 sectarget' id='requesttarget3'>
                            <label for=''><b class='pl-2'>Power Source</b><i class='ml-2 fa fa-times-circle'></i></label>
                                
                            <div class='col-6'>
                                <div class='input-group'>
                                    
                                    
                                    <select class='form-control' name='{{ name1 }}' id='{{ name1 }}-select' name='{{ name }}'>
                                    <option value="" disabled selected>{{ _('Choose your option') }}</option>
                                    <option value='{{ value }}'>No Preference</option>
                                    <option value='{{ value }}'>Diesel</option>
                                    <option value='{{ value }}'>Gas</option>
                                    <option value='{{ value }}'>Hydraulic</option>
                                    <option value='{{ value }}'>AC Single Phase</option>
                                    <option value='{{ value }}'>AC 3-Phase</option>
                                    <option value=''>Other</option>
                                    </select>
                    
                                </div>
                            </div>
                            <div class='col-6'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fa fa-plus'></i></span>
                                    <input class='form-control d-inline' value='{% if value_max %}{{ value_max }}{% endif %}' type='{{ type }}' id='{{ name2 }}-input' name='{{ name2 }}' placeholder='{{ placeholder }}'>
                                </div>        
                            </div>
                    </div>
                    <div class='row mb-2 sectarget' id='requesttarget4'>
                            <label for=''><b class='pl-2'>RPM</b><i class='ml-2 fa fa-times-circle'></i></label>
                                
                            <div class='col-6'>
                                <div class='input-group'>
                                    
                                    
                                    <select class='form-control' name='{{ name1 }}' id='{{ name1 }}-select' name='{{ name }}'>
                                    <option value="" disabled selected>{{ _('Choose your option') }}</option>
                                    <option value='{{ value }}'>Air-end</option>
                                    <option value='{{ value }}'>Motor</option>
                                    <option value=''>Other</option>
                                    </select>
                    
                                </div>
                            </div>
                            <div class='col-6'>
                                <div class='input-group'>
                                    <span class='input-group-addon'><i class='fa fa-plus'></i></span>
                                    <input class='form-control' type='text' name='item1'>
                                    <input class='form-control' type='text' name='item2'>
                                </div>        
                            </div>
                    </div>
                    <div class='form-group sectarget' id='requesttarget5'>
                            <label for=''><span><b>Unit Price</b></span><i class='ml-2 fa fa-times-circle'></i></label>
                            <div class='row mb-2'>
                                <div class='col-6'>
                                    <div class='input-group'>
                                        <span class='input-group-addon'>{{ _('Min/Equal') }}</span>
                                        <input class='form-control d-inline' value='{% if value_min %}{{ value_min }}{% endif %}' type='{{ type }}' id='{{ name1 }}-input' name='{{ name1 }}' placeholder='{{ placeholder }}'>
                                    </div>
                                </div>
                                <div class='col-6'>
                                    <div class='input-group'>
                                        <span class='input-group-addon'>{{ _('Max') }}</span>
                                        <input class='form-control d-inline' value='{% if value_max %}{{ value_max }}{% endif %}' type='{{ type }}' id='{{ name2 }}-input' name='{{ name2 }}' placeholder='{{ placeholder }}'>
                                    </div>        
                                </div>
                            </div>
                    </div>
            </div>


            <div class='mt-3'>
                    <div class='form-group {{ cls }}'>
                            <label for='other_details'><b>{{ _('Other specification') }}</b></label>
                            
                            <div class='other_details-container' id='other_details-container'>
                    
                    
                            <div class='row mb-2 hide'>
                                <div class='col-4'>
                                    <div class='input-group'>
                                        <span class='input-group-addon btn' onClick='delete_current_row(this)'><i class='fa fa-minus text-danger'></i></span>
                                        <input class='form-control' name='odk' field='key' placeholder="{{ _('Field name') }}">
                                       
                                    </div>                
                                </div>
                                <div class='col-8'>
                                    <input class='form-control' name='odv' field='value' placeholder="{{ _('Content') }}">
                                </div>
                            </div>
                            
                    
                            <div class='row mb-2'>        
                                <div class='col-4'>
                                    <div class='input-group'>
                                            <span class='input-group-addon btn' onClick='delete_current_row(this)'><i class='fa fa-minus text-danger'></i></span>
                                            <input class='form-control' name='odk' field='key' placeholder="{{ _('Field name') }}">
                                          
                                    </div>                
                                </div>
                                <div class='col-8'>
                                    <input class='form-control' name='odv' field='value' placeholder="{{ _('Content') }}">
                                </div>
                            </div>
                    
                            </div>
                    
                            <span class='btn btn-secondary btn-sm mt-1' onClick='clone_new_row("other_details-container")'><i class='fa fa-plus'></i></span>
                    
                            
                        </div>
            </div>
            <div class='mt-3'>
                    <span class="btn btn-info mb-3" data-toggle="collapse" href="#collapseExtraDataForm" role="button" aria-expanded="false" aria-controls="collapseExtraDataForm">
                            Optional Specification <span class='fa fa-chevron-down'></span>
                    </span>
                    </div>
                    <div class="collapse" id="collapseExtraDataForm">
                        <div class="card card-body">
                             
                        {{ forms_macro.input_dual_select_text('reference_type', 'reference_url', _('Reference'), minilabel1=_('Type'), minilabel2=_('URL'), items=constants.REFERENCE_TYPE_DICT) }}
            
                        {{ forms_macro.media_input('media', _('Media'), multiple=True) }}
            
                        {{ forms_macro.input('quantity', _('Quantity'), value=quantity) }}
                        {{ forms_macro.checkbox('is_public', _('Is public?'), checked=True, type='checkbox') }}
                        
                        {{ forms_macro.other_details() }}
                        
                        </div>
                    </div>
                    {{ forms_macro.submit_btn(text=_('Submit')) }}
                    <a href='javascript:history.go(-1);'><span class='btn-cancel'>{{ _('Cancel') }}</span></a>
                
            </div>
        </div>  
       
    </div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ javascript_tag('hello') | safe }}
<script>
   SUMO.hello.demo_request.start_page();
</script>
{% endblock %}
