{% extends "layouts/L1.html" %}

{% block style %}
<style>
    .intro {
        margin-top: 50px;
    }
    .mvp-video, .intro, .subscribe-box {
        text-align: center;
    }

    .subscribe-box {
        max-width: 50%;
        margin: 0 auto;
    }

    @media screen and (max-width: 768px)  {
        .subscribe-box {
            max-width: 100%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class='intro'>
    <h1>{{ _("We are launching the world's first customizable sourcing and purchasing platform.") }}</h1>
</div>
<br>

<div class='mvp-video'>

</div>

<br>

<div class='subscribe-box'>
    <form action='{{ url_for("home.subscribe") }}' method='POST'>
        <div class='form-group'>
            <input class='form-control' name='name' type='text' placeholder="{{ _('Enter your name') }}">
        </div>
        
        <div class='form-group'>
            <input class='form-control' name='email' type='email' placeholder="{{ _('Enter your email') }}">
        </div>
        <div class='form-group'>                            
            <input type='submit' class='btn-success' value='{{ _("GET EARLY ACCESS") }}'>
        </div>
    </form>
</div>
{% endblock %}


{% block scripts %}
{% endblock %}