<html>
    <head>
    </head>
    <body>
        <h2>Hello world</h2>
        <p>
            This is a complete hello simple view!
            {{ request.path }}
          <a href=" {{ url_for('hello.hello3') }}">Link</a> 
        </p>
        <div>
            <a href=" {{ url_for('hello.hello_with_layout') }}">Link 2</a> 
        </div>
      
    </body>
</html>