{% extends "layouts/base.html" %}

{% import 'components/forms.html' as forms_macro with context %}

{% block content %}
<div class='rfq-wrapper'>
    <h3>Request for Quotation: {{ rfq.product }}</h3>
    <br>
    <div class='rfq-content'>
        <label>
            <b>Buyer: </b>{{ rfq.buyer }}
        </label>
        <label>
            <b>Create time: </b>{{ rfq.create_time }}
        </label>
        <label>
            <b>Expires in: </b>{{ rfq.remaining_time }}
        </label>
        <label>
            <b>Quotes left: </b>{{ rfq.quotes_left }}
        </label>        
        
        <br><br>

        <button class="brn btn-primary" data-toggle="collapse" data-target="#details" aria-expanded="false" aria-controls="details">
            View details
        </button>

        <div class="collapse mt-4" id="details">
            <div class="card card-body">
                <table class='details-table editable' id='rfq-details-table'>
                    <tbody>
                    {% for spec, val in rfq.specs.items() %}
                    {{ forms_macro.editable_tr(spec, spec, val) }}
                    {% endfor %}
                    {{ forms_macro.editable_other_details_tr({}) }}
                    <tr>
                        <td>
                            </br>
                            <button class='btn-update' id='editable-field-edit-btn'>{{ _('Update') }}</button>
                            <button type='submit' class='btn-submit' id='editable-field-save-btn'>{{ _('Save') }}</button>
                            <button class='btn-cancel' id='editable-field-cancel-btn'>{{ _('Cancel') }}</button>
                        </td>
                    </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<div class='quotes'>
    <h4>Latest quotes
        <button class='btn btn-export'>Download spreadsheet</button>
    </h4>
    <br>
    <div class='scrollable'>
        <table class='table'>
            <thead>
                <th></th>
                <th>Seller</th>
                <th>Country</th>
                <th>Last updated</th>
                {% for spec in rfq.specs %}
                <th>{{ spec }} &nbsp; <a href='#'><span class='fa fa-filter'></span></a></th>
                {% endfor %}
                <th></th>
            </thead>
            <tbody>
                {% for quote in quotes %}
                <tr>
                    <td><a href='#'><span class='fa fa-comments'></span></a></td>
                {% for field in quote %}
                    <td>
                    {% if field == 1 %}
                        <span class='fieldstat fa fa-check-circle'></span>
                    {% elif field == 0 %}
                        <span class='fieldstat fa fa-times-circle'></span>
                    {% elif field == 2 %}
                        <span class='fieldstat fa fa-question-circle'></span>
                    {% elif field|length == 2 %}
                        <span class='flag flag-{{ field }}'></span>
                    {% elif loop.index == 1 %}
                        <a href='#'><b>{{ field }}</b></a>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    </td>
                {% endfor %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ javascript_tag('hello') | safe }}
<script>
    SUMO.hello.rfq_item.handle_rfq_table();
</script>
{% endblock %}