<p>Dear {{ user.name }},</p>
<p>Welcome to {{ config['APP_NAME'] }}! Thank you for signing up. Please follow this link to activate your account:</p>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<p>Cheers!</p>
<p>{{ config['APP_NAME'] }} Team</p>
