<p>Hi {{ user.name }},</p>

<p>You have <b>{{ unread_count }}</b> new messages! Log back into <a href='{{ url_for("home.default", _external=True) }}'>{{ config['APP_NAME'] }}</a> to check them out now.</p>

<ul>
{% for thread in threads[:5] %}
<li>
    <a href='{{ url_for("messages.thread_page", pr_id=thread.id, _external=True) }}'>
        {% if thread.thread_type == "private_thread" %}
            {{ thread.name_for_user(user.id) }}
        {% else %}
            {{ thread.name }}
        {% endif %}
    </a>
</li>
{% endfor %}
</ul>

<p>Cheers!</p>
<p>{{ config['APP_NAME'] }} Team</p>