<p>Hi {{ user.name }},</p>
<p>Please follow this link to reset your password:</p>
<p><a href="{{ reset_password_url }}">{{ reset_password_url }}</a></p>
<p>Cheers!</p>
<p>{{ config['APP_NAME'] }} Team</p>