{% extends "layouts/L1.html" %}

{% block top_region %}
<h3>{{ _('Account is disabled') }}</h3>
{% endblock %}

{% block content %}
<p>{{ _("Your account or email associated with this account has been disabled. ") }}</p>
<p>{{ _("Please contact our support") }}<a href='{{ url_for("support_ticket.nologin") }}'><b>{{ _('Resend') }}</b></a></p>
{% endblock %}
