{% extends "layouts/L1.html" %}

{% block top_region %}
<h3>{{ _('Forgot password') }}</h3>
{% endblock %}

{% block content %}
<p>{{ _('We will send a reset password link to your email. Please fill your email to the form below.') }}</p>
<form method='POST' action='{{ url_for("auth.send_reset_password_link") }}'>
    <div class='form-group'>    
        <input class='form-control' type='email' placeholder='Your email' name='email'>        
    </div>
    <input class='btn-update' type='submit' value='Submit'>
</form>
{% endblock %}
