{% extends "layouts/L66.html" %}

{% import 'components/forms.html' as forms_macro %}

{% block left_column %}
<div id='login-form-wrapper'>
    <h3>{{ _('Log In') }}</h3>
    <form id='login-form' method='POST'>
        {{ forms_macro.input('email', _('Email'), type='email') }}
        {{ forms_macro.input('password', _('Password'), type='password') }}
        {% if not config['RECAPTCHA_DISABLED'] %}
        <div id='recaptcha' class="g-recaptcha"
            data-sitekey="{{ config['RECAPTCHA_SITE_KEY'] }}"
            data-callback="submit_login_form"
            data-size="invisible"></div>
        {% endif %}
        
        {{ forms_macro.submit_btn(text=_('Log In')) }}
        
    </form>
    <br>
    <p>New to {{ config['APP_NAME'] }}? <a href='/register'>{{ _('Register now!') }}</a></p>
    <p><a href='{{ url_for("auth.forgot_password_page") }}'>{{ _('Forgot password?') }}</a></p>
</div>
{% endblock %}

{% block right_column %}
{% endblock %}

{% block scripts %}
{{ javascript_tag('auth') | safe }}
{% if not config['RECAPTCHA_DISABLED'] %}
<script>
    SUMO.auth.handle_login_form(true);
</script>
{% else %}
<script>
    SUMO.auth.handle_login_form(false);
</script>
{% endif %}
{% endblock %}

{% block style %}
{% if not config['RECAPTCHA_DISABLED'] %}    
{{ super() }}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>    
{% endif %}
{% endblock %}