{% extends "layouts/L66.html" %}

{% import 'components/forms.html' as forms_macro %}

{% block left_column %}
<div id='register-form-wrapper'>
    <H3>{{ _('Register') }}</H3>
    <form method='POST' id='register-form'>
        {{ forms_macro.input('first_name', _('First name')) }}
        {{ forms_macro.input('last_name',  _('Last name')) }}
        {{ forms_macro.select_from_list('country',  _('Country'), items=geo.countries_list, default='US') }}
        {{ forms_macro.input('location',  _('Location')) }}       

        {% if referral %}
            {{ forms_macro.input_disabled('pending_company_id',  _('Company'), value=ref_company_id, disabled_text=ref_company_name  ) }}
        {% else %}
            {{ forms_macro.input('company_name',  _('Company'), cls='disabled') }}
        {% endif %}
        {{ forms_macro.input('position_title', _('Position Title')) }}
        {{ forms_macro.input('email',  _('Email'), type='email') }}
        {{ forms_macro.input('password',  _('Password'), type='password') }}
        {{ forms_macro.input('password_again',  _('Password (again)'), type='password') }}  
        <div class='form-check'>
            <label class='form-check-label'>
                <input class='form-check-input' name='accept_tos' type='checkbox'>
                {{ _("By checking this box, I accept Trade60.com ") }}<a target='_blank' href='{{ url_for("static_pages.tos_page") }}'>{{ _("Terms of Service") }}</a>
            </label>
        </div>
        <br>
        {% if not config['RECAPTCHA_DISABLED'] %}
        <div id='recaptcha' class="g-recaptcha"
            data-sitekey="{{ config['RECAPTCHA_SITE_KEY'] }}"
            data-callback="submit_register_form"
            data-size="invisible"></div>
        {% endif %}

        {{ forms_macro.submit_btn(text= _('Register'), cls='btn-success') }}    

    </form>
    <br>
    <p>{{ _('Already registered?') }}<a href='/login'>{{ _('Log In') }}</a></p>    
</div>
{% endblock %}

{% block right_column %}
{% endblock %}

{% block scripts %}
{{ javascript_tag('auth') | safe }}
{% if not config['RECAPTCHA_DISABLED'] %}
<script>
    SUMO.auth.handle_register_form(true);
</script>
{% else %}
<script>
    SUMO.auth.handle_register_form(false);
</script>
{% endif %}
{% endblock %}

{% block style %}
{% if not config['RECAPTCHA_DISABLED'] %}    
{{ super() }}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>    
{% endif %}
{% endblock %}