{% extends "layouts/L1.html" %}

{% block content %}
<p>{{ _('We just sent you a reset password link to the email you provided. Please check your inbox.') }}/p>
<p><a href='{{ url_for("auth.login") }}'><b>{{ _('Login Now') }}</b></a></p>
{% endblock %}
