{% extends "layouts/L1.html" %}
{% block top_region %}
<h3>{{ _('Reset password') }}</h3>
{% endblock %}

{% block content %}
<form method='POST' id='reset-password-form'>
    <input type='hidden' name='token' value='{{ token }}'>
    <input type='hidden' name='user_id' value='{{ user.id }}'>
    <input type='hidden' name='email' value='{{ user.email }}'>
    <div class='form-group'>
        <label for='new_password'>{{ _('New Password') }}</label>
        <input class='form-control' type='password' placeholder="{{ _('New password') }}" name='new_password'>
    </div>    
    <div class='form-group'>
            <label for='new_password_again'>{{ _('New Password (again)') }}</label>
            <input class='form-control' type='password' placeholder="{{ _('New password (again)') }}" name='new_password_again'> 
    </div>
    <input class='btn-update' type='submit' value='Submit'>
</form>
{% endblock %}