{% extends "layouts/L1.html" %}

{% block top_region %}
<h3>{{ _('Account is unconfirmed') }}</h3>
{% endblock %}

{% block content %}
<p>{{ _("You have not confirmed your account. Please check your inbox (and your spam folder). You should have received an email with a confirmation link") }}</p>
<p>{{ _("Didn't receive the email?") }}<a href='{{ url_for("auth.resend_confirmation") }}'><b>{{ _('Resend') }}</b></a></p>
{% endblock %}
