{% extends "layouts/L1.html" %}
{% import "components/company.html" as company_comps with context %}
{% import "components/misc.html" as misc_comps with context %}

{% block page_title %} {{ _('Company Information') }} {% endblock %}

{% block top_region_background %}
{% if current_user.is_authenticated and not company.is_public %}    
<div class='goto-my-home'>
    <a href='{{ url_for("home.default") }}'>{{ _('This page is currently set to be not visible to public. You can change the settings in Registration Information') }}
        <span class='fa fa-home'></span>
    </a>
</div>
{% endif %}
{{ company_comps.top_banner(company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.public_company_menu(company, current=current_tab) }}
{% endblock %}

{% block content %}
<div id='my-company-content' class='my-company-content'>
    {{ company_comps.render_company_section(company, current_tab=current_tab) }}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

{{ javascript_tag('company') | safe }}
<script>
  SUMO.company.my_company_page();
</script>

{% endblock %}
