{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}

{% block page_title %} {{ _('Create Company Profile') }} {% endblock %}

{% block center %}
<div class='row'>
    <div class='col-12'>   
        <h3>{{ _('Create Company') }}</h3>
        <form id='company_create_form' method='POST'>
            
            {{ forms_macro.input('name', _('Company Name')) }}            
            {{ forms_macro.input('company_types', _('Company type')) }}            
            {{ forms_macro.select('country', _('Country'), items=geo.countries_as_tuples, default='US') }}          
            {{ forms_macro.input('location', _('Location')) }}           
            {{ forms_macro.input('website', _('Website')) }}            
            {{ forms_macro.textarea('description', _('Company Description'), richtext=False) }}
            {{ forms_macro.textarea('company_info', _('Additional Company Information')) }}   
            {{ forms_macro.input('phone', _('Phone')) }}            
            {{ forms_macro.input('fax', _('Fax')) }}           
            {{ forms_macro.input('email', _('Company Email (can be the same as your email)')) }}      
            {{ forms_macro.input('year_founded', _('Year Founded')) }}          
            {{ forms_macro.input('shipping_handling', _('Shipping Handled By')) }}      
            {{ forms_macro.select_from_list('company_size', _('Company Size'), items=constants.COMPANY_SIZES, default='') }}           
            {{ forms_macro.input('port', _('Ports')) }}                    
            {{ forms_macro.input('payment', _('Types of Accepted Payments')) }}        
            {{ forms_macro.submit_btn(text=_('Create')) }}
           
            
        </form>
                        
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ javascript_tag('company') | safe }}
<script>
    SUMO.company.handle_create_company_form();
</script>
{% endblock %}

