{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}
{% import "components/company.html" as company_comps with context %}

{% block top_region %}

<h3>{% block page_title %} {{ _('Company Link') }} {% endblock %}</h3>

{% if company_old %}
<div class='row'>
    <div class='col-sm-12 col-md-6'>
        <h4 class='text-danger'>{{ _('You currently belong to the following organization') }}:</h4>
        <h5><a href="{{ url_for('company.company_page', pr_id=company_old.id) }}">{{ company_old.name }}</a>
        </h5>
        <p class='text-danger'>{{ _('You must leave your organization first before switching to a new company. You can leave by selecting leave company from your account page:') }}
            <a href="{{ url_for('account.my_account') }}">{{ _('Here') }}</a>
        </p>
    </div>
</div>


{% endif %}

{% if pending_request %}
<div class='row'>
    <div class='col-12'>
        <h5>{{ _('You have submitted link requests to') }}:</h5>
        {% for req in pending_request %}
            <div class='media company-item mb-3'>
                <div class='media-body'>
                    <h5 class='mt-0'>
                        <img style='width:35px; height:35px;'
                            src='{% if req.company.logo %}{{ req.company.logo }}{% else %}/static/img/company_default.png{% endif %}'>                
                        <a href="{{ url_for('company.company_page', pr_id=req.company.id) }}">{{ req.company.name }}</a>
                        <div class="link-box">
                            <div class='more-info-btn btn-info btn-sm' id='more-info-btn-{{ req.company.id }}' name='{{ req.company.id }}' data-toggle="modal" data-target="#company-modal-{{ req.company.id }}"
                            data-company_id='{{ req.company.id }}'>{{ _('More Info') }}</div>
                            <div class='btn-primary btn-sm'>
                                <a href="{{ url_for('company.verify_company') }}">
                                {{ _('Provide Verifying Document') }}
                                </a>
                            </div>

                        </div>

                    </h5> 
                    <div class='mt-2'>Trade60 ID: {{ req.company.id }}</div>
                </div>

            </div>
            <div class="modal fade" id="company-modal-{{ req.company.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ req.company.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ company_comps.render_company_medium_info(req.company) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
{% endif %}

<div class='row'>
    <div class='col-sm-12 col-md-6'>
    <h4>{{ _('Find Your Company') }}</h4>
    <form id='company_search_form' method='GET' name="company_search_form"  class='mb-3'>
        <div class="input-group">       
        <input class='form-control' placeholder="{{ _('Search by company name, keywords, or id') }}" type='text' id='search-input' name='search_term'>
        <div class="input-group-addon" id="search-company-btn"><i class="fa fa-search fa-3"></i></div>
        </div>
    </form>
    </div>
    <div class='col-sm-12 col-md-6'>
        <h5><b><i>{{ _('Cannot Find Your Company?') }}</i></b></h5>
        <a href='{{ url_for("company.create_company") }}'>{{ _('Create a new company profile') }}</a>
    </div> 
</div>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12 col-md-9">
      <div id='company-link-container'>
          {% if list_companies %}
          {% for company in list_companies %}
          <div class='media company-item mb-3'>
              <div class='media-body'>
                  <h5 class='mt-0'>
                      <img style='width:35px; height:35px;'
                          src='{% if company.media %}{{ company.media[0].thumbnail() }}{% else %}/static/img/company_default.png{% endif %}'>                
                      <a href="{{ url_for('company.company_page', pr_id=company.id) }}">{{ company.name }}</a>
                      <div class="link-box">
                            <div class='more-info-btn btn-info btn-sm' id='more-info-btn-{{ company.id }}' name='{{ company.id }}' data-toggle="modal" data-target="#company-modal-{{ company.id }}"
                            data-company_id='{{ company.id }}'>{{ _('More Info') }}</div>
                            
                            <div class='link-company-btn btn-update btn-sm' id='link-company-btn-{{ company.id }}' 
                            data-company_id='{{ company.id }}'>{{ _('Link to my Profile') }}</div>
                        </div>
                  </h5> 
                  <div>
                      {% for keyword in company.keywords[:10] %}
                      <span class='keyword'>{{ keyword }}</span>
                      {% endfor %}
                  </div>
                  <div class='mt-2'>Trade60 ID: {{ company.id }}</div>
                  <div class='mt-1'><i>
                      {% if company.description %} 
                      {{ company.description|striptags|strip_spaces|fmt_title(numchars=200)  }}
                      {% elif company.company_info %}
                      {{ company.company_info|striptags|strip_spaces|fmt_title(numchars=200) }}
                      {% endif %}
                    </i></div>
                  <div class='mt-1 mb-1'><b>{% if company.country %}{{ company.country|fmt_flag }}{% else %}
                        {{ company.location or "" }}
                        {% endif %}</b>
                  </div>
              </div>
          </div>

            <div class="modal fade" id="company-modal-{{ company.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ company.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ company_comps.render_company_medium_info(company) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
                    </div>
                    </div>
                </div>
            </div>
          {% endfor %}

          <div class='pages'>   
              {% set start = [1, current_page-5]|max %}
              {% set end = [start+5, num_pages]|min %}
              {% if start > 1 %}
              <span class='page-item' data-page='{{ current_page-1 }}'><i class='fa fa-chevron-left'></i></span>
              {% endif %}

              {% for i in range(start, end+1) %}
              <span class='page-item {% if current_page == i %}active{% endif %}' id='page-item-{{i}}' data-page='{{ i }}'>{{ i }}</span>
              {% endfor %}

              {% if end < num_pages %}
              <span class='page-item' data-page='{{ current_page+1 }}'><i class='fa fa-chevron-right'></i></span>
              {% endif %}
          </div>
          
          {% endif %}
      </div>
    
   </div>
 </div>
 
 

{% endblock %}

{% block scripts %}
{{ javascript_tag('company') | safe }}
<script>
  SUMO.company.link_company_page();
</script>

{% endblock %}

