{% extends "layouts/L1.html" %}
{% import "components/company.html" as company_comps with context %}

{% block center %}

  <ul class="nav nav-tabs" id='company-tabs'>
  
  <li class="nav-item active">
    <a class="nav-link active" data-toggle="tab" href="#main" role="tab">Summary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">Employee List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">Company Products</a>
  </li>
  
  </ul>


  <div class="tab-content">
      <div id="main" class="tab-pane in active" role="tabpanel">

        <div class='row'>
        <div class='col-sm-12 col-md-5'>
          {{ company_comps.my_company_al_html() }}
        </div>
        </div>
      
      </div>
      
      <div id="tab2" class="tab-pane" role="tabpanel">

      <div class='row'>
        <div class='col-sm-12 col-md-5'>
          {{ company_comps.company_employees_al_html() }}
        </div>
      </div>
      
      </div>
      
      <div id="tab3" class="tab-pane" role="tabpanel">
      <div class='row'>
        <div class='col-sm-12 col-md-5'>
            
            
        </div>
      </div>
      
      </div>

  </div>



</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

{{ javascript_tag('company') | safe }}
<script>
    SUMO.company.start_company_page();
</script>

{% endblock %}
