{% extends "layouts/L1.html" %}
{% import 'components/forms.html' as forms_macro with context %}
{% import "components/company.html" as company_comps with context %}

{% block page_title %} {{ _('Company Users') }} {% endblock %}

{% set colors_scheme = {
    'Standard User' : 'btn-success',
    'Manager' : 'btn-primary',
    'Administrator' : 'btn-info',
    'Master User' : 'btn-dark',
} %}

{% block top_region_background %}
{{ company_comps.top_banner(company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.company_menu(company, current='get_employee_list') }}
{% endblock %}

{% block center %}

<div class="row">
<div class='col-12'>
<h4>{{ _('Current Users') }}</h4>
<div class='scrollable'>
<table class="table">
  <thead>
    <tr>
        <th>#</th>
        <th>{{ _('Last Name') }}</th>
        <th>{{ _('First Name') }}</th>
        <th>{{ _('Email') }}</th>
        
        <th>{{ _('Account Level') }}</th>
        <th>{{ _('Date Joined') }}</th>
        <th>{{ _('Action') }}</th>
    </tr>
  </thead>
  
  <tbody>
    {% for emp in employees  %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ emp.last_name or _('Missing') }}</td>
        <td>{{ emp.first_name or _('Missing') }}</td>
        <td>{{ emp.email or _('Missing') }}</td>
        
        <td>
          <button class="permission-badge-btn badge {{ colors_scheme[emp.permission_txt] }}" data-permission="{{ emp.permission }}" data-targetuser="{{ emp.user_id }}">
            {{ emp.permission_txt }}<i class='ml-1 fa fa-wrench'></i></button>
        </td>
        
        <td>{{ emp.create_time|fmt_datetime('short') }}</td>
        <td>  <a class='message-user-btn' href='{{ url_for("messages.private_thread", user_id=emp.user_id) }}'>
            <i class='fa fa-comment'></i></a>
            | <a href="{{ url_for('account.account_page', pr_id=emp.user_id) }}">{{ _('Link') }}</a>
            | <a href=""><span><i class='fa fa-remove'></i></span></a>
        </td>
        <td></td>
    
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>

</div>
</div>

  <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="roleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="roleModalLabel">{{ _('Role Update') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p>{{ _('Select a new role') }}</p>
              <select id='permission-input' name='permission' value='' class='form-control'>                
                  <option value="" disabled selected>{{ _('Choose your option') }}</option>
                  {% for key, val in permission_levels.items() %}
                  {% if key <= current_user_permission %}
                  <option value='{{ key }}' {% if key == val %}selected{% endif %}>{{ val }}</option>
                  {% endif %}
                  {% endfor %}
              </select>
              <input type='hidden' name='target_user' id='target-user-input' value=''>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-close-btn">{{ _('Close') }}</button>
            <button type="button" class="btn btn-primary" id="modal-save-btn">{{ _('Save changes') }}</button>
          </div>
        </div>
      </div>
    </div>

</br>
<div class='row medium-gutters'>
  <div class='col-sm-12 col-md-6'>
    <h4>{{ _('Add User') }}</h4>
    <form method='POST' onsubmit='event.preventDefault()' id='company_add_employee_form'>
        <div class='form-group'>            
            <div class='input-group'>            
                <input class='form-control' type='text' name='search_term' id='search-user-input' placeholder="{{ _('Type a keyword to search by last name, first name, email or ID') }}">
                <div class='input-group-addon' id='search-user-btn'><i class='fa fa-search fa-3'></i></div>
            </div>
        </div>
    </form>

    <div class='mt-3'>{{ _('Search Results') }}</div>
    <div class='scrollable'> 
    <table class="table mb-5">
        <thead>
            <tr>
                <th>{{ _('ID') }} #</th>
                <th>{{ _('Last Name') }}</th>
                <th>{{ _('First Name') }}</th>
                <th>{{ _('Email') }}</th>
                <th>{{ _('Add') }}</th>
            </tr>
        </thead>
        <tbody id="user_candidate_list">
        </tbody>
    </table>
    </div>
  </div>


  <div class='col-sm-12 col-md-6'>
    <h4>{{ _('Invite an user') }}</h4>
    
    <i>{{ _('Send this invitation link to your colleagues or business partners') }}</i>
    
    
    <input class='form-control mt-2 mb-4' id='invite-user-code' readonly="readonly"
        value='{{ url_for("account.invite", uid=current_user.id, cid=company.id , _external=True) }}'>
    
  </div>
</div>

<br>

<div class='row'>
  <div class='col-12'>
  <h4>{{ _('Pending Requests') }}</h4>
  
  {% if pending_requests %}
  <table class="table">
      <thead>
        <tr>
            <th>#</th>
            <th>{{ _('Last Name') }}</th>
            <th>{{ _('First Name') }}</th>
            <th>{{ _('Email') }}</th>
            <th>{{ _('Request') }}</th>
            
            <th>{{ _('Request Time') }}</th>
            <th>{{ _('Profile Link') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for req in pending_requests  %}
        {% set emp = req[0] %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ emp.last_name or _('Missing') }}</td>
            <td>{{ emp.first_name or _('Missing') }}</td>
            <td>{{ emp.email or _('Missing') }}</td>
          
            <td>
              <h5>
              <button class="request-btn-accept btn btn-sm btn-success" data-targetuser="{{ emp.id }}">{{ _('Accept') }}<i class='ml-1 fa fa-check'></i></button>
              <button class="request-btn-reject btn btn-sm btn-danger" data-targetuser="{{ emp.id }}">{{ _('Reject') }}<i class='ml-1 fa fa-minus-circle'></i></button>
              </h5>
            </td>
            <td>{{ req[1]|fmt_datetime() }}</td>
            <td><a href="{{ url_for('account.account_page', pr_id=emp.id) }}">{{ _('Link') }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <i>{{ _('There is no pending request to review') }}.</i>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

{{ javascript_tag('company') | safe }}
<script>
  SUMO.company.company_employee_page();
</script>

{% endblock %}
