{% extends "layouts/L1.html" %}
{% import 'components/forms.html' as forms_macro with context %}
{% import "components/company.html" as company_comps with context %}
{% import "components/membership.html" as membership_comps with context %}

{% block page_title %} {{ _('My Company') }} {% endblock %}

{% block top_region_background %}
{{ company_comps.top_banner(company) }}
{% endblock %}


{% block top_region %}
{{ company_comps.company_menu(company, current='my_company') }}
{% endblock %}

{% block center %}
<div id='my-company-content'>
    <div class='row medium-gutters'>
        <div class='col-sm-12 col-md-3'>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="registration-tab" data-toggle="pill" href="#registration" 
                    role="tab" aria-controls="registration" aria-selected="true">{{ _('Registration Information') }}</a>

                <a class="nav-link" id="general-tab" data-toggle="pill" href="#general" 
                    role="tab" aria-controls="general" aria-selected="false">{{ _('General Information') }}</a>

                <a class="nav-link" id="manufacturing-tab" data-toggle="pill" href="#manufacturing" 
                    role="tab" aria-controls="manufacturing" aria-selected="false">{{ _('Manufacturing') }}</a>

                <a class="nav-link" id="contact-tab" data-toggle="pill" href="#contact" 
                    role="tab" aria-controls="contact" aria-selected="false">{{ _('Contact') }}</a>

                <a class="nav-link" id="other-details-tab" data-toggle="pill" href="#other-details" 
                    role="tab" aria-controls="other-details" aria-selected="false">{{ _('Other Details') }}</a>                
            </div>
            <br>
        </div>

        <div class='col-sm-12 col-md-9'>
            <form method='POST' onsubmit='event.preventDefault()' id='company_update_form'>

            <div class="tab-content" id="v-pills-tabContent">

                <div class="tab-pane active" id="registration" role="tabpanel" aria-labelledby="registration">
                    <h4>{{ _('Registration Information') }}</h4>
                    <table id='my-company-registration-table' class='details-table editable borderless table-sm'>
                        <tbody>
                            <tr>
                                <th>{{ config['APP_NAME'] }} ID</th>
                                <td>{{ company.id }}</td>
                            </tr>                                
                            <tr> 
                                    <th>{{ config['APP_NAME'] }} {{ _(' Public Page') }}</th>
                                <td><a href="{{ url_for('company.company_page', pr_id=company.id) }}">{{ url_for('company.company_page', pr_id=company.id) }}</a></td>
                            </tr>
                        
                            {{ forms_macro.editable_tr('name', _('Company Name'), company.name) }}                            
                            {{ forms_macro.editable_select_tr_as_tuples('main_category_id', _('Main Category'), company.main_category, items=first_level_categories) }}
                            {{ forms_macro.editable_select_tr_as_tuples('secondary_category_id', _('Secondary Category'), company.secondary_category, items=first_level_categories) }}
                            {{ forms_macro.editable_tr('company_types', _('Company Type'), company.company_types) }}
                            {{ forms_macro.editable_checkbox_tr('is_public', _('Is Company Public'), company.is_public) }}
                            <tr> 
                                <th>{{ _('Is Company Verified') }}</th>
                                <td>{% if company.is_verified  %}
                                    <h4><span class="badge badge-pill badge-success">{{ _('Verified') }}<i class="fa fa-check fa-3"></i></span></h4>
                                    {% else %}
                                    <span class="badge badge-pill badge-warning">{{ _('Unverified') }} </span> <br>
                                    <a href="{{ url_for('company.verify_company') }}">{{ _('Verify Here') }}</a>
                                    {% endif %}
                                </td>
                                    
                            </tr>
                            

                            {{ forms_macro.media_input_tr('logo', _('Logo'), items=[company._logo], multiple=False) }}
                            {{ forms_macro.media_input_tr('banner', _('Banner'), items=[company._banner], multiple=False) }}
                            {{ forms_macro.media_input_tr('background', _('Background'), items=[company._background], multiple=False) }}
                            


                            <tr>
                                <th>{{ _('Membership Type') }}</th>
                                <td>{{ membership_comps.render_membership_tier(company.membership_tier) }} <br>
                                    <a href="{{ url_for('membership.my_company_membership') }}">{{ _('Change Your Membership') }}</a>
                                </td>
                            </tr>

                            <tr>
                                <td colspan=5>
                                    <br />
                                    <button class='btn-update'  >{{ _('Update') }}</button>
                                    <button type='submit' class='btn-submit'  >{{ _('Save') }}</button>
                                    <button class='btn-cancel' >{{ _('Cancel') }}</button>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane  " id="general" role="tabpanel" aria-labelledby="general">
                    <h4>{{ _('General Information') }}</h4>
                    <table id='my-company-general-table' class='details-table editable borderless table-sm'>
                        <tbody>
                            {{ forms_macro.editable_keywords_tr('keywords', _('Keywords'), values=company.keywords) }}
                            {{ forms_macro.editable_tr('year_founded', _('Year Founded'), company.year_founded) }}
                            {{ forms_macro.editable_tr('location', _('Location'), company.location) }}
                            {{ forms_macro.editable_select_tr('country', _('Country'), company.country, items=geo.countries_list) }}                                          
                            {{ forms_macro.editable_area_tr('description', _('Company Description'), company.description|safe, richtext=False) }}
                            {{ forms_macro.editable_area_tr('company_info', _('More Information'), company.company_info|safe) }}
                            <tr>
                                <td colspan=5>
                                    <br />
                                    <button class='btn-update'>{{ _('Update') }}</button>
                                    <button type='submit' class='btn-submit'>{{ _('Save') }}</button>
                                    <button class='btn-cancel'>{{ _('Cancel') }}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            
            
            
                <div class="tab-pane  " id="manufacturing" role="tabpanel" aria-labelledby="manufacturing">
                    <h4>{{ _('Manufacturing') }}</h4>
                    <table id='my-company-manufacturing-table' class='details-table editable borderless table-sm'>
                        <tbody>                       
                            {{ forms_macro.editable_select_tr('company_size', _('Company Size'), company.company_size, items=constants.COMPANY_SIZES) }}
                            {{ forms_macro.editable_tr('capacity', _('Production Capacity'), company.capacity) }}
                            {{ forms_macro.editable_select_tr('total_revenue', _('Total Revenue'), company.total_revenue, items=constants.revenues_list) }}
                            {{ forms_macro.editable_tr('main_markets', _('Main Markets'), company.main_markets) }}
                            {{ forms_macro.editable_tr('shipping_handling', _('Shipping & Handling'), company.shipping_handling) }}
                            {{ forms_macro.editable_tr('port', _('Ports'), company.port) }}
                            {{ forms_macro.editable_tr('payment', _('Payment Types'), company.payment) }}
                            <tr>
                                <td colspan=5>
                                    <br />
                                    <button class='btn-update'  >{{ _('Update') }}</button>
                                    <button type='submit' class='btn-submit'  >{{ _('Save') }}</button>
                                    <button class='btn-cancel' >{{ _('Cancel') }}</button>
                                </td>
                            </tr>                               
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane  " id="other-details" role="tabpanel" aria-labelledby="other-details">
                    <h4>{{ _('Other Details') }}</h4>
                    <table id='my-company-other-details-table' class='details-table editable borderless table-sm'>
                        <tbody>
                            {{ forms_macro.editable_other_details_tr(company.other_details) }}
                            <tr>
                                <td colspan=1>
                                    <br />
                                    <button class='btn-update'>{{ _('Update') }}</button>
                                    <button type='submit' class='btn-submit'>{{ _('Save') }}</button>
                                    <button class='btn-cancel'>{{ _('Cancel') }}</button>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane  " id="contact" role="tabpanel" aria-labelledby="contact">
                    <h4>{{ _('Contact') }}</h4>
                    <table id='my-company-contact-table' class='details-table editable borderless table-sm'>
                        <tbody>
                            {{ forms_macro.editable_tr('phone', _('Phone'), company.phone) }}
                            {{ forms_macro.editable_tr('fax', _('Fax'), company.fax) }}
                            {{ forms_macro.editable_tr('website', _('Website'), company.website) }}
                            {{ forms_macro.editable_tr('email', _('Email'), company.email) }}
                            {{ forms_macro.editable_social_accounts_tr(_('Social Accounts'), company.social_accounts)}}
                            <tr>
                                <td colspan=5>
                                    <br />
                                    <button class='btn-update'  >{{ _('Update') }}</button>
                                    <button type='submit' class='btn-submit'  >{{ _('Save') }}</button>
                                    <button class='btn-cancel' >{{ _('Cancel') }}</button>
                                </td>
                            </tr>                                                    
                        </tbody>
                    </table>
                </div>

            </div>

            </form>
          
        </div>

    </div>
    
</div>

{% endblock %}


{% block scripts %}
{{ super() }}

{{ javascript_tag('company') | safe }}
<script>
    SUMO.company.my_company_page();
    window.enable_anchor_tabs('#v-pills-tab');    
</script>

{% endblock %}
