
{% extends "layouts/L1.html" %}
{% import 'components/forms.html' as forms_macro with context %}
{% import "components/company.html" as company_comps with context %}

{% block page_title %} {{ _('Company Profile Import and Export') }} {% endblock %}

{% block top_region_background %}
{{ company_comps.top_banner(company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.company_menu(company, current='import_export') }}
{% endblock %}

{% block center %}

<div>
    <h4>{{ _('Import Company Profile') }}</h4>
    <p>
        {{ _('Please download the following template, fill in the company information and upload the excel spreadsheet.') }}
        <br>
        <a href='{{ url_for("company.download_import_template") }}' target="_blank">
            {{ _('Download template') }} <i class='fa fa-download'></i>
        </a>
    </p>
    {% if import_docs %}
    <p>
        {{ _('We are currently processing these uploaded documents') }}:
        <ul>
            {% for doc in import_docs %}
            <li><i>{{ doc }}</i></li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
    <form method='POST' action='{{ url_for("company.import_profile") }}' 
        id='company_import_form' enctype="multipart/form-data">
        <input type='hidden' name='user_id' value='{{ current_user.id }}'>
        <input type='hidden' name='company_id' value='{{ company.id }}'>
        <div class='form-group'>
            <input type='file' name='import_doc' class='form-control'>
        </div>        
        <button type='submit' class='btn-import' id='import-btn'>{{ _('Import') }}</button>
    </form>
</div>
<br><br>
<div>
    <h4>{{ _('Export Company Profile') }}</h4>
    <form method='POST' action='{{ url_for("company.export_profile") }}' 
        id='company_export_form' enctype='multipart/form-data'>
        <input type='hidden' name='user_id' value='{{ current_user.id }}'>
        <input type='hidden' name='company_id' value='{{ company.id }}'>
        <div class='form-group'>
            <label for='export_format'>{{ _('Select an export format') }}</label>
            <select name='export_format' class='form-control'>
                <option value='xlsx'>Excel (.xlsx)</option>
            </select>            
        </div>        
        <button type='submit' class='btn-export' id='import-btn'>{{ _('Export') }}</button>
    </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

{{ javascript_tag('company') | safe }}
<script>
  //SUMO.company.my_company_page();
</script>

{% endblock %}


