{% extends "layouts/L1.html" %}

{% block page_title %} {{ _('Update Company Profile') }} {% endblock %}

{% block center %}
<div class='row'>
    <div class='col-sm-12 col-md-5'>
    
         <h3>{{ _('Update Company') }}</h3>
         
            {{ forms_macro.input('name', _('Company Name')) }}
            {{ forms_macro.input('company_short_hand', _('Desired Company ID')) }}            
            {{ forms_macro.input('company_types', _('Company type')) }}            
            {{ forms_macro.select('country', _('Country'), items=geo.countries_as_tuples, default='US') }}          
            {{ forms_macro.input('location', _('Location')) }}           
            {{ forms_macro.input('website', _('Website')) }}            
            {{ forms_macro.input('description', _('Company Description')) }}            
            {{ forms_macro.input('company_info', _('Additional Company Information')) }}   
            {{ forms_macro.input('phone', _('Phone')) }}            
            {{ forms_macro.input('fax', _('Fax')) }}           
            {{ forms_macro.input('email', _('Email')) }}      
            {{ forms_macro.input('year_founded', _('Year Founded')) }}          
            {{ forms_macro.input('shipping_handling', _('Shipping Handled By')) }}
            {{ forms_macro.select('company_size', _('Company Size'), items=constants.COMPANY_SIZES, default='') }}           
            {{ forms_macro.input('port', _('Ports')) }}                    
            {{ forms_macro.input('payment', _('Types of Accepted Payments')) }}  
                  
            {{ forms_macro.submit_btn(text=_('Create')) }}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ javascript_tag('company') | safe }}
<script>
    SUMO.company.handle_update_company_form();
</script>

{% endblock %}
