{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}

{% block page_title %} {{ _('Company Verification') }} {% endblock %}


{% block content %}
<div class='row'>
    <div class='col-sm-12'>
        <h3>{{ _('Company Verification') }}</h3>
        {% if verified %}
        <p>{{ _('Your company has already been verified. Thank you.') }}</p>
        {% else %}
        
        {% if submitted_by_user %}
        <div>
            <h5>{{ _('Thank you for submitting a verification request.') }}</h5>
        </div>
        {% endif %}

        <p>{{ _('In order to improve customer support and business trust, we need a proof that you are representing your company. Your company status will be shown as unverified until you provide verification document. This does not have an impact on your personal account or your company account.')}}</p>
    
        <p>{{ _('Please describe and/ upload documents proving your identity to the company. Please blur or hide any confidential or sensitive information as necessary.')}}</p>

        <div>
                <h5>{{ _('Support Documents') }}</h5>
                <form id='company_verify_form' method='POST'>
                    {{ forms_macro.textarea('verify-note', _('Description and Note'), value='') }}
                    {{ forms_macro.media_input('media', _('Support Files and Media'), multiple=True, datatype='company-verify') }}
                    {{ forms_macro.submit_btn() }}
                </form>
        </div>
        <div><p>{{ _('Your request will be under review when you submit.' )}}</p></div>
        <div>
            {% if company_verify %}
            <h4>{{ _('Previously Submitted Requests') }}</h4>
            
            <table class="table">
                    <thead>
                      <tr>
                          <th>#</th>
                          <th>{{ _('Submitted by') }}</th>
                          <th>{{ _('Date of Submission') }}</th>
                          <th>{{ _('View Submission') }}</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                    {% for item in company_verify %}
                      <tr>
                          <th scope="row">{{ loop.index }}</th>
                          <td>{{ item.user.last_name or _('Missing') }}, {{ item.user.first_name or _('Missing') }}</td>
                          <td>{{ item.create_time|fmt_datetime('short') }} </td>
                          <td><span class='badge badge-pill badge-primary'>View</span></td>
                     </tr>
                    {% endfor %}
                     </tbody>
            </table>
            {% endif %}
        </div>

        {% endif %}
   
</div>
   
{% endblock %}

{% block scripts %}
{{ super() }}
{{ javascript_tag('company') | safe }}
<script>
    SUMO.company.verify_page();
</script>

{% endblock %}
