{% extends "layouts/L1.html" %}

{% import "components/company.html" as company_comps with context %}
{% import 'components/product_category.html' as product_cat_comps with context %}
{% import "components/product.html" as product_comps with context %}

{% block page_title %} {{ _('Company Products') }} {% endblock %}

{% block top_region_background %}
{{ company_comps.top_banner(company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.public_company_menu(company, current='products') }}
{% endblock %}

{% block center %}
<div class='breadcrumbs'>
    <span class='breadcrumb-link'><i><a href='{{ url_for("company.company_page", pr_id=company.id) }}'>{{ _('Home') }}</a></i></span>
    &nbsp;>>&nbsp;
    <span class='breadcrumb-link'><i><a href='{{ url_for("product.company_products", pr_id=company.id) }}'>{{ _('Company Products') }}</a></i></span>    
</div>

<br>

<div class='row'>
    <div class='col-sm-12 col-md-3'>
        <div class='company-products-categories-container'>
            <div class='mb-3' id='cp-search-box'>
                <div class="input-group">
                    <input id='cp-search-input' type="text" class="form-control" 
                        placeholder="{{ _('Find products') }}" value='{% if keyword %}{{ keyword }}{% endif %}'>
                    <span id='cp-search-btn' class="input-group-addon">
                        <i class='fa fa-search'></i>
                    </span>
                </div>        
            </div>

            <h5>{{ _('Product categories') }}</h5>
            <table class='table border-0 table-sm'>
            <tbody>
                <tr><td><a href='{{ url_for("product.company_products", pr_id=company.id) }}'>All</a></td></tr>
            {% for cat in categories %}
                <tr><td>       
                    <a href='{{ url_for("product.company_products", pr_id=company.id, category=cat[0]) }}'>{{ cat[1] }}</a>
                </td></tr>
            {% endfor %}
            </tbody>    
            </table>
        </div>
    </div>

    <div class='col-sm-12 col-md-9'>
        <div class='company-producst-container'>                    

            <div class='pm-select-view' id='pm-select-view'>
                <span id='pm-view-grid' data-view='grid' 
                    class='{% if view == "grid" %}active{% endif %}'>
                    <i class='fa fa-th-large'></i>
                </span>
                <span id='pm-view-list' data-view='list'
                    class='{% if view == "list" %}active{% endif %}'>
                    <i class='fa fa-list-ul mr-2'></i>
                </span>
            </div>

            <div class='row mt-4'>
                <div class='col-12'>
                    <div class='products-list-wrapper'>
                        {% if view == "list" %}
                            {{ product_comps.render_products_list(products) }}
                        {% else %}
                            {{ product_comps.render_products_grid(products) }}
                        {% endif %}
                        
                    </div>
                </div>
            </div>
                
            <div class='pages'>
                {% set start = [1, current_page-5]|max %}
                {% set end = [start+5, num_pages]|min %}
                {% if start > 1 %}
                <span class='page-item' data-page='{{ current_page-1 }}'><i class='fa fa-chevron-left'></i></span>
                {% endif %}

                {% for i in range(start, end+1) %}
                <span class='page-item {% if current_page == i %}active{% endif %}' id='page-item-{{i}}' data-page='{{ i }}'>{{ i }}</span>
                {% endfor %}

                {% if end < num_pages %}
                <span class='page-item' data-page='{{ current_page+1 }}'><i class='fa fa-chevron-right'></i></span>
                {% endif %}
            </div>
                    
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ javascript_tag('company_products_page') | safe }}
<script>
    SUMO.company_products_page.start_page();
</script>
{% endblock %}