{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/product.html' as product_comps with context %}
{% import 'components/product_category.html' as product_cat_comps with context %}
{% import "components/company.html" as company_comps with context %}   

{% block page_title %} {{ _('Create a New Product') }} {% endblock %}

{% block top_region_background %}
{{ company_comps.top_banner(current_user.company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.company_menu(current_user.company, current='manage_products') }}
{% endblock %}


{% block content %}

{{ product_comps.topnav() }}

<div class='create-product-wrapper'>
    <form id='create-product-form' method='POST' enctype="multipart/form-data">
        <input type='hidden' name='company_id' value='{{ current_user.company_id }}'>
        {{ forms_macro.input('name', _('Product name')) }}
        {{ forms_macro.media_input('display_pic', _('Display Picture')) }}
        {{ forms_macro.input('keywords', _('Keywords')) }}        
        {{ product_cat_comps.select_category_cascade('create-product-select-category') }}
        {{ forms_macro.input('capacity', _('Capacity')) }}
        {{ forms_macro.input('min_order_quantity', _('Minimum order quantity')) }}
        {{ forms_macro.select_from_list('unit_type', _('Unit type'), items=constants.MEASURE_UNITS) }}
        {{ forms_macro.input_dual('price_range_min', 'price_range_max', _('Price range (in US Dollars)')) }}
        {{ forms_macro.checkboxes('payment_options', _('Payment options'), options=constants.PAYMENT_TYPES) }}
        {{ forms_macro.input('processing_time', _('Processing time')) }}
        {{ forms_macro.input('port', _('Port')) }}        
        {{ forms_macro.input('packaging', _('Packaging details')) }}        

        {{ forms_macro.textarea('description', _('Product Description')) }}        
        {{ forms_macro.media_input('media', _('Media')) }}

        {{ forms_macro.other_details() }}

        {{ forms_macro.submit_btn(text=_('Submit')) }}
        <a href='javascript:history.go(-1);'><span class='btn-cancel'>{{ _('Cancel') }}</span></a>
    </form>
            
</div>
{% endblock %}

{% block scripts %}
{{ javascript_tag('product') | safe }}
{{ super() }}
<script>
    SUMO.product.handle_create_product_form();
</script>
{% endblock %}


        
