{% extends "layouts/L1.html" %}

{% import 'components/product.html' as product_comps with context %}
{% import "components/company.html" as company_comps with context %}   

{% block page_title %} {{ _('Export Products') }} {% endblock %}

{% block top_region_background %}
{{ company_comps.top_banner(current_user.company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.company_menu(current_user.company, current='manage_products') }}
{% endblock %}


{% block content %}

{{ product_comps.topnav() }}
<div class='form-group'>
        <label for='export_format'>{{ _('Select an export format') }}</label>
        <select name='export_format' class='form-control'>
            <option value='xlsx'>Excel (.xlsx)</option>
        </select>            
    </div>
<div>
    <span class='btn-export'><a href="{{ url_for('api.product_export') }}">{{ _('Export Products') }}</a></span>    
</div>
{% endblock %}

{% block scripts %}
<script type="text/template">
</script>

<script>
</script>
{% endblock %}
