{% extends "layouts/L1.html" %}

{% import 'components/product.html' as product_comps with context %}
{% import "components/company.html" as company_comps with context %}   

{% block page_title %} {{ _('Import Products') }} {% endblock %}

{% block top_region_background %}
{{ company_comps.top_banner(current_user.company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.company_menu(current_user.company, current='manage_products') }}
{% endblock %}


{% block content %}

{{ product_comps.topnav() }}

<p>
    {{ _('Please download the following template, fill in your company products and upload the excel spreadsheet.') }}
    <br>
    <a href='{{ url_for("product.download_import_template") }}' target="_blank">
        {{ _('Download template') }} <i class='fa fa-download'></i>
    </a>
</p>
{% if import_docs %}
<p>
    {{ _('We are currently processing these uploaded documents') }}:
    <ul>
        {% for doc in import_docs %}
        <li><i>{{ doc }}</i></li>
        {% endfor %}
    </ul>
</p>
{% endif %}
<form method='POST' action='{{ url_for("product.import_products") }}' 
    id='products_import_form' enctype="multipart/form-data">
    <input type='hidden' name='user_id' value='{{ current_user.id }}'>
    <input type='hidden' name='company_id' value='{{ current_user.company_id }}'>
    <div class='form-group'>
        <input type='file' name='import_doc' class='form-control'>
    </div>        
    <button type='submit' class='btn-import' id='import-btn'>{{ _('Import') }}</button>
</form>

{% endblock %}

{% block scripts %}
<script type="text/template">
</script>

<script>
</script>
{% endblock %}