{% extends "layouts/L1.html" %}

{% import 'components/product.html' as product_comps with context %}
{% import "components/company.html" as company_comps with context %}    

{% block page_title %} {{ _('Manage Products') }} {% endblock %}

{% block top_region_background %}
{{ company_comps.top_banner(current_user.company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.company_menu(current_user.company, current='manage_products') }}
{% endblock %}

{% block content %}

{{ product_comps.topnav() }}

<div class='row medium-gutters'>
    <div class='col-sm-12 col-md-8 mb-5'>
        <h3 class='mb-2'>{{ _('All products') }}</h3>
        <div class='row'>
            <div class='col-12'>

                <div id='pm-search-box'>
                    <div class='float-left'>
                        <div class="input-group with-shadow">
                            <input id='pm-search-input' type="text" value="{% if keyword %}{{ keyword }}{% endif %}"
                                class="form-control" placeholder="{{ _('Find products') }}">
                            <span id='pm-search-btn' class="input-group-addon">
                                <i class='fa fa-search'></i>
                            </span>
                        </div>  

                    </div>

                    <div class='float-right pm-select-view' id='pm-select-view'>
                        <span id='pm-view-grid' data-view='grid' 
                            class='{% if view == "grid" %}active{% endif %}'>
                            <i class='fa fa-th-large'></i>
                        </span>
                        <span id='pm-view-list' data-view='list'
                            class='{% if view == "list" %}active{% endif %}'>
                            <i class='fa fa-list-ul mr-2'></i>
                        </span>
                    </div>
                </div>

            </div>            
        </div>    
        
        <div class='products-list-wrapper mt-3'>
        {% if view == "list" %}
            {{ product_comps.render_products_list(products, public=False) }}
        {% else %}
            {{ product_comps.render_products_grid(products, public=False) }}
        {% endif %}
        </div>            


        <div class='pages'>
            {% set start = [1, current_page-5]|max %}
            {% set end = [start+5, num_pages]|min %}
            {% if start > 1 %}
            <span class='page-item' data-page='{{ current_page-1 }}'><i class='fa fa-chevron-left'></i></span>
            {% endif %}

            {% for i in range(start, end+1) %}
            <span class='page-item {% if current_page == i %}active{% endif %}' id='page-item-{{i}}' data-page='{{ i }}'>{{ i }}</span>
            {% endfor %}

            {% if end < num_pages %}
            <span class='page-item' data-page='{{ current_page+1 }}'><i class='fa fa-chevron-right'></i></span>
            {% endif %}
        </div>               
        
    </div>


    <div class='col-sm-12 col-md-4'>
        <h5>{{ _('Customer Inquiries') }}</h5>        
        <div id='customer-inquiry-threads'>        
        </div>
    </div>

    <div class="modal" id="update-product-modal" tabindex="-1" role="dialog" aria-labelledby="pdate-product-modal-title" aria-hidden="true">
        <div class="modal-dialog  update-modal-content" role="document">
            <div class="modal-content" id='update-product-modal-content'>
            </div>
        </div>
    </div>    

</div>
{% endblock %}

{% block scripts %}
{{ javascript_tag('manage_products_page') | safe }}
<script>
    SUMO.manage_products_page.start_page();
</script>
{% endblock %}