{% extends "layouts/L1.html" %}

{% import 'components/media.html' as media_comps with context %}            
{% import 'components/company.html' as company_comps with context %}
{% import 'components/product_category.html' as product_cat_comps with context %}

{% block top_region_background %}
{{ company_comps.top_banner(product.company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.public_company_menu(product.company, product=product, current='products') }}
{% endblock %}

{% block center %}
<div class='breadcrumbs'>
    <span class='breadcrumb-link'><i><a href='{{ url_for("company.company_page", pr_id=product.company.id) }}'>{{ _('Home') }}</a></i></span>
    &nbsp;>>&nbsp;
    <span class='breadcrumb-link'><i><a href='{{ url_for("product.company_products", pr_id=product.company.id) }}'>{{ _('Company Products') }}</a></i></span>
    &nbsp;>>&nbsp;
    <span class='breadcrumb-link'><i><a href='{{ url_for("product.product_page", pr_id=product.id) }}'>{{ product.name | fmt_title }}</a></i></span>
</div>

<br>

<div class='row'>
    <div class='col-sm-12 col-md-9'>
        <div class='product-content-wrapper'>
            <h4>{% block page_title %} {{ product.name }} {% endblock %}</h4>
            <br>
            <div class='row medium-gutters'>
                <div class='col-12 col-sm-4'>
                    <div class='product-display-pic'>
                        <img src="{{ product.display_pic or '/static/img/product_default.png' }}" />
                    </div>                    
                    <a class='btn-block btn-contact' href='{{ url_for("messages.product_inquiry_thread_page", product_id=product.id) }}'><i class='fa fa-comments'></i>&nbsp;{{ _('Inquire Now') }}</a>                    
                    <button class='btn-block btn-light' onclick='window.add_to_basket("{{ product.id }}")'><i class='fa fa-cart-plus'></i>&nbsp;{{ _('Add to Basket') }}</button>
                    <br>
                </div>
                <div class='col-12 col-sm-8'>
                    <table class='details-table'>
                        <tbody>
                            <tr>
                                <th>{{ _('Keywords') }}</th>
                                <td>
                                    {% if product.keywords %}        
                                    {% for kw in product.keywords %}
                                    <span class='keyword'>{{ kw }}</span>
                                    {% endfor %}
                                    {% else %}
                                    {{ _('Not Available') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{{ _('Product category') }}</th>
                                <td>{{ product_cat_comps.render_product_cat_breadcrumb(product.product_category.path) }}</td>
                            </tr>
                            <tr>
                                <th>{{ _('Capacity') }}</th>
                                <td>{{ product.capacity or _("Not Available") }}</td>
                            </tr>            
                            <tr>
                                <th>{{ _('Minimum order quantity') }}</th>
                                <td>{{ product.min_order_quantity or _("Not Available") }}</td>
                            </tr>
                            <tr>
                                <th>{{ _('Price range') }}</th>
                                <td>{{ product.price_range or _("Not Available") }}</td>
                            </tr>        
                            
                        </tbody>
                    </table>    
                </div>            
            </div>

            <br>
            <h4>Product Information</h4>
            <div class='scrollable'>
            <table class='details-table'>
                <tbody>
                    <tr>
                        <th>{{ _('Payment options') }}</th>
                        <td>{% if product.payment_options %}{{ product.payment_options | fmt_list }}{% else %}{{ _("Not Available") }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Packaging') }}</th>
                        <td>{{ product.packaging or _("Not Available") }}</td>
                    </tr>
                    <tr>
                        <th>{{ _('Port') }}</th>
                        <td>{{ product.port or _("Not Available") }} </td>
                    </tr>
                    <tr>
                        <th>{{ _('Processing time') }}</th>
                        <td>{{ product.processing_time or _("Not Available") }}</td>
                    </tr>
                    {% if product.other_details %}
                    {% for key,val in product.other_details.items() %}
                    <tr>
                        <th>{{ key }}</th>
                        <td>{{ val }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}                   
                    
                </tbody>
            </table>
            </div>

            <div class='scrollable'>
                {% if product.description %}{{ product.description | safe }}{% endif %}
            </div>

            {{ media_comps.render_media_grid(product.media_list)  }}

            {% if is_updatable %}
            <a href='{{ url_for("product.update_product", pr_id=product.id) }}'>
                <span class='btn-update'>{{ _('Update') }}</span>
            </a>    
            {% endif %}
        </div>
    </div>
    <div class='col-sm-12 col-md-3'>
        {{ company_comps.render_company_short_info(product.company) }}
    </div>
</div>
{% endblock %}

{% block scripts %}

{{ javascript_tag('product') | safe }}

<script>    
    load_media_grid_lightbox('#media-grid');
</script>
{% endblock %}