{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/company.html' as company_comps with context %}
{% import 'components/product_category.html' as product_cat_comps with context %}

{% if view == "clean" %}
{% extends "layouts/base_clean.html" %}

{% else %}
{% extends "layouts/L1.html" %}
{% endif %}

{% block top_region_background %}
{% if view != "clean" %}
{{ company_comps.top_banner(product.company) }}
{% endif %}
{% endblock %}

{% block top_region %}
{% if view != "clean" %}
{{ company_comps.public_company_menu(product.company, product=product, current='products') }}
{% endif %}
{% endblock %}

{% block page_title %} {{ _('Update Product') }} {{ product.name }} {% endblock %}

{% block content %}
<div class='update-product-wrapper'>
    <h3>{{ _('Update Product') }}: {{ product.name }}</h3>

    <form id='update-product-form' method='POST' enctype="multipart/form-data">
        <input type='hidden' name='product_id' value='{{ product.id }}'>
        {{ forms_macro.input('name', _('Product name'), value=product.name) }}
        {{ forms_macro.checkbox('is_featured', _('Set as featured product'), checked=product.is_featured) }}
        {{ forms_macro.media_input('display_pic', _('Display Picture'),  items=[product._display_pic]) }}
        {{ forms_macro.input('keywords', _('Keywords'), value=', '.join(product.keywords)) }} 
        {{ product_cat_comps.select_category_cascade('update-product-select-category',
            value=product.product_category.id,
            selected_category=product.product_category.path_as_str) }}
        {{ forms_macro.input('capacity', _('Capacity'), value=product.capacity) }}
        {{ forms_macro.input('min_order_quantity', _('Minimum order quantity'), value=product.min_order_quantity) }}
        {{ forms_macro.select_from_list('unit_type', _('Unit type'), items=constants.MEASURE_UNITS,
            default=product.unit_type) }}
        {{ forms_macro.input_dual('price_range_min', 'price_range_max', _('Price range'), value_min=product.price_range_min, value_max=product.price_range_max) }}
        {{ forms_macro.checkboxes('payment_options', _('Payment options'), options=constants.PAYMENT_TYPES,
            chosen=product.payment_options) }}
        {{ forms_macro.input('processing_time', _('Processing time'), value=product.processing_time) }}
        {{ forms_macro.input('port', _('Port'), value=product.port) }}        
        {{ forms_macro.input('packaging', _('Packaging details'), value=product.packaging) }}        

        {{ forms_macro.textarea('description', _('Product Description'), value=product.description) }}

        {{ forms_macro.media_input('media', _('Add new media'), items=product.media_list, 
            multiple=True, datatype='product') }}

        {{ forms_macro.other_details(values=product.other_details) }}

        {{ forms_macro.submit_btn(text=_('Submit')) }}
        <a href='javascript:history.go(-1);' class='btn-cancel'>{{ _('Cancel') }} </a>
    </form>
            
</div>        
{% endblock %}

{% block scripts %}
{{ javascript_tag('product') | safe }}
<script>
    SUMO.product.handle_update_product_form();
</script>
{% endblock %}