{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/product_category.html' as product_cat_comps with context %}

{% block page_title %} {{ _('Create a New RFQ') }} {% endblock %}

{% block content %}
<div id='create-rfq-form-wrapper'>
    <h3>{{ _('Create a new Request for Quotation (RFQ)') }}</h3>    
    <form id='create-rfq-form' method='POST' enctype="multipart/form-data">
        {{ forms_macro.input('product', _('Product'), value=product) }}
        {{ product_cat_comps.select_category_cascade('create-rfq-select-category') }}
        {{ forms_macro.input('quantity', _('Quantity'), value=quantity) }}
        {{ forms_macro.textarea('content', _('Content')) }}
        {{ forms_macro.input('keywords', _('Keywords (comma separated)')) }}
        {{ forms_macro.checkbox('is_public', _('Is public?'), checked=True, type='checkbox') }}
        {{ forms_macro.media_input('media', _('Media'), multiple=True) }}
        {{ forms_macro.other_details() }}

        {{ forms_macro.submit_btn(text=_('Submit')) }}
        <a href='javascript:history.go(-1);'><span class='btn-cancel'>{{ _('Cancel') }}</span></a>
    </form>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ javascript_tag('rfq') | safe }}
<script>
    SUMO.rfq.handle_create_rfq_form();
</script>
{% endblock %}