{% extends "layouts/L1.html" %}

{% import "components/account.html" as account_comps with context %}
{% import "components/rfq.html" as rfq_comps with context %}

{% block top_region %}
<h3 class='account-top-info'>{{ _("Manage My RFQs") }}</h3>
{% endblock %}

{% block page_title %} {{ _('Manage RFQs') }} {% endblock %}

{% block top_region_background %}
{{ account_comps.top_banner(current_user) }}
{% endblock %}

{% block content %}

<div class='row medium-gutters'>

    <div class='col-sm-12 order-md-9 col-md-3'>

        <div class='create-rfq-btn mb-3'>
            <a href='{{ url_for("rfq.create_rfq") }}' class='btn-new-rfq'>{{ _('Create an RFQ') }}</a>
        </div>
        
    </div>

    <div class='col-sm-12 col-md-9'>

        <div class='rfqs-list-wrapper'>
            {{ rfq_comps.render_rfqs(rfqs) }}
        </div>
         
    </div>
    
</div>
{% endblock %}
