{% extends "layouts/L1.html" %}
{% import "components/quote.html" as quote_comps with context %}
{% import 'components/media.html' as media_comps with context %}
{% import 'components/account.html' as account_comps with context %}

{% block page_title %} {{ _('RFQ') }} | {{ rfq.product }} {% endblock %}

{% block top_region_background %}
<div class='rfq-top-background'
    style='background-image: url("{{ rfq.product_category.path[0].name|company_banner }}");
    background-size: cover; background-position:center;'>
    <div class='rfq-top-background-overlay'></div>
</div>
{% endblock %}

{% block top_region %}
<h3 class='rfq-top-info'>RFQ | {{ rfq.product }}
    <a class='btn-contact'
        href='{{ url_for("messages.rfq_thread_page", rfq_id=rfq.id) }}'>{{ _('Contact Buyer') }}</a>
</h3>
{% endblock %}

{% block content %}
<div class='row rfq-page-wrapper'>
    <div class='col-sm-12 col-md-9'>
        <div class='rfq-page-category mb-2 category-path'><i>{{ rfq.product_category.path_as_str }}</i></div>
        <div class='rfq-page-keywords'>
            {% for keyword in rfq.keywords %}
            <span class='keyword'>{{ keyword }}</span>
            {% endfor %}
        </div>
        
        <table class='details-table'>
            <tbody>
                <tr>
                    <th>{{ _('Status') }}</th>
                    <td>
                        {% if rfq.is_expired %}
                        <span class='rfq-status rfq-expired'>{{ _('Expired') }}</span>
                        {% else %}
                        <span class='rfq-status rfq-active'>{{ _('Active') }}</span>
                        {% endif %}
                    </td>                    
                </tr>
                <tr>
                    <th>{{ _('Create time') }}</th>
                    <td>{{ rfq.create_time }}</td>
                </tr>
                <tr>
                    <th>{{ _('End time') }}</th>
                    <td>{{ rfq.end_time }}</td>
                </tr>                
                <tr>
                    <th>{{ _('Time left') }}</th>
                    <td><span class='time-left'>{{ rfq.time_left_str }}</span></td>
                </tr>
                <tr>
                    <th>{{ _('Quotes left') }}</th>
                    <td><span class='quotes-left'>{{ rfq.quotes_left }}</span></td>
                </tr>
                <tr>
                    <th>{{ _('Buyer') }}</th>
                    <td><a href='{{ url_for("account.account_page", pr_id=rfq.buyer.id) }}'>{{ rfq.buyer.name }}</a></td>
                </tr>
                <tr>
                    <th>{{ _('Company') }}</th>
                    <td>
                    {% if rfq.buyer.company_id %}
                        <a href='{{ url_for("company.company_page", pr_id=rfq.buyer.company.id) }}'>{{ rfq.buyer.company.name }}
                        </a>
                    {% else %}
                        {{ rfq.buyer.company_name }}
                    {% endif %}
                    </td>
                </tr>                
                <tr>
                    <th>{{ _('Quantity') }}</th>
                    <td>{{ rfq.quantity }}</td>
                </tr>
                {% if rfq.other_details %}
                {% for key,val in rfq.other_details.items() %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ val }}</td>
                </tr>                
                {% endfor %}
                {% endif %}
                <tr>
                    <td colspan=2>
                        {{ media_comps.render_media_grid(rfq.media_list)  }}
                    </td>
                </tr>                             
                <tr>
                    <td colspan=2>{{ rfq.content|safe }}</td>
                </tr>
            </tbody>
        </table>
        
        <div>
        {% if is_owner %}
            <a class='btn-update mb-3' href='{{ url_for("rfq.update_rfq", pr_id=rfq.id) }}'>{{ _('Update') }}</a>            
            <br>
            <h5>{{ _('All quotes') }}</h5>
            {{ quote_comps.quotes_list(quotes) }}
        {% else %}            
            <h5>{{ _('My quotes') }}
                {% if not rfq.is_expired %}
                <a class='btn-new-quote' href='{{ url_for("quote.create_quote", rfq_id=rfq.id) }}'>
                    {{ _('New Quote') }}
                </a>
                {% endif %}
            </h5>
            {{ quote_comps.quotes_list(quotes) }}        
        {% endif %}
        </div>

    </div>
    <div class='col-sm-12 col-md-3'>
        {{ account_comps.render_account_short_info(rfq.buyer, title=_('Buyer profile')) }}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    load_media_grid_lightbox('#media-grid');
</script>
{% endblock %}