{% extends "layouts/L1.html" %}

{% import "components/rfq.html" as rfq_comps with context %}

{% block page_title %} {{ _('Sourcing') }} {% endblock %}

{% block top_region_background %}
<div class='sourcing-top-background'>
</div>
{% endblock %}

{% block top_region %}
<div class='row'>
    <div class='col-12'>
        <div class='sourcing-search-container'>
            <h3 class='sourcing-title'>{{ _('Request for Quotation') }}</h3>
            <div class='sourcing-search-box'>
                <div class='input-group with-shadow'>
                    <span class='input-group-addon' id='categories-btn' style='cursor: pointer;'>
                        <i class='fa fa-list-ul'></i>&nbsp;&nbsp;
                        <i class='fa fa-caret-down'></i>
                    </span>
                    <input class='form-control' type='text' name='search' value='{% if keyword %}{{ keyword }}{% endif %}'
                            id='search-input' placeholder="{{ _('Type a keyword to search RFQs') }}">
                    <span class='input-group-addon' id='search-btn'><i class='fa fa-search fa-3'></i></span>
                </div>
                <div style='display:none;' class='categories-container' id='categories-container'>
                {{ render_categories(categories) }}
                </div>                    
            </div>
            
            <div class='sourcing-my-searches-btn'>
                <span class='btn btn-dark ml-2 '>{{ _('My searches') }}
                    <i class='fa fa-caret-down'></i>
                </span>
            </div>       
        </div>   

    </div>
</div>
{% endblock %}

{% block content %}
<div class='sourcing-wrapper'>

    <div class='sourcing-main row medium-gutters'>

        <div class='col-sm-12 order-md-9 col-md-3'>

            <div class='create-rfq-btn mb-3'>
                <a href='{{ url_for("rfq.create_rfq") }}' class='btn-new-rfq'>{{ _('Create an RFQ') }}</a>
            </div>
            
        </div>

        <div class='col-sm-12 col-md-9'>
            <div id='rfqs-list-wrapper'>
            {{ rfq_comps.render_rfqs(rfqs) }}
            </div>

            <div class='pages'>
                {% set start = [1, current_page-5]|max %}
                {% set end = [start+5, num_pages]|min %}
                {% if start > 1 %}
                <span class='page-item' data-page='{{ current_page-1 }}'><i class='fa fa-chevron-left'></i></span>
                {% endif %}

                {% for i in range(start, end+1) %}
                <span class='page-item {% if current_page == i %}active{% endif %}' id='page-item-{{i}}' data-page='{{ i }}'>{{ i }}</span>
                {% endfor %}

                {% if end < num_pages %}
                <span class='page-item' data-page='{{ current_page+1 }}'><i class='fa fa-chevron-right'></i></span>
                {% endif %}
            </div>
            
            <br>
        </div>  

    </div>

</div>
{% endblock %}

{% macro render_categories(categories) %}
<div class='row'>
    {% for id,name in categories %}
    <div class='category-item col-sm-12 col-md-3 {% if (not id and not category) or category|int == id %}active{% endif %}' 
        data-category='{{ id }}'>{{ name }}</div>
    {% endfor %}
</div>
{% endmacro %}


{% block scripts %}
{{ super() }}
{{ javascript_tag('sourcing_page') | safe }}
<script>
    SUMO.sourcing_page.start_page();
</script>
{% endblock %}
