{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/product_category.html' as product_cat_comps with context %}

{% block page_title %} {{ _('Update RFQ ') }} | {{ rfq.product }} {% endblock %}

{% block content %}
<div id='update-rfq-form-wrapper'>
    <h3>{{ _('RFQ') }} | {{ rfq.product }}</h3>
    <form id='update-rfq-form' method='POST' enctype="multipart/form-data">
        <input type='hidden' name='rfq_id' value='{{ rfq.id }}'>
        {{ forms_macro.input('product', _('Product'), value=rfq.product) }}        
        {{ product_cat_comps.select_category_cascade('update-rfq-select-category', 
            value=rfq.product_category.id, 
            selected_category=rfq.product_category.path_as_str) }}
        {{ forms_macro.input('quantity', _('Quantity'), value=rfq.quantity) }}
        {{ forms_macro.textarea('content', _('Content'), value=rfq.content) }}
        {{ forms_macro.input('keywords', _('Keywords (comma separated)'), value=', '.join(rfq.keywords)) }}
        {{ forms_macro.checkbox('is_public', _('Is public?'), checked=rfq.is_public, type='checkbox') }}
        {{ forms_macro.media_input('media', _('Add media'), items=rfq.media_list,
            multiple=True, datatype='rfq')}}
        {{ forms_macro.other_details(values=rfq.other_details) }}

        {{ forms_macro.submit_btn(text=_('Submit')) }}
        
        {# forms_macro.action_btn(
            url_for('api.rfq_delete', rfq_id=rfq.id),
            url_for('rfq.manage_rfqs'),
            confirm_text=_('Are you sure to delete this RFQ?'),
            text=_('Delete'),
            name='delete-rfq',
            cls='btn-danger') #}            
        <a href='javascript:history.go(-1);' class='btn-cancel'>{{ _('Cancel') }}</a>        
    </form>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ javascript_tag('rfq') | safe }}
<script>
    SUMO.rfq.handle_update_rfq_form();
</script>
{% endblock %}