.profile-pic {
    @extend .rounded-circle;
    height: 35px;
    width: 35px;
}

.account-top-background { 
    height: 100%;
    background: transparent;

    .account-top-background-overlay {
        background-color: rgba(0,0,0,0.35);
        height: 100%;
    }
}

.account-top-info {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
    color: #fff;
    a {
        color: #fff;
    }
}