.company-top-background { 
    background-color: #90949c;
    height: 100%;

    .company-top-background-overlay {
        background-color: rgba(0,0,0,0.18);
        height: 100%;
    }
}

.my-company-nav {
    margin-top: 100px;
    padding-top: 10px;
    
    .my-company-nav-title {
        font-size: 22px;
        font-weight: 600;
        background-color: #fff;        
        margin-bottom: 0px;
        position: relative;
        padding-left: 75px;
        padding-top: 30px;
        padding-bottom: 30px;        
        padding-right: 150px;
        border-radius: $border_radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .company-logo {
            width: 65px;
            height: 65px;
            position: absolute;
            top: 20px;
            left: 5px;
        }

        .membership-badge {
            position: absolute;
            max-width: 140px;
            top: 20px;
            right: 5px;            
        }
    }
    
    h4 {
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 0px;
        padding-right: 15px;
        margin-bottom: 0px;
    }
    
    ul {
        overflow-x: auto;
        overflow-y: hidden;
        display: -webkit-box;
        display: -moz-box; 
        background-color: #fff;
        flex-wrap: nowrap;
    }

}

.my-company-content {
    //background-color: rgba(255, 255, 255, 0);
    //z-index: 0;    
}

.company-item {        
    display: flex;
    padding: 10px;
    
    .company-item-content {        
        width: 100%;
    }

    .link-box {
        display: inline-block;
        float: right;
        margin-top: 3px;

        span {
            width: 100%;
            margin-bottom: 5px;
        }
    }
}

.companies-list-horizontal {
    .company-item {
        position: relative;
        width: 250px;
        margin-top: 2px;
        margin-right: 15px;
        margin-left: 2px;
        border: none;
        box-shadow: $item_box_shadow;
        margin-bottom: 10px;
    }
    .profile-pic {
        width: 40px;
        height: 40px;
    }

    .product-img {
        width: 70px;
        height: 70px;
        margin-right: 5px;
    }

    .company-location {
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    .products-list {
        padding-top: 20px;
        padding-bottom: 15px;
    }

    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}

#carousel-company {
    width: 100%;
}

#company-images-wrapper {
    width: 100%;
}

.carousel-inner {
    width: 100%;
}

.company-logo {
    width: 65px;
    height: 65px;
}

.my-company-badges {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.breadcrumbs {
    font-size: 12px;

    .breadcrumb-link:last-child {
        font-weight: 600;
    }
}


.company-link {
    span:before, a:before {        
        font-family: FontAwesome;
        content: "\f275";        
    }
    span, a, a:hover, a:active, a:focus {
        color: #666;        
        font-size: 12px;
        font-weight: 500;
    }
}