.table.editable {

    .editable-field-input,
    .editable-field-input-row,
    .btn-submit,
    .btn-cancel {
        display: none;
    }

    &.editing {
        .editable-field-input-row {
            display: table-row;
        }

        .editable-field-input {
            display: block;
        }

        .btn-submit,
        .btn-cancel {
            display: inline-block;
        }

        .btn-update,
        .editable-field-value {
            display: none;
        }
    }
    
}

.trumbowyg-box, .trumbowyg-editor {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.trumbowyg-modal-box label {
    margin: 15px 0px !important;
}

.trumbowyg-editor, .trumbowyg-textarea, .trumbowyg-box, .trumbowyg-editor {
    min-height: 150px !important;
}