@import 'variables';

html, body {
    height: 100%;       
    //font-family: 'Roboto', Arial, sans-serif;
    //font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1.33;
    //background-color: #f8faff!important;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

body {
    display: "";
    display: inline;
    display: initial;
}
body.modal-open {
    padding-right: 0 !important;
}

.top-region-wrapper {    
    background-color: #f6f6f8;
    position: relative;
}

.top-region-background-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.top-region-content {
    max-width: 986px;
    margin: 0 auto;
    //padding-left: $site_padding_left;
    //padding-right: $site_padding_right;
    height: 100%;
    position: relative;

    >div:first-child {
        padding-top: 60px;
    } 
    > h3:first-child {
        padding-top: 60px;
        padding-bottom: 30px;
    }

}

.global-wrapper {
    //padding-top: 60px;
    width: 100%;
    min-height: 100%;
    min-height: calc(100% - #{$footer-offset});
    padding-top: 60px;
  }
  
.content-wrapper {    
    background-color: #fff;
    max-width: 986px;
    margin: 0 auto;
    padding-left: $site_padding_left;
    padding-right: $site_padding_right;
    padding-top: 30px;
    padding-bottom: 45px;
    margin-bottom: -$footer-margin;
}

.bottom-region-wrapper {            
    margin-top: $footer-margin;
    margin-bottom: -$footer-margin;    
    position: relative;
}

.bottom-region-background-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bottom-region-content {
    max-width: 986px;
    margin: 0 auto;
    padding-left: $site_padding_left;
    padding-right: $site_padding_right;
    height: 100%;

    > div, >h3 {
        padding-top: 24px;
        //padding-bottom: 10px;
    }

}

.clean-content-wrapper {    
    //margin-top: -60px !important;
    padding: 20px;
}

label {
    width: 100%;
}

table, tr, td, th {
    font-size: 14px;
}

.borderless, .borderless td, .borderless th {
    border: none;
}

.show {
    display: block;
}

.hide {
    display: none;    
}

.keyword {
    border: 1px solid #00b3df;
    border-radius: 50px;
    font-size: 12px;
    margin-top: 2px;
    margin-right: 3px;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 8px;
    background-color: #00b3df;
    color: white;

    &.sm {
        font-size: 11px;
        padding: 3px 6px;
        margin-right: 2px;
    }
}


.pages {
    @extend .mt-4;
}
.page-item {
    padding: 2px 5px;
    border: 1px solid #ddd;
    border-radius: $border-radius;
    background: #eee;
    cursor: pointer; 
    @extend .ml-2;

    &:hover, &.active {
        background: #6e6e6e;
        color: white;
    }
}

.loading-img {
    height: 30px;
    width: 30px;
}

.card {
    .card-title {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 3px;
    }

    .card-body {
        padding: 8px 8px;
    }

    .card-header {
        padding: 8px;
    }
}

.footer-wrapper {
    margin-top: $footer-margin;
}

.footer {
    h5 {
        font-size: 18px !important;
    }

    a {
        font-size: 14px !important;
    }

    ul {
        margin-bottom: 20px;
    }
    
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: $footer-height;
    background-color: #242F44;
    color: #7E8F9F;
}

.footer-main {
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: $site_padding_left;
    padding-right: $site_padding_right;
    max-width: 986px;
    margin: auto;
}

.footer-nav-wrapper {
    display: none; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    background: #f6f6f6;    
}

.footer-nav-content {    
    width: 100%;
    box-shadow: 0px -8px 8px -10px rgba(0,0,0,.3);    
    padding-top: 3px;    
    table {
        width: 100%;
    }

    td {
        width: 25%;
        text-align: center;
        vertical-align: middle;
        padding-top: 2px;        

        &:not(:last-child) {
            border-right: 1px solid #ddd;
        }
    }

    .footer-nav-btn {
        vertical-align: middle;    
        height: 100%;
        font-weight: 600;
        color: #666;
        cursor: pointer;

        &:hover, &.active, &:active {
            color: $primary;
            text-decoration: none;
        }

        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .footer-wrapper {
        //display: none;
    }

    .footer-nav-wrapper {
        display: block;
    }

    .content-wrapper {
        margin-bottom: 45px;
    }
}

.widget_nav_menu {
    ul {
        list-style: outside none none;
        padding-left: 0;
    }    

    a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
}

.quote-item, .thread-item, .company-item,
.product-list-item, .rfq-item, .contacts-list-item {
    border: none !important;
    box-shadow: $item_box_shadow;
    background-color: #fff;
    margin-bottom: 15px !important;

    .card {
        box-shadow: none;
        border: none;
    }

}

.products-manager-topnav-title, .my-company-nav-title,
.messages-nav-title, .sourcing-title,
.marketplace-search-title {
    margin-right: 15px;        
    line-height: 2rem;
    width: 100%;
}

.marketplace-search-title {
    float: left;
}

@media screen and (max-width: 768px) {    

    .sourcing-search-box {
        padding-top: 10px;
    }

}

.colored_shadowed {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.search-btn-link:hover {
    cursor: pointer;

}

.short-info {
    margin-bottom: 20px;
    .card {
        border: none;
        box-shadow: 0 1px 3px rgba(32,33,36,.3);
    
        .card-title {
            font-size: 15px;
        }
        .profile-pic {
            width: 40px;
            height: 40px;
        }
    
        .card-header {
            font-weight: 450;
            text-transform: uppercase;
            font-size: 18px;
            border-bottom: none;
            background-color: #fff;
            padding-top: 8px;
            padding-bottom: 2px;
        }
    
        .header-text {
            padding-bottom: 2px;
            border-bottom: 1px dotted $text_color;
        }
    }
        
}

@media screen and (max-width: 768px)  {
    .short-info:first-child {
        margin-top: 20px;
    }
}

.img-logo {
    height: 20px!important;
}


.notification-item {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px 10px;
    background-color: #fff;

    .notification-item-title {
        font-size: 14px;
        font-weight: 500;
    }
    .notification-header {
        display: inline-block;
        vertical-align:top;
    }
    .notification-body {
        display: inline-block;
        vertical-align:top;
    }
}

.clickable {
    cursor: pointer;
}

[ctooltip]{
    display:inline-block;
}
[ctooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
    z-index: 99;
    opacity:0;
}

[ctooltip-position='left']::before{
    left:0%;
    top:50%;
    margin-left:-12px;
    transform:translatey(-50%) rotate(-90deg) 
}
[ctooltip-position='top']::before{
    left:50%;
}
[ctooltip-position='buttom']::before{
    top:100%;
    margin-top:8px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[ctooltip-position='right']::before{
    left:100%;
    top:50%;
    margin-left:1px;
    transform:translatey(-50%) rotate(90deg)
}

[ctooltip]::after {
    content: attr(ctooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index:99;
    opacity:0;
}

[ctooltip-position='left']::after{
    left:0%;
    top:50%;
    margin-left:-8px;
    transform: translateX(-100%)   translateY(-50%);
}
[ctooltip-position='top']::after{
    left:50%;
}
[ctooltip-position='buttom']::after{
    top:100%;
    margin-top:8px;
    transform: translateX(-50%) translateY(0%);
}
[ctooltip-position='right']::after{
    left:100%;
    top:50%;
    margin-left:8px;
    transform: translateX(0%)   translateY(-50%);
}

[ctooltip]:hover::after,[ctooltip]:hover::before {
    opacity:1
}