
.keyword-darkblue {
    border: 1px solid #0004df;
    border-radius: 50px;
    font-size: 12px;
    margin-top: 2px;
    margin-right: 3px;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 8px;
    background-color: #0004df;
    color: white;

    &.sm {
        font-size: 11px;
        padding: 3px 6px;
        margin-right: 2px;
    }
}


.keyword-orange {
    border: 1px solid #df7700;
    border-radius: 50px;
    font-size: 12px;
    margin-top: 2px;
    margin-right: 3px;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 8px;
    background-color: #df7700;
    color: white;

    &.sm {
        font-size: 11px;
        padding: 3px 6px;
        margin-right: 2px;
    }
}

.fieldstat {
    font-size: 23px;
    &.fa-check-circle {
        color: $green;
    }

    &.fa-times-circle {
        color: $red;
    }

    &.fa-question-circle {
        color: $orange;
    }
}

.rfq-wrapper {
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    border: none;
    padding: 30px 30px 45px 30px;
    margin-top: 20px;
    margin-bottom: 50px;    
}