.launch-new-sourcing {
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
    padding-top: 15px;
    font-size: 18px;
    padding-bottom: 15px;
    background: rgba(255,255,255,0.9);
}

.goto-my-home {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: rgba(254, 211, 79, 0.85);
    z-index: 999;

    a {
        color: #352b00;        
    }
}

.home-top-background {    
    height: 100%;
    width: 100%;
    background-color: #f6f6f8;
    background-image: url('/static/img/cargo_port_2.jpg');
    background-position: 50%;
    background-size: cover;
    .home-top-background-overlay {
        background-color: rgba(0,0,0,0.25);
        height: 100%;
    }    
}

.home-top-section {
    height: 420px;
    position: relative;
    padding-top: 100px;
}

.home-bottom-background {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 192, 5);
    background: linear-gradient(to bottom right, rgba(255, 192, 5,0.5), rgba(255, 192, 5, 1));   
}

.home-welcome {
    text-align: center;
    padding-top: 85px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.search-suggestions {
    line-height: 35px;
    margin-top: 10px;

    .search-suggestions-title {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
    
    .search-suggestion {
        background-color: #00b3df;
        border: 1px solid;
        border-color:#00b3df;
        border-radius: $border-radius;
        cursor: pointer;
        padding: 5px;
        color: #fff;
    }
}

.home-section {
    margin-top: 30px;
    margin-bottom: 30px;

    &:first-child {
        margin-top: 0;        
    }    

    h4 {        
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        display: inline-block;
        //clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
        padding: 5px 0px;
        //border-bottom: 2px solid $text_color;        
    }

    .sub-section {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.home-supplier-img {
    width: 100%;
    height: auto;
}

.home-submit-rfq {
    table {
        margin-top: 10px;
        max-height: 170px;
        overflow: hidden;
        overflow-y: scroll;
        overflow-x: auto;
        //display: block;

        th {
            border-bottom: none;
        }

        .time-left, .quotes-left {
            font-size: 13px;
        }
    }
    
}

.submit-rfq-form-wrapper {
    background-color: #ffd350;
    height: 258px;
    padding-left: 5px;
    padding-right: 5px;

    h4 {
        border-bottom: none;        
        color: $text_color;
        font-weight: 600;
    }

    .submit-rfq-form {
        background-color: #fff;
        height: 204px;        
        padding: 15px;
    }
}



.home-search-wrapper {
}

.home-hot-products {
    .featured-item {
        position: absolute;
        top: -4px;
        right: -9px;
        padding: 2px 5px;
        color: #765e00;
        background-color: #ffe476;
        font-size: 13px;

        &:after {
            content: "";
            position: absolute;
            display: block;
            border-style: solid;
            border-color: #ecce56 transparent transparent transparent;
            bottom: -9px;
            right: 0;
            border-width: 9px 9px 0px 0px;
        }
    }
    .hot-category {                
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        width: 100%;
        display: block;        
        padding: 10px;
        min-height: 100px;
        margin-bottom: 10px;
        font-size: 13px;
        border: 1px solid;
        border-color: $primary;
        border-radius: $border-radius;
        color: #fff;
        background-color: $primary;
        &:hover {            
            box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
            background-color: darken($primary, 5%);
        }
    }
}

.home-subscribe-wrapper {
    //position: relative;
    display: flex;
}

.home-subscribe {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    background-color: rgba(255, 255, 255, 0.85);
    position: relative;
    margin-top: 40px;
    margin-bottom: 85px;
    border-radius: $border_radius;

    @media screen and (max-width: 768px)  {
        width: 100%;
        margin-bottom: 120px;
    }

    .home-subscribe-title {
        font-size: 25px;
        padding-bottom: 20px;
        padding-top: 10px;      
    }

    .home-subscribe-form {
        width: 80%;
        margin: 0 auto;
    }
}

.auhome-content-wrapper {
    .home-section {
        margin-bottom: 40px;

        h4 {
            margin-bottom: 6px;
            font-size: 18px;
            text-transform: capitalize;
            font-weight: 550;
        }
    }

    // .threads-list-wrapper, .quotes-list-wrapper, .rfqs-list-wrapper {
    //     max-height: 420px;
    //     overflow-x: hidden;
    //     overflow-y: auto;
    //     padding-top: 1px;
    //     padding-left: 1px;
    //     padding-right: 1px;
    // }
    
}

.auhome-welcome-text {
    font-size: 23px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-weight: 500;    
}

.auhome-top-info {
    margin-top: 122px;
    padding: 5px;
    background-color: #fff;
    border-radius: $border_radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .company-pic {
        height: 65px;
        width: 65px;
        margin-right: 10px;
    }
    .company-name {                
        margin-right: 10px;        
        line-height: 2rem;
        font-size: 22px;
        font-weight: 600;
    }
}

.auhome-user-profile {
    .profile-pic {
        width: 40px;
        height: 40px;
        @extend .rounded-circle;
    }
}

.auhome-contacts {
    .profile-pic {
        height: 35px;
        width: 35px;
        @extend .rounded-circle;
    }

    .contacts-list {
        max-height: 350px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .contacts-list table {
        margin-top: 15px;
        width: 100%;

        td, th {
            border-top: none;
            border-bottom: 1px solid #e9ecef;
        }
        td {
            vertical-align: middle;
        }

        h6 {            
            margin-bottom: 5px;
        }        
    }
}

.auhome-latest-messages, .auhome-user-profile {
    .unread-msg-count-label, .unread-notification-count-label {
        position: relative;
    }
}

.landing-welcome {
    text-align: right;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.landing-welcome-content {
    text-align: right;
    color: #1C3786;
    padding: 10px;
    background: #fff;
    width: fit-content;

    border-color: #fff;
    border-radius: $border-radius;

    p {
        font-size: 16px;
        font-weight: 300;
    }
}

.welcome-page-top-background {
    background-color: #3369e7;    
    background: linear-gradient(80deg, #00aeff, #3369e7);
    height:100%;

    &.green {        
        background-color: #18adb5;            
        background:linear-gradient(284deg, #18adb5, #20cc88);
    }

    &.red {
        background-color: rgba(237,66,100,1);
        background: linear-gradient(45deg, rgba(237,66,100,1) 0%, rgba(241,173,153,1) 100%)
    }

    &.cyan {        
        background-color: #187bb5;            
        background:linear-gradient(284deg, #187bb5, #2096cc);
    }
}

.welcome-page-title {
    padding-top: 80px !important; 
    padding-bottom: 120px !important; 
    height: 50px; 
    color: #fff;
}

.landing-suggestions {
    line-height: 40px;

    .landing-suggestion {      
        border: 1px solid;
        margin: 10px;
        border-color: #000;
        border-radius: $border-radius;
        cursor: pointer;
        padding: 10px;
        color: #fff;
    }

    .bg-red {
        background-color: #ffae00;    
    }

    .bg-blue {
        background-color: #00a1ff;    
    }
}

.large-btn {
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    font-weight: 300;
}


.larger-btn {
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    font-weight: 500;
}

.welcome-benefit-col {
    padding: 20px;
}


.benefit-grid-card {
    height: 100%;
    border: none !important;

    box-shadow: $item_box_shadow;    

    &.rank-buy {
        color: #fff;
        background-color: #007bff;
    }
    
    &.rank-sell {
        color: #fff;
        background-color: #28a745;
    }

    .card {
        box-shadow: none;
        border: none;
    }

    .card-header {
        padding-left: 15px;
        padding-right: 15px;
        height: 100px;
    }

    .card-body {
        color: $text_color;
        background-color: #fff !important;
        padding: 10px;
        p {
            text-align: center;
        }
    }

    .benefit-name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .benefit-note {
        font-size: 13px;
        height: 55px;
    }

    .benefit-highlight {
        font-weight: 600;
        color: $red;
        font-size: 18px;
    }
}
