.add-media-btn {
    @extend .btn;    
    @extend .btn-sm;
    @extend .btn-success;
    width: 20px !important;
    height: 20px !important;
    line-height: 11px;
    border-radius: 3px;
    padding-left: 5px;
    cursor: pointer;
}

.add-media-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.add-media-preview  {    
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: flex;

    .media-preview {
        height: 120px;
        width: 120px;
        margin-bottom: 10px;
        &:not(:last-child) {
            margin-right: 10px;
        }        
    }
}

.media-grid-company {
    .media-item {
    /*    @extend .col-6;
        @extend .col-sm-3;
        @extend .col-md-3;
    */
        position: relative;
        margin-top: 10px;

        img {
            max-height: 250px;
            max-width: 500px;
        }

    }
}

.media-grid {
    @extend .row;    

    .media-item {
        @extend .col-6;
        @extend .col-sm-3;
        @extend .col-md-3;

        position: relative;
        margin-top: 10px;

        img {
            height: 150px;
            width: 100%;
        }

    }

}

.delete-media-btn {
    position: absolute;
    top: -10px;
    right: -2px;
    background-color: red;
    width: 24px;
    height: 24px;
    text-align: center;
    color: white;
    vertical-align: middle;
    line-height: 24px;
    cursor: pointer;
    @extend .rounded-circle;
}

.product-media-list-container {
    .product-list-item {
        width: 100%;
        margin-bottom: 18px;
        padding: 0;
    }

}

.media-grid-hz {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: flex;        
    
    .media-item-hz {
        position: relative;
        margin-top: 10px;

        img {
            width: 150px;
            height: auto;
        }            
        margin-right: 20px;
    }
}

.input-media-thumbnail {
    height: 120px;
    width: auto;
}