.membership-grid-card {
    height: 100%;
    border: none !important;

    box-shadow: $item_box_shadow;    

    &.tier-basic {
        color: $text_color;
        background-color: #fdfdfd;
    }
    
    &.tier-1 {
        color: #fff;
        background-color: #CD7F32;
    }
    
    &.tier-2 {
        color: #fff;
        background-color: #C0C0C0;
    }
    
    &.tier-3 {
        color: #fff;
        background-color: #FFD700;
    }

    .card {
        box-shadow: none;
        border: none;
    }

    .card-header {
        padding-left: 15px;
        padding-right: 15px;
        height: 250px;
    }

    .card-body {
        color: $text_color;
        background-color: #fff !important;
        padding: 10px;
        p {
            text-align: center;
        }
    }

    .tier-name {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .tier-price {
        margin-bottom: 10px;
        .tier-price-unit {
            font-size: 20px;
            padding-right: 1px;
        }
        .tier-price-value {
            font-size: 50px;
            font-weight: 600;
        }        
    }

    .tier-price-note {
        font-size: 13px;
        height: 55px;
    }

    .tier-offer {
        font-weight: 600;
        color: $green;
        font-size: 15px;
    }
}

.tier-icon {

    &:after {    
        font-family: FontAwesome;
        content: "\f091";
    }

    &.tier-basic:after {
        content: "\f132";
    }

    &.tier-basic {
        color: $text_color;
    }
    
    &.tier-1 {        
        color: #CD7F32;
    }
    
    &.tier-2 {        
        color: #C0C0C0;
    }
    
    &.tier-3 {        
        color: #FFD700;
    }

}

.membership-badge {
    font-size: 14px!important;
    border: 1px solid #555;
    padding: 2px 8px;
    border-radius: 3px;
    color: #555;
    background-color: #fdfdfd;    
    
    &.tier-1 {
        border-color: #CD7F32;
    }

    &.tier-2 {
        border-color: #C0C0C0;        
    }

    &.tier-3 {
        border-color: #FFD700;
    }
}