.site-navbar {

    padding-left: $site_padding_left !important;
    padding-right: $site_padding_right !important;
    padding-top: 9px;
    padding-bottom: 9px;    

    .profile-pic {
        height: 32px;
        width: 32px;
    }

    .nav-link {        
        padding: 5px 8px!important;
        font-size: 15px!important;
        position: relative;
        display: inline-block;
        line-height: 30px;
        font-weight: 500;
    }

    .nav-link:hover {
        color: $topbar_hover;        
    }

    background-color: $topbar !important;
    box-shadow: $topbar_shadow;

    .navbar-brand {
        color: $topbar_brand;
        &.mobile {
            margin-left: 5px;
        }
    }
    
    .nav-link, .navbar-light, .navbar-toggler {
        color: #545454;
    }

    .navbar-brand {
        font-size: 22px !important;
        font-style: italic;
        font-weight: 600;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .site-name-img {
        height: 42px !important;
    }

    .mobile-btn {
        height: 40px;
        width: 40px;
        color: rgba(17, 17, 17, 0.4);
        display: inline-block;
        vertical-align: middle;
        font-size: 19px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        border-radius: $border_radius;

        &:hover {
            background-color: #eee;
        }
    }

    .nav-item.alwayson {
        display: inline-block;
    }

    .mobile {
        display: none;
    }

    .dropdown-menu {
        margin: 0;
        padding: 0;
        border: 0;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);

        &.with-cols {
            width: 350px;
            padding: 6px 15px;
        }

        .dropdown-item {
            padding: 10px 20px;

            &:hover, &:focus, &:active {
                background-color: $primary;
                color: #fff;
            }

            &.verify {
                color: $success;
                &:hover, &:focus, &:active {
                    color: #fff;
                    background-color: $success !important;
                }
            }

            &.logout {
                color: $danger;
                &:hover, &:focus, &:active {
                    color: #fff;
                    background-color: $danger !important;
                }
            }
        }
    }

    .dropdown:hover>.dropdown-menu {
        display: block;
    }

    @media screen and (max-width: 1000px) {
        .nav-item, .navbar-brand {
            display: none;
        }
        .mobile {
            display: inline-block;
        }
    }
}

.sidemenu {
    display: none;
    position: relative;

    .site-name-img {
        height: 42px !important;
    }

    .sidemenu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 9998;
    }

    .sidemenu-section {
        border-top: 1px solid #ddd;
        padding-top: 15px;
        padding-bottom: 10px;
        &:first-child {
            padding-top: 5px;
        }
        &:last-child {
            padding-bottom: 30px;
        }

        h5 {
            text-transform: uppercase;
            font-size: 15px;
        }
    }

    .sidemenu-container {
        padding: 5px;  
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        height: 100vh;        
        z-index: 9999;
        background-color: #f6f6f8;
        color: $text_color;        
        overflow-x: hidden;
        overflow-y: auto;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);        

        .sidemenu-x {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 22px;
            cursor: pointer;
        }
    }

    .sidemenu-link {
        color: $text_color;
        width: 100%;
        display: block;
        padding: 15px 10px;

        &:hover, &:active, &:focus {
            color: $text_color;
            text-decoration: none;
            background-color: #eee;
        }

        &.logout {
            background-color: $danger;
            color: #fff;
            .fa {
                color: #fff !important;
            }
            &:hover, &:active, &:focus {
                background-color: darken($danger, 10%);                
            }
        }
        
        .item-header {
            width: 50px;
            padding-left: 5px;
            display: inline-block;
            .fa {
                font-size: 22px;
                color: #656565;
            }
        }

        .item-body {
            display: inline-block;
        }        
    }

    .sidemenu-footer-links a {
        color: #656565;
        font-weight: 600;
        margin-right: 8px;
        &:hover, &:active, &:focus {
            color: #656565;
        }
    }

    &.responsive {
        display: block;

        .sidemenu-container {
            left: 0;
        }
    }
}

.my-account-sidebar {
    img {
        background: transparent;
        width: 40px;
        height: 40px;
        @extend .rounded-circle;
    }

    .my-account-sidebar-top {
        margin-bottom: 10px;
    }

    margin-bottom: 20px;

    .toggle-my-account-sidebar {
        display: none;

        .toggle-my-account-text {
            border-bottom: 1px dotted $text_color;
            font-size: 12px;
        }
    }

    .list-group-item {
        padding: 10px 15px !important;
    }
}

@media screen and (max-width: 768px) {
    .my-account-sidebar {
        .my-account-sidebar-top {
            cursor: pointer;
        }

        .toggle-my-account-sidebar {
            display: inline-block !important;
            font-size: 15px;
        }

        .my-account-sidebar-items {
            display: none;
        }     
        
        &.responsive {
            .my-account-sidebar-items {
                display: block !important;                
            }
        }
    }

    .manage-products-tabs, .my-company-nav > ul {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        display: -webkit-box;
        display: -moz-box;        
    }    
}

.manage-product-media-nav {
    float: right;
    margin-bottom: 5px;
}

.manage-product-media-search-box {
    width: auto;
    float: left;
    width: calc(100% - 230px);
}

.search-products-box {
    width: auto;
}

.lang-selection {
    width: fit-content;
    //float: right;
}