.filter-box {
    width: 220px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.thread-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;    
    overflow-x: auto;
    overflow-y: hidden;
    clear: both;
    display: -webkit-box;
    display: -moz-box;    
    position: relative;
    white-space: nowrap;
    width: 100%;

}

a.thread-back {
    color: $primary !important;
    &:hover, &:active, &:focus { 
        color: $primary !important;
        text-decoration: none;
    }
    margin-right: 10px;
}

.tab-view {
    display: none;

    &.active {
        display: block;
    }
}

.msg-tab-view:not(:first-child) {
    margin-top: -7px;
}

.tab-view.thread-messages-tab-view {
    display: block;
    visibility: hidden;

    &.active {
        visibility: visible;
        height: 100%;
    }
}

.messages-nav {

    @media screen and (max-width: 768px) {
        ul {
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            display: -webkit-box;
            display: -moz-box;        
        }
    }    
}

.search-opts-select {
    border: none;
    background-color: transparent;
    padding: 3px 7px;

    &:focus {
        outline: 0 !important;
    }
}

.thread-item {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px 10px;
    background-color: #fff;
    position: relative;

    &.active {
        background-color: #eee;
    }

    .thread-item-title {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 1px;
        margin-right: 30px;
    }
}

.thread-users-list {
    .list-group-item {
        padding: 2px 5px;
    }
}

.thread-messages-wrapper {    
    position: absolute;    
    width: 100%;
    top: 175px;
    bottom: 0;
    left: 0;
    right: 0;
}

.thread-messages-container {
    position: relative;
    max-width: 986px;
    margin: 0 auto;
    height: 100%;
}

.messages-editor {
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
}

.thread-messages {
    overflow-y: scroll;
    overflow-x: none;
    height: 100%;
    height: calc(100% - 50px);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    // background-color: lighten(#b0c4de, 5%);
    background-color: $thread_background;
    background-image: url('/static/img/msg_background_1.png');
    background-repeat: repeat;
    background-size: 180px;
}

.thread-messages-nav {
    width: 100%;
    //box-shadow: $bmd-shadow-2dp;
    z-index: 999;
    padding-top: 24px !important;

    h4 {
        padding-left: 5px;
        padding-top: 5px;
    }
    .nav {
        position: relative;        
        z-index: 99;              
        overflow-x: auto;
        overflow-y: hidden;
        display: -webkit-box;
        display: -moz-box;
        flex-wrap: nowrap;
    }
}

.msg-profile-pic {
    width: 38px;
    height: 38px;
    float: left;
    margin-left: 0;
    margin-right: 5px;
    padding: 3px;
    @extend .rounded-circle;
}

.msg {
    margin-top: 7px;
    float: left;
    max-width: 80%;
    min-width: 15px;
    clear: both;
    display: block;    
    font-size: 14px;
    position: relative;
    background: transparent!important;

    .msg-content {
        padding: 7px 12px;
        background-color: $msg;
        color: $msg_color;
        border: 1px solid $msg_border;
        border-radius: 8px;
        width: auto;
        overflow: hidden;        
        margin-left: 2px;
        position: relative;
        box-shadow: $msg-box-shadow;
        -webkit-box-shadow: $msg-box-shadow;
        
        &.media_message {
            .media-item-hz {
                margin: 3px !important;
            }

            padding: 1px;

            .msg-text {
                padding: 0px 4px;
            }
        }
    }

    &.me {
        float: right;

        .msg-profile-pic {
            float: right;
            margin-right: 0;
            margin-left: 2px;     
        }
        .media-body {
            //background-color: #eee;
            color: $msg_me_color;
            background-color: $msg_me;
            border-color: $msg_me_border;
            margin-right: 10px;
            margin-left: 0;
        }
    }

    &.pinned {
        .pin-msg {
            display: block !important;
            color: #F60022;
        }

        .msg-content {
            // background-color: rgba(255,245,204,.7);
            background-color: $pinned_msg;
            color: $pinned_msg_color;
            border-color: $pinned_msg_border;
        }
    }

    .pin-msg {
        display: none;
        position: absolute;
        right: 5px;
        font-size: 14px;
        cursor: pointer;
        bottom: 0;
    }

    .msg-tooltip {
        background-color: #333;
        color: #fff;
        font-size: 9px;
        padding: 6px;
        top: 20%;
        width: 150px;
        right: -155px;
        display: none;
        position: absolute;

        &:after {
            content: "";
            position: absolute;
            display: block;
            border-style: solid;
            border-color: #333 transparent transparent;
            left: -4px;
            border-width: 9px 0 0 9px;
            top: 0;
        }
    }

    &.me {
        .msg-tooltip {
            left: -157px;
            &:after {
                left: auto;
                right: -5px;
                border-width: 9px 9px 0px 0px;
            }
        }
    }
    
    &:hover {
        .pin-msg {
            display: block;
        }

        .msg-tooltip {
            display: block;
        }
    }
}

.messages-editor-basic {

    textarea {
        resize: none;     
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none;
        border: none;
        overflow: hidden;
        height: 30px;
        font-size: 14px;

        &:hover, &:active, &:focus {
            outline:0px !important;
            -webkit-appearance:none;
            box-shadow: none;
            border: none;
        }   
    }    

    .input-group {
        .form-control {
            padding: 3px 5px;
            &:focus {
                margin: 0;
            }
        }        

        margin-bottom: 0px !important;
        border: none;
    }

    .input-group-addon {
        border-radius: 0;
        font-weight: bold;
        display: -ms-inline-grid;
        display: inline-grid;
        text-align: center;

        .fa {
            font-weight: bold;
        }

        input, a, select, .fa {
            color: #fff !important;
            font-size: 14px;         
        }

        cursor: pointer;
        background-color: $primary;
        color: #fff !important;

        &:hover {
            background-color: darken($primary, 10%) !important;
        }
        &:focus, &:active {
            background-color: darken($primary, 10%) !important;
        }

    }

    .messages-editor-basic-textarea-container {
        border: none;
        background-color: $primary;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: -1px;
    }

    .emojipicker-wrapper {
        display: none;
        position: absolute;
        top: -230px;
        right: 100px;
        display: none;
    }
}

.messages-editor-advanced {
    display: none;
    max-width: 986px;
    position: fixed;
    top: 140px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 10px;
    z-index: 99999;    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    background-color: #333;

    @media screen and (max-width: 768px) {
        top: 0px;
    }

    &.active {
        display: block;
    }

    .messages-editor-advanced-view {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 15px;
        top: 115px;
    }

    #messages-editor-advanced-input {
        width: 100%;        
        background-color: white;
    }

    .x {
        font-size: 25px;
        line-height: 30px;
        cursor: pointer;  
        float: right;          
    }

    .editor-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px;
        float: left;
    }

    .messages-editor-advanced-control {
        height: 70px;
    }

    .trumbowyg-box { 
        height: 60% !important;
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }

    .trumbowyg-box, .trumbowyg-editor {        
        background-color: #fff;
        color: $text_color;
    }

    .trumbowyg-textarea, .trumbowyg-editor {
        //min-height: 200px;
        min-height: calc(60% - -70px)!important;
        background-color: white;
    }

    .trumbowyg-box.trumbowyg-editor-visible {
        //min-height: 200px;
        height: 60%;
        background-color: #fff;
        //height: calc(100% - 60px)!important;
    }

    .trumbowyg-fullscreen .trumbowyg-editor, .trumbowyg-fullscreen .trumbowyg-textarea {
        height: calc(100% - 50px)!important;
        overflow: scroll;
    }

    .trumbowyg-fullscreen.trumbowyg-box  {
        height: 100% !important;
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
}

.pinned-msg {
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px 5px;
    width: 100%;
    position: relative;
    background-color: #eee;    

    .pin-msg {
        display: block;
        position: absolute;
        right: 5px;
        font-size: 16px;
        cursor: pointer;
        bottom: 0;
        color: #F60022;
    }

    .msg-content {
        margin-left: 10px;
        overflow: hidden;
        position: relative;
    }
}

.company-short-info {
    @extend .short-info;

    margin-top: 8px;
    margin-bottom: 25px;    

    table {
        @extend .card;
        margin-bottom: 0 !important;
        thead {
            @extend .card-header;
            tr {
                display: inline-table;
                width: 100%;
            }
        }
        tbody {
            @extend .card-body;
        }

        th {
            width: 100px;
        }
    }
}

.quote-msg, .product-inquiry-msg {
    p {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    .products-list {
        .product-item {
            img {
                height: 130px;
                width: 100%;
            }
            position: relative;
            width: 150px;
            margin-right: 10px;
            border: none;
            box-shadow: $item_box_shadow;
            margin-bottom: 10px;
        }

        overflow-x: auto;
        overflow-y: hidden;
        display: -webkit-box;
        display: -moz-box;
        
    }
}

.messages-attachment-btn {
    label {
        margin-bottom: 0; 
        cursor: pointer; 
        line-height: 42px;
        height: 100%;
    }
    padding: 0 !important;
    width: 40px !important;
}

.messages-editor {

    .messages-media-attachment-wrapper {
        display: none;
        position: relative;

        .x-btn {
            position: absolute;
            top: 0;
            right: 4px;
            font-size: 18px;
            cursor: pointer;
        }
    }

    .add-media-preview {
        z-index: 5;
        background-color: #fff;      
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        padding: 5px;

        .media-preview {
            margin-bottom: 0 !important;
            margin-right: 10px;
        }
    }
}

.contacts-list-item {
    padding: 8px 5px;
    img {
        margin-right: 10px;
    }
    .message-user-btn {
        float: right;
    }
}

.search-users-output {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -5px;
}

.search-users-item {
    img {
        margin-right: 10px;
    }
    padding: 3px;
    cursor: pointer;    

    &:first-child {        
        margin-top: 7px;
    }

    &:last-child {
        margin-bottom: 5px;
    }

    &:hover {
        background-color: darken(#fff, 5%);
    }
}

.search-users-added {
    margin-bottom: 10px;
    margin-top: 10px;
}

.added-user-item {
    background-color: #ddd;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

    .x-btn {
        cursor: pointer;
    }
}

.footer-nav-btn .unread-msg-count-label {
    right: -14px;  
}


.unread-per-thread {
    position: relative;
}

.unread-msg-count-label {
    @extend .rounded-circle;    
    background-color: $red;
    color: #fff;
    width: 21px;
    height: 21px;
    display: inline-block;
    font-size: 11px;
    text-align: center;
    line-height: 21px;
    position: absolute;
    top: -4px;
    right: -4px;
    font-weight: 450;
}

.quick-messages-btn {
    @extend .rounded-circle;
    height: 40px;
    width: 40px;
    font-size: 20px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.2);    
    @include custom-btn($primary);
    cursor: pointer;
    z-index: 100;
}

.clean-content-wrapper {        

    .thread-messages-wrapper {
        top: 115px !important;
    }

    .thread-messages-container {
        max-width: 100%;
    }

    .msg-tab-view:not(:first-child)  {
        margin-top: 20px !important;
    }

    .messages-editor-advanced {
        max-width: 100%;
        top: 0 !important;
    }

    .thread-messages-nav {
        margin-top: -20px;
        margin-left: -20px;
        padding-top: 20px;
        padding-left: 20px;
        background-color: #f6f6f8;
        margin-right: -20px;
        width: auto;
    }
}

.quick-messages-content-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;    
    z-index: 9999999;
    background-color: #fff;

    &.active {
        display: block;
    }
    
    .quick-messages-content {
        height: 100%;
    }

    .x-btn {        
        font-size: 26px;
        font-weight: 600;
        color: $orange;
        cursor: pointer;        
        width: 30px;
        height: 30px;
        text-align: center;
        float: right;
        line-height: 26px;
    }

    .threads-selector {
        width: 300px;
        float: left;        
        height: 100%;
        position: relative;        
        background-color: #fff;        

        .threads-list-wrapper {
            z-index: 100;
            top: 0px;
            position: absolute;  
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #fff;            
            padding: 6px;
            padding-top: 10px;             
            overflow-y: auto;
            overflow-x: hidden;

            .thread-item {
                cursor: pointer;
                
                &:hover {
                    background-color: #eee;
                }
            }

            .thread-item-title {
                position: relative;
                font-size: 15px;
            }
        }
    }

    .thread-view {
        width: auto;
        height: 100%;
        //overflow: hidden;
        position: relative;
        float: left;
        width: calc(100% - 300px);
        .thread-view-topbar {
            position: absolute;
            top: 0;
            height: 30px;
            left: 0;
            right: 0;
            z-index: 1;
        }
        .thread-view-content {
            position: absolute;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;
        }
    }

    .show-threads-selector {
        display: none;        
        font-size: 21px;
        line-height: 34px;
        color: #fd7e14;
        cursor: pointer;
        height: 34px;
        width: 34px;
        padding-left: 5px;
        float: left;
    }

    iframe {
        z-index: 0;
    }

    .thread-loading {
        img {
            height: 30px;
            width: 30px;
        }

        width: 100%;
        text-align: center;
        vertical-align: middle;
    }

    @media screen and (max-width: 768px) {
        .thread-view {
            width: 100%;
        }

        .threads-selector {
            width: 0px;
            margin-right: 0;
            display: none;            
        }

        .threads-selector.expanded {            
            position: fixed;
            background: rgba(0,0,0,0.6);            
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 999;
            display: block;

            .threads-list-wrapper {
                width: 300px;
                background-color: #fff;                
            }
        }

        .show-threads-selector {
            display: block;
        }
    }
}

.emoji-dialog .emoji-row .emoji {    
    padding: 0px !important;
    border-radius: $border_radius !important;
}

.thread-archive-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 25px;
    text-align: right;
}