.unread-notification-count-label {
    @extend .rounded-circle;    
    background-color: $red;
    color: #fff;
    width: 21px;
    height: 21px;
    display: inline-block;
    font-size: 11px;
    text-align: center;
    line-height: 21px;
    position: absolute;
    top: -4px;
    right: -4px;
    font-weight: 450;
}

.noti-unread {
    background-color: #edf2fa;
}

.notitype {
    @extend .badge;
    @extend .badge-pill;
    @extend .badge-light;

    &.product_inquiry {
        @extend .badge-info;
    }

    &.account_activity {
        @extend .badge-warning;
    }
}