.pm-select-view {
    span {
        cursor: pointer;

        &.active, &:hover {
            color: orange;
        }
    }
}

.product-list-item {
    padding: 8px 5px;    

    img {
        height: 100px;
        width: 100px;        
        margin-right: 10px;
    }    
}

.products-grid-view {

    .row {
        @extend .small-gutters;
    }

    .product-grid-item {
        height: 100%; 
        position: relative;
        
        .featured-item {
            position: absolute;
            top: -4px;
            left: -9px;
            padding: 2px 5px;
            color: #765e00;
            background-color: #ffe476;
            font-size: 13px;
    
            &:after {
                content: "";
                position: absolute;
                display: block;
                border-style: solid;
                border-color: #ecce56 transparent transparent transparent;
                bottom: -9px;
                left: 0;
                border-width: 9px 0px 0 9px;
            }
        }

        .edit-btn-group {            
            position: absolute;
            top:  5px;
            right: 5px;
        }

        .card-img-top {
            height: 138px;
        }

        border: none !important;
        box-shadow: $item_box_shadow;
        background-color: #fff;

        .card {
            box-shadow: none;
            border: none;
        }

    }

}

.update-modal-content {
    height: 90% !important;
    width: 80% !important;
    max-width: 80% !important; 
    
    .modal-content {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 768px) {
        width: 95% !important;
        max-width: 95% !important;
    }
}

.category-path a, .category-path {
    font-size: 11px;
    font-style: italic;
    color: #006621;
}

.cat-level:not(:first-child) {
    @media screen and (max-width: 768px)  {
        margin-top: 5px;
    }    
}

.details-table {
    @extend .table;
    @extend .borderless;
    @extend .table-sm;    

    th {
        width: 170px !important;
    }
    td {
        word-break: break-word;        
    }
}

.select-products-grid {
    .select-products-item {

        cursor: pointer;
        margin-bottom: 5px;

        &.selected {
            outline: 2px solid $primary;
        }
    }
}

.products-list-horizontal {
    .product-item {
        img {
            height: 130px;
            width: 100%;
        }
        position: relative;
        width: 150px;
        margin-top: 2px;
        margin-right: 15px;
        margin-left: 2px;
        border: none;
        box-shadow: $item_box_shadow;
        margin-bottom: 10px;

        &.sm {
            width: 85px;
            margin-right: 10px;

            img {
                height: 85px;                
            }
        }

        &.md {
            width: 100px;
            margin-right: 10px;

            img {
                height: 100px;                
            }
        }

    }

    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}

.product-category-breadcrumb {
    width: fit-content;
}

.product-link-with-img {    
    margin-right: 5px;

    &:hover {
        text-decoration: none;
    }

    img {
        width: 65px;
        height: 65px;
        margin-top: 2px;
        margin-right: 2px;
    }
}

.manage-products-nav {
    margin-bottom: 20px;
}

.product-display-pic {
    width: 100%;
    height: auto;    
    margin-bottom: 10px;

    img {
        width: 100%;
        height: auto;     
        max-height: 225px;
    }
}