

.quote-item {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 3px;
    min-height: 90px;

    &:not(:first-child) {
        margin-top: 10px;
    }

    .update-btn {
        position: absolute;
        top:  5px;
        right: 5px;
    }

    .quote-thumbnail {
        width: 80px;
        height: 100%;
        max-height: 80px;        
        float: left !important;
        margin: auto;
    }

    .card {
        width: 100%;
    }

    .card-title {
        margin-right: 50px;
    }
}

.quote-product-card {    
    @extend .card;
    height: 100%;
    
    .card-body {
        padding: 10px 8px;
    }

    img {
        height: 120px;
    }
}