.categories-container {
    @extend .container-fluid;    
    border: 1px solid #ced4da;     
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-top: none;
    margin-top: -3px;
    padding: 7px 25px;
    background-color: #fff;

    .category-item {
        cursor: pointer;
        padding: 3px 10px;

        &:hover, &.active {
            background-color: $primary;
            color: #fff;
        }
    }
}

.sourcing-search-container {
    width: 100%;
    display: table;
    margin-bottom: 60px;
    margin-top: 35px;
}

.sourcing-search-box {
    display: table-cell;
    width: auto;
    padding-right: 20px;
}

.sourcing-my-searches-btn {
    display: table-cell;
    width: 110px;    
}


.rfq-item {        
    border: 1px solid #ced4da;        
    border-radius: 0.25rem;    
    display: flex;
    position: relative;
    @extend .mb-3;
    
    .rfq-item-content {
        width: 100%;
    }

    .rfq-item-pic {
        display: flex;
        img {            
            width: 75px;
            height: 75px;        
            margin: auto;
        }
    } 

    .card-title {
        margin-right: 50px;
    }

    .btn-box {
        width: 145px;
        padding: 5px;
        position: relative;

        span {
            width: 100%;
        }
    }

    .sourcing-btn-box {
        padding-right: 5px;
        max-width: 125px;
        position: relative;

        span {
            width: 100%;
        }
    }
}

.sourcing-main {
    .card-title {
        margin-right: 0;
    }
}

.time-left, .quotes-left {
    font-size: 14px;
    font-weight: 450;
}

.time-left {
    color: $orange;
}

.quotes-left {
    color: $primary;
}

.rfq-status {
    @extend .badge;
    font-size: 12px;

    &.rfq-active {
        @extend .badge-success;
    }

    &.rfq-expired {
        @extend .badge-secondary;
    }
}

.sourcing-top-background {
    background-image: url('/static/img/global_biz.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.sourcing-title {
    display: table-caption;    
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
}

.rfq-top-background {
    height: 100%;    
    background: transparent;    
    .rfq-top-background-overlay {
        background-color: rgba(0,0,0,0.24);
        height: 100%;
    }
}

.rfq-top-info {
    padding-top: 60px!important;
    padding-bottom: 60px!important;
    color: #fff;
}

.buyer {
    background-color: #28a745 !important;
}

.buyer-text {
    color: #28a745;
}

.seller {
    background-color: #ff8b07 !important;
}

.seller-text {
    color: #ff8b07;
}