.categories-container {
    @extend .container-fluid;    
    border: 1px solid #ced4da;        
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-top: none;
    margin-top: -5px;
    padding: 7px 25px;
    padding-top: 16px;

    .category-item {
        cursor: pointer;
        padding: 8px 10px;

        &:hover, &.active {
            background-color: $primary;
            color: #fff;
        }
    }
}


.search-top-background {
    background-image: url('/static/img/cargo_port_6.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;

    .search-top-background-overlay {
        background-color: rgba(0,0,0,0.3);
        height: 100%;
    }    
}

.marketplace-search-container {
    width: 100%;
    display: table;
    color: #fff;
    padding-top: 38px;
    padding-bottom: 28px;

    .category-item {
        color: $text_color;
    }

    .lead {
        font-size: 20px;
        font-weight: 400;
    }
}

.marketplace-search-box {
    display: table-cell;
    width: auto;
}

.marketplace-my-searches-btn {
    display: table-cell;
    width: 110px;    
}

.search-category-breadcrumb {
    width: fit-content;
}

// .product-item {        
//     border: 1px solid #ced4da;        
//     border-radius: 0.25rem;    
//     display: flex;
//     position: relative;
//     @extend .mb-3;
    
//     .product-item-content {
//         width: 100%;
//     }

//     .product-item-pic img {
//         width: 150px;
//         height: 100%;
//         max-height: 180px;
//     }
    
//     &:hover {
//         box-shadow: 0 2px 0 0 #ddd;
//     }

//     .btn-box, .product-btn-box {
//         display: block;
//         max-width: 90px;
//         position: absolute;
//         top: 0;
//         right: 5px;

//         span {
//             width: 100%;
//         }
//     }

//     @media screen and (max-width: 768px) {
//         .product-btn-box {
//             bottom: 5px;
//             left: 5px;
//             right: auto;
//             top: auto;
//         }
//     }
// }

.product-list-item {
    position: relative;
}

.search-stypes-container {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.search-keyword-container {
    width: auto;
    overflow: hidden;    
    margin-bottom: 10px;
    padding: 1px;
}

.search-sort-container {
    float: right;
    display: inline-block;

    label {
        width: auto;
        line-height: 30px;
        float: left;
        padding-right: 10px;
    }

    .form-control {
        width: auto;
    }
}

.search-switchview-container {
    float: right;
    line-height: 30px;
    margin-left: 10px;
}

.search-filter-container {
    transition: none;
}

.marketplace-search-features-sidebar {

    margin-bottom: 10px;

    .toggle-marketplace-search-features-sidebar {
        display: none;        
    }

    a[aria-expanded=true]:after {
        font-family: FontAwesome;
        content: "\f146";
        font-size: 12px;
    }

    a[aria-expanded=false]:after {
        font-family: FontAwesome;
        content: "\f0fe";
        font-size: 12px;
    }

}

@media screen and (max-width: 768px) {

    .marketplace-search-features-sidebar {

        .marketplace-search-features-sidebar-top {
            cursor: pointer;
        }

        .toggle-marketplace-search-features-sidebar {
            display: inline-block !important;
            font-size: 15px;
        }

        .marketplace-search-features-sidebar-items {
            display: none;
        }     
        
        &.responsive {
            .marketplace-search-features-sidebar-items {
                display: block !important;                
            }
        }
    }

}

.search-filter-btn {
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    line-height: 30px;
    &:hover {
        text-decoration: underline;
    }
}

.products-grid-view.marketplace {

    .marketplace-btn-box {
        width: 100%;
        bottom: 0;        
        right: 0;
        left: 0;                

        span.btn {
            width: 100%;   
            border-top-right-radius: 0;
            border-top-left-radius: 0;

            &.btn-12 {
                width: 50% !important;
                &:first-child {
                    border-bottom-right-radius: 0;
                }

                &:last-child {
                    border-bottom-left-radius: 0;
                }
            }
        }

    }

}

.marketplace-search-features-sidebar-items  {

    .card {
        border: none;
        margin-bottom: 5px;
    }

    .card-header {
        font-weight: 400;
        font-size: 14px;
        border-bottom: none;
        background-color: #fff;
        padding: 2px 0px;

        a, a:hover, a:active, a:focus {
            text-decoration: none;
            color: $text_color;
        }

        a:hover {
            text-decoration: underline;
            text-decoration-style: dotted;
        }
    }

    .card-body {
        padding: 8px 5px;
    }

}
.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
  }
.tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
}
.tag a:hover {
    opacity: 1.0
}
.tag .remove {
    vertical-align: bottom;
    top: 0;
}
.tag a {
    margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
    color: #fff;
    margin-bottom: 2px;
}