.static-page-top-background {
    background-color: #3369e7;    
    background: linear-gradient(80deg, #00aeff, #3369e7);
    height:100%;

    &.green {        
        background-color: #18adb5;            
        background:linear-gradient(284deg, #18adb5, #20cc88);
    }

    &.red {
        background-color: rgba(237,66,100,1);
        background: linear-gradient(45deg, rgba(237,66,100,1) 0%, rgba(241,173,153,1) 100%)
    }
}

.static-page-title {
    padding-top: 80px !important; 
    padding-bottom: 120px !important; 
    height: 50px; 
    color: #fff;
}