.support-bubble-btn {
    @extend .rounded-circle;
    height: 40px;
    width: 40px;
    font-size: 20px;
    position: fixed;
    bottom: 35px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.2);    
    @include custom-btn(#fff, #555);
    cursor: pointer;
    z-index: 100;
}
