$footer-height: 255px;
$footer-margin: 30px;
$footer-offset: 311px;

$border-radius: 4px;
$border-radius-sm: 4px;
$border-radius-md: 4px;
$border-radius-lg: 4px;

// $primary: #3369e7;
// $first: #3369e7;
$primary: #094a9c;
$first: #094a9c;
$second: #141C26;
$warning: #EEBB00;
$danger: #E74C3C;
$success: #099c5b;
$green: $success;

$text_color: #212529;
$link: #005EB8;
//$link: #3a5dae;
$link_hover: darken($link, 10%);

//$thread_background: #eceff1;
$thread_background: #fff;
//$thread_background: lighten(#b0c4de, 10%);

$msg_me: #b5c6e6;
$msg_me_color: $text_color;
$msg_me_border: #b5c6e6;

//$msg-box-shadow: 0 5px 40px rgba(0,0,0,.16);
$msg-box-shadow: none;
$msg: #ececec;
$msg_color: $text_color;
$msg_border: #ececec;

$pinned_msg: #fcffca;
$pinned_msg_color: $text_color;
$pinned_msg_border: #fcffca;

$topbar:  #fff;
$topbar_brand: $primary;
$topbar_hover: $primary;
$topbar_shadow: 0 1px 6px 0 rgba(0,0,0,.15);
// $topbar_shadow: none;

// $topbar_color: #fff;
// $topbar:  $second;
// $topbar_brand: #fff;
// $topbar_shadow: none;

$site_padding_left: 8px;
$site_padding_right: 8px;

$wrapper_padding_left: 15px;
$wrapper_padding_right: 15px;

$item_box_shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

.small-gutters {
    margin-right: -8px !important;
    margin-left: -8px !important;

    > [class*="col-"], > div {
      padding-right: 8px !important;
      padding-left: 8px !important;
    }
  }

.medium-gutters {
    margin-right: -15px !important;
    margin-left: -15px !important;
    > [class*="col-"] {
      padding-right: 15px !important;
      padding-left: 15px !important;
    }
  }

.large-gutters {
    margin-right: -25px !important;
    margin-left: -25px !important;
    > [class*="col-"] {
      padding-right: 25px !important;
      padding-left: 25px !important;
    }
}

.row {
    @extend .small-gutters;
}

.btn {
    font-weight: 600;
    border-radius: $border-radius;
    cursor: pointer;    

    &:hover, &:focus, &:active {
        box-shadow: none;
        outline: none;
    }

    &.with-shadow {
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);

        &:hover, &:active {
            box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
        }
    }
}


@mixin custom-btn($color, $text_color: #fff) {    
    background-color: $color;
    border-color: $color;
    color: $text_color;    

    a, a:hover, a:focus, a:active {
        color: $text-color !important;
        text-decoration: none;
    }

    &:hover, &:focus {
        background-color: darken($color, 7%) !important;
        border-color: darken($color, 10%) !important;
        color:$text_color !important;    
    }

    &:active {
        background-color: darken($color, 10%) !important;
        border-color: darken($color, 12.5%) !important;
        color: $text_color !important;        
    }
    
}

.btn-primary {
    @extend .btn;
    @include custom-btn($primary);
}

.btn-warning {
    @extend .btn;
    @include custom-btn($warning, $text_color);
}

.btn-yellow {
    @extend .btn;
    @include custom-btn($yellow, $text_color);
}

.btn-success {
    @extend .btn;
    @include custom-btn($success);
}

a {
    color: $link;
    text-decoration: dotted;
    &:hover, &:focus, &:active {
        color: $link_hover;
    }
}

.list-group-item.active {
    background-color: $primary !important;
    border-color: $primary !important;
}

.input-group {

    border: 1px solid #ddd;
    border-radius: $border-radius;
    padding: 0;

    &.with-shadow {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 0 0 1px rgba(0,0,0,0.08);        
        border: none;
        border-radius: $border-radius;
        background-color: #fff;   
    }

    .input-group-addon {
        
        background-color: #fff;
        //border-color: #ced4da;
        border: none;
        color: $primary;
        font-size: 14px;
        font-weight: bold;
        padding: 6px 12px;

        input, a, .fa, button {
            color: $primary;
            font-size: 14px;
            font-weight: 500;
            border: none;
            -webkit-appearance: initial;
        }

        button:focus, button:active, button:hover {
            outline: none;
            border: none;
            box-shadow: none;
            cursor: pointer;
        }

        select {
            color: $primary;
            font-size: 14px;
            font-weight: 450;
            padding: 3px 7px;
            border: none;
            outline: none;
            box-shadow: none;
            background-color: transparent;
        }

        .fa {
            font-size: 15px;
        }

    }    

    .form-control {
        padding: 8px;
        font-size: 14px;
        line-height: 20px;
        border-width: 0px;
        box-shadow: none; 
        
        &:focus {
            border-width: 1px;
            margin: -1px;
        }
    }

    &.with-shadow .form-control {
        padding: 10px;
        &:hover, &:focus {
            outline: none;
            border:none;
            box-shadow: none;
            margin: 0;
        }
    }
}

.form-control {
    padding: 8px;  
    border-radius: $border-radius;
    border-color: #ddd;

    //border: none;
    //box-shadow:0 1px 3px 0 rgba(0,0,0,.15), 0px 0px 0px 1px rgba(0,0,0,0.07);

    box-shadow: none;
    &:focus, &.is-valid:focus, &.is-invalid:focus {        
        box-shadow: none !important;        
    }
}

.nav-tabs-full {

}

.nav-tabs {
    border-bottom: none;

    .nav-link {
        color: lighten(#000, 40%);
        font-weight: 500;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        border: none;
        border-bottom: 4px solid transparent;
    }

    .nav-link:hover, .nav-link:active, .nav-link:focus {
        //border-radius: .25rem;
        border: none;
        color: $primary;
    }

    .nav-link:hover, .nav-link:active, .nav-link:focus {
        border-bottom: 4px solid $gray-400;
    }

    .nav-link.active, .nav-link.show {
        color: $primary;
        border-bottom: 4px solid $primary;
        background-color: transparent;        
        font-weight: 700;
    }

    .nav-item {
        margin-bottom: 1px;
    }

}

.nav-pills {

    .nav-link {
        padding: 10px 15px;
    }

    .nav-link:hover {
        background-color: darken(#fff, 3%) !important;
    }

    .nav-link.active, .nav-pills .show>.nav-link {
        background-color: $primary !important;
    }
}

.nav-horizontal {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
    background-color: #fff;
    flex-wrap: nowrap;
}

.dropdown-item:active, .dropdown-item.active {    
    background-color: $primary !important;
}

.btn-new-quote {
    @extend .btn;
    @include custom-btn($yellow, $text_color);
}

.btn-light {
    @extend .btn;
    @include custom-btn(#e9ecef, $text_color);
}

.btn-dark {
    @extend .btn;    
}

.btn-outline {
    @extend .btn;
}

.btn-new-rfq {
    @extend .btn;
    @include custom-btn(#ff3b3b);
}

.btn-info {
    @extend .btn;
}

.btn-contact {
    @extend .btn;
    @include custom-btn($primary, #fff);         
}

.btn-update {
    @extend .btn;
    @extend .btn-yellow;    
}

.btn-cancel {
    @extend .btn;
    @extend .btn-light;
}

.btn-submit {
    @extend .btn;
    @include custom-btn($primary, #fff);   
}

.btn-message {
    @extend .btn;
    //@include custom-btn($primary);
    @include custom-btn($success);
}

.btn-send {
    @extend .btn;
    @include custom-btn($primary, #fff);   
}

.btn-import {
    @extend .btn;
    @include custom-btn($orange, #fff);
}

.btn-export, .btn-archive {
    @extend .btn;
    @include custom-btn($orange, #fff);
}

.card, .media {
    background-color: #fff;
}

.badge {
    line-height: 1.2;
}

.link {
    @extend a;
    font-size: 14px;
    font-weight: 400;
}

.scrollable {
    width:100%;
    overflow-x: auto;
}

@font-face {
	font-family: 'fa-viber';
	src:url('/static/fonts/fa-viber/fa-viber.eot?-3dwksg');
	src:url('/static/fonts/fa-viber/fa-viber.eot?#iefix-3dwksg') format('embedded-opentype'),
		url('/static/fonts/fa-viber/fa-viber.ttf?-3dwksg') format('truetype'),
		url('/static/fonts/fa-viber/fa-viber.woff?-3dwksg') format('woff'),
		url('/static/fonts/fa-viber/fa-viber.svg?-3dwksg#fa-viber') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa-viber:before {
	font-family: 'fa-viber';
	content: "\e666";
}

.whatsapp, .wechat, .viber, .facebook, .twitter {
    &:hover {
        text-decoration: none;
    }    
}

.whatsapp:after {
    font-family: FontAwesome;
    content: "\f232";
    font-size: 35px;
    color: #25D366;
}

.wechat:after {
    font-family: FontAwesome;
    content: "\f1d7";
    font-size: 35px;
    color: #7bb32e;
}

.viber:after {
    font-family: 'fa-viber';
    content: "\e666";
    font-size: 35px;
    color: #8f5db7;
}

.facebook:after {
    font-family: FontAwesome;
    content: "\f230";
    font-size: 35px;
    color: #3b5998;
}

.twitter:after {
    font-family: FontAwesome;
    content: "\f099";
    font-size: 35px;
    color: #1DA1F2;
}

.flag {
    width: 24px !important;
    height: 24px !important;
}

.alert-message {
    @extend .alert-warning;
}

tr.filtered {
    display: none;
}

.page-top-title {
    padding-top: 80px !important; 
    padding-bottom: 120px !important; 
    height: 50px; 
    color: #fff;
}