{% extends "layouts/L1.html" %}

{% import "components/company.html" as company_comps with context %}
{% import "components/membership.html" as membership_comps with context %}

{% block page_title %} {{ _('Manage Subscription') }} {% endblock %}

{% block top_region_background %}
{{ company_comps.top_banner(company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.company_menu(company, current='my_company') }}
{% endblock %}


{% block content %}
<div class='row mb-4'>
    <div class='col-sm-12 col-md-12'>
        <h3>{{ _('Change Membership') }}</h3>

        <div>
        <h5>{{ _('Your current membership') }}</h5> 
            <p>{{ _('Package') }}:                 
                <B>{{ membership_comps.render_membership_tier(company.membership_tier) }}</B>
            </p>
            <p>
            {{ _('Expiration Date') }}: {% if company._membership %}<B>{{ membership_comps._membership.membership_end|fmt_datetime() }}</B>{% else %}{{ _('Not Available') }}{% endif %}
            </p>
            <p>{{ ('You can find other available plans at ') }}<a href="{{ url_for('membership.membership_info') }}">Membership Information</a></p>
        </div>

        <p>{{ _('Please contact us via a support ticket form down below. Thank you') }}</p>

        <button class="btn-update" data-toggle="modal" data-target="#support-modal">{{ _('New Support Ticket') }} <i class="fa fa-file-text"></i></span>
        {% if company_is_editable %}
            
        {% endif %}
        </div> 
</div>
{% if previous_memberships %}
<div class='row'>
    <div class='col-sm-12 col-md-12'>
        <h3>{{ _('Previous Memberships and Subscriptions') }}</h3>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ _('Tier') }}</th>
                    <th>{{ _('Start Date') }}</th>
                    <th>{{ _('End Date') }}</th>
                    <th>{{ _('Duration') }}</th>
                </tr>
            </thead>
            <tbody>        
                {% for item in previous_memberships %}
                <tr>
                <td>{{ loop.index }}</td>
                <td>{{ membership_comps.render_membership_tier(item.tier) }}</td>
                <td>{{ item.membership_start|fmt_datetime('short') if item.membership_start }}</td>
                <td>{{ item.membership_end|humanize('naturaldate') if item.membership_end }}</td>
                <td>{{ item.duration|humanize('naturaldelta') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}
