{% extends "layouts/L1.html" %}

{% import "components/membership.html" as membership_comps with context %}

{% block page_title %}{{ _('Membership Information') }}{% endblock %}

{% block top_region_background %}
<div class='static-page-top-background green'>
    <div class='home-top-background-overlay'></div>
</div>
{% endblock %}

{% block top_region %}
<div class='static-page-title'>
    <h1>{{ _('Membership Information') }}</h1>
</div>
{% endblock %}

{% block content %}
<div class='membership-grid-view'>
    <h4>
    </h4>
    <p>{{ config['APP_NAME'] }} {{ _('offers the following membership and subscription plan. We currently offer the following packages to companies:' )}}</p>
    <p>{{ _('The membership plan is for applied to the entire company.')}}</p>

    {{ membership_comps.render_membership_plans() }}    
    <br>
    <div class='row'>
        <div class='col-sm-12 col-md-12'>
            <h4>{{ _('Data Quota') }}</h4>
            <a name="quota"></a>
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        {% for tier, name in constants.TIER_NAME_DICT.items() %}
                        <th>{{ name }} <span class='tier-icon {{ constants.TIER_CSSCLASS_DICT[tier] }}'></span></th>
                        {% endfor %}

                    </tr>
                </thead>
                <tbody>
                    {% for lim, val in constants.LIMIT_TEXT_DICT.items() %}
                    <tr>
                        <th>
                            {{ val }}
                        </th>
                        {% for _, actuallim in membership_tiers.items() %}
                        <td>
                            {{ actuallim[lim] }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}