{% extends "layouts/L1.html" %}

{% import 'components/admin.html' as admin_comps with context %}
{% import 'components/forms.html' as forms_macro with context %}
{% import "components/membership.html" as membership_comps with context %}

{% block page_title %} {{ _('Admin | Manage Companies') }} {% endblock %}

{% block top_region %}
    {{ admin_comps.render_nav() }}
{% endblock %}

{% block content %}
<div class='input-group'>    
    <input class='form-control' type='text' name='search_term' value='{% if search_term %}{{ search_term }}{% endif %}'
            id='search-input' placeholder="{{ _('Search companies...') }}">
    <span class='input-group-addon' id='search-btn'><i class='fa fa-search fa-3'></i></span>
</div>
<br>

<div class='scrollable'>
    <table class='table'>
        <thead>
            <tr>
                <th>#</th>
                <th>{{ _('Company') }}</th>                
                <th>{{ _('UID') }}</th>
                <th>{{ _('Is Public?') }}</th>                
                <th>{{ _('Is Verified?') }}</th>
                <th>{{ _('Membership Status') }}</th>                
                <th>{{ _('Company Page') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <th scope='row'>{{ loop.index }}</th>
                <td>{{ company.name }}</td>
                <td>{{ company.id }}</td>
                <td>
                    <input name='is_company_public' type='checkbox' {% if company.is_public %}checked{% endif %}
                        data-company_id='{{ company.id }}'>
                </td>
                <td><input name='is_company_verified' type='checkbox' {% if company.is_verified %}checked{% endif %}
                    data-company_id='{{ company.id }}'>
                </td>
                <td>
                    <span class='update-membership-btn clickable' 
                        data-company_id='{{ company.id }}' 
                        data-current_membership_tier_txt='{{ constants.TIER_TEXT_DICT[company.membership_tier] }}'
                        data-current_membership_tier='{{ company.membership_tier }}'>
                        {{ membership_comps.render_membership_tier(company.membership_tier) }}
                    </span>
                </td>
                <td><a href='{{ url_for("company.company_page", pr_id=company.id) }}'>{{ _('Link') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class='pages'>    
    {% set start = [1, current_page - 3]|max %}
    {% set end = [current_page + 5, num_pages, start + 5]|min %}
    {% if start > 1 %}
    <span class='page-item' data-page='{{ current_page-1 }}'><i class='fa fa-chevron-left'></i></span>
    {% endif %}

    {% for i in range(start, end+1) %}
    <span class='page-item {% if current_page == i %}active{% endif %}' id='page-item-{{i}}' data-page='{{ i }}'>{{ i }}</span>
    {% endfor %}

    {% if end < num_pages %}
    <span class='page-item' data-page='{{ current_page+1 }}'><i class='fa fa-chevron-right'></i></span>
    {% endif %}
</div>


<div class="modal fade" id="membership-update-modal" tabindex="-1" role="dialog" aria-labelledby="membership-update-modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="membership-update-modalLabel">{{ _('Update company membership tier') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><b>{{ _('Current membership tier') }}: </b><span class='current-membership-tier'></span></p>
            <div class='form-group'>
                <label>{{ _('Select a new membership tier') }}</label>
                <select name='membership_tier'
                    id='membership-tier-select' name='permission' class='form-control'>
                    <option value="" disabled selected>{{ _('Choose your option') }}</option>
                    {% for val, opt in constants.TIER_TEXT_DICT.items() %}
                    <option value='{{ val }}'>{{ opt }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class='form-group'>
                <label>{{ _('Duration (days)') }}</label>
                <input class='form-control' type='text' name='membership_duration' value='30'
                    placeholder='{{ _("How long this membership tier will last in days?") }}'>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="submit-update-membership-btn">{{ _('Save changes') }}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>            
        </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
{{ super() }}

{{ javascript_tag('admin') | safe }}
<script>
    SUMO.admin.manage_companies.start_page();
</script>

{% endblock %}

