{% extends "layouts/L1.html" %}

{% block page_title %} {{ _('Admin | Resolve Tickets') }} {% endblock %}

{% import 'components/admin.html' as admin_comps with context %}

{% block top_region %}
    {{ admin_comps.render_nav() }}
{% endblock %}


{% block content %}
<div class='tickets-wrapper'>
    {{ render_tickets(tickets) }}
</div>
{% endblock %}

{% macro render_tickets(tickets) %}
<div class='scrollable'>
<table class='table'>
    <thead>
        <tr>
            <th>{{ _('Ticket ID') }}</th>
            <th>{{ _('Summary') }}</th>
            <th>{{ _('Status') }}</th>
            <th>{{ _('Opened By') }}</th>
            <th>{{ _('Create Time') }}</th>
            <th>{{ _('Last Updated') }}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td><a href='{{ url_for("support_ticket.ticket", pr_id=ticket.id) }}'>{{ ticket.name }}</a></td>
            <td>{{ ticket.status }}</td>
            <td><a href='{{ url_for("account.account_page", pr_id=ticket.user.id) }}'>{{ ticket.user.name }}</a></td>
            <td>{{ ticket.create_time }}</td>
            <td>{{ ticket.update_time }}</td>
            <td>
                <select autocomplete="off" data-ticket_id='{{ ticket.id }}' class='form-control' name='support_ticket_status' id='support-ticket-status-select'>
                    {% for s in constants.SUPPORT_TICKET_STATUSES %}
                    <option value='{{ s }}' {% if s == ticket.status %}selected{% endif %}>{{ s }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><a href='{{ url_for("messages.support_thread", ticket_id=ticket.id) }}'>{{ _('Chat') }} &nbsp;<span class='fa fa-comment'></span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endmacro %}


{% block scripts %}
{{ javascript_tag('support_ticket') | safe }}
<script>
    SUMO.support_ticket.handle_update_ticket_status();
</script>
{% endblock %}