{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/admin.html' as admin_comps with context %}

{% block page_title %} {{ _('Admin | Manage Users') }} {% endblock %}

{% set colors_scheme = {
        'Standard User' : 'btn-success',
        'Manager' : 'btn-primary',
        'Administrator' : 'btn-info',
        'Master User' : 'btn-dark',
    } %}

{% block top_region_background %}

{% endblock %}

{% block top_region %}
    {{ admin_comps.render_nav() }}
{% endblock %}

{% block center %}

<div class="row">
    <div class='col-sm-12 col-md-12'>
        <form id='user_search_form' class='form form-inline' method='GET'>
            {{ forms_macro.input_with_submit('search_term','', value=search_term, cls='input-group', placeholder=_('Type a keyword to search for email, user ID, first or lastname')  ) }}
        </form>
    </div>
</div>

</br>

<div class='row'>
    <div class='col-sm-12 col-md-12'>
        <div class='scrollable'>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ _('Last Name') }}</th>
                    <th>{{ _('First Name') }}</th>
                    <th>{{ _('Email') }}</th>
                    <th>{{ _('UID') }}</th>
                    <th>{{ _('Account Confirmed') }}</th>
                    <th>{{ _('Company') }}</th>
                    <th>{{ _('Management Level') }}</th>
                    <th>{{ _('Profile Link') }}</th>
                </tr>
            </thead>
            
            <tbody>
                {% for emp in users  %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ emp.last_name or _('Missing') }}</td>
                    <td>{{ emp.first_name or _('Missing') }}</td>
                    <td>{{ emp.email or _('Missing') }}</td>
                    <td>{{ emp.id }}</td>
                    <td class='text-center'>
                        <input value="{{ checked }}" type="hidden" name='is_account_confirmed' id='account-confirmed-input' />
                        <input {% if emp.is_account_confirmed %}checked{% endif %} onClick=''
                            class="form-check-input is-confirmed-account" type="checkbox" data-targetuser="{{ emp.id }}"> 
                    </td>
                    <td>{{ emp.company.name or _('Missing') }}</td>
                    
                    {% if emp.roles %}
                    {% set role = emp.roles[0] %}
                    <td>
                    <button class="permission-badge-btn badge {{ colors_scheme[role.to_dict_txt.permission] }}" 
                    data-company_id="{{ emp.company.id or emp.pending_company_id }}" data-permission="{{ role.permission }}" data-targetuser="{{ emp.id }}">
                        {{ role.to_dict_txt.permission }}<i class='ml-1 fa fa-wrench'></i></button>
                    </td>
                    {% else %}
                    <td><span class="badge badge-info">{{ _('None') }}</span></td>
                    {% endif %}
                    
                    <td><a href="{{ url_for('account.account_page', pr_id=emp.id) }}">{{ _('Link') }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        <div class='pages'>
            
            {% set start = [1, current_page - 3]|max %}
            {% set end = [current_page + 5, num_pages, start + 5]|min %}
            {% if start > 1 %}
            <span class='page-item' data-page='{{ current_page-1 }}'><i class='fa fa-chevron-left'></i></span>
            {% endif %}

            {% for i in range(start, end+1) %}
            <span class='page-item {% if current_page == i %}active{% endif %}' id='page-item-{{i}}' data-page='{{ i }}'>{{ i }}</span>
            {% endfor %}

            {% if end < num_pages %}
            <span class='page-item' data-page='{{ current_page+1 }}'><i class='fa fa-chevron-right'></i></span>
            {% endif %}
        </div>        

    </div>
</div>


<div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="roleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="roleModalLabel">{{ _('Role Update') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label>{{ _('Select a new role') }}</label>
            <select id='permission-input' name='permission' value='' class='form-control'>                
                <option value="" disabled selected>{{ _('Choose your option') }}</option>
                {% for key, val in permission_levels.items() %}
                {% if key <= current_user_permission %}
                <option value='{{ key }}' {% if key == val %}selected{% endif %}>{{ val }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input type='hidden' name='target_user' id='target-user-input' value=''>
            <input type='hidden' name='company_id' id='company-id-input' value=''>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="modal-save-btn">{{ _('Save changes') }}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-close-btn">{{ _('Close') }}</button>            
        </div>
        </div>
    </div>
</div>
  
<br><br>

<div class='row medium-gutters'>
  <div class='col-sm-12 col-md-6'>
    <h4>{{ _('Add User') }}</h4>
    <form method='POST' onsubmit='event.preventDefault()' id='company_add_employee_form'>
        <div class='form-group'>
            <label for='search'>{{ _('Search user by name or ID') }}</label>
            <div class='input-group'>            
                <input class='form-control' type='text' name='search_term' id='search-user-input' placeholder="{{ _('Type a keyword to search by last name, first name or ID') }}">
                <div class='input-group-addon' id='search-user-btn'><i class='fa fa-search fa-3'></i></div>
            </div>
        </div>
        <div class='form-group'>
                <label for='search'>{{ _('Search company by name or ID') }}</label>
                <div class='input-group'>            
                    <input class='form-control' type='text' name='search_company_term' id='search-company-input' placeholder="{{ _('Type a keyword to search by company name or ID') }}">
                    <div class='input-group-addon' id='search-user-btn'><i class='fa fa-search fa-3'></i></div>
                </div>
            </div>    
    </form>

  </div>


    <div class='col-sm-12 col-md-6'>
        <div>{{ _('Search Results') }}</div>
        <div class='scrollable'>
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ _('ID') }} #</th>
                        <th>{{ _('Last Name') }}</th>
                        <th>{{ _('First Name') }}</th>
                        <th>{{ _('Email') }}</th>
                        <th>{{ _('Add') }}</th>
                    </tr>
                </thead>
                <tbody id="user_candidate_list">
                </tbody>
            </table>
        </div>
    </div>

 </div>

<br>
<div class='row'>
<div class='col-sm-12 col-md-5'>
<h4>{{ _('Pending request') }}</h4>
<form method='POST' onsubmit='event.preventDefault()' id='company_pending_employee_form'>
</form>
</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

{{ javascript_tag('admin') | safe }}
<script>
    SUMO.admin.user_master.start_page();
</script>

{% endblock %}

