{% extends "layouts/L1.html" %}

{% block top_region_background %}
<div class='static-page-top-background'>
    <div class='home-top-background-overlay'></div>
</div>
{% endblock %}

{% block top_region %}
<div class='static-page-title'>
    <h1>{{ _('About') }} {{ config['APP_NAME'] }}</h1>
</div>
{% endblock %}

{% block content %}

<p>
    <B>{{ config['APP_NAME'] }}</B> {{ _('is a global B2B platform that facilitates trades across the globe. Buyers can browse through millions of products from our trusted partners worldwide, communicate seamlessly with instant and easy access to all business information, and research as well as conduct business reviews. Sellers get daily alerts of new buying requests and chat with buyers instantly. We believe that communication is the number one key in cross-border ecommerce that decides a successful, trusted and long lasting business relationship.') }}
</p>
<br>
<p>
    <B>{{ config['APP_NAME'] }}</B> {{ _('is founded in 2018 by a team of passionate entrepreneurs and engineers who strive to create the best B2B ecosystem on the planet. We strongly believe that our platform will revolutionize the way cross-border businesses are being conducted online.') }}
</p>
<br>
<br>
{% endblock %}