{% extends "layouts/L1.html" %}

{% block top_region_background %}
<div class='static-page-top-background red'>
    <div class='home-top-background-overlay'></div>
</div>
{% endblock %}

{% block top_region %}
<div class='static-page-title'>
    <h1>{{ _('Contact Us') }}</h1>
</div>
{% endblock %}

{% block content %}
<p>
    {{ _('Shoot us an email at ') }}<a href='mailto:info@trade60.com'>info@trade60.com</a> {{ _('and we will get back to you within 72 hours.') }}
</p>
<p>
    {{ _('Thanks!') }}
</p>
<p>
    <b><a href='{{ url_for("home.default") }}'>{{ config['APP_NAME'] }} Team</a></b>
</p>
{% endblock %}