{% extends "layouts/L1.html" %}

{% block top_region_background %}
<div class='static-page-top-background green'>
    <div class='home-top-background-overlay'></div>
</div>
{% endblock %}

{% block top_region %}
<div class='static-page-title'>
    <h1>{{ _('Inspection Services') }}</h1>
</div>
{% endblock %}

{% block content %}
<p>
    <i>{{ _('We are updating this page. Meanwhile, please let us know what you think.') }}</i>
    <a href='{{ url_for("static_pages.contact") }}'>{{ _('Contact Us') }}</a>
</p>
{% endblock %}