{% extends "layouts/L1.html" %}

{% block top_region_background %}
<div class='static-page-top-background red'>
    <div class='home-top-background-overlay'></div>
</div>
{% endblock %}

{% block top_region %}
<div class='static-page-title'>
    <h1>{{ _('Report an Abuse') }}</h1>
</div>
{% endblock %}

{% block content %}
<p>
    <b>{{ config['APP_NAME'] }}</b> <i>{{ _('does not condone any wrongdoings as well as fraudulent business activities. Please report any abuse or concern by submitting this form and we will get back to you shortly. Thank you for your cooperation.') }}</i>
</p>
<form onsubmit='event.preventDefault();'>
    <div class='form-group'>
        <label for='email'>{{ _('Your Email Address') }}</label>
        <input type='email' name='email' class='form-control'>
    </div>
    <div class='form-group'>
        <label for='name'>{{ _('Your Name') }}</label>
        <input type='name' name='name' class='form-control'>
    </div>
    <div class='form-group'>
        <label for='reason'>{{ _('Reason') }}</label>
        <input type='text' name='subject' class='form-control'>
    </div>

    <div class='form-group'>
        <label for='content'>{{ _('Details (1000 characters limit)') }}</label>
        <textarea name='content' rows=8 class='form-control' maxlength=1000></textarea>
    </div>

    <div class='form-group'>
        <button class='btn-submit'>{{ _('Submit') }}</button>
    </div>
</form>
{% endblock %}