{% extends "layouts/L1.html" %}

{% block top_region_background %}
<div class='static-page-top-background'>
    <div class='home-top-background-overlay'></div>
</div>
{% endblock %}

{% block top_region %}
<div class='static-page-title'>
    <h1>{{ _('Terms of Service') }}</h1>
</div>
{% endblock %}

{% block content %}
<DIV ALIGN="CENTER"><h4><font SIZE="-1" FACE="arial">PLEASE READ THE
FOLLOWING TERMS AND CONDITIONS OF USE AGREEMENT CAREFULLY </font></h4></DIV>
<div style='text-align: justify'>
    <br>
    The
    following demonstrates terms and conditions of use (here-in-after referred
    to as an &quot;Agreement&quot;), applicable to your use of {{ config['APP_NAME'] }}.com
    (hereinafter referred to as &quot;web site&quot;), which promotes business
    between suppliers and buyers globally. It is an agreement between you as
    the user(s) of the web site (the &quot;User(s)&quot;) and {{ config['APP_NAME'] }} Inc (hereinafter referred to as &quot;T60&quot;).<BR>
    <BR>Before you subscribe to and/or begin participating in or using web site,
    T60 believes that user(s) have fully read, understood and accept the
    agreement. <BR><BR>
    If you do not agree to or wish to be bound by agreement , you may not
    access or otherwise use the web site. <BR>
    <DIV>
    <OL TYPE="I">
    <LI><A HREF="#i">Web site-Merely a Venue/Platform</A></LI>
    <LI><A HREF="#ii">User(s) Eligibility</A> </LI>
    <LI><A HREF="#iii">User(s) Agreement</A> </LI>
    <LI><A HREF="#iv">Amendment to User(s) Agreement</A> </LI>
    <LI><A HREF="#v">Intellectual Property Rights</A> </LI>
    <LI><A HREF="#vi">Links to Third Party Sites/Content</A> </LI><A NAME="i"></A>
    <LI><A HREF="#vii">Termination</A> </LI>
    <LI><A HREF="#viii">Registered User(s)</A> </LI>
    <LI><A HREF="#ix">Data Protection/Personal Information</A> </LI>
    <LI><A HREF="#x">Posting your Contents on T60</A> </LI>
    <LI><A HREF="#xi">Interactions between User(s)</A> </LI>
    <LI><A HREF="#xii">Limitations of Liability/Disclaimer</A> </LI>
    <LI><A HREF="#xiii">Notices</A> </LI>
    <LI><A HREF="#xiv">Governing Law and Disputes Resolutions</A> </LI><A NAME="ii"></A>
    <LI><A HREF="#xv">General/Miscellaneous</A> </LI>
    <LI><A HREF="#xvi">Big Buyer terms of use</A> </LI>
    <LI><A HREF="#xvii">Pharmaceutical Product/Service Policies</A> </LI>
    <LI><A HREF="#xviii">Posting your Contents on T60</A> </LI>
    </OL></DIV><br><h4><font COLOR="#004080">I. WEBSITE- MERELY
    A VENUE/PLATFORM</font></h4>
    Web site acts as a mere venue/platform for our members to
    negotiate/interact for buying, selling and other business services by way
    of locating companies to trade with, through our on-line exchange. <BR><BR>
    We do not take part in the actual transaction that takes place between
    the buyers and sellers and hence are not a party to any contract for sale<A NAME="iii"></A><BR>
    negotiated between buyers and sellers. All transactions will be the
    responsibility of the members only. This agreement shall not be deemed to
    create any partnership, joint venture, or other joint business
    relationship between T60 and other party.<BR>
    <BR><h4><font COLOR="#004080">II. USER(S) ELIGIBILITY</font></h4>
    User(s) means any individual or business entity/organization that legally
    operates in Vietnam or in other countries, uses and has the right to use the
    services provided by T60. Our services are available only to those
    individuals or companies who can form legally binding contracts under the
    applicable law. Therefore, user(s) must not be a minor as per Vietnamese Law,
    i. e. user(s) must be at least 18 years of age to be eligible to use our
    services. <BR><br>
    T60 advises its users that while accessing the web site, they must
    follow/abide by the related laws.<A NAME="iv"></A> T60 is not responsible for the possible
    consequences caused by your behaviour during use of web site. T60 may, in
    its sole discretion, refuse the service to anyone at any time. The service
    is not available to temporarily or indefinitely suspended members of web
    site. <BR><BR>
    <h4><font COLOR="#004080">III. USER(S) AGREEMENT</font></h4> 
    This agreement applies to user(s) if user(s) are visitors, registered -
    free or paid user(s) who access the web site for any purpose. <A NAME="v"></A>It also
    applies to any legal entity which may be represented by you under actual
    or apparent authority. User(s) may use this site solely for their own
    personal or internal purposes. <BR><BR>
    This agreement applies to all T60 services offered on the web site,
    collectively with any additional terms and condition that may be
    applicable to the specific service used/accessed by user(s).In the event
    of a conflict or inconsistency between any provision of the terms and
    conditions mentioned herein with those of the particular service, the
    provisions of the terms and conditions applicable to such specific
    services shall prevail. 
    <BR><BR>
    <h4><font COLOR="#004080">IV. AMENDMENT TO USER(S)
    AGREEMENT</font></h4>
    T60 may change, modify, amend, or update this agreement from time to time
    without any prior notification to user(s) and the amended and restated
    terms and conditions of use shall be effective immediately on posting. If
    you do not adhere to the changes, <U>you must stop using the service</U>.
    Your continuous use of the service will signify your acceptance of the
    changed terms.<BR>
    <BR><h4><font COLOR="#004080">V. INTELLECTUAL PROPERTY
    RIGHTS</font></h4>
    T60 is the sole owner or lawful licensee of all the rights to the web
    site and its content. Web site content means its design, layout, text,
    images, graphics, sound, video etc. The web site content embody trade
    secrets and intellectual property rights protected under worldwide
    copyright and other laws. All title, ownership and intellectual property
    rights in the web site and its content shall remain with {{ config['APP_NAME'] }}.com,
    its affiliates or licensor's of {{ config['APP_NAME'] }}.com content, as the case may be. <BR><BR>
    All rights, not otherwise claimed under this agreement or by
    {{ config['APP_NAME'] }}.com, are hereby reserved. The information contained in this web
    site is intended, solely to provide general information for the personal
    use of the reader, who accepts full responsibility for its use. T60 does
    not represent or endorse the accuracy or reliability of any information,
    or advertisements (collectively, the &quot;content&quot;) contained on,
    distributed through, or linked, downloaded or accessed from any of the
    services contained on this web site, or the quality of any products,
    information or other materials displayed, or obtained by you as a result
    of an advertisement or any other information or offer in or in connection
    with the service. <BR><BR>
    We accept no responsibility for any errors or omissions, or for the
    results obtained from the use of this information. All information in this
    web site is provided &quot;as is&quot; with no guarantee of completeness,
    accuracy, timeliness or of the results obtained from the use of this
    information, and without warranty of any kind, express or implied,
    including, but not limited to warranties of performance, merchantability
    and fitness for a particular purpose. Nothing herein shall to any extent
    substitute for the independent investigations and the sound technical and
    business judgment of the user(s). In no event shall T60 be liable for any
    direct, indirect, incidental, punitive, or consequential damages of any
    kind whatsoever with respect to the service, the materials and the
    products. User(s) of this site must hereby acknowledge that any reliance
    upon any content shall be at their sole risk. <BR><BR>
    The information presented here has been compiled from publicly aired and
    published sources. T60 respects these sources and is in no way trying to
    infringe on the respective copyrights or businesses of these entities. T60
    reserves the right, in its sole discretion and without any obligation, to
    make improvements to, or correct any error or omissions in any portion of
    the service or the materials. <BR><UL>
    <LI> <B>Trademark</B> <BR>
    &quot;{{ config['APP_NAME'] }}&quot; 
    and related icons and logos are registered trademarks or trademarks or
    service marks of T60 in various jurisdictions and are protected under
    applicable copyright, trademark and other proprietary rights laws. The
    unauthorized copying, modification, use or publication of these marks
    is strictly prohibited. <BR>
    <BR>
    </LI>
    <LI> <B>Copyright</B><BR>
    All content on this web site is the copyright of T60 except the third
    party content and link to third party web site on our website.<BR>
    <BR>
    T60 is not an expert in your intellectual property rights, and we
    cannot verify that the users of our online marketplace - who post
    literally tens of thousands of trade leads for items on the website
    each day - have the right to sell the goods offered. We will
    appreciate your assistance in identifying listings which may not
    appear on their face to infringe your rights but which you believe are
    infringing. T60 is also not an arbiter or judge of disputes about
    intellectual property rights. By taking down a listing, as a
    prudential matter, T60 is not endorsing a claim of infringement.
    Neither, in those instances in which T60 declines to take down a
    listing, is T60 determining that the listing is not infringing, nor is
    T60 endorsing the sale of goods in such cases.<BR>
    <BR>
    T60 respects the intellectual property rights of others, and we
    expect our user(s) to do the same. We believes that user(s) agree that
    they will not copy, download &amp; reproduce any information, text,
    images, video clips, directories, files, databases or listings
    available on or through the web site (the &quot;T60 content&quot;) for
    the purpose of re-selling or re-distributing, mass mailing (via email,
    wireless text messages, physical mail or otherwise), operating a
    business competing with T60, or otherwise commercially exploiting the
    T60 content. Systematic retrieval of T60 content to create or compile,
    directly or indirectly, a collection, compilation, database or
    directory (whether through robots, spiders, automatic devices or
    manual processes) without written permission from T60 is prohibited.<BR><A NAME="vi"></A>
    <BR>
    In addition, use of the content for any purpose not expressly
    permitted in this Agreement is prohibited and may invite legal action.
    As a condition of your access to and use of T60's services, you agree
    that you will not use the web site service to infringe the
    intellectual property rights of others in any way. T60 reserves the
    right to terminate the account of a user(s) upon any infringement of
    the rights of others in conjunction with use of the T60 service, or if
    T60 believes that user(s) conduct is harmful to the interests of T60,
    its affiliates, or other users, or for any other reason in T60's sole
    discretion, with or without cause. <BR><BR></LI>
    <LI> <B>URL's/Sub-Domain</B><BR>
    URL's/Sub-Domain Names assigned by T60 to its users (which includes
    both paid and free) is the exclusive property of T60 and it cannot be
    assumed to be permanent in any case. T60 reserves the right, without
    prior notice, at any point of time, to suspend or terminate or restrict
    access to or edit the URL's/Sub domain names. IN SUCH CASE, T60 WILL
    NOT BE LIABLE TO ANY PARTY FOR ANY DIRECT, INDIRECT, SPECIAL OR OTHER
    CONSEQUENTIAL DAMAGES, INCLUDING, WITHOUT LIMITATION, ANY LOST PROFITS,
    BUSINESS INTERRUPTION OR OTHERWISE.</li>
    <BR><A NAME="vii"></A><br>
    </UL><h4><font COLOR="#004080">VI. LINKS TO THIRD PARTY
    SITES</font></h4>
    Links to third party sites are provided by web site as a convenience to
    user(s) and T60 has not have any control over such sites i.e content and
    resources provided by them.<BR>
    <BR> T60 may allow user(s) access to content, products or services offered by
    third parties through hyper links (in the form of word link, banners,
    channels or otherwise) to such Third Party's web site. You are cautioned
    to read such sites' terms and conditions and/or privacy policies before
    using such sites in order to be aware of the terms and conditions of your
    use of such sites. T60 believes that user(s) acknowledge that T60 has no
    control over such third party's site, does not monitor such sites, and T60
    shall not be responsible or liable to anyone for such third party site, or
    any content, products or services made available on such a site. <BR><BR>

    <h4><font COLOR="#004080">VII. TERMINATION</font></h4>
    Most content and some of the features on the web site are made available
    to visitors free of charge. However, T60 reserves the right to terminate
    access to certain areas or features of the web site (to paying or
    registered users) at any time for any reason, with or without notice. T60
    also reserves the universal right to deny access to particular users to
    any/all of its services/content without any prior notice/explanation in
    order to protect the interests of T60 and/or other visitors to the web
    site. T60 reserves the right to limit, deny or create different access to
    the web site and its features with respect to different user(s), or to
    change any of the features or introduce new features without prior notice. <BR><BR>
    T60 withholds the right to temporary or permanent termination of
    membership of any user for any of the following reasons: <BR><BR>
    (a) If it concludes that the user(s) have provided any false information
    in connection with the member account to T60, or are engaged in fraudulent
    or illegal activities. <BR><BR>
    (b) The user(s) breach any provisions of the terms and conditions of use
    agreement and/or Agreement of web site. <BR><BR>
    (c) Utilize web site to send spam messages or repeatedly publish the same
    product information. <BR><BR>
    (d) Post any material to members that is not related to international
    trade or business cooperation.<BR>
    <BR>(e) Impersonate or unlawfully use another companies name to post
    information or conduct business of any form <BR><A NAME="viii"></A><BR>
    (f) Any unauthorized access, use, modification, or control of the web
    site data base, network or related services. <BR><BR>
    (g) Obtain by any means web site member's user name and/or password. <BR><BR>
    If T60 terminates user(s) membership, user(s) will not have the right to
    re-enroll or join T60 under a new account or name unless formally invited
    to do so by T60. In any case of termination, no membership charges will be
    refunded. User(s) acknowledge that inability to use the web site wholly or
    partially for whatever reason may have adverse effect on its business.
    User(s) hereby agree that in no event shall the web site be liable to the
    user(s) or any third parties for any inability to use the web site
    (whether due to disruption, limited access, changes to or termination of
    any features on the web site or otherwise), any delays, errors or
    omissions with respect to any communication or transmission, or any damage
    (direct, indirect, consequential or otherwise) arising from the use of or
    inability to use the web site or any of its features. <BR><BR>
    <br><h4><font COLOR="#004080">VIII. REGISTERED USER(S)
    </font></h4>
    To become a Registered User(s) there is a proper procedure which is for
    the convenience of user(s) so that they can easily log-in and log-out.<BR>
    <BR> User(s) can become a Registered User(s) by filling an on-line
    registration form on the web site by giving desired information (name,
    contact information, details of its business, etc.). T60 will establish an
    account (&quot;Account&quot;) for the user(s) upon registration and assign
    a user alias (&quot;User ID&quot;) and password (&quot;Password&quot;) for
    log-in access to your Account. Web site may or may not assign user(s) upon
    registration a web-based email/message account with limited storage space
    to send or receive email/messages. Users will be responsible for the
    content of all the messages communicated through the Email Account, as
    well as the consequences of any such message. <BR><A NAME="ix"></A><BR>
    If you register on behalf of a business entity, you represent that
    business entity and (a) you have the authority to bind the entity to terms
    and condition of use and/or this Agreement; (b) the address you use when
    registering is the principal place of business of such business entity;
    and (c) all other information submitted to T60 during the registration
    process is true, accurate, current and complete. For purposes of this
    provision, a branch or representative office will not be considered a
    separate entity and its principal place of business will be deemed to be
    that of its head office. <BR><A NAME="x"></A><BR>
    By becoming a Registered User, you consent to the inclusion of your
    personal data in our on-line database and authorize T60 to share such
    information with other user(s). T60 may refuse registration and deny the
    membership and associated User ID and Password to any user for whatever
    reason. Web site may suspend or terminate a Registered membership at any
    time without any prior notification in interest of T60 or general interest
    of its visitors/other members without giving any reason thereof.
    Registered User are not a part or affiliate of T60 in any way.
    <BR><BR>
    Despite my and organization's contact number(s) are on Do Not Call Registry, I consent to be contacted by {{ config['APP_NAME'] }} Inc ("T60") through phone calls, SMS notifications or any other means of communication, in respect to the services provided by T60.
    <BR><BR>
    <h4><font COLOR="#004080">IX. DATA PROTECTION</font></h4>
    Personal information supplied by user(s) during the use of web site is
    governed by our privacy policy. Please click here to know about our
    <A HREF="{{ url_for('home.default') }}privacy-policy.html">privacy policy</A>. <BR><BR>
    <h4><font COLOR="#004080">X. POSTING YOUR CONTENT ON
    WEBSITE</font></h4>
    Some of the content displayed on the website is provided or posted by
    third parties. User(s) can post their content on some of the
    sections/services of the web site using the self-help submit and edit
    tools provided at the respective section. User(s) may need to register
    and/or pay for some of these services. <BR><BR>
    T60 in such case is not the author. The content here is contributed by
    anonymous, registered or paid user(s). Neither T60 nor any of its
    affiliates, directors, officers or employees has entered into sale agency
    relationship with such third party by virtue of our display of the Third
    Party Content on the website. Any Third Party content is the sole
    responsibility of the party who has provided the content. T60 is not
    responsible for the accuracy, propriety, lawfulness or truthfulness of any
    Third Party content, and shall not be liable to any user(s) in connection
    with his/her reliance on such Third Party content. In addition, T60 is not
    responsible for the conduct of user(s) activities on the web site, and
    shall not be liable to any person in connection with any damage suffered
    by any person as a result of any such user's conduct. <BR><BR>
    User(s) solely represent, warrant and agree to: <BR> <BR>(a) provide T60 with true, accurate, current and complete information to
    be displayed on the web site and <BR><BR>
    (b) maintain and promptly amend all information to keep it true,
    accurate, current and complete. <BR><BR>
    User(s) hereby grant an irrevocable, perpetual, worldwide and
    royalty-free, sub-licensable (through multiple tiers) license to T60 to
    display and use all information provided by them in accordance with the
    purposes set forth in agreement and to exercise the copyright, publicity,
    and database rights you have in such material or information, in any form
    of media, third party copyrights, trademarks, trade secret rights, patents
    and other personal or proprietary rights affecting or relating to material
    or information displayed on the web site, including but not limited to
    rights of personality and rights of privacy, or affecting or relating to
    products that are offered or displayed on the web site (hereafter referred
    to as&quot;Third Party Rights&quot;). <BR><BR>
    User(s) hereby represent, warrants and agree that user(s) shall be solely
    responsible for ensuring that any material or information you post on the
    web site or provide to web site or authorize the web site to display, does
    not, and that the products represented thereby do not, violate any Third
    Party Rights, or is posted with the permission of the owner(s) of such
    rights. User(s) hereby represent, warrant and agree that they have the
    right to manufacture, offer, sell, import and distribute the products
    offered and displayed on the web site, and that such manufacture, offer,
    sale, importation and/or distribution of those products violates no Third
    Party Rights. <BR><BR>
    User(s) hereby represent, warrant and agree that information submitted to
    T60 for display on the web site will not: <BR><UL>
    <LI>Contain fraudulent information or make fraudulent offers of items
    or involve the sale or attempted sale of counterfeit or stolen items
    or items whose sales and/or marketing is prohibited by applicable law,
    or otherwise promote other illegal activities; </LI>
    <LI>Be part of a scheme to defraud other User(s) of the web site or for
    any other unlawful purpose; </LI>
    <LI>Relate to sale of products or services that infringe or otherwise
    abet or encourage the infringement or violation of any third party's
    copyright, patent, trademarks, trade secret or other proprietary right
    or rights of publicity or privacy, or any other Third Party Rights;
    </LI>
    <LI>Violate any applicable law, statute, ordinance or regulation
    (including without limitation those governing export control, consumer
    protection, unfair competition, anti-discrimination or false
    advertising); </LI>
    <LI>Be defamatory, libelous, unlawfully threatening or unlawfully
    harassing; </LI>
    <LI>Be obscene or contain or infer any pornography or sex-related
    merchandising or any other content or otherwise promotes sexually
    explicit materials or is otherwise harmful to minors; </LI>
    <LI>Promote discrimination based on race, sex, religion, nationality,
    disability, sexual orientation or age; </LI>
    <LI>Contain any material that constitutes unauthorized advertising or
    harassment (including but not limited to spamming), invades anyone's
    privacy or encourages conduct that would constitute a criminal
    offense, give rise to civil liability, or otherwise violate any law or
    regulation; </LI>
    <LI>Solicit business from any User(s) in connection with a commercial
    activity that competes with T60; </LI>
    <LI>Contain any computer viruses or other destructive devices and codes
    that have the effect of damaging, interfering with, intercepting or
    expropriating any software or hardware system, data or personal
    information; </LI>
    <LI>Link directly or indirectly to or include descriptions of goods or
    services that are prohibited under the prevailing law; or </LI>
    <LI>Otherwise create any liability for T60 or its affiliates.<BR><A NAME="xi"></A><br>
    <BR>
    T60 reserves the right in its sole discretion to remove any
    material/content/photos/offers displayed on the web site which it
    reasonably believes is unlawful, could subject T60 to liability,
    violates the terms and conditions and/or Agreement or is otherwise
    found inappropriate in T60's opinion. Web site reserves the right to
    cooperate fully with governmental authorities, private investigators
    and/or injured third parties in the investigation of any suspected
    criminal or civil wrongdoing. <BR>
    <BR>
    In connection with any of the foregoing, web site may suspend or
    terminate the Account of any User as web site deems appropriate in its
    sole discretion. User(s) agree that web site shall have no liability
    to any User(s), including no liability for consequential or any other
    damages, in the event web site takes any of the actions mentioned in
    this Section, and that you agree to bear the risk that web site may
    take such actions. </LI>
    </UL>Web site acts as a content integrator and is not responsible for the
    information provided by user(s) to be displayed on the web site. T60 do
    not have any role in developing the content. <BR><BR>
    <h4><font COLOR="#004080">XI. INTERACTION BETWEEN USERS</font></h4>
    T60 provides an on-line platform for exchanging information between
    buyers and suppliers of products and services. Web site does not represent
    the seller or the buyer in specific transactions and does not charge any
    commission for enabling any transaction. Web site does not control and is
    not liable to or responsible for the quality, safety, lawfulness or
    availability of the products or services offered for sale on the web site
    or the ability of the suppliers to complete a sale or the ability of
    buyers to complete a purchase. User(s) are cautioned that there may be
    risks of dealing with foreign nationals or people acting under false
    pretenses. Web site uses several techniques (such as TrustSEAL) to verify
    the accuracy and authenticity of the information our user(s) provide us.
    However, since it is not possible in all cases and is not 100% fool-proof,
    T60 cannot and does not confirm each user(s) purported identity
    (including, without limitation, TrustSEAL Members). T60 encourages user(s)
    to use various tools available on the web site and otherwise, as well as
    common sense, to evaluate the user(s) with whom they would like to deal
    with. <BR><BR>
    User(s) acknowledge that user(s) fully assume the risks of purchase and
    sale transactions when using the web site to conduct transactions, and
    that user(s) fully assume the risks of liability or harm of any kind in
    connection with subsequent activity of any kind relating to products or
    services that are the subject of transactions using the web site. <BR><BR>
    Such risks shall include, but are not limited to, mis-representation of
    products and services, fraudulent schemes, unsatisfactory quality, failure
    to meet specifications, defective or dangerous products, unlawful
    products, delay or default in delivery or payment, cost mis-calculations,
    breach of warranty, breach of contract and transportation accidents. Such
    risks also include the risks that the manufacture, importation,
    distribution, offer, display, purchase, sale and/or use of products or
    services offered or displayed on the web site may violate or may be
    asserted to violate Third Party Rights, and the risk that you may incur
    costs of defense or other costs in connection with third parties'
    assertion of Third Party Rights, or in connection with any claims by any
    party that they are entitled to defense or indemnification in relation to
    assertions of rights, demands or claims by Third Party Rights claimants.
    Such risks also include the risks that consumers, other purchasers,
    end-users of products or others claiming to have suffered injuries or
    harms relating to product originally obtained by user(s) of the web site
    as a result of purchase and sale transactions in connection with using the
    web site may suffer harms and/or assert claims arising from their use of
    such products. All of the foregoing risks are hereafter referred to as &quot;Transaction
    Risks&quot;. <BR><BR>
    User(s) agree that T60 shall not be liable or responsible for any
    damages, liabilities, costs, harms, inconveniences, business disruptions
    or expenditures of any kind that may occur/arise as a result of or in
    connection with any Transaction Risks. User(s) are solely responsible for
    all of the terms and conditions of the transactions conducted on, through
    or as a result of use of the web site, including, without limitation,<A NAME="xii"></A>
    terms regarding payment, returns, warranties, shipping, insurance, fees,
    taxes, title, licenses, fines, permits, handling, transportation and
    storage. In the event of a dispute with any party to a transaction,
    user(s) agrees to release and indemnify T60 (and our agents, affiliates,
    directors, officers and employees) from all claims, demands, actions,
    proceedings, costs, expenses and damages (including without limitation any
    actual, special, incidental or consequential damages) arising out of or in
    connection with such transaction. User(s) may use the content/features on
    web site solely for their personal or internal purposes. User(s) agree
    that they will not use T60 database and/or services to send junk mail,
    chain letters or spamming or the transmission of any unlawful, harassing,
    libelous, abusive, threatening, harmful, vulgar, obscene or otherwise
    objectionable material of any kind or nature. Further, as a Registered
    User, user(s) will not use the Email Account to publish, distribute,
    transmit or circulate any unsolicited advertising or promotional
    information or any content that is obscene, indecent, seditious,
    offensive, defamatory, threatening, or which incites or results in causing
    racial hatred, discrimination, menace or breach of confidence.
    <BR><BR>
    {{ config['APP_NAME'] }} reserves the right to add/modify/discontinue any of the features offered with a service.
    <BR><BR>
    <h4><font COLOR="#004080">XII. LIMITATION OF
    LIABILITY/DISCLAIMER</font></h4>
    The features and services on the web site are provided on an &quot;as is&quot;
    and &quot;as available&quot; basis, and web site hereby expressly
    disclaims any and all warranties, express or implied, including but not
    limited to any warranties of condition, quality, durability, performance,
    accuracy, reliability, merchantability or fitness for a particular
    purpose. All such warranties, representations, conditions, undertakings
    and terms are hereby excluded. T60 makes no representations or warranties
    about the validity, accuracy, correctness, reliability, quality,
    stability, completeness of any information provided on or through the web
    site. T60 does not represent or warranty that the manufacture,
    importation, distribution, offer, display, purchase, sale and/or use of
    products or services offered or displayed on the web site does not violate
    any third party rights; and T60 makes no representations or warranties of
    any kind concerning any product or service offered or displayed on the web
    site. Any material downloaded or otherwise obtained through the web site
    is done at your sole discretion and risk and you are solely responsible
    for any damage to your computer system or loss of data that may result
    from the download of any such material. No advice or information, whether
    oral or written, obtained by you from web site or through or from the web
    site shall create any warranty not expressly stated herein. <BR><BR>
    Under no circumstances shall web site be held liable for an delay or
    failure or disruption of the content or services delivered through the web
    site resulting directly or indirectly from acts of nature, forces or
    causes beyond its reasonable control, including without limitation,
    Internet failures, computer, telecommunications or any other equipment
    failures, electrical power failures, strikes, labor disputes, riots,
    insurrections, civil disturbances, shortages of labor or materials, fires,
    flood, storms, explosions, Acts of God, natural calamities, war,
    governmental actions, orders of domestic or foreign courts or tribunals or
    non-performance of third parties. User(s) hereby agree to indemnify and
    save web site, its affiliates, directors, officers and employees harmless,
    from any and all losses, claims, liabilities (including legal costs on a
    full indemnity basis) which may arise from your use of the web site
    (including but not limited to the display of your information on the web
    site) or from your breach of any of the terms and conditions of this
    Agreement. User(s) hereby further agree to indemnify and save web site,
    its affiliates, directors, officers and employees harmless, from any and
    all losses, claims, liabilities (including legal costs on a full indemnity
    basis) which may arise from your breach of any representations and
    warranties made by you to web site. <BR><BR>
    User(s) hereby further agree to indemnify and save web site, its
    affiliates, directors, officers and employees harmless, from any and all
    losses, claims, liabilities (including legal costs on a full indemnity
    basis) which may arise, directly or indirectly, as a result of any claims
    asserted by Third Party Rights claimants or other third parties relating
    to products offered or displayed on the web site. User(s) hereby further
    agree that web site is not responsible and shall have no liability to it,
    for any material posted by others, including defamatory, offensive or
    illicit material and that the risk of damages from such material rests
    entirely with you. Web site reserves the right, at its own expense, to
    assume the exclusive defense and control of any matter otherwise subject
    to indemnification by you, in which event you shall cooperate with web
    site in asserting any available defenses. <BR><BR><A NAME="xiii"></A>
    Web site shall not be liable for any special, direct, indirect, punitive,
    incidental or consequential damages or any damages whatsoever (including
    but not limited to damages for loss of profits or savings, business
    interruption, loss of information), whether in contract, negligence, tort,
    strict liability or otherwise or any other damages resulting from any of
    the following:
    <UL> 
    <LI>The use or the inability to use the web site; </LI>
    <LI>Any defect in goods, samples, data, information or services
    purchased or obtained from a User(s) or a third-party service provider
    through the web site; </LI>
    <LI>Violation of Third Party Rights or claims or demands that User(s)
    manufacture, importation, distribution, offer, display, purchase, sale
    and/or use of products or services offered or displayed on the web
    site may violate or may be asserted to violate Third Party Rights; or
    claims by any party that they are entitled to defense or
    indemnification in relation to assertions of rights, demands or claims
    by Third Party Rights claimants; </LI>
    <LI>Unauthorized access by third parties to data or private information
    of any User(s); </LI>
    <LI>Statements or conduct of any User(s) of the web site; or </LI>
    <LI>Any matters relating to Premium Services however arising, including
    negligence. </LI><br>
    </UL><h4><font COLOR="#004080">XIII. NOTICES</font></h4><A NAME="xiv"></A><br>
    All notices or demands to or upon web site shall be effective if in
    writing and shall be duly made when sent to T60 in the following manner:
    to {{ config['APP_NAME'] }} Inc, Boston, Massachusetts, USA.<BR><BR>
    All notices or demands to or upon a User(s) shall be effective if either
    delivered personally, sent by courier, certified mail, by facsimile or
    email to the last-known correspondence, fax or email address provided by
    the User(s) to web site, or by posting such notice or demand on an area of
    the web site that is publicly accessible without a charge. <BR><A NAME="xv"></A><br><BR>
    Notice to a User(s) shall be deemed to be received by such User(s) if and
    when web site is able to demonstrate that communication, whether in
    physical or electronic form, has been sent to such User(s), or immediately
    upon web site's posting such notice on an area of the web site that is
    publicly accessible without charge. <BR><BR>
    <h4><font COLOR="#004080">XIV. GOVERNING LAW AND
    DISPUTE RESOLUTIONS</font></h4>
    Terms and condition of use agreement and/ or Agreement, Privacy Policy
    shall be governed in all respect by the laws of Vietnamese Territory. T60
    considers itself and intended to be subject to the jurisdiction only of
    the Courts of Noida, Uttar Pradesh, Vietnam. The parties to this Agreement
    hereby submit to the exclusive jurisdiction of the courts of Noida,Uttar
    Pradesh, Vietnam.
    <BR><BR><h4><font COLOR="#004080">XV. MISCELLANEOUS</font></h4>
    <UL>
    <LI>Headings are for reference purposes only and in no way define,
    limit, construe or describe the scope or extent of such section. </LI>
    <LI>Web site's failure to enforce any right or failure to act with
    respect to any breach by a User(s) under these terms and conditions
    will not waive that right nor waives T60's right to act with respect
    with subsequent or similar breaches. </LI><A NAME="xvi"></A><br>
    <LI>Web site shall have the right to assign its obligations and duties
    in this Agreement and in any agreement relating to any/all of its
    Services to any person or entity. </LI>
    <LI>If any provision of the terms and conditions of use and/or
    Agreement is held to be invalid or unenforceable, such provision shall
    be struck and the remaining provisions shall be enforced. </LI>
    <li>All calls to {{ config['APP_NAME'] }} are completely confidential. However, your call may be recorded to ensure quality of service. Further, for training purpose and to ensure excellent customer service, calls from {{ config['APP_NAME'] }} may be monitored and recorded.</li>



    </UL>The above mentioned terms and conditions of use and/or Agreement and
    the Privacy Policy constitute the entire agreement between the User(s) and
    T60 with respect to access to and use of the web site, superseding any
    prior written or oral agreements in relation to the same subject matter
    herein.
    <BR><BR><br><h4><font COLOR="#004080">XVI. BIG BUYER TERMS OF USE (“TOU”)</font></h4>

    Under Big Buyer banner, {{ config['APP_NAME'] }} Inc (“{{ config['APP_NAME'] }}”) shall develop the MICROSITE for the USER(S) company on its website (i.e. www.{{ config['APP_NAME'] }}.com), wherein {{ config['APP_NAME'] }} shall display all the leads of the USER(S) company separately, which would help USER(S) in finding out the RIGHT suppliers in short period of time.<br>
    <UL>
    <LI>USER(S) company hereby grant right to {{ config['APP_NAME'] }} to use its Intellectual Property on its website in relation to the requirements posted by the USER(S) on {{ config['APP_NAME'] }}.com</LI>
    <LI>USER(S) company ensures that the contents provided to {{ config['APP_NAME'] }} shall not contain any material which is offensive / derogatory / explicit / perverse to any specific race, gender or class of persons or degrading to public conscience or morals and do not breach any applicable law.</LI>

    <LI>{{ config['APP_NAME'] }} makes no representations or warranties to USER(S) with respect to services provided by {{ config['APP_NAME'] }} under Big Buyer banner.</LI>
    <LI>{{ config['APP_NAME'] }} hereby disclaims all warranties express and implied, including the implied warranties of merchantability, fitness for a particular purpose, and non-infringement with respect to the services provided by {{ config['APP_NAME'] }} under the Big Buyer banner.</LI>
    <LI>All intellectual property rights in the logos, brands and trademarks of USER (S) Company used in relation to the above mentioned service shall vest with the USER(S) Company only.</LI>
    <LI>(A) In no event shall {{ config['APP_NAME'] }} be liable to USER(S) Company for any special, exemplary, indirect, incidental, consequential, punitive or for any damages arising out of or in connection with respect to the above mentioned service.</LI> </UL>

    Apart from the said terms & conditions, the terms of use of {{ config['APP_NAME'] }} will be deemed to form part and parcel of Big Buyers Term & Conditions
    <div id="xvii">
    <BR><BR><br><h4><font COLOR="#004080">XVII. PHARMACEUTICAL PRODUCT/SERVICE POLICIES </font></h4> 
    <A NAME=""></A>
    {{ config['APP_NAME'] }}.com is a platform that does not facilitates the purchase of pharmaceutical products, in fact, it only advertise and/or showcase the pharmaceutical products posted by the Suppliers listed on the website – <a href="{{ url_for('home.default') }}"> www.{{ config['APP_NAME'] }}.com</a>. The Buyers and Suppliers assure {{ config['APP_NAME'] }} and hereby agree to abide by and be compliant of all the related laws, rules, regulations, notifications or orders issued by the Government of Vietnam or any of its Agencies from time to time.

    {{ config['APP_NAME'] }} shall not be responsible for any information/content related to the Medicine(s) and/or Drugs, posted/provided/displayed by the listed Suppliers on our website – <a href="{{ url_for('home.default') }}"> www.{{ config['APP_NAME'] }}.com</a>, as we are only a medium of advertisement for the Buyers and Suppliers.

    Suppliers of the Medicines and/or Drugs hereby undertake that they shall solely be responsible and shall bear all the liabilities in respect of selling prescriptive Medicines and/or Drugs mentioned in the Schedules of the Drugs and Cosmetics Act, 1940, without the Certified Practitioner’s Prescription. In the event of breach of such condition, {{ config['APP_NAME'] }} shall not be liable and responsible in any manner whatsoever, as {{ config['APP_NAME'] }} does not take part in the actual transaction that takes place between the Buyers and Suppliers.

    User(s) of the website – <a href="{{ url_for('home.default') }}">www.{{ config['APP_NAME'] }}.com</a> undertake and agree to INDEMNIFY and hold harmless {{ config['APP_NAME'] }} or any of its affiliates, directors, officers, employees or representatives from and against any/all losses, liabilities, damages, claims, costs and expenses (including attorney’s fees and expenses, any third party claims), which {{ config['APP_NAME'] }} may incur or suffer as a result of or in connection with any illegal sales of drugs and/or medicines.

    In compliance with Drug and Cosmetic Act and Rules, we don't display or list the Medicines and/or Drugs mentioned in the Schedule X of the Drugs and Cosmetics Act, 1940.

    {{ config['APP_NAME'] }} does not offer any guarantees or warranties on the medicinal products or services displayed or listed on our website – <a href="{{ url_for('home.default') }}">www.{{ config['APP_NAME'] }}.com </a> and is not liable for any transaction between the Buyers & Suppliers as such, including the sale of any medicine(s) restricted and/or banned for sale by the Governmental or any other Regulatory Authorities. 
    <br>
    <br>
    </div>
    <div id="xviii">
    <BR><BR><br><h4><font COLOR="#004080">XVIII. Posting your Contents on T60 </font></h4> 
    {{ config['APP_NAME'] }} has the right to promote the content (text, images, videos, brochures etc.) provided by a client on various platforms and properties owned by the company
    </div>
    </div>
{% endblock %}