{% extends "layouts/L1.html" %}

{% import 'components/account.html' as account_comps with context %}

{% block top_region_background %}
{{ account_comps.top_banner(current_user) }}
{% endblock %}

{% block top_region %}
<h3 class="account-top-info">
    {% block page_title %} {{ _('Support Center') }} {% endblock %}
</h3>
{% endblock %}

{% block content %}
<div>
    <button id='new-ticket-btn' class='btn-update' data-toggle='modal' data-target='#support-modal'>{{ ('New support ticket') }}</button>
</div>

<br>

<div class='open-tickets-wrapper'>
    <h4>{{ _('Open Tickets') }}</h4>
    {{ render_tickets(open_tickets) }}
</div>

<br>

<div class='closed-tickets-wrapper'>
    <h4>{{ _('Closed Tickets') }}</h4>
    {{ render_tickets(closed_tickets) }}
</div>
{% endblock %}


{% macro render_tickets(tickets) %}
<div class='scrollable'>
    <table class='table'>
        <thead>
            <tr>
                <th>{{ _('Ticket') }} ID</th>
                <th>{{ _('Summary') }}</th>
                <th>{{ _('Status') }}</th>
                <th>{{ _('Create Time') }}</th>
                <th>{{ _('Last Updated') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td><a href='{{ url_for("support_ticket.ticket", pr_id=ticket.id) }}'>{{ ticket.name }}</a></td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.create_time }}</td>
                <td>{{ ticket.update_time }}</td>
                <td><a href='{{ url_for("messages.support_thread", ticket_id=ticket.id) }}'>Chat &nbsp;<span class='fa fa-comment'></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% block scripts %}
{{ super() }}
{% endblock %}

