{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}

{% block page_title %} {{ _('Support') }} {% endblock %}

{% block top_region_background %}
{% endblock %}

{% block top_region %}
<h3>{{ _('Support') }}</h3>
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-sm-12 col-md-12'>
        <h5 class='text-warning'><i class='fa fa-exclamation-triangle'></i>{{ _('You can also login and create a support ticket here:') }}
            <a href='/support'>{{ _('Login') }}</a>
        </h5>
    </div>
</div>
<div class='row'>
    <div class='col-sm-12 col-md-6'>
    <form class='new-ticket-form' id='support-bubble-new-ticket-form' method="POST" action='/support-general'>                    
        <div class='form-group'>
            <label for='new_ticket_name'>{{ _('Your Email') }}</label>
            <input class='form-control' type='text' name='email'>
        </div>
        <div class='form-group'>
            <label for='new_ticket_type'>{{ _('Issue Topic') }}</label>
            <select class='form-control' name='ticket_type'>
                <option value="" disabled selected>{{ _('Choose your option') }}</option>
                {% for t in constants.SUPPORT_TICKET_TYPES_NONLOGIN %}
                <option value='{{ t }}'>{{ t }}</option>
                {% endfor %}
            </select>
        </div>
        <div class='form-group'>
            <label for='new_ticket_description'>{{ _('Description of Issue') }}</label>
            <textarea rows=6 class='form-control' name='description'></textarea>
        </div>
        <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
    </form> 
    </div>
</div>

{% endblock %}


{% block scripts %}
{{ super() }}
{% endblock %}

