{% extends "layouts/L1.html" %}

{% import 'components/account.html' as account_comps with context %}

{% block top_region_background %}
{{ account_comps.top_banner(current_user) }}
{% endblock %}

{% block top_region %}
<h3 class="account-top-info">
    {% block page_title %}{{ _('Support Ticket') }} {{ ticket.id }}{% endblock %}
</h3>
{% endblock %}

{% block content  %}
<div class='ticket-details-wrapper'>
    <table class='details-table'>
        <tbody>            
            <tr>
                <th>{{ _('Summary') }}</th>
                <td>{{ ticket.name }}</td>
            </tr>
            <tr>
                <th>{{ _('Create Time') }}</th>
                <td>{{ ticket.create_time }}</td>
            </tr>
            <tr>
                <th>{{ _('Status') }}</th>
                <td>{{ ticket.status }}</td>
            </tr>
            <tr>
                <th>{{ _('Last Updated') }}</th>
                <td>{{ ticket.update_time }}</td>
            </tr>
            <tr>                
                <td colspan=2>{{ ticket.description }}</td>
            </tr>                              
        </tbody>
    </table>
</div>
<div class='open-thread-btn-wrapper'>
    <a href='{{ url_for("messages.support_thread", ticket_id=ticket.id) }}'><span class='btn-contact'>{{ _('Open Conversation') }}</span></a>
</div>

{% if is_master %}
<div class='resolve-ticket-wrapper'>
    </br>
    <h4>{{ _('Resolve') }}</h4>
    <div class='row'>
        <div class='col-sm-12 col-md-3'>
        <select data-ticket_id='{{ ticket.id }}' class='form-control' name='support_ticket_status' id='support-ticket-status-select'>
            {% for s in constants.SUPPORT_TICKET_STATUSES %}
            <option value='{{ s }}' {% if s == ticket.status %}selected{% endif %}>{{ s }}</option>
            {% endfor %}
        </select>
        </div>
    </div>
    
</div>
{% endif %}

{% endblock %}

{% block scripts %}

{% if is_master %}
{{ javascript_tag('support_ticket') | safe }}
<script>
    SUMO.support_ticket.handle_update_ticket_status();
</script>
{% endif %}

{% endblock %}