{% extends "layouts/L1.html" %}

{% import 'components/product.html' as product_comps with context %}
{% import "components/company.html" as company_comps with context %}   

{% block page_title %} {{ _('Manage Product Media') }} {% endblock %}

{% block top_region_background %}
{{ company_comps.top_banner(current_user.company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.company_menu(current_user.company, current='manage_products') }}
{% endblock %}


{% block content %}

{{ product_comps.topnav() }}

<div class='row'>
    <div class='col-12'>
        {{ product_comps.manage_media_topnav(current='all') }}
    </div>
</div>

<div class='manage-media-container mt-4'>
    
    <div class='media-grid'>
        {% if not media | length %}
        <div class='col-12'>
            <br>
            <p><i>{{ _('No media found.') }}</i></p>
        </div>
            
        {% else %}                    
            {% for item in media %}
            <div class='media-item' id='{{ item.name }}-media-item'>
                <img src='{{ item.thumbnail() }}' alt='{{ item.name }}' />
                <span class='delete-media-btn' 
                    data-item_name='{{ item.name }}'
                    data-item_id='{{ item.id }}'
                    data-product_id='{{ item.product[0].id }}'><i class='fa fa-close'></i></span>
            </div>                
            {% endfor %}            
        {% endif %}        
    </div>

    <div class='pages'>
        {% set start = [1, current_page-5]|max %}
        {% set end = [start+5, num_pages]|min %}
        {% if start > 1 %}
        <span class='page-item' data-page='{{ current_page-1 }}'><i class='fa fa-chevron-left'></i></span>
        {% endif %}

        {% for i in range(start, end+1) %}
        <span class='page-item {% if current_page == i %}active{% endif %}' id='page-item-{{i}}' data-page='{{ i }}'>{{ i }}</span>
        {% endfor %}

        {% if end < num_pages %}
        <span class='page-item' data-page='{{ current_page+1 }}'><i class='fa fa-chevron-right'></i></span>
        {% endif %}
    </div>

</div>
{% endblock %}

{% block scripts %}
{{ javascript_tag('manage_media') | safe }}
<script>
    SUMO.manage_media.start_product_all();
</script>
{% endblock %}