{% extends "layouts/L1.html" %}

{% import 'components/product.html' as product_comps with context %}
{% import "components/company.html" as company_comps with context %}   

{% block page_title %} {{ _('Manage Product Media') }} {% endblock %}

{% block top_region_background %}
{{ company_comps.top_banner(current_user.company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.company_menu(current_user.company, current='manage_products') }}
{% endblock %}


{% block content %}

{{ product_comps.topnav() }}

<div class='row'>
    <div class='col-12'>
        <div class='manage-product-media-search-box'>
            <div class="input-group with-shadow">
                <input id='search-input' type="text" value="{% if keyword %}{{ keyword }}{% endif %}"
                    class="form-control" placeholder="{{ _('Find products') }}">
                <span id='search-btn' class="input-group-addon">
                    <i class='fa fa-search'></i>
                </span>
            </div>
        </div>
        {{ product_comps.manage_media_topnav(current='per') }}
     
    </div>
</div>

<div class='manage-media-container mt-4'>
    
    <div class='product-media-list-container'>
    {% for product in products %}
        {{ render_manage_product_media(product) }}
    {% endfor %}
    </div>    

    <div class='pages'>
        {% set start = [1, current_page-5]|max %}
        {% set end = [start+5, num_pages]|min %}
        {% if start > 1 %}
        <span class='page-item' data-page='{{ current_page-1 }}'><i class='fa fa-chevron-left'></i></span>
        {% endif %}

        {% for i in range(start, end+1) %}
        <span class='page-item {% if current_page == i %}active{% endif %}' id='page-item-{{i}}' data-page='{{ i }}'>{{ i }}</span>
        {% endfor %}

        {% if end < num_pages %}
        <span class='page-item' data-page='{{ current_page+1 }}'><i class='fa fa-chevron-right'></i></span>
        {% endif %}
    </div>

</div>
{% endblock %}


{% macro render_manage_product_media(product) %}
<div class='card product-list-item'>
    <div class='card-body'>
        <div class='card-title'>
            <h5>
                <a href='{{ url_for("product.product_page", pr_id=product.id) }}'>{{ product.name }}</a>                
            </h5>
        </div>
        <div class='card-text'>
            <div class='media-add-container'>                
                <div class='media-new-items'>                    
                    <form enctype="multipart/form-data" class='add-media-form' id='{{ product.id }}-add-media-form'>
                        <input type='hidden' name='product_id' value='{{ product.id }}'>
                        <input multiple class='add-media-input' type='file' 
                            data-preview_id='{{ product.id }}-add-media-preview'
                            name='media' id='{{ product.id }}-add-media-input'>
                        <label class='add-media-btn' for='{{ product.id }}-add-media-input'><i class='fa fa-plus'></i></label>                
                    </form>
                    <div class='add-media-preview' id='{{ product.id }}-add-media-preview'>
                    </div>
                </div>
                <button class='btn btn-primary btn-sm add-media-upload-btn'
                    data-product_id='{{ product.id }}'
                    data-input_id='{{ product.id }}-add-media-input'
                    data-form_id='{{ product.id }}-add-media-form'
                    data-preview_id='{{ product.id }}-add-media-preview'>{{ _('Upload') }}</button>
            </div>
            
            <div class='media-grid-hz'>       
            {% for item in product.media_list %}                    
                <div class='media-item-hz' id='{{ item.name }}-media-item'>
                    <img src='{{ item.thumbnail() }}' alt='{{ item.name }}' />
                    <span class='delete-media-btn' 
                        data-item_name='{{ item.name }}'
                        data-item_id='{{ item.id }}' 
                        data-product_id='{{ product.id }}'><i class='fa fa-close'></i></span>
                </div>                    
            {% endfor %}                
            </div>
        </div>
    </div>    
</div>
{% endmacro %}

{% block scripts %}
{{ javascript_tag('manage_media') | safe }}
<script>
    SUMO.manage_media.start_product();
</script>
{% endblock %}