{% extends "layouts/L1.html" %}

{% import "components/company.html" as company_comps with context %}

{% block page_title %} {{ _('Manage Company Media') }} {% endblock %}

{% block top_region_background %}
{{ company_comps.top_banner(current_user.company) }}
{% endblock %}

{% block top_region %}
{{ company_comps.company_menu(current_user.company, current='manage_media') }}
{% endblock %}

{% block center %}

<div class='manage-media-container'>
    <div class='media-add-container'>
        <div class='media-new-items'>
            <h4>{{ _('Add new media') }}</h4>            
            <form enctype="multipart/form-data" id='add-media-form'>
                <input type='hidden' name='company_id' value='{{ company.id }}'>
                <input multiple class='add-media-input' type='file' name='media' id='add-media-input'>
                <label class='add-media-btn' for='add-media-input'><i class='fa fa-plus'></i></label>                
            </form>
            <div class='add-media-preview' id='add-media-preview'>                
            </div>
        </div>
        <button class='btn btn-primary' id='add-media-upload-btn'>{{ _('Upload') }}</button>
    </div>
    

    <div class='media-grid'>        
        {% for item in media %} 
        <div class='media-item' id='{{ item.name }}-media-item'>
            {% if 'image' in item.file_type %}
            {# <a download='{{ item.name | fmt_media_file }}' href='{{ item.url }}'></a> #}
        
                <img src='{{ item.thumbnail() }}' alt='{{ item.name }}' data-toggle="modal" data-target="#imageModal" data-imgurl='{{ item.url }}' data-imgname='{{ item.name | fmt_media_file }}'/>
            
            {% else %}
            <i class='fa fa-file-o'> </i>
            <a download='{{ item.name | fmt_media_file }}' href='{{ item.url }}'> {{ item.name | fmt_media_file }}</a>
            {% endif %}
            <span class='delete-media-btn' 
                data-item_name='{{ item.name }}'
                data-item_id='{{ item.id }}' 
                data-company_id='{{ company.id }}'><i class='fa fa-close'></i></span>
        </div>            
        {% endfor %}        
    </div>

    <div class='pages'>
        {% set start = [1, current_page-5]|max %}
        {% set end = [start+5, num_pages]|min %}
        {% if start > 1 %}
        <span class='page-item' data-page='{{ current_page-1 }}'><i class='fa fa-chevron-left'></i></span>
        {% endif %}

        {% for i in range(start, end+1) %}
        <span class='page-item {% if current_page == i %}active{% endif %}' id='page-item-{{i}}' data-page='{{ i }}'>{{ i }}</span>
        {% endfor %}

        {% if end < num_pages %}
        <span class='page-item' data-page='{{ current_page+1 }}'><i class='fa fa-chevron-right'></i></span>
        {% endif %}
    </div>

</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel">{{ _('Image') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
            <button type="button" class="btn btn-primary"><a href='' class='btn-img-download'>{{ _('Download') }}</a></button>
        </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
{{ javascript_tag('manage_media') | safe }}
<script>
    SUMO.manage_media.start_company();
</script>
{% endblock %}