{% extends "layouts/L1.html" %}

{% import "components/account.html" as account_comps with context %}

{% block page_title %} {{ _('User Profile') }} {% endblock %}

{% block top_region_background %}
{{ account_comps.top_banner(user) }}
{% endblock %}

{% block top_region %}
<h3 class="account-top-info">
    {{ _('Account page') }}
    {% if user.id == current_user.id %}
    <a href='{{ url_for("account.my_account") }}'>
        <span class='btn-update'>{{ _('Manage') }}</span></a>
    {% else %}
    <a href='{{ url_for("messages.private_thread", user_id=user.id) }}'>
            <span class='btn-message'>{{ _('Message') }}</span></a>
    {% endif %}
</h3>
{% endblock %}

{% block content %}
<table id='account-table' class='details-table'>
    <tbody>
        <tr>
            <th>{{ _('Profile Picture') }}</th>
            <td><img height='100px' width='100px' 
                src='{% if user.profile_pic %}{{ user.profile_pic }}{% else %}/static/img/user_default.png{% endif %}'>
            </td>
        </tr>
        <tr>
            <th>{{ _('Name') }}</th>
            <td>{{ user.name or _("Not Available") }}</td>
        </tr>        
        <tr>
            <th>{{ _('Company') }}</th>
            {% if user.company_id %}
            <td><a href='{{ url_for("company.company_page", pr_id=user.company_id) }}'>{{ user.company.name }}</a></td>
            {% else %}
            <td>{{ user.company_name }} ({{ _('Unverified') }})</td>
            {% endif %}
        </tr>        
        <tr>
            <th>{{ _('Location') }}</th>
            <td>{{ user.location or _("Not Available") }}</td>
        </tr>
        <tr>
            <th>{{ _('Country') }}</th>
            <td>{{ user.country or _("Not Available") }}</td>
        </tr>
        <tr>
            <th>{{ _('Website') }}</th>
            <td>{{ user.website | fmt_link(public=True) }}</td>
        </tr>
        <tr>
            <th>{{ _('Social Accounts') }}</th>
            <td>
                <div class='user-social-accounts'>
                    {% if user.social_accounts %}
                        {% for ltype, val in user.social_accounts.items() %}
                        {% if val %}
                        <span class='mr-2'>{{ val|fmt_link(ltype=ltype, public=False) }} </span>
                        {% endif %}
                        {% endfor %}
                    {% else %}
                    {{ _("Not Available") }}
                    {% endif %}
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}