{% extends "layouts/L39.html" %}

{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/account.html' as account_comps with context %}

{% block page_title %} {{ _('Change Password') }} {% endblock %}

{% block top_region_background %}
{{ account_comps.top_banner(current_user) }}
{% endblock %}

{% block top_region %}
<h3 class="account-top-info">
    {{ _('My account') }}
    &nbsp;<a class="link" href='{{ url_for("account.account_page", pr_id=current_user.id) }}'>
        {{ _('View public page') }}
    </a>    
</h3>
{% endblock %}


{% block left_column %}
{{ account_comps.sidebar(current='change_password') }}
{% endblock %}

{% block right_column %}
<div class='row'>
    <div class='col-sm-12 col-md-6'>
        <h3>{{ _('Change password') }}</h3>
        <form method='POST' id='change-password-form'>
            {{ forms_macro.input('old_password', _('Old password'), type='password') }}
            {{ forms_macro.input('new_password', _('New password'), type='password') }}
            {{ forms_macro.input('new_password_again', _('New password (again)'), type='password') }}

            {{ forms_macro.submit_btn(text=_('Save')) }}
        </form>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ javascript_tag('account') | safe }}
<script>
    SUMO.account.handle_change_password_form();
</script>
{% endblock %}
