{% extends "layouts/L39.html" %}

{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/account.html' as account_comps with context %}

{% block page_title %} {{ _('My Account') }} {% endblock %}

{% block top_region_background %}
{{ account_comps.top_banner(current_user) }}
{% endblock %}

{% block top_region %}
<h3 class="account-top-info">
    {{ _('My account') }}
    &nbsp;<a class="link" href='{{ url_for("account.account_page", pr_id=current_user.id) }}'>
        {{ _('View public page') }}
    </a>
</h3>
{% endblock %}

{% block left_column %}
{{ account_comps.sidebar(current='my_account') }}
{% endblock %}

{% block right_column %}
<div id='my-account-content'>
    <form method='POST' onsubmit='event.preventDefault()' id='my-account-form' enctype='multipart/form-data'>
        <table id='my-account-table' class='details-table editable'>
            <tbody>
                {{ forms_macro.editable_img_tr('profile_pic', _('Profile Picture'), current_user.profile_pic, default='/static/img/user_default.png') }}
                {{ forms_macro.editable_img_tr('banner', _('Banner Picture'), current_user.banner, default='/static/img/user_banner_1.jpg') }}
                {{ forms_macro.editable_tr('first_name', _('First Name'), current_user.first_name) }}
                {{ forms_macro.editable_tr('last_name', _('Last Name'), current_user.last_name) }}
                
                <tr>
                    <th>Email</th>
                    <td>{{ current_user.email }}</td>
                </tr>

                {{ forms_macro.editable_select_tr('interest', _('Interest'), current_user.interest, items=constants.USER_INTERESTS) }}

                <tr>
                    <th>{{ _('Company') }}</th>
                    {% if not current_user.company_id %}
                    <td>
                        {{ current_user.company_name }}
                        <a href='{{ url_for("company.link_my_company") }}'>[ {{ _('Link my company') }} ]</a>
                    </td>
                    {% else %}
                    <td><a href='{{ url_for("company.my_company") }}' class="font-weight-bold">{{ current_user.company.name }}</a>
                       <br /><br />
                        <button type="button" class="btn btn-danger btn-sm" onclick="leave_my_company();"><i class='fa fa-close fa-3'></i>{{ _('Leave My Company') }}<i class='fa fa-close fa-3'></i></button>
            
                    </td>
                    {% endif %}
                </tr>

                {{ forms_macro.editable_tr('position_title', _('Position Title'), current_user.position_title) }}

                <tr>
                    <th>{{ _('Account type') }}</th>
                    <td>{{ current_user.account_type }}</td>   
                </tr>                         

                {{ forms_macro.editable_select_tr('country', _('Country'), current_user.country, items=geo.countries_list) }}
                {{ forms_macro.editable_tr('location', _('Location'), current_user.location) }}
                {{ forms_macro.editable_tr('website', _('Website'), current_user.website) }}
                {{ forms_macro.editable_social_accounts_tr(_('Social Accounts'), current_user.social_accounts, apps=constants.USER_SOCIAL_APPS)}}
                
                <tr>
                    <td>
                        </br>
                        <button class='btn-update' id='editable-field-edit-btn'>{{ _('Update') }}</button>
                        <button type='submit' class='btn-submit' id='editable-field-save-btn'>{{ _('Save') }}</button>
                        <button class='btn-cancel' id='editable-field-cancel-btn'>{{ _('Cancel') }}</button>            
                    </td>
                </tr>        
            </tbody>
        </table>
    </form>    
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ javascript_tag('account') | safe }}
<script>
    SUMO.account.handle_my_account_table();
</script>
{% endblock %}