{% extends "layouts/L1.html" %}

{% import 'components/forms.html' as forms_macro with context %}
{% import 'components/account.html' as account_comps with context %}
{% import 'components/product.html' as product_comps with context %}

{% block page_title %} {{ _('My products basket') }} {% endblock %}

{% block top_region_background %}
{{ account_comps.top_banner(current_user) }}
{% endblock %}

{% block top_region %}
<h3 class="account-top-info">
    {{ _('My products basket') }}
</h3>
{% endblock %}

{% block content %}
<p><i>{{ _('Please fill in the following quick form to send bulk inquiries to corresponding sellers.') }}</i></p>
<form id='bulk-product-inquiry-form' method='POST'>
    {{ forms_macro.textarea('text', _('Message (5000 characters limit)'), placeholder="{{ _('Hello, I am interested in ...') }}", maxlength=5000, rows=10) }}

    <input type='submit' class='btn-submit' value='{{ _("Send bulk inquiries") }}'>        
</form>
<br>
<div class='basket-products-list'>
    <p><b>{{ _('There are {} products in your basket'.format(products|length)) }}</b></p>
    {{ product_comps.render_products_basket(products) }}
</div>
{% endblock %}


{% block scripts %}
{{ javascript_tag('my_basket_page') | safe }}
<script>
    SUMO.my_basket_page.start_page();
</script>
{% endblock %}