{% extends "layouts/L39.html" %}

{% import 'components/account.html' as account_comps with context %}

{% block page_title %} {{ _('My Contacts') }} {% endblock %}

{% block top_region_background %}
{{ account_comps.top_banner(current_user) }}
{% endblock %}

{% block top_region %}
<h3 class="account-top-info">
    {{ _('My account') }}
    &nbsp;<a class="link" href='{{ url_for("account.account_page", pr_id=current_user.id) }}'>
        {{ _('View public page') }}
    </a>    
</h3>
{% endblock %}


{% block left_column %}
{{ account_comps.sidebar(current='my_contacts') }}
{% endblock %}

{% block right_column %}
<div class='my-colleagues'>
    <h4 class="mb-3">{{ _('My colleagues') }}
        <a href='{{ url_for("company.get_employee_list") }}'>
            <span class='btn-update'>{{ _('Manage') }}</span>
        </a>
    </h4>
    {{ render_contacts(colleagues) }}
</div>

<br>

<div class='my-business-contacts'>
    <h4 class="mb-3">{{ _('My business contacts') }}</h4>
    {{ render_contacts(biz_contacts) }}
</div>
{% endblock %}
    
{% macro render_contacts(users) %}
<div class='contacts-list'>
{% if users|length > 0 %}
    {% for user in users %}
    <div class='contacts-list-item media'>
        <img height='30px' width='30px' class='rounded-circle' alt='{{ user.name }}'
            src='{% if not user.profile_pic %} /static/img/user_default.png {% else %}{{ user.profile_pic }}{% endif %}'>
        <div class='media-body'>            
            <div><a href='{{ url_for("account.account_page", pr_id=user.id) }}'><b>{{ user.name }}</b></a></div>
            <div><i>{% if user.company_id %}{{ user.company.name }}{% else %}{{ user.company_name }}{% endif %}</i></div>        
        </div>

        <a class='message-user-btn' href='{{ url_for("messages.private_thread", user_id=user.id) }}'>
            <span class='btn-message'>{{ _('Message') }}</span>
        </a>
    </div>
    {% endfor %}
{% else %}
<p><i>{{ _('No contacts.') }}</i></p>
{% endif %}
</div>
{% endmacro %}

{% block scripts %}
{{ super() }}
{% endblock %}
