{% extends "layouts/L39.html" %}

{% import 'components/account.html' as account_comps with context %}
{% import 'components/forms.html' as forms_macro with context %}

{% block page_title %} {{ _('My Settings') }} {% endblock %}

{% block top_region_background %}
{{ account_comps.top_banner(current_user) }}
{% endblock %}

{% block top_region %}
<h3 class="account-top-info">
    {{ _('My account') }}
    &nbsp;<a class="link" href='{{ url_for("account.account_page", pr_id=current_user.id) }}'>
        {{ _('View public page') }}
    </a>    
</h3>
{% endblock %}


{% block left_column %}
{{ account_comps.sidebar(current='settings') }}
{% endblock %}

{% block right_column %}

<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li class="nav-item">
    <a class="nav-link active" id="privacy-tab" data-toggle="tab" 
        href="#privacy" role="tab" aria-controls="privacy" aria-selected="true">{{ _('Privacy') }}</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" id="notifications-tab" data-toggle="tab" 
        href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">{{ _('Notifications') }}</a>
    </li>
</ul>
<form name='my-settings-form' id='my-settings-form'>
<div class="tab-content" id="myTabContent">
        
    <div class="tab-pane fade show active" id="privacy" role="tabpanel" aria-labelledby="privacy-tab">
            
        {{ forms_macro.checkbox('privacy_hide_account', _('Hide my user account'), checked=current_user.privacy_settings['privacy_hide_account']) }}
        {{ forms_macro.checkbox('privacy_email_public', _('Display email in my public page'), checked=current_user.privacy_settings['privacy_email_public']) }}
        {{ forms_macro.checkbox('privacy_social_accounts_public', _('Show my social accounts'), checked=current_user.privacy_settings['privacy_social_accounts_public']) }}
        
        <div class='form-group w-75'>
            <label for='users-search'>{{ _('Blocked users') }}
                <span data-toggle="tooltip" data-placement="top" title="{{ _('These users will not be able to contact you and you will not receive message notifications from them.') }}">
                    <i class='fa fa-question-circle text-primary'></i>
                </span>
            </label>        
            <div class='search-users-added' id='search-users-added'>
                    <input type="hidden" name="privacy_blocked_users" value="">
            </div>
            <div class='input-group'>
                <input class='form-control' placeholder="{{ _('Search user by name, phone or email') }}" 
                    type='text' id='search-users-input'>    
                <span class='input-group-addon' id='search-users-input-btn'>
                    <i class='fa fa-search'></i>
                </span>
            </div>
            <div class='search-users-output' id='search-users-output'>
            </div>        
        </div>

        <button class='btn-submit' type='submit'>{{ _('Save') }}</button>
    </div>

    <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
        {{ forms_macro.select('noti_interval', _('Email me latest notifications every '), items=constants.NOTIFICATION_DURATION_DICT, default=current_user.site_settings['noti_interval']) }}
        
        {{ forms_macro.checkbox('noti_company_enabled', _('Send me company notifications'), checked=current_user.site_settings['noti_company_enabled']) }}
        <br>
        <button class='btn-submit' type='submit'>{{ _('Save') }}</button>
    </div>
</div>
</form>
{% if blocked_users %}
<div id='blocked-users-wrapper'>
{% for elem in blocked_users %}
<span class='current-blocked-users' data-blockedusers='{{ elem|tojson }}'></span>
{% endfor %}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ javascript_tag('account') | safe }}
<script>
    SUMO.account.handle_my_account_settings();
</script>
{% endblock %}