{% extends "layouts/L1.html" %}

{% block page_title %} {{ _('My Reports') }} {% endblock %}

{% block top_region %}
<h3 class='my-company-nav-title'>{{ _('My reports') }}</h3>
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-sm-12 col-md-12'>
            
            {% if reports %}
            <h5>{{ _('You have submitted the following reports') }}</h5>
            
            
            <table class="table">
            <thead>
              <tr>
                  <th>#</th>
                  <th>{{ _('Company Name') }}</th>
                  <th>{{ _('Company Webpage') }}</th>
                  <th>{{ _('Report Type') }}</th>
                  <th>{{ _('Report Submission Date') }}</th>
                  <th>{{ _('Status') }}</th>
                  <th>{{ _('Action') }}</th>
              </tr>
            </thead>
  
            <tbody>
            {% for report in reports %}
            <tr  data-toggle="collapse" data-target="#report-{{ report.id  }}">
             <th scope="row">{{ loop.index }}</th>
              <td>{{ report.company.name or _('Missing') }} <i class="fa fa-file-text"></i></td>
              <td><a href="{{ url_for('company.company_page', pr_id=report.company_id) }}">Link</a></td>
              <td>{{ report.report_type }}</td>
              <td>{{ report.create_time|fmt_datetime('medium') }}</td>
              <td>
              {% if report.is_resolved %}
              <span class="badge badge-secondary">{{ _('Resolved') }}</span>
              {% else %}
              <span class="badge badge-info">{{ _('Open') }}</span>
              {% endif %}
              </td>
              <td>
              <button class='update-btn btn-update btn-sm' onclick='alert("You cannot edit your submitted report.");' data-reportid='{{ report.id }}'
                data-update-url='{{ url_for("company_report.update_report", report_id=report.id, view="clean") }}'>
                <i class='fa fa-pencil'></i>
               </button>
                <button class='update-btn btn-danger btn-sm' onclick='alert("You cannot remove your submitted report.");' data-reportid='{{ report.id }}'
                data-update-url='{{ url_for("company_report.update_report", report_id=report.id, view="clean") }}'>
                <i class='fa fa-remove'></i>
               </button>
               
               <span class='btn btn-primary'><i class="fa fa-file-text"></i>
               </span>
               
              </td>
              
             </tr>
             <tr id="report-{{ report.id }}" class="collapse">
               <td>&nbsp;</td>
               <td colspan="6">
                      <div >
                        {{ _('Reason') }}: 
                        <p>{{ report.reason }}
                        </p>
                      </div>
                  </td>
              </tr>
            {% endfor %}
              
            
             </tbody>
            </table>
            

                
            {% else %}
            <i>{{ _('No reports available') }}</i>
            {% endif %}
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
  
</script>

{% endblock %}
