{% extends "layouts/L1.html" %}
{% import "components/company.html" as company_comps with context %}
{% import "components/misc.html" as misc_comps with context %}
{% import 'components/forms.html' as forms_macro with context %}

{% block page_title %} {{ _('Report Company') }} {% endblock %}

{% block top_region_background %}
{{ company_comps.top_banner(company) }}
{% endblock %}

{% block top_region %}
<div class='my-company-nav-wrapper'>                    
    <div class='my-company-nav' id='company-tabs'>
        
        <h3 class='my-company-nav-title'>
            <img class='company-logo' alt='company-logo'
                src='{{ company.logo or (company.media[0].thumbnail() if company.media else "/static/img/company_default.png") }}'>
            {{ _('Report Company') }}: <i>{{ company.name }}</i>
        </h3>
    </div>   
</div>
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col-12'>            
        {% if reported %}
        <h5>{{ _('Thank you for your report. We will review your report shortly and contact you if neccessary.') }}</h5>
        {% else %}
        <form id='report-company-form'>
            {{ forms_macro.select_from_list('report_type', _('Report Type'), items=constants.REPORT_TYPES )}}
            {{ forms_macro.textarea('reason', _('Additional Information')) }}
            {{ forms_macro.submit_btn(_('Submit')) }}
        </form>
        {% endif %}
        <div class="mt-3">
        <h5><a href="{{ url_for('company_report.list_reports') }}">{{ _('Your previous reports') }}</a></h5>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

{{ javascript_tag('company') | safe }}
<script>
  
</script>

{% endblock %}
