{% macro sidebar(current=None) %}
{% set items = [('my_account', _('General'), url_for('account.my_account')),                 
                ('settings', _('Settings'), url_for('account.settings')),                
                ('change_password', _('Change password'), url_for('account.change_password')), 
                ('my_contacts', _('My contacts'), url_for('account.my_contacts')),                             
                ('manage_rfqs', _('Manage RFQs'), url_for('rfq.manage_rfqs')),  
                ('manage_quotes', _('Manage quotes'), url_for('quote.manage_quotes')),       
                ] %}

<div class='my-account-sidebar' id='my-account-sidebar'>
    <div class='my-account-sidebar-top' onclick='toggle_menu("my-account-sidebar")'>
        <img src='{% if current_user.profile_pic %} {{ current_user.profile_pic }} {% else %}/static/img/user_default.png{% endif %}' alt='profile-pic'>
        {{ current_user.name }}
        <span class='toggle-my-account-sidebar'>
            <i class='fa fa-caret-down fa-3' aria-hidden="true"></i>
            <span class='toggle-my-account-text'>{{ _("Show menu") }}</span>            
        </span>
    </div>
    <div id='my-account-sidebar-items' class='my-account-sidebar-items list-group'>
        {% for item in items %}    
        <a href='{{ item[2] }}' class='list-group-item list-group-item-action {% if item[0] == current %}active{% endif %}'>{{ item[1] }}</a>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro render_account_short_info(user, title='Account profile') %}
<div class='short-info account-short-info' id='user-{{ user.id }}'>
    <div class='card'>
        <div class='card-header'><span class='header-text'>{{ title }}</span></div>
        <div class='card-body'>
            <div class='card-title'>
                <img class='profile-pic' src='{% if user.profile_pic %}{{ user.profile_pic }}{% else %}/static/img/user_default.png{% endif %}'>
                <a href='{{ url_for("account.account_page", pr_id=user.id) }}'>{{ user.name }}</a>
            </div>
            <div class='card-text'><i>{% if user.company %}{{ user.company.name }}{% else %}{{ user.company_names }}{% endif %}</i></div>
            <div class='card-text'><b>{{ _('Position') }}: </b>{{ user.position_title }}</div>
            <div class='card-text'><b>{{ _('Location') }}: </b>{{ user.location }}</div>
            <div class='card-text'><b>{{ _('Country') }}: </b>{{ user.country }}</div>
            <div class='card-text'><a href='{{ url_for("messages.private_thread", user_id=user.id) }}'><b>{{ _('Send private message') }}</b></a>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_contacts_table(contacts) %}
<div class='input-group with-shadow'>
    <input id='search-contacts-input' class='form-control' type='text' 
        placeholder='{{ _("Filter contacts") }}' onchange='window.filter_table(this,"#contacts-list .contact-details")'>
    <span class='input-group-addon'><i class='fa fa-search'></i></span>
</div>
<div id='contacts-list' class='contacts-list'>
    <table class='table table-sm'>
        <tbody>
            {% for u in contacts %}
            <tr data-contact_email='{{ u.email }}' data-contact_name='{{ u.name }}'>
                <td>
                    <img class='profile-pic' src='{% if u.profile_pic %}{{ u.profile_pic }}{% else %}/static/img/user_default.png{% endif %}'>
                </td>
                <td class='contact-details'>                        
                    <h6><a href='{{ url_for("account.account_page", pr_id=u.id) }}'>{{ u.name }}</a></h6>
                    <div class='company-link'>
                        <span>
                            {{ u.company.name if u.company else u.company_name }}
                        </span>
                    </div>                    
                </td>
                <td><a class='btn-message btn-sm' href='{{ url_for("messages.private_thread", user_id=u.id) }}'>Message</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro top_banner(user) %}
<div class='account-top-background'
    {% if user.banner %}
    style='background-image: url("{{ user.banner }}"); background-size: cover; background-position: center;'
    {% else %}
    style='background-image: url("/static/img/user_banner_1.jpg"); background-size: cover; background-position: center;'
    {% endif %}>

    <div class='account-top-background-overlay'></div>
</div>
{% endmacro %}
