{% macro render_nav() %}
{% set items = [
    (_('Manage Users'), url_for('admin.user_master')),
    (_('Manage Companies'), url_for('admin.manage_companies')),
    (_('Resolve Tickets'), url_for('admin.resolve_tickets'))
    ] %}
<h3>{{ _('Admin Console') }}</h3>
<div class='admin-top-nav'>
    <ul class='nav nav-tabs'>
        {% for name, url in items %}
        <li class='nav-item'>
            <a href='{{ url }}' class='nav-link {% if request.path.startswith(url) %}active{% endif %}'>{{ name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}