{% import "components/media.html" as media_comps with context %}
{% import "components/misc.html" as misc_comps with context %}
{% import "components/membership.html" as membership_comps with context %}


{% macro top_banner(company, overlay=False) %}
<div class='company-top-background'
    {% if company.banner %}
    style='background-image: url("{{ company.banner }}"); background-size: cover; background-position: center;'
    {% elif company.main_category %}
    style='background-image: url("{{ company.main_category|company_banner }}"); background-size: cover; background-position:center;'
    {% else %}
    style='background-image: url("/static/img/icons_set_1.png");'
    {% endif %}>
    {% if overlay %}
    <div class='company-top-background-overlay'></div>
    {% endif %}
</div>

{% if company.background %}
<div class='company-background' style='background-image: url("{{ company.background }}");
    background-size: auto;background-repeat:repeat;z-index: -100;
    top:0;left:0;bottom:0;right:0;position:fixed;'>    
</div>
{% endif %}

{% endmacro %}

{% macro company_menu(company, current=None) %}
{% set items = [('my_company', _('Summary'), url_for('company.my_company')),                 
                ('get_employee_list', _('Manage Users'), url_for('company.get_employee_list')), 
                ('manage_media', _('Manage Media'), url_for('media.manage_company_media')),
                ('manage_products', _('Manage Products'), url_for('product.manage_products')),
                ('import_export', _('Import & Export Data'), url_for('company.import_export'))
                ] %}

<div class='my-company-nav-wrapper'>
    <div class='my-company-nav' id='company-tabs'>
        <h3 class='my-company-nav-title'>
            <img class='company-logo' alt='Logo'
                src='{{ company.logo or "/static/img/company_default.png" }}'>
            <span class='my-company-nav-title-text'>{{ company.name }}</span>
            <a class='link' href='{{ url_for("company.company_page", pr_id=company.id) }}'>{{ _('View public page') }}</a>
            {{ membership_comps.render_membership_badge(company.membership_tier) }}
        </h3>

        <div class='my-company-nav-content'>            
            <ul class="nav nav-tabs" > 
            {% for item in items %}
                <li class="nav-item active">
                    <a class="nav-link {% if item[0] == current %}active{% endif %}" href="{{ item[2] }}" >{{ item[1] }} </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

   
</div>
{% endmacro %}

{% macro public_company_menu(company, current=None, product=None, page_title=None) %}
{% set items = [('home', _('Home'), url_for('company.company_page', pr_id=company.id)), 
                ('products', _('Products'), url_for('product.company_products', pr_id=company.id)),
                ('profile', _('Company Profile'), url_for('company.company_page', pr_id=company.id, tab='profile')),
                ('gallery', _('Gallery'), url_for('company.company_page', pr_id=company.id, tab='gallery')),
                ('contact', _('Contact Information'), url_for('company.company_page', pr_id=company.id, tab='contact')) 
                ] %}
<div class='my-company-nav-wrapper'>
    <div class='my-company-nav' id='company-tabs'>

        <h3 class='my-company-nav-title'>
            <img class='company-logo' alt='Logo'
                src='{{ company.logo or "/static/img/company_default.png" }}'>
            <span class='my-company-nav-title-text'>
                {{ company.name }}
                <span class="my-company-badges">
                    {% if company.is_verified %}
                        <span class="badge badge-pill badge-success">{{ _('Verified') }}<i class="fa fa-check fa-3"></i></span>
                    {% else %}
                        <span class="badge badge-pill badge-dark">{{ _('Unverified') }}</span>
                    {% endif %}
                </span>
                {% if not current_user.company_id or current_user.company_id != company.id %}                    
                    <a href='{{ url_for("messages.company_thread_page", company_id=company.id) }}'>
                        <span class='btn-contact'>{{ _('Contact') }}</span>
                    </a>
                {% elif current_user.company_id == company.id %}
                    <a href='{{ url_for("company.my_company") }}'>
                        <span class='btn-update'>{{ _('Manage') }}</span>
                    </a>
                {% endif %}                
            </span>
         
            {{ membership_comps.render_membership_badge(company.membership_tier) }}
        </h3>

        <div class='my-company-nav-content'>        
            {% if not page_title %}
            <ul class="nav nav-tabs" >
                {% for item in items %}
                    <li class="nav-item active">
                        <a class="nav-link {% if item[0] == current %}active{% endif %}" href="{{ item[2] }}" >{{ item[1] }} </a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <h3>{{ page_title }}</h3>
            {% endif %}
        </div>        
        
        {% if not current_user.company_id or current_user.company_id != company.id %}
        <div class='float-right' ><a href="{{ url_for('company_report.report_company', pr_id=company.id) }}" class='text-danger'>Report <i class='ml-2 fa fa-flag'></i></a></div>
        {% endif %}
     
    </div>   
</div>
{% endmacro %}

{% macro breadcrumbs(company, current=None) %}
<div class='breadcrumbs'>
    <span class='breadcrumb-link'><i><a href='{{ url_for("company.company_page", pr_id=company.id) }}'>{{ _('Home') }}</a></i></span>
    {% if current %}
    &nbsp;>>&nbsp;
    <span class='breadcrumb-link'><i><a href='{{ url_for("company.company_page", pr_id=company.id, tab=current[0]) }}'>{{ current[1] }}</a></i></span>
    {% endif %}
</div>
<br>
{% endmacro %}

{% macro render_company_section(company, current_tab=None) %}
{% if current_tab == 'home' %}    
    {{ breadcrumbs(company) }}
    {{ company_home(company) }}
{% elif current_tab == 'contact' %}
    {{ breadcrumbs(company, current=['contact', _('Contact Information')]) }}
    {{ company_contact(company) }}
{% elif current_tab == 'profile' %}
    {{ breadcrumbs(company, current=['profile', _('Company Profile')]) }}
    {{ company_profile(company) }}
{% elif current_tab == 'gallery' %}
    {{ breadcrumbs(company, current=['gallery', _('Gallery')]) }}
    {{ company_gallery(company) }}
{% endif %}
{% endmacro %}


{% macro company_home(company) %}
<div class='row no-gutters'>
    <div class='col-12'>
        <div id="company-images-wrapper">
            {% if company_images %}
            <div id="carousel-company" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in company_images %}
                    <li data-target="#carousel-company" data-slide-to="{{ loop.index0 }}" class="{% if loop.first  %}active{% endif %}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in company_images %}
                    <div class="carousel-item {% if loop.first  %}active{% endif %}">
                        <img class="d-block w-100" src="{{ image }}" alt="Slide {{ loop.index0 }}">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel-company" role="button" data-slide="prev"> 
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">{{ _('Previous') }}</span>
                </a>
                <a class="carousel-control-next" href="#carousel-company" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">{{ _('Next') }}</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class='scrollable'>
<table class='details-table editable borderless table-sm'>
    <tbody>
            {{ misc_comps.display_keywords_tr('keywords', _('Keywords'), values=company.keywords, show_label=False) }}
            {{ misc_comps.display_tr('company_types', _('Company Type'), company.company_types) }}
            {{ misc_comps.display_tr('main_category', _('Main Category'), company.main_category) }}
            {{ misc_comps.display_tr('secondary_category', _('Secondary Category'), company.secondary_category) }}
            {{ misc_comps.display_tr('location', _('Location'), company.location) }}
            {{ misc_comps.display_tr('country', _('Country'), company.country) }}            
    </tbody>
</table>
<br>
<div class='scrollable'>
    {{ company.description|safe }}
    {{ company.company_info|safe }}
</div>
</div>

<br>

<h4 class='mb-3'>{{ _('Featured Products') }}</h4>
{% if company.featured_products %}

{% import "components/product.html" as product_comps %}

{% set products = company.featured_products[:4] %}
{{ product_comps.render_products_grid(products, featured=True) }}
{% else %}
<p><i>{{ _('This company does not have any featured products.') }}</i></p>
{% endif %}
{% endmacro %}

{% macro company_contact(company) %}
<h4>{{ _('Contact Us') }}</h4>
<table class='details-table editable borderless table-sm'>
    <tbody>
        {{ misc_comps.display_tr('phone', _('Phone'), company.phone|fmt_link(ltype="tel")) }}
        {{ misc_comps.display_tr('fax', _('Fax'), company.fax|fmt_link(ltype="fax")) }}
        {{ misc_comps.display_tr('website', _('Website'), company.website|fmt_link(public=True) ) }}
        {{ misc_comps.display_tr('email', _('Email'), company.email|fmt_link(ltype="email")  ) }}
        {{ misc_comps.display_tr('year_founded', _('Year Founded'), company.year_founded) }}
    </tbody>
</table>
{% endmacro %}

{% macro company_profile(company) %}
<div>
    <div class='row large-gutters'>
        <div class='col-sm-12 col-md-3'>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">                

                <a class="nav-link active" id="market-tab" data-toggle="pill" href="#markets" 
                    role="tab" aria-controls="markets" aria-selected="false">{{ _('Market & Capacity') }}</a>

                <a class="nav-link" id="manufacturing-tab" data-toggle="pill" href="#manufacturing" 
                    role="tab" aria-controls="manufacturing" aria-selected="false">{{ _('Manufacturing') }}</a>

                <a class="nav-link" id="ratings-tab" data-toggle="pill" href="#ratings" 
                    role="tab" aria-controls="ratings" aria-selected="false">{{ _('Ratings') }}</a>

                <a class="nav-link" id="tradeshows-tab" data-toggle="pill" href="#tradeshows" 
                    role="tab" aria-controls="tradeshows" aria-selected="false">{{ _('Tradeshows') }}</a>

                <a class="nav-link" id="other-details-tab" data-toggle="pill" href="#other-details" 
                    role="tab" aria-controls="other-details" aria-selected="false">{{ _('Other Details') }}</a>                
            </div>
            <br>
        </div>

        <div class='col-sm-12 col-md-9'>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane active" id="markets" 
                    role="tabpanel" aria-labelledby="markets">
                    <h4>{{ _('Markets & Capacity') }}</h4>
                    <table id='my-company-table' class='details-table editable borderless table-sm'>
                        <tbody>            
                            {{ misc_comps.display_tr('total_revenue', _('Total Revenue'), company.total_revenue) }}
                            {{ misc_comps.display_tr('main_markets', _('Main Markets'), company.main_markets) }}
                            {{ misc_comps.display_tr('shipping_handling', _('Shipping and handling'), company.shipping_handling) }}
                            {{ misc_comps.display_tr('port', _('Port'), company.port) }}
                            {{ misc_comps.display_tr('payment', _('Payment'), company.payment) }} 
                        </tbody>
                    </table>                                        
                </div>

                <div class="tab-pane" id="manufacturing" 
                    role="tabpanel" aria-labelledby="manufacturing">
                    <h4>{{ _('Manufacturing') }}</h4>
                    <table class='details-table editable borderless table-sm'>
                        <tbody>             
                            {{ misc_comps.display_tr('company_size', _('Company size'), company.company_size) }}                
                            {{ misc_comps.display_tr('capacity', _('Production Capacity'), company.capacity) }}
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="ratings" 
                    role="tabpanel" aria-labelledby="ratings">
                    <h4>{{ _('Ratings') }}</h4>
                    <i>{{ company.name }} {{ _('does not have any rating yet.') }}</i>
                </div>

                <div class="tab-pane" id="tradeshows" 
                    role="tabpanel" aria-labelledby="tradeshows">
                    <h4>{{ _('Tradeshows') }}</h4>
                    <i>{{ company.name }} {{ _('does not have any upcoming tradeshows.') }}</i>
                </div>

                <div class="tab-pane" id="other-details" 
                    role="tabpanel" aria-labelledby="other-details">
                    <h4>{{ _('Other details') }}</h4>
                    {% if company.other_details %}
                    <table id='my-company-table' class='details-table editable borderless table-sm'>
                        <tbody>
                        {{ misc_comps.display_other_details_tr(company.other_details) }}
                        </tbody>
                    </table>
                    {% else %}
                    <i>{{ company.name }} {{ _('does not provide any additional information.') }}</i>
                    {% endif %}
                </div>
                
            </div>          
        </div>
    </div>
</div>
{% endmacro %}

{% macro company_gallery(company) %}
<div>    
    {{ media_comps.render_media_grid(company.media_list) }}    
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            load_media_grid_lightbox('#media-grid');
        });
    </script>
</div>
{% endmacro %}

{# HTML and JS macros for rendered views #}

{# HTML and JS macros for obtaining company employees views #}
{% macro company_employees_rv_html() %}
<h3>{{ _('Employee List') }}</h3>
 <div class="row">
     <div class="col-sm-6 col-md-4">{{ _('User Page Link') }}</div>
     <div class="col-sm-3 col-md-4">{{ _('Last Name') }}</div>
     <div class="col-sm-3 col-md-4">{{ _('First Name') }}</div>
</div>

{% for emp in employee_list  %}
<div class="row">

<div class="col-sm-6 col-md-4"><a href="{{ url_for('account.account_page', pr_id=emp.id) }}">Link</a></div>
<div class="col-sm-3 col-md-4">{{ emp.last_name or 'Missing' }}</div>
<div class="col-sm-3 col-md-4">{{ emp.first_name or 'Missing' }}</div>

</div>
{% endfor %}

{% endmacro %}

{% macro company_employees_al_html() %}
<h3>Employee List</h3>
 <div class="row">
     <div class="col-sm-6 col-md-4">{{ _('User Page Link') }}</div>
     <div class="col-sm-3 col-md-4">{{ _('Last Name') }}</div>
     <div class="col-sm-3 col-md-4">{{ _('First Name') }}</div>
</div>


<div class="row" id='employee_list'>

</div>

{% endmacro %}

{% macro render_company_short_info(company, title=_('COMPANY PROFILE')) %}
<div class='short-info company-short-info' id='company-{{ company.id }}'>
    <div class='card'>
        <div class='card-header'><span class='header-text'>{{ title }}</span></div>
        <div class='card-body'>
            <div class='card-title'>
                <img class='profile-pic' src='{% if company.logo %}{{ company.logo }}{% else %}/static/img/company_default.png{% endif %}'>
                <a href='{{ url_for("company.company_page", pr_id=company.id) }}'>{{ company.name }}</a>
            </div>
            <div class='card-text'><i>{{ company.description or company.company_info |striptags|strip_spaces|fmt_title(numchars=150) }}</i></div>
            <div class='card-text'><b>{{ _('Markets') }}:</b> {{ company.main_markets }}</div>
            <div class='card-text'><b>{{ _('Capacity') }}:</b> {{ company.capacity }}</div>
            <div class='card-text'><b>{{ _('Location') }}:</b> {{ company.location }}</div>
            <div class='card-text'><b>{{ _('Country') }}:</b> {{ company.country }}</div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_company_medium_info(company, title='COMPANY PROFILE') %}
<div>
    <a href="{{ url_for('company.company_page', pr_id=company.id) }}">{{ _('Company Site Link on') }} {{config['APP_NAME'] }}</a>
</div>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general-{{company.id}}" role="tab" aria-controls="nav-general" aria-selected="true">{{ _('General Information') }}</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact-{{company.id}}" role="tab" aria-controls="nav-contact" aria-selected="false">{{ _('Contact Information') }}</a>        
        <a class="nav-item nav-link" id="nav-other-details-tab" data-toggle="tab" href="#nav-other-details-{{company.id}}" role="tab" aria-controls="nav-other-details" aria-selected="false">{{ _('Other Details') }}</a>

    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-general-{{company.id}}" role="tabpanel" aria-labelledby="nav-general-tab">
        <br>
        <table class='details-table editable borderless table-sm my-company-table'>
            <tbody>
                {{ misc_comps.display_tr('name', _('Company name'), company.name) }}                
                {{ misc_comps.display_tr('company_types', _('Company Type'), company.company_types) }}           
                {{ misc_comps.display_tr('description', _('Company Description'), company.description) }}
                {{ misc_comps.display_tr('company_info', _('Company Information'), company.company_info) }}
                {{ misc_comps.display_tr('location', _('Location'), company.location) }}
                {{ misc_comps.display_tr('country', _('Country'), company.country) }}                
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-contact-{{company.id}}" role="tabpanel" aria-labelledby="nav-contact-tab">
        <br>
        <table class='details-table editable borderless table-sm my-company-table'>
            <tbody>
                {{ misc_comps.display_tr('phone', _('Phone'), company.phone|fmt_link(ltype="tel")) }}
                {{ misc_comps.display_tr('fax', _('Fax'), company.fax|fmt_link(ltype="fax")) }}
                {{ misc_comps.display_tr('website', _('Website'), company.website|fmt_link(public=True)) }}
                {{ misc_comps.display_tr('email', _('Email'), company.email|fmt_link(ltype="email")) }}
                {{ misc_comps.display_tr('year_founded', _('Year Founded'), company.year_founded) }}
            </tbody>
        </table>     
    </div>
    <div class="tab-pane fade" id="nav-other-details-{{company.id}}" role="tabpanel" aria-labelledby="nav-other-details-tab">
        <br>
        {% if company.other_details %}
        <table class='details-table editable borderless table-sm'>
            <tbody>
            {{ misc_comps.display_other_details_tr(company.other_details) }}
            </tbody>
        </table>
        {% else %}
        <i>{{ company.name }} {{ _('does not provide any additional information.') }}</i>
        {% endif %}
    </div>
</div>

{% endmacro %}

{% macro render_companies_list_horizontal(companies) %}
<div class='companies-list-horizontal'>
    {% for company in companies %}
        <div class='card company-item'>            
            <div class='card-body'>
                <div class='card-text card-title'>
                    <img class='profile-pic' src='{% if company.logo %}{{ company.logo }}{% else %}/static/img/company_default.png{% endif %}'>
                    <a href='{{ url_for("company.company_page", pr_id=company.id) }}'>{{ company.name | fmt_title(numchars=50) }}</a>
                </div>      
                <div class='card-text'>
                    <i>
                        {% if company.description %}
                            {{ company.description|striptags|strip_spaces|fmt_title(numchars=180) or "" }}
                        {% elif company.company_info %}
                            {{ company.company_info|striptags|strip_spaces|fmt_title(numchars=180) or "" }}                                    
                        {% endif %}
                    </i>
                </div>
                <div class='card-text'>
                    {% if company.country %}{{ company.country|fmt_flag }}{% else %}
                    {{ company.location or "" }}
                    {% endif %}
                </div>
            </div>
            <div class='products-holder mt-1 mb-3'>                    
                {% set products = company.products.limit(5) %}
                <div class='products-list-horizontal'>
                    {% for product in products %}
                        <div class='card product-item md'>
                            <a href='{{ url_for("product.product_page", pr_id=product.id) }}'>
                            <img class='card-img-top'
                            src="{{ product.display_pic or '/static/img/product_default.png' }}" />
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>            
        </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_companies_grid(companies, cls='') %}
<div class='products-grid-view {{ cls }}'>
        <div class='row'>
            {% if companies %}
                {% for company in companies %}
                <div class='col-6 col-sm-4 col-md-3 mb-5'>
                    <div class='card product-grid-item'>
                       <div class='card-body'>
                            <div class='card-title'>
                                <img height='35px' width='35px'
                                    src='{% if company.logo %}{{ company.logo }}{% else %}/static/img/company_default.png{% endif %}'>
                                <a href="{{ url_for('company.company_page', pr_id=company.id) }}">{{ company.name | fmt_title }}</a>
                            </div>
                            <div class='card-text company-flag'>
                                {% if company.country %}{{ company.country|fmt_flag }}
                                {% else %}
                                <i>{{ company.location or "-" }}</i>
                                {% endif %}
                            </div>                                                
                            <div class='card-text'>
                                <i>
                                    {% if company.description %}
                                        {{ company.description|striptags|strip_spaces|fmt_title(numchars=50) or "" }}
                                    {% elif company.company_info %}
                                        {{ company.company_info|striptags|strip_spaces|fmt_title(numchars=50) or "" }}                                    
                                    {% endif %}
                                </i>
                            </div>                         
                        </div>
                        <div class='products-holder mt-2 mb-2'>
                            {% set products = company.products.limit(5) %}
                            <div class='products-list-horizontal'>
                                {% for product in products %}
                                    <div class='card product-item sm'>
                                        <a href='{{ url_for("product.product_page", pr_id=product.id) }}'>
                                        <img class='card-img-top'
                                        src="{{ product.display_pic or '/static/img/product_default.png' }}" />
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>                        
                        <div class='marketplace-btn-box'>                                  
                            <a href='{{ url_for("messages.company_thread_page", company_id=company.id) }}'>
                                <span class='btn-contact btn-sm' >{{ _('Contact Company') }}</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class='col-12'>
                    <i>{{ _('No companies matching') }}.</i>
                </div>
            {% endif %}
        </div>
</div>
{% endmacro %}

{% macro render_companies_list(companies) %}
<div class='products-list-view'>

{% if companies  %}
    {% for company in companies %}
    <div class='media product-list-item mb-3'>
        <div class='media-body'>
            <h5 class='mt-0'>
                <img style='width:35px; height:35px;'
                    src='{% if company.logo %}{{ company.logo }}{% else %}/static/img/company_default.png{% endif %}'>                
                <a href="{{ url_for('company.company_page', pr_id=company.id) }}">{{ company.name }}</a>
            </h5> 
            <div>
                {% for keyword in company.keywords[:3] %}
                <span class='keyword sm'>{{ keyword }}</span>
                {% endfor %}
            </div>
            <div class='mt-2'><b>Trade60 ID: {{ company.id }}</b></div>
            {% if company.description %}<div class='mt-1'><i>{{ company.description }}</i></div>{% else %}
            <div class='mt-1'><i>{{ company.company_info|striptags|strip_spaces|fmt_title(numchars=250) }}</i></div>
            {% endif %}
            <div class='mt-1 mb-1'><b>{{ company.location }} {{ company.country|fmt_flag }}</b></div>
        </div>
       
        <div class='float-right align-middle marketplace-btn-box'>
            <a href='{{ url_for("messages.company_thread_page", company_id=company.id) }}'>
                <span class='btn-contact btn-sm' >{{ _('Contact Company') }}</span>
            </a>
        </div>

    </div>
    {% endfor %}
{% else %}
<p>
    <i>{{ _('No companies matching') }}.</i>
</p>
{% endif %}

</div>
{% endmacro %}

