{% set footer_cols = [
    {
        "label": _('About Us'),
        "li_items": [
            [_('About {}'.format(config['APP_NAME'])), url_for("static_pages.about_page")],
            [_('Team'), url_for("static_pages.team_page")],
            [_('Careers'), url_for("static_pages.careers")],            
            [_('Sitemap'), url_for("static_pages.sitemap")],
            [_('Terms of Service'), url_for("static_pages.tos_page")],
            [_('Privacy Policy'), url_for("static_pages.privacy_page")],
        ]
    },
    {
        "label": _('Customer Services'),
        "li_items": [
            [_('Help'), url_for("static_pages.help")],
            [_('Contact Us'), url_for("static_pages.contact")],
            [_('Report an Abuse'), url_for("static_pages.report_abuse")],
            [_('Policy & Rules'), url_for("static_pages.policy_and_rules")]
        ]
    },
    {
        "label": _('Buy On ') + config['APP_NAME'],
        "li_items": [
            [_('Search Products'), url_for("search.search")],
            [_('Request for Quotation'), url_for("rfq.sourcing")]
        ]
    },
    {
        "label": _('Sell On ') + config['APP_NAME'],
        "li_items": [
            [_('Premium Membership Pricing'), url_for("membership.membership_info")],
            [_('Learning Center'), url_for("static_pages.learning_center")],
        ]
    },
    {
        "label": _('Trade Services'),
        "li_items": [
            [_('Company Verification'), url_for("static_pages.company_verification")],
            [_('Inspection Service'), url_for("static_pages.inspection_services")]
        ]
    }
    
] %}

<div class="footer">
<div class="footer-main">

<div class="row"><!-- row --> 
    {% for col in footer_cols %}    
    <div class="col-sm-12 col-md"><!-- widgets column left -->
        <ul class="list-unstyled clear-margins"><!-- widgets -->
           <li class="widget-container widget_nav_menu"><!-- widgets list -->
               <h5 class="title-widget">{{ col.label }}</h5>
               <ul>
                {% for name, url in col.li_items %}
                    <li><a href='{{ url }}'>{{ name }}</a></li>
                {% endfor %}
               </ul>
           </li>               
        </ul>                                                           
   </div><!-- widgets column left end -->

    {% endfor %}    
                
</div>

<div class="row">
    <div class="col-sm-12">
         © 2018, {{ config['APP_NAME'] }} Inc. {{ _('All Rights Reserved') }}.
    </div>
</div>

</div>
</div>

