<div class='footer-nav-content'>
    <table class='footer-nav-table'>
        <tr>
            <td>
                <a class='footer-nav-btn 
                    {% if request.path == url_for("home.default") %}active
                    {% endif %}' href='{{ url_for("home.default") }}'>
                    <i class='fa fa-home'></i>
                    <div>{{ _('Home') }}</div>
                </a>
            </td>
            <td>
                <a class='footer-nav-btn 123
                    {% if request.path.startswith(url_for("search.search")) %}active
                    {% endif %}' href='{{ url_for("search.search") }}'>
                    <i class='fa fa-search'></i>
                    <div>{{ _('Search') }}</div>
                </a>
            </td>            
            <td>
                <a class='footer-nav-btn 
                    {% if request.path.startswith(url_for("messages.home")) %}active
                    {% endif %}' href='{{ url_for("messages.home") }}'>
                    <i class='fa fa-comments'></i>
                    <div>{{ _('Messages') }}</div>
                </a>
            </td>
            <td>
                <a class='footer-nav-btn 
                    {% if request.path.startswith(url_for("account.my_account")) %}active
                    {% endif %}' href='{{ url_for("account.my_account") }}'>
                    <i class='fa fa-user'></i>
                    <div>{{ _('My account') }}</div>
                </a>
            </td>
        </tr>
    </table>
</div>