{% macro input(name, label, value='', type='text', cls='', prepend_content=None, append_content=None, placeholder='') %}
<div class='form-group {{ cls }}'>
    <label for='{{ name }}'>{{ label }}</label>
    {% if prepend_content %}
    <span class='input-group-addon'>{{ prepend_content }}</span>
    {% endif %}
    <input class='form-control' value='{% if value %}{{ value }}{% endif %}' type='{{ type }}' id='{{ name }}-input' name='{{ name }}' placeholder='{{ placeholder }}'>
    {% if append_content %}
    <span class='input-group-addon'>{{ append_content }}</span>
    {% endif %}
</div>
{% endmacro %}

{% macro input_disabled(name, label, value='', disabled_text='', type='text', cls='', prepend_content=None, append_content=None, placeholder='') %}
<div class="form-check {{ cls }}">
    <label for='{{ name }}'>{{ label }}</label>
    {% if prepend_content %}
    <span class='input-group-addon'>{{ prepend_content }}</span>
    {% endif %}
        <input value="{{ value }}" type="hidden" name='{{ name }}' id='{{ name }}-input' />
        <input class='form-control' name='{{ name }}-notused' value='{{ disabled_text }}' disabled >
    {% if append_content %}
    <span class='input-group-addon'>{{ append_content }}</span>
    {% endif %}
</div>
{% endmacro %}

{% macro input_with_submit(name, label, value='', type='text', cls='', cbf='', submit_text=_('Search'), prepend_content=None, append_content=None, placeholder='') %}
<div class='form-group'>
    <label for='{{ name }}'>{{ label }}</label>
    <div class='input-group'>        
        {% if prepend_content %}
        <span class='input-group-addon'>{{ prepend_content }}</span>
        {% endif %}
        <input class='form-control' value='{% if value %}{{ value }}{% endif %}' type='{{ type }}' id='{{ name }}-input' name='{{ name }}' placeholder='{{ placeholder }}'>
        <span class='input-group-addon'>
            <button id='{{ id }}' type='submit' {% if cbf %}onclick="{{ cbf }}"{% endif %} >{{ submit_text }}<i class='ml-2 fa fa-search fa-3'></i></button>
        </span>
        {% if append_content %}
        <span class='input-group-addon'>{{ append_content }}</span>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro input_dual(name1, name2, label, minilabel1='', minilabel2='', value_min='', value_max='', type='text', cls='', prepend_content=None, append_content=None, placeholder='') %}
<div class='form-group {{ cls }}'>
    <label for='{{ name }}'>{{ label }}</label>
    {% if prepend_content %}
    <span class='input-group-addon'>{{ prepend_content }}</span>
    {% endif %}
    <div class='row mb-2'>
        <div class='col-6'>
            <div class='input-group'>
                <span class='input-group-addon'>{{ _('Min') }}</span>
                <input class='form-control d-inline' value='{% if value_min %}{{ value_min }}{% endif %}' type='{{ type }}' id='{{ name1 }}-input' name='{{ name1 }}' placeholder='{{ placeholder }}'>
            </div>
        </div>
        <div class='col-6'>
            <div class='input-group'>
                <span class='input-group-addon'>{{ _('Max') }}</span>
                <input class='form-control d-inline' value='{% if value_max %}{{ value_max }}{% endif %}' type='{{ type }}' id='{{ name2 }}-input' name='{{ name2 }}' placeholder='{{ placeholder }}'>
            </div>        
        </div>
    </div>
    {% if append_content %}
    <span class='input-group-addon'>{{ append_content }}</span>
    {% endif %}
</div>
{% endmacro %}

{% macro input_dual_select_text(name1, name2, label, minilabel1='', minilabel2='', items=None, type='text', cls='', prepend_content=None, append_content=None, placeholder='') %}
<div class='form-group {{ cls }}'>
    <label for='{{ name }}'>{{ label }}</label>
    {% if prepend_content %}
    <span class='input-group-addon'>{{ prepend_content }}</span>
    {% endif %}
    <div class='row mb-2'>
        <div class='col-6'>
            <div class='input-group'>
                <span class='input-group-addon'>{{ minilabel1 }}</span>
                
                <select class='form-control' name='{{ name1 }}' id='{{ name1 }}-select' name='{{ name }}'>
                <option value="" disabled selected>{{ _('Choose your option') }}</option>
                {% if items is mapping %}
                {% for opt, value in items.items() %}
                <option value='{{ value }}' {% if default and value == default %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
                {% else %}
                {% for opt, value in items %}
                <option value='{{ value }}' {% if default and value == default %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
                {% endif %}
                </select>

            </div>
        </div>
        <div class='col-6'>
            <div class='input-group'>
                <span class='input-group-addon'>{{ minilabel2 }}</span>
                <input class='form-control d-inline' value='{% if value_max %}{{ value_max }}{% endif %}' type='{{ type }}' id='{{ name2 }}-input' name='{{ name2 }}' placeholder='{{ placeholder }}'>
            </div>        
        </div>
    </div>
    {% if append_content %}
    <span class='input-group-addon'>{{ append_content }}</span>
    {% endif %}
</div>
{% endmacro %}

{% macro select(name, label, default=None, cls='', items=None, append_content=None, placeholder='') %}
<div class='form-group {{ cls }}'>
    <label for='{{ name }}'>{{ label }}</label>
    {% if prepend_content %}
    <span class='input-group-addon'>{{ prepend_content }}</span>
    {% endif %}
    <select class='form-control' name='{{ name }}' id='{{ name }}-select' name='{{ name }}'>
        <option value="" disabled>{{ _('Choose your option') }}</option>
        {% if items is mapping %}
        {% for opt, value in items.items() %}
        <option value='{{ value }}' {% if default and default == value %}selected{% endif %}>{{ opt }}</option>
        {% endfor %}
        {% else %}
        {% for opt, value in items %}
        <option value='{{ value }}' {% if default and default == value %}selected{% endif %}>{{ opt }}</option>
        {% endfor %}
        {% endif %}
    </select>
    {% if append_content %}
    <span class='input-group-addon'>{{ append_content }}</span>
    {% endif %}
</div>
{% endmacro %}

{% macro select_from_list(name, label, default=None, cls='', items=None, append_content=None, placeholder='') %}
<div class='form-group {{ cls }}'>
    <label for='{{ name }}'>{{ label }}</label>
    {% if prepend_content %}
    <span class='input-group-addon'>{{ prepend_content }}</span>
    {% endif %}

    <select class='form-control' name='{{ name }}' id='{{ name }}-select' name='{{ name }}'>
        <option value="" disabled selected>{{ _('Choose your option') }}</option>
        {% for opt in items %}
        <option value='{{ opt }}' {% if default and opt == default %}selected{% endif %}>{{ opt }}</option>
        {% endfor %}
    </select>
    {% if append_content %}
    <span class='input-group-addon'>{{ append_content }}</span>
    {% endif %}
</div>
{% endmacro %}

{% macro submit_btn(text='Submit', id='', cls='btn-submit', cbf='') %}
<button class='{{ cls }}' id='{{ id }}' type='submit' {% if cbf %}onclick="{{ cbf }}"{% endif %} >{{ text }}</button>
{% endmacro %}

{% macro editable_tr(name, label, value, type='text', cls='') %}
<tr class='editable-field' field-name='{{ name }}' id='{{ name }}-editable-field'>
    <th>
        <span class='editable-field-name'>{{ label }}</span>
    </th>
    <td>        
        <span class='editable-field-value' name='{{ name }}' id='{{ id }}-field'>{% if value %}{{ value }}{% endif %}</span>
        <input id='{{ name }}-input' name='{{ name }}' value='{% if value %}{{ value }}{% endif %}' class='editable-field-input form-control'>
    </td>
</tr>
{% endmacro %}


{% macro editable_area_tr(name, label, value, rows=3, type='text', cls='', richtext=True) %}
<tr class='editable-field' field-name='{{ name }}' id='{{ name }}-editable-field'>
    <th>
        <span class='editable-field-name'>{{ label }}</span>
    </th>
    <td>        
        <span class='editable-field-value' name='{{ name }}' id='{{ name }}-field'>{% if value %}{{ value }}{% endif %}</span>
        <div class='editable-field-input'>
            <div class='form-group'>
            <textarea class='form-control' type='{{ type }}' id='{{ name }}-input' 
                name='{{ name }}' rows='3'>{% if value %}{{ value }}{% endif %}</textarea>
            </div>
        </div>
     </td>
     {% if richtext %}
     <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            show_advanced_editor('#{{ name }}-input');
        });
    </script>
    {% endif %}
</tr>
{% endmacro %}

{% macro editable_img_tr(name, label, src, default=None, cls='') %}
<tr class='editable-field' field-name='{{ name }}' id='{{ name }}-editable-field'>
    <th>
        <span class='editable-field-name'>{{ label }}</span>
    </th>
    <td>
        <span class='editable-field-value' name='{{ name }}' id='{{ name }}-field'>
            <img height='100px' width='auto'
                src='{% if src %}{{ src }}{% else %}{{ default }}{% endif %}' alt='{{ label }}'/>
        </span>
        <input type='file' name='{{ name }}' class='form-control editable-field-input' id='{{ name }}-input'>
    </td>
</tr>
{% endmacro %}

{% macro editable_checkbox_tr(name, label, checked=False, type='text', cls='') %}
<tr class='editable-field' field-name='{{ name }}' id='{{ name }}-editable-field'>
    <th>
        <span class='editable-field-name'>{{ label }}</span>
    </th>
    <td>         
        <span class='editable-field-value' name='{{ name }}' id='{{ id }}-field'>{% if checked %}Yes{% else %}No{% endif %}</span>
        
        <input value="{{ checked }}" type="hidden" name='{{ name }}' id='{{ name }}-input' />        
        <input {% if checked %}checked{% endif %} onClick='toggle_checkbox_value(this, "{{ name }}-input");'
            class="editable-field-input checkbox-field-input" type="checkbox"/>         

     </td>    
</tr>
{% endmacro %}

{% macro editable_select_tr(name, label, value, type='text', cls='', items=[]) %}
<tr class='editable-field' field-name='{{ name }}' id='{{ name }}-editable-field'>
        <th>
            <span class='editable-field-name'>{{ label }}</span>
        </th>
        <td>        
            <span class='editable-field-value' name='{{ name }}' id='{{ id }}-field'>{% if value %}{{ value }}{% endif %}</span>
            <select id='{{ name }}-input' name='{{ name }}' value='{{ value }}' class='editable-field-input form-control'>                
                <option value="" disabled selected>Choose your option</option>
                {% for opt in items %}                
                <option value='{{ opt }}' {% if value == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
            </select>
        </td>        
    </tr>
{% endmacro %}

{% macro editable_select_tr_as_tuples(name, label, value, type='text', cls='', items=[]) %}
<tr class='editable-field' field-name='{{ name }}' id='{{ name }}-editable-field'>
        <th>
            <span class='editable-field-name'>{{ label }}</span>
        </th>
        <td>        
            <span class='editable-field-value' name='{{ name }}' id='{{ id }}-field'>{% if value %}{{ value }}{% endif %}</span>
            <select id='{{ name }}-input' name='{{ name }}' value='{{ value }}' class='editable-field-input form-control'>                
                <option value="" disabled selected>Choose your option</option>
                {% for val,opt in items %}                
                <option value='{{ val }}' {% if value == opt %}selected{% endif %}>{{ opt }}</option>
                {% endfor %}
            </select>
        </td>        
    </tr>
{% endmacro %}

{% macro editable_keywords_tr(name, label, values=None, type='text', cls='') %}
<tr class='editable-field' field-name='{{ name }}' id='{{ name }}-editable-field'>
    <th>
        <span class='editable-field-name'>{{ label }}</span>
    </th>
    <td>  
        <span class='editable-field-value'>
        {% if values %}
        {% for val in values %}
            <span class="keyword m1-1">{{ val }}</span>
        {% endfor %}
        {% endif %}
        </span>
        <input id='{{ name }}-input'  name='{{ name }}' value='{% if values %}{{ values|join(", ") }}{% endif %}' class='editable-field-input form-control'>
    </td>    
</tr>
{% endmacro %}

{% macro editable_other_details_tr(values=None, cls='', prepend_content='', append_content='', richtext=True) %}

{% if values %}
    {% for key, val in values.items() %}
    <tr class='editable-field-value'>
        <th>{{ key }}</th>
        <td>{{ val|safe }}</td>
    </tr>
    {% endfor %}
{% endif %}

<tr class='editable-field-input-row'>
    <td colspan=2>
        {% if prepend_content %}
        <span class='input-group-addon'>{{ prepend_content }}</span>
        {% endif %}
        
        <div class='other_details-container' id='other_details-container'>

        <div class='row mb-2 hide'>
            <div class='col-4'>
                <div class='input-group'>
                    <span class='input-group-addon btn' onClick='delete_current_row(this)'><i class='fa fa-minus text-danger'></i></span>
                    <input class='form-control' name='odk' field='key' placeholder="{{ _('Field name') }}">
                </div>                
            </div>
            <div class='col-8'>
                    <textarea rows=3 class='form-control other_details_input_extra' 
                    name='odv' field='value' placeholder="{{ _('Content') }}"></textarea>
            </div>        
        </div>
        
        {% if values %}
            {% for key, val in values.items() %}
            <div class='row mb-2'>
                <div class='col-4'>
                    <div class='input-group'>
                        <span class='input-group-addon btn' onClick='delete_current_row(this)'><i class='fa fa-minus text-danger'></i></span>
                        <input class='form-control' name='odk' field='key' value='{{ key }}' placeholder="{{ _('Field name') }}">
                    </div>
                    
                </div>
                <div class='col-8'>                    
                    <textarea rows=3 class='form-control other_details_input' name='odv' field='value'
                        value='{{ val }}' placeholder="{{ _('Content') }}"></textarea>
                </div>
            </div>        
            {% endfor %}
        {% endif %}

        <div class='row mb-2'>        
            <div class='col-4'>
                <div class='input-group'>
                    <span class='input-group-addon btn' onClick='delete_current_row(this)'><i class='fa fa-minus text-danger'></i></span>
                    <input class='form-control' name='odk' field='key' placeholder="{{ _('Field name') }}">
                </div>                
            </div>
            <div class='col-8'>
                <textarea rows=3 class='form-control other_details_input' name='odv' field='value'
                    value='{{ val }}' placeholder="{{ _('Content') }}"></textarea>
            </div>
        </div>

        </div>

        <span class='btn btn-secondary btn-sm mt-1'
            onClick='clone_new_row("other_details-container");'>
            <i class='fa fa-plus'></i>
        </span>

        {% if append_content %}
        <span class='input-group-addon'>{{ append_content }}</span>
        {% endif %} 
    </td>
</tr>

{% endmacro %}

{% macro textarea(name, label, type='text', value='', cls='', richtext=True, prepend_content=None, append_content=None, placeholder='', rows='3', maxlength=None) %}
<div class='form-group {{ cls }}'>
    <label for='{{ name }}'>{{ label }}</label>
    {% if prepend_content %}
    <span class='input-group-addon'>{{ prepend_content }}</span>
    {% endif %}
    <textarea class='form-control' type='{{ type }}' id='{{ name }}-input' 
        name='{{ name }}' rows='{{ rows }}' style='height: 300px;' {% if maxlength %}maxlength={{ maxlength }}{% endif %}>{% if value %}{{ value }}{% endif %}</textarea>
    {% if append_content %}
    <span class='input-group-addon'>{{ append_content }}</span>
    {% endif %}
    {% if richtext %}
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            show_advanced_editor('#{{ name }}-input');
        });
    </script>
    {% endif %}
</div>
{% endmacro %}

{% macro textarea_simple(name, label, type='text', value='', cls='', richtext=True, prepend_content=None, append_content=None, placeholder='', rows='3', maxlength=None) %}
<div class='form-group {{ cls }}'>
    <label for='{{ name }}'>{{ label }}</label>
    {% if prepend_content %}
    <span class='input-group-addon'>{{ prepend_content }}</span>
    {% endif %}
    <textarea class='form-control' type='{{ type }}' id='{{ name }}-input' 
        name='{{ name }}' rows='{{ rows }}' {% if maxlength %}maxlength={{ maxlength }}{% endif %}>{% if value %}{{ value }}{% endif %}</textarea>
    {% if append_content %}
    <span class='input-group-addon'>{{ append_content }}</span>
    {% endif %}
    {% if richtext %}
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            show_advanced_editor('#{{ name }}-input');
        });
    </script>
    {% endif %}
</div>
{% endmacro %}

{% macro checkbox(name, label, checked=False, type='text', cls='', prepend_content=None, append_content=None, placeholder='') %}
<div class='form-group'>
<div class="form-check {{ cls }}">
    {% if prepend_content %}
    <span class='input-group-addon'>{{ prepend_content }}</span>
    {% endif %}
    <label class="form-check-label">
        <input value="{{ checked }}" type="hidden" name='{{ name }}' id='{{ name }}-input' />
        <input {% if checked %}checked{% endif %} onClick='toggle_checkbox_value(this, "{{ name }}-input");'
            class="form-check-input" type="checkbox"> {{ label }}
    </label>
    {% if append_content %}
    <span class='input-group-addon'>{{ append_content }}</span>
    {% endif %}
</div>
</div>
{% endmacro %}

{% macro numeric(name, label, type='text', cls='', val_min='', val_max='', prepend_content=None, append_content=None, placeholder='') %}
<div class="form-check {{ cls }}">
    <label for='{{ name }}'>{{ label }}</label>
    {% if prepend_content %}
    <span class='input-group-addon'>{{ prepend_content }}</span>
    {% endif %}
    <span class='input-group-addon'>Min</span>
    <input class='form-control' value='{% if val_min %}{{ val_min }}{% endif %}' type='{{ type }}' id='{{ name }}-input-min' name='{{ name }}_min' placeholder='{{ placeholder }}'>
    {% if append_content %}
    <span class='input-group-addon'>{{ append_content }}</span>
    {% endif %}
    
    <input class='form-control' value='{% if val_max %}{{ val_max }}{% endif %}' type='{{ type }}' id='{{ name }}-input-max' name='{{ name }}_max' placeholder='{{ placeholder }}'>
    
</div>
{% endmacro %}

{% macro numeric_filter(name, label, type='text', cls='', val_min='', val_max='', prepend_content=None, append_content=None, placeholder='') %}
<div class="form-check {{ cls }}">
    <div class="card">
        <div class="card-header" role="tab" id="{{ name }}-parent">
            <div class="mb-0 font-weight-bold">
                <a data-toggle="collapse" href="#{{ name }}-collapse" role="button" aria-expanded="false" >
                {{ label }}
                </a>
            </div>
        </div>

        <div id="{{ name }}-collapse" class="collapse {% if val_min or val_max %}show{% endif %}" role="tabpanel">
            <div class="card-body">                
                <div class="input-group">
                    <span class='input-group-addon'>{{ _('Min') }}</span>
                    <input class='form-control' value='{% if val_min %}{{ val_min }}{% endif %}' type='{{ type }}' id='{{ name }}-input-min' name='{{ name }}_min' placeholder='{{ placeholder }}'>
                </div>
                <div class="input-group mt-2">
                    <span class='input-group-addon'>{{ _('Max') }}</span> 
                    <input class='form-control' value='{% if val_max %}{{ val_max }}{% endif %}' type='{{ type }}' id='{{ name }}-input-max' name='{{ name }}_max' placeholder='{{ placeholder }}'>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro numeric_filter_simple(name, label, type='text', cls='', val_in='', val_max='', prepend_content=None, append_content=None, placeholder='') %}
<div class="form-check {{ cls }}">
    <label for='{{ name }}'>{{ label }}</label>
    
    <div class="form-check form-check-inline input-group">
        <span class='input-group-addon'>{{ _('Min') }}</span>
        <input class='form-control' value='{% if val_min %}{{ val_min }}{% endif %}' type='{{ type }}' id='{{ name }}-input-min' name='{{ name }}_min' placeholder='{{ placeholder }}'>
    </div>

    <div class="form-check form-check-inline input-group">
        <span class='input-group-addon'>{{ _('Max') }}</span> 
        <input class='form-control' value='{% if val_max %}{{ val_max }}{% endif %}' type='{{ type }}' id='{{ name }}-input-max' name='{{ name }}_max' placeholder='{{ placeholder }}'>
    </div>    
</div>
{% endmacro %}

{% macro other_details(values=None, cls='', prepend_content='', append_content='') %}
<div class='form-group {{ cls }}'>
        <label for='other_details'>{{ _('Other details') }}</label>
        {% if prepend_content %}
        <span class='input-group-addon'>{{ prepend_content }}</span>
        {% endif %}
        
        <div class='other_details-container' id='other_details-container'>


        <div class='row mb-2 hide'>
            <div class='col-4'>
                <div class='input-group'>
                    <span class='input-group-addon btn' onClick='delete_current_row(this)'><i class='fa fa-minus text-danger'></i></span>
                    <input class='form-control' name='odk' field='key' placeholder="{{ _('Field name') }}">
                </div>                
            </div>
            <div class='col-8'>
                <input class='form-control' name='odv' field='value' placeholder="{{ _('Content') }}">
            </div>
        </div>
        
        {% if values %}
            {% for key, val in values.items() %}
            <div class='row mb-2'>
                <div class='col-4'>
                    <div class='input-group'>
                        <span class='input-group-addon btn' onClick='delete_current_row(this)'><i class='fa fa-minus text-danger'></i></span>
                        <input class='form-control' name='odk' field='key' value='{{ key }}' placeholder="{{ _('Field name') }}">
                    </div>
                    
                </div>
                <div class='col-8'>
                    <input class='form-control' name='odv' field='value' value='{{ val }}' placeholder="{{ _('Content') }}">
                </div>
            </div>
            {% endfor %}
        {% endif %}

        <div class='row mb-2'>        
            <div class='col-4'>
                <div class='input-group'>
                        <span class='input-group-addon btn' onClick='delete_current_row(this)'><i class='fa fa-minus text-danger'></i></span>
                        <input class='form-control' name='odk' field='key' placeholder="{{ _('Field name') }}">
                </div>                
            </div>
            <div class='col-8'>
                <input class='form-control' name='odv' field='value' placeholder="{{ _('Content') }}">
            </div>
        </div>

        </div>

        <span class='btn btn-secondary btn-sm mt-1' onClick='clone_new_row("other_details-container")'><i class='fa fa-plus'></i></span>

        {% if append_content %}
        <span class='input-group-addon'>{{ append_content }}</span>
        {% endif %}
    </div>
{% endmacro %}


{% macro checkboxes(name, label, options=None, chosen=None, cls='', prepend_content=None, append_content=None, placeholder='') %}
{% set chosen = [] if not chosen else chosen %}
{% set options = [] if not options else options %}
<div class="form-check {{ cls }}">
    <label for='{{ name }}'>{{ label }}</label>
    {% if prepend_content %}
    <span class='input-group-addon'>{{ prepend_content }}</span>
    {% endif %}
    <input value="" name="{{ name }}" type="hidden">
    {% for opt in options %}
    <div class='form-check form-check-inline'>
        <label class="form-check-label">
            <input value='{{ opt }}' {% if opt in chosen %}checked{% endif %} name='{{ name }}' id='{{ name }}-input{{ loop.index0 }}' class="form-check-input" type="checkbox"> {{ opt }}
        </label>
    </div>    
    {% endfor %}
    {% if append_content %}
    <span class='input-group-addon'>{{ append_content }}</span>
    {% endif %}
</div>
{% endmacro %}


{% macro checkboxes_filter(name, label, options=None, chosen=None, cls='', prepend_content=None, append_content=None, placeholder='') %}
{% set chosen = [] if not chosen else chosen %}
{% set options = [] if not options else options %}
<div class="form-check {{ cls }}">
    
    {% if prepend_content %}
    <span class='input-group-addon'>{{ prepend_content }}</span>
    {% endif %}
    
    <div class="card">
        <div class="card-header" role="tab" id="{{ name }}-parent">
        <div class="mb-0 font-weight-bold">
            <a data-toggle="collapse" href="#{{ name }}-collapse" role="button" aria-expanded="false" >
            {{ label }}
            </a>
        </div>
        </div>

        <div id="{{ name }}-collapse" class="collapse {% if chosen %}show{% endif %}" role="tabpanel">
        <div class="card-body">
        {% if options is mapping %}
        {% for opt, val in options.items() %}
        <div class='form-check form-check-inline'>
                <label class="form-check-label">
                <input value='{{ val }}' {% if opt in chosen %}checked{% endif %} name='{{ name }}' id='{{ name }}-input{{ loop.index0 }}' class="form-check-input" type="checkbox"> {{ opt }}
        </div>
        {% endfor %}
        {% else %}
        {% for opt in options %}
        <div class='form-check form-check-inline'>
                <label class="form-check-label">
                <input value='{{ opt }}' {% if opt in chosen %}checked{% endif %} name='{{ name }}' id='{{ name }}-input{{ loop.index0 }}' class="form-check-input" type="checkbox">{{ opt }}</label>
        </div>
        {% endfor %}
        {% endif %}
        </div>
        </div>
    </div>
   
    {% if append_content %}
    <span class='input-group-addon'>{{ append_content }}</span>
    {% endif %}
</div>
{% endmacro %}

{% macro action_btn(url, redirect_url, name='', confirm_text='', text=_('Submit'), cls='') %}
<span name='{{ name }}-action-btn' class='btn {{ cls }}' 
    onClick='submit_action_btn("{{ url }}", "{{ confirm_text }}", "{{ redirect_url }}");'>{{ text }}</span>
{% endmacro %}

{% macro radio(name, value, label, cls='', checked=False) %}
<div class="form-check {{ cls }}">
    <label class="form-check-label">
        <input class="form-check-input" type="radio" {% if checked %}checked{% endif %}
            value="{{value}}" name="{{ name }}" id="{{ value }}-{{ name }}-radio">
        {{ label }}
    </label>
</div>
{% endmacro %}


{% macro radio_divless(name, value, label, cls='', checked=False) %}

<label class="form-check-label {{ cls }}">
        <input class="form-check-input" type="radio" {% if checked %}checked{% endif %}
            value="{{value}}" name="{{ name }}" id="{{ value }}-{{ name }}-radio">
        {{ label }}
</label>
{% endmacro %}

{% macro del_media_btn(datatype, item) %}
{% if datatype == "rfq" %}
<span class='delete-media-btn' 
    onClick='click_del_media_btn(this, "{{ url_for("api.delete_rfq_media") }}", {
        item_id: {{ item.id }},
        rfq_id: {{ item.rfq[0].id }} });'><i class='fa fa-close'></i>
</span>
{% elif datatype == "quote" %}
<span class='delete-media-btn' 
    onClick='click_del_media_btn(this, "{{ url_for("api.delete_quote_media") }}", {
        item_id: {{ item.id }},
        quote_id: {{ item.quote[0].id }} });'><i class='fa fa-close'></i>
</span>
{% elif datatype == "product" %}
<span class='delete-media-btn' 
    onClick='click_del_media_btn(this, "{{ url_for("api.delete_product_media") }}", {
        item_id: {{ item.id }},
        product_id: {{ item.product[0].id }} });'><i class='fa fa-close'></i>
</span>
{% elif datatype == "company" %}
<span class='delete-media-btn' 
    onClick='click_del_media_btn(this, "{{ url_for("api.delete_company_media") }}", {
        item_id: {{ item.id }},
        product_id: {{ item.product[0].id }} });'><i class='fa fa-close'></i>
</span>

{% endif %}
{% endmacro %}

{% macro media_input(name, label, items=None, cls='', multiple=False, datatype=None) %} 
{% if items and items[0] %}
<div>
<label>Current media</label>
<div class='media-grid' id='{{ name }}-current-media'>
        
        {% for item in items %}
        <div class='media-item' id='{{ item.name }}-media-item'>
            <img class='input-media-thumbnail' src='{{ item.thumbnail() }}' />
            {{ del_media_btn(datatype, item) }}
        </div>                

        {% endfor %} 
</div>
<br>
</div>
{% endif %}

<div class='form-group {{ cls }}'>    
    <label for='{{ name }}'>{{ label }}</label>    
    <input type='file' name='{{ name }}' class='form-control' 
        id='{{ name }}-input' {% if multiple %}multiple{% endif %}>    
    <div class='media-preview' id='{{ name }}-media-preview'>
    </div>    
</div>
{% endmacro %}



{% import 'components/media.html' as media_comps with context %}

{% macro media_input_tr(name, label, items=None, cls='', multiple=False, datatype=None) %} 

<tr class='editable-field' field-name='{{ name }}' id='{{ name }}-editable-field'>
    <th>
        <span class='editable-field-name'>{{ label }}</span>
    </th>
    <td>
        <div class='editable-field-value' name='{{ name }}' id='{{ id }}-field'>            
            <div class='media-grid-company' id='{{ name }}-current-media-val'>  
                {% for item in items %}
                {% if item %}   
                    <div class='media-item' id='{{ item.name }}-media-item'>
                        <img class='input-media-thumbnail' src='{{ item.thumbnail() }}' />
                        {{ del_media_btn(datatype, item) }}
                    </div>
                {% endif %}
                {% endfor %} 
            </div>            
        </div>
        
        <input type='file' name='{{ name }}' class='form-control editable-field-input' 
                id='{{ name }}-input' {% if multiple %}multiple{% endif %}>            

    </td>
</tr>

{% endmacro %}

{% macro editable_social_accounts_tr(label, value, type='text', cls='', apps=constants.COMPANY_SOCIAL_APPS) %}
<tr class='editable-field' field-name='{{ name }}' id='{{ name }}-editable-field'>
    <th>
        <span class='editable-field-name'>{{ label }}</span>
                        
    </th>
    <td>
        {% if value %}
            <div class='editable-field-value'>
            {% for ltype, val in value.items() %}
            <span class='mr-2' name='social_accounts' id='{{ id }}-field'>{% if val %}{{ val|fmt_link(ltype=ltype) }}{% endif %}</span>
            {% endfor %}
            </div>
        {% endif %}

        {% for ltype, lname in apps %}
        <div class='form-group editable-field-input w-100'>
            <label for='social_accounts_key-{{ ltype }}'>{{ lname }}  <img src='/static/img/logo-{{ ltype }}.png' class='img-logo'></label>            
            <input id='social_accounts_value-input' name='social_accounts_{{ ltype }}' value='{% if value and ltype in value %}{{ value[ltype] }}{% endif %}' class='form-control'>
        </div>
        {% endfor %}
    </td>
</tr>
{% endmacro %}