{% macro render_media_grid(media) %}
{% if media %}
<div class='media-grid' id='media-grid'>
    {% for item in media %}
    {% if 'image' in item.file_type %}
    <div class='media-item' id='{{ item.id }}-media-item'>
        <a href='{{ item.url }}'>
            <img src='{{ item.thumbnail() }}' alt='{{ item.name }}' />
        </a>
    </div>
    {% else %}
    {{ item.file_type }}
    <div class='media-item' id='{{ item.id }}-media-item'>
        <a href='{{ item.url }}'>{{ item.name | fmt_media_file }}</a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p>
    <i>Empty gallery.</i>
</p>
{% endif %}
{% endmacro %}

{% macro render_media(media) %}
{% if media %}
{% if 'image' in item.file_type %}
<div class='media-item'>
    <a href='{{ media.url }}'>
        <img src='{{ media.thumbnail() }}' alt='{{ media.name }}' />
    </a>
</div>
{% else %}
{{ item.file_type }}
<div class='media-item' id='{{ item.id }}-media-item'>
        <a href='{{ item.url }}'>{{ item.name | fmt_media_file }}</a>
</div>
{% endif %}
{% endif %}
{% endmacro %}