
{% macro render_membership_tier(tier=None) %}
{% if tier %}
    {{ constants.TIER_TEXT_DICT[tier] }} <span class='tier-icon {{ constants.TIER_CSSCLASS_DICT[tier] }}'></span>
{% else %}
    {{ constants.TIER_TEXT_DICT[constants.mc.TIER_BASIC] }} <span class='tier-icon {{ constants.TIER_CSSCLASS_DICT[constants.mc.TIER_BASIC] }}'></span>
{% endif %}
{% endmacro %}


{% macro render_membership_badge(tier=None) %}
{% if tier %}
    <span class='membership-badge {{ constants.TIER_CSSCLASS_DICT[tier] }}'>
        {{ constants.TIER_TEXT_DICT[tier] }} <span class='tier-icon {{ constants.TIER_CSSCLASS_DICT[tier] }}'></span>
    </span>    
{% else %}
    <span class='membership-badge {{ constants.TIER_TEXT_DICT[constants.mc.TIER_BASIC]  }}'>
        {{ constants.TIER_TEXT_DICT[constants.mc.TIER_BASIC] }} <span class='tier-icon {{ constants.TIER_CSSCLASS_DICT[constants.mc.TIER_BASIC] }}'></span>
    </span>    
{% endif %}
{% endmacro %}

{% macro render_membership_plans() %}
<div class='row'>
    {% for tier in constants.MEMBERSHIP_TIERS %}
    {% set desc = constants.TIER_DESCRIPTIONS[tier] %}
    <div class='col-sm-12 col-md-3 mb-3'>
        <div class='card membership-grid-card {{ constants.TIER_CSSCLASS_DICT[tier] }}'>
            <div class='card-header text-center'>                
                <div class='tier-name'>{{ constants.TIER_NAME_DICT[tier] }}</div>
                <div class='tier-price'><span class='tier-price-unit'>$</span><span class='tier-price-value'>{{ desc.price }}</span></div>
                <div class='tier-price-note'>{{ desc.price_note }}</div>
                <div class='tier-getstart'>
                    <a href='{{ url_for("auth.register") }}' class='btn-light'>{{ _('Get Started') }}</a>
                </div>
            </div>
            <div class='card-body'>
                {% if desc.offer %}<p class='tier-offer'>{{ desc.offer }}</p><hr>{% endif %}                
                {% for item in desc.features %}
                {% if loop.index != 1 %}<hr>{% endif %}
                <p>{{ item }}</p>                
                {% endfor %}
            </div>
        </div>
    </div>    
    {% endfor %}
</div>
{% endmacro %}