
{% macro display_tr(name, label, value='') %}
<tr>
    <th>{{ label }}</th>
    <td>{{ value if value != None else _('Not Available') }}</td>
</tr>
{% endmacro %}

{% macro display_keywords_tr(name, label, values=None, static_values=None, show_label=True) %}
<tr>    
    {% if not show_label %}
    <td colspan=2>
    {% else %}
    <th>{{ _('Keywords') }}</th>
    <td>
    {% endif %}
    {% if static_values %}
    {% for val in static_values %}
        <span class="keyword m1-1">{{ val }}</span>
    {% endfor %}
    {% endif %}
    {% if values %}
    {% for val in values %}
        <span class="keyword m1-1">{{ val }}</span>
    {% endfor %}
    {% endif %}
    </td>
</tr>
{% endmacro %}

{% macro display_other_details_tr(values) %}
{% if values %}
{% for key, val in values.items() %}
<tr>
    <th>{{ key }}</th>
    <td>{{ val }}</td>
</tr>
{% endfor %}
{% endif %}
{% endmacro %}
