{% macro select_categories_html(allow_create_new=False) %} 

    <div class="form-group">
        <label for="prcat_1">{{ _('Select product category') }}</label>
        <input class="form-control" type="text" id="prcat_1_filter" placeholder="type to filter">
        <select class="form-control" id="prcat_1" name="pr_category_1" ></select>
    </div>   
    
    <div class="form-group">
        <label for="prcat_2">{{ _('Subcategory') }}</label>
        <input class="form-control" type="text" id="prcat_2_filter" placeholder="type to filter">
        <select class="form-control" id="prcat_2" name="pr_category_2"></select>
    </div>   
    
    {% if allow_create_new %}
    <h5>{{ _('Custom new product subcategories') }}</h5>
    <div>* {{ _('Limited to 2 layers') }}</div>
    <div>** {{ _('You must select a parent category from above.') }}</div>
    
    <input type="hidden" name="pr_category" value="" type='text'>
    
    <div class="form-group">
        <label for="ex1">{{ _('New category') }}</label>
        <input class="form-control" name="pr_category_3" id="prcat_3" type="text" list='pr_category_3_dl'>
        <datalist id="pr_category_3_dl"></datalist>
    </div>
      
     <div class="form-group">
    
        <label for="ex2">{{ _('Subcategory') }}</label>
        <input class="form-control" name="pr_category_4" id="prcat_4" type="text" list='pr_category_4_dl'>
           <datalist id="pr_category_4_dl">
          </datalist>
    </div>
    {% endif %}
        
  <div id="current_selected_category">
  </div>
{% endmacro %}


{% macro select_category_cascade(id='select-category-wrapper', value='', selected_category='') %}
<div id='{{ id }}'>
        <p class='show-select-category'>{{ _('Please select a category') }}: 
            <span id='selected-category'>{{ selected_category }}</span>
            <i class='fa fa-caret-down fa-3'></i>
        </p>
        <div class='form-group'>
            <input type='hidden' name='product_category_id' class='form-control' value='{{ value }}'>
        </div>        
        <div id='select-category-content' class='select-category-content hide'>
            <div class='row'>
                <div class='col-12 col-sm-3 cat-level' id='cat-level1'></div>
                <div class='col-12 col-sm-3 cat-level' id='cat-level2'></div>
                <div class='col-12 col-sm-3 cat-level' id='cat-level3'></div>
                <div class='col-12 col-sm-3 cat-level' id='cat-level4'></div>                                                
            </div>
            <div class='mt-2 mb-2'>
                <span class='btn btn-primary' id='select-category-ok-btn'>OK</span>
                <span class='btn btn-light' id='select-category-cancel-btn'>{{ _('Cancel') }}</span>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_product_cat_breadcrumb(category_path) %}
<div class='product-category-breadcrumb'>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for cat in category_path %}
            <li class="breadcrumb-item" data-category="{{ cat.id }}"><a href="{{ url_for('search.search', category=cat.id) }}">{{ cat.name }}</a></li>
            {% endfor %}   
        </ol>
    </nav>
</div>
{% endmacro %}

{% macro render_product_cat_links(category_path) %}
{% for cat in category_path %}
<a href="{{ url_for('search.search', category=cat.id) }}">{{ cat.name }}</a>{{ " >> " if not loop.last }}
{% endfor %}   
{% endmacro %}