{% macro topnav() %}
{% set items = [
        (_('All'), url_for('product.manage_products')),
        (_('New'), url_for('product.create_product')),
        (_('Media'), url_for('media.manage_product_media')),
        (_('Import'), url_for('product.import_products')),
        (_('Export'), url_for('product.export_products')),
    ] %}
<div class='manage-products-nav'>
    <ul class="nav nav-pills">
    {% for name, path in items %}
    <li class="nav-item">
        <a class="nav-link {% if request.path.startswith(path) %}active{% endif %}" href="{{ path }}">{{ name }}</a>
    </li>
    {% endfor %}
    </ul>     
</div>
{% endmacro %}

{% import 'components/product_category.html' as product_cat_comps with context %}

{% macro manage_media_topnav(current=None) %}
{% set items = [
    ('per', _('Per product'), url_for('media.manage_product_media')),
    ('all', _('All products'), url_for('media.manage_product_media_all'))
] %}
<div class='manage-product-media-nav'>
    <ul class='nav nav-pills'>
        {% for item, name, path in items %}
        <li class="nav-item">
            <a class="nav-link {% if current == item %}active{% endif %}" href="{{ path }}">{{ name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro render_featured_products_grid(products, cls='') %}
<div class='products-list-horizontal'>
    {% for product in products %}
        <div class='card product-item'>
            <span class='featured-item'>{{ _('Featured') }}</span>
            <img class='card-img-top'
                src="{{ product.display_pic or '/static/img/product_default.png' }}" />
            <div class='card-body'>
                <div class='card-text card-title'>
                    <a href='{{ url_for("product.product_page", pr_id=product.id) }}'>{{ product.name | fmt_title }}</a>
                </div>
                <div class='company-link'>
                    <a href='{{ url_for("company.company_page", pr_id=product.company.id) }}'>
                        {{ product.company.name | fmt_title }}
                    </a>
                </div>                    
            </div>
        </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_products_list_horizontal(products) %}
<div class='products-list-horizontal'>
    {% for product in products %}
        <div class='card product-item'>
            <img class='card-img-top'
                src="{{ product.display_pic or '/static/img/product_default.png' }}" />
            <div class='card-body'>
                <div class='card-text card-title'>
                    <a href='{{ url_for("product.product_page", pr_id=product.id) }}'>{{ product.name | fmt_title }}</a>
                </div>
                <div class='company-link'>
                    <a href='{{ url_for("company.company_page", pr_id=product.company.id) }}'>
                        {{ product.company.name | fmt_title }}
                    </a>
                </div>                    
            </div>
        </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_products_list(products, public=True) %}
{% if products %}
    {% for product in products %}
    <div class='media product-list-item mb-3'>
        <img src="{{ product.display_pic or '/static/img/product_default.png' }}" />
        <div class='media-body'>
            <h5 class='mt-0'><a href="{{ url_for('product.product_page', pr_id=product.id) }}">{{ product.name|fmt_title(numchars=100) }}</a></h5> 
            <div class='company-link mb-2'>
                <a href='{{ url_for("company.company_page", pr_id=product.company.id) }}'>
                    {{ product.company.name | fmt_title }}
                </a>
            </div>   
            <div>
                {% for keyword in product.keywords[:3] %}
                <span class='keyword sm'>{{ keyword }}</span>
                {% endfor %}
            </div>
            <div class='mb-2 category-path'>{{ product_cat_comps.render_product_cat_links(product.product_category.path) }}</div>
            <div class='mb-2'>
                <i>{{ product.description|striptags|strip_spaces|fmt_title(numchars=250) }}</i>
            </div>
        </div>
        {% if not public %}
        <div class='edit-btn-group'>
            <span class='update-btn btn-update btn-sm' data-product='{{ product.id }}'
                data-update-url='{{ url_for("product.update_product", pr_id=product.id, view="clean") }}'>
                <i class='fa fa-pencil'></i>
            </span>
                
            <span class='btn-update btn-sm duplicate-btn' data-product_id='{{ product.id }}'>
                <i class='fa fa-copy'></i>
            </span>
        </div>
        {% else %}
        <div class='edit-btn-group'>
            <span class='btn-sm btn-success' onclick='window.open_product_quickview(this);'
                data-company_url='{{ url_for("company.company_page", pr_id=product.company_id) }}' 
                data-product_inquiry_thread_url='{{ url_for("messages.product_inquiry_thread_page", product_id=product.id) }}'
                data-product_id='{{ product.id }}' data-product_url='{{ url_for("product.product_page", pr_id=product.id) }}' 
                data-product='{{ product.to_short_dict()|tojson }}'>
                <i class='fa fa-search-plus'></i>
            </span>            
            <span class='btn-sm btn-light' onclick='window.add_to_basket("{{ product.id }}");'>
                <i class='fa fa-plus'></i>
            </span>
        </div>
        {% endif %}        
    </div>
    {% endfor %}
{% else %}
<p>
    <i>{{ _('No products found.') }}</i>
</p>
{% endif %}
{% endmacro %}

{% macro render_products_basket(products) %}
{% if products %}
    {% for product in products %}
    <div class='media product-list-item mb-3'>
        <img src="{{ product.display_pic or '/static/img/product_default.png' }}" />
        <div class='media-body'>
            <h5 class='mt-0'><a href="{{ url_for('product.product_page', pr_id=product.id) }}">{{ product.name|fmt_title(numchars=100) }}</a></h5> 
            <div class='company-link mb-2'>
                <a href='{{ url_for("company.company_page", pr_id=product.company.id) }}'>
                    {{ product.company.name }}
                </a>
            </div>   
            <div>
                {% for keyword in product.keywords[:3] %}
                <span class='keyword sm'>{{ keyword }}</span>
                {% endfor %}
            </div>
            <div class='mb-2 category-path'>{{ product_cat_comps.render_product_cat_links(product.product_category.path) }}</div>
            <div class='mb-2'>
                <i>{{ product.description|striptags|strip_spaces|fmt_title(numchars=150) }}</i>
            </div>
        </div>
        <div class='edit-btn-group'>
            <span class='btn btn-sm btn-outline-danger' onclick='window.remove_from_basket("{{ product.id }}");'>
                {{ _('REMOVE') }}
            </span>
        </div>        
    </div>
    {% endfor %}
{% else %}
<p>
    <i>{{ _('No products found.') }}</i>
</p>
{% endif %}
{% endmacro %}

{% macro render_products_grid(products, public=True, cls='', featured=False) %}
<div class='products-grid-view marketplace'>
    <div class='row'>
        {% if products %}
            {% for product in products %}
            <div class='col-6 col-sm-4 col-md-3 mb-5'>
                <div class='card product-grid-item'>
                    <img class='card-img-top'
                        src="{{ product.display_pic or '/static/img/product_default.png' }}" />
                    <div class='card-body'>
                        {% if featured %}
                        <span class='featured-item'>{{ _('Featured') }}</span>
                        {% endif %}
                        <div class='card-title'>
                            <a href="{{url_for('product.product_page', pr_id=product.id)}}">{{ product.name | fmt_title }}</a>
                        </div>
                        <div class='card-text category-path'>{{ product_cat_comps.render_product_cat_links(product.product_category.path) }}</div>
                        <div class='card-text mt-2'>
                            {% for keyword in product.keywords[:3] %}
                            <span class='keyword sm'>{{ keyword }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    {% if not public %}
                        <div class='edit-btn-group'>
                            <span class='update-btn btn-update btn-sm' data-product='{{ product.id }}'
                                data-update-url='{{ url_for("product.update_product", pr_id=product.id, view="clean") }}'>
                                <i class='fa fa-pencil'></i>
                            </span>
                                
                            <span class='btn-update btn-sm duplicate-btn' data-product_id='{{ product.id }}'>
                                <i class='fa fa-copy'></i>
                            </span>
                        </div>
                    {% else %}
                        <div class='edit-btn-group'>
                            <span class='btn-sm btn-success' onclick='window.open_product_quickview(this);'
                                data-company_url='{{ url_for("company.company_page", pr_id=product.company_id) }}' 
                                data-product_inquiry_thread_url='{{ url_for("messages.product_inquiry_thread_page", product_id=product.id) }}'
                                data-product_id='{{ product.id }}' data-product_url='{{ url_for("product.product_page", pr_id=product.id) }}' 
                                data-product='{{ product.to_short_dict()|tojson }}'>
                                <i class='fa fa-search-plus'></i>
                            </span>                            
                            <span class='btn-sm btn-light' onclick='window.add_to_basket("{{ product.id }}");'>
                                <i class='fa fa-plus'></i>
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class='col-12'>
                <i>{{ _('No products found.') }}</i>
            </div>
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro render_products_grid_with_contact(products, cls='') %}
<div class='products-grid-view'>
        <div class='row'>
            {% if products %}
                {% for product in products %}
                <div class='col-6 col-sm-4 col-md-3 mb-5'>
                    <div class='card product-grid-item'>                    
                        <img class='card-img-top'
                            src="{{ product.display_pic or '/static/img/product_default.png' }}" />
                        <div class='card-body'>
                            <div class='card-title'>
                                <a href="{{url_for('product.product_page', pr_id=product.id)}}">{{ product.name | fmt_title }}</a>
                            </div>
                            <div class='company-link'>
                                <a href='{{ url_for("company.company_page", pr_id=product.company.id) }}'>
                                    {{ product.company.name }}
                                </a>
                            </div>                                
                            <div class='card-text category-path'>{{ product_cat_comps.render_product_cat_links(product.product_category.path) }}</div>
                            <div class='card-text mt-2'>
                                {% for keyword in product.keywords[:3] %}
                                <span class='keyword sm'>{{ keyword }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class='edit-btn-group'>                            
                            <span class='btn-sm btn-success' onclick='window.open_product_quickview(this);'
                                data-company_url='{{ url_for("company.company_page", pr_id=product.company_id) }}' 
                                data-product_inquiry_thread_url='{{ url_for("messages.product_inquiry_thread_page", product_id=product.id) }}'
                                data-product_id='{{ product.id }}' data-product_url='{{ url_for("product.product_page", pr_id=product.id) }}' 
                                data-product='{{ product.to_short_dict()|tojson }}'>
                                <i class='fa fa-search-plus'></i>
                            </span>
                            <span class='btn-sm btn-light' onclick='window.add_to_basket("{{ product.id }}");'>
                                <i class='fa fa-plus'></i>
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}                
            {% else %}
                <div class='col-12'>
                    <i>{{ _('No products found') }}.</i>
                </div>
            {% endif %}
        </div>
</div>
{% endmacro %}
