<div class='quick-messages-wrapper'>
    <div class='quick-messages-btn'>
        <span class='fa fa-comments'></span>
        <span class='total-unread-messages-count'></span>        
    </div>
    <div class='quick-messages-content-wrapper'>
        <div class='quick-messages-content' id='quick-messages-content'>
            <div class='threads-selector' id='threads-selector'>
                <div class='threads-list-wrapper'>                    
                    <div class='threads-selector-top' id='threads-selector-top'>
                        <span class='btn-update' id='new-thread-btn'><i class='fa fa-edit'></i>&nbsp;{{ _('New Thread') }}</span>
                        <br><br>
                        <div class='form-group'>
                            <div class='input-group with-shadow' id='threads-searchbox'>
                                <input class='form-control' type='text' name='search-threads'
                                    placeholder='{{ _("Search threads") }}'>
                                <span class='input-group-addon'><i class='fa fa-search'></i></span>
                            </div>
                        </div>                        
                    </div>                    
                    <div class='threads-selector-list' id='react-root__threads-selector'></div>
                </div>
            </div>
            <div class='thread-view' id='thread-view'>
                <div class='thread-view-topbar'>
                    <span class='show-threads-selector' id='show-threads-selector'><i class='fa fa-list'></i></span>
                    <span class='x-btn'><i class='fa fa-close'></i></span>
                </div>                
                <div class='thread-view-content' id='thread-view-content'></div>
            </div>
        </div>        
    </div>
</div>