{% macro quotes_list(quotes) %}
<div class='quotes-list'>
{% if quotes|length > 0 %} 
    {% for quote in quotes %}
        {{ quote_item(quote) }}
    {% endfor %}
{% else %}
<i>{{ _('No quotes available') }}</i>
{% endif %}
</div>
{% endmacro %}

{% macro quote_item(quote) %}
<div class='quote-item'>
    <div class='float-left'>
        <img class='quote-thumbnail' src='{% if not quote.media %}/static/img/quote_default.png{% else %}{{ quote.media[0].url }}{% endif %}'>
    </div>

    <div class='card border-0 float-left'>
        <div class='card-body'>
            <div class='card-title'>
                <h5><a href='{{ url_for("quote.quote_page", pr_id=quote.id) }}'>{{ quote.title }}</a></h5>
            </div>
            <div class='card-text'>
                {{ quote.content|striptags|strip_spaces|fmt_title(numchars=150) }}
            </div>

            {% if current_user.id == quote.seller_id %}
            <div class='update-btn btn-sm'>
                <a href='{{ url_for("quote.update_quote", pr_id=quote.id) }}'>
                    <span class='btn-update btn-sm'><i class='fa fa-pencil'></i></span>
                </a>
            </div>
            {% else %}
            <div class='update-btn'>
                <a class='btn-contact btn-sm'
                    href='{{ url_for("messages.rfq_thread_contact_seller", quote_id=quote.id) }}'>{{ _('Contact Seller') }}</a>
            </div>            
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}



{% macro render_quotes(quotes) %}
<div class='quotes-list'>
    {% if quotes|length > 0 %} 
    {% for quote in quotes %}
    <div class='quote-item'>            
        <img class='quote-thumbnail' src='{% if not quote.media %}/static/img/quote_default.png{% else %}{{ quote.media[0].thumbnail() }}{% endif %}'>

        <div class='card border-0'>
            <div class='card-body'>
                <div class='card-title'>
                    <a href='{{ url_for("quote.quote_page", pr_id=quote.id) }}'><b>{{ quote.title }}</b></a>
                </div>
                <div class='card-text'>
                    {{ quote.content|striptags|strip_spaces|fmt_title(numchars=150) }}
                </div>

                <div class='card-text'>
                    <b>{{ _('Reply to RFQ') }}: </b><a href='{{ url_for("rfq.rfq_page", pr_id=quote.rfq.id) }}'>{{ quote.rfq.product }}</a>
                </div>

                <div class='update-btn'>
                    <a href='{{ url_for("quote.update_quote", pr_id=quote.id) }}'>
                        <span class='btn-update btn-sm'><i class='fa fa-pencil'></i></span>
                    </a>
                </div>
            </div>
        </div>        
    </div>
    {% endfor %}
    {% else %}
    <p><i>{{ _('No quotes available') }}.</i></p>
    {% endif %}
</div>
{% endmacro %}
