{% macro render_rfqs(rfqs) %}
<div class='rfqs-list'>
    {% if rfqs %}
    {% for rfq in rfqs %}
    <div class='mb-2 rfq-item' id='rfq-{{ rfq.id }}'>        
        <div class='rfq-item-pic float-left'>
                <img src="{% if rfq.media %} {{ rfq.media[0].thumbnail() }} {% else %}/static/img/product_default.png{% endif %}" />
        </div>
        <div class='rfq-item-content float-left card border-0'>
            <div class='card-body'>
                <div class='card-title'>
                    <h5>
                    <a href='{{ url_for("rfq.rfq_page", pr_id=rfq.id) }}'>
                        {{ rfq.product }}
                    </a>
                    </h5>
                </div>
                        
                <div class='card-text'>
                    {% for keyword in rfq.keywords %}
                    <span class='keyword'>{{ keyword }}</span>
                    {% endfor %}
                </div>
                <div class='card-text mt-1 mb-1'><i>{{ rfq.content|striptags|strip_spaces|fmt_title(numchars=150) }}</i></div>
                <div class='card-text category-path'>{{ rfq.product_category.path_as_str }}</div>
            </div>
        </div>

        <div class='float-right align-middle btn-box pt-2'>
            <a href='{{ url_for("rfq.update_rfq", pr_id=rfq.id) }}' class='float-right'>
                <span class='btn-update btn-sm'><i class='fa fa-pencil'></i></span>
            </a>
            <div class='text-muted float-left'>{{ _('Time left') }}: <span class='time-left'>{{ rfq.time_left_str }}</span></div>
            <div class='text-muted float-left'>{{ _('Quotes left') }}: <span class='quotes-left'>{{ rfq.quotes_left }}</span></div>       
            {% if rfq.is_expired %}
            <span class='rfq-status rfq-expired'>{{ _('Expired') }}</span>
            {% else %}
            <span class='rfq-status rfq-active'>{{ _('Active') }}</span>
            {% endif %}
        </div>
                   
    </div>
    {% endfor %}
    {% else %}
    <p>
        <i>{{ _('No RFQs found.') }}</i>
    </p>
    {% endif %}
</div>
{% endmacro %}
