<span class='support-bubble-btn'
    data-toggle='modal'
    data-target='#support-modal'>
    <i class='fa fa-question'></i>
</span>

<div class='support-modal modal fade' id='support-modal' 
    tabindex='-1' role='dialog' 
    aria-labelledby="support-modal" aria-hidden="true">
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h4>{{ _('New Support Ticket') }}</h4>
                <b><a href='{{ url_for("support_ticket.main") }}'>{{ _('View open tickets') }}</a></b>
            </div>
            <div class='modal-body'>                
                <form class='new-ticket-form' id='support-bubble-new-ticket-form' method="POST" action='/support'>                    
                    <div class='form-group'>
                        <label for='new_ticket_name'>{{ _('Summary') }}</label>
                        <input class='form-control' type='text' name='name'>
                    </div>
                    <div class='form-group'>
                        <label for='new_ticket_type'>{{ _('Ticket type') }}</label>
                        <select class='form-control' name='ticket_type'>
                            {% for t in constants.SUPPORT_TICKET_TYPES %}
                            <option value='{{ t }}'>{{ t }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class='form-group'>
                        <label for='new_ticket_description'>{{ _('Description') }}</label>
                        <textarea rows=3 class='form-control' name='description'></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
                </form>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>                
            </div>
        </div>
    </div>
</div>