{% macro render_threads_with_count(threads) %}
{% if threads %}
{% for thread, count in threads %}
<div class='thread-item media'>
    <span class='unread-per-thread big' data-thread_id='{{ thread.id }}'>
        {% if count %}<span class='unread-msg-count-label'>{{ count }}</span>{% endif %}
    </span>
    <img height='35px' width='35px' class='rounded-circle mr-3'
        src='{% if not thread.creator.profile_pic %} /static/img/user_default.png {% else %}{{ thread.creator.profile_pic }}{% endif %}'>
    <div class='media-body'>
        <div class='thread-item-title'>
            <a href='{{ url_for("messages.thread_page", pr_id=thread.id) }}'>
                <b>
                    {% if thread.thread_type == 'private_thread' %}
                    {{ thread.name_for_user(current_user.id) }}
                    {% else %}        
                    {{ thread.name }}
                    {% endif %}
                </b>
            </a>            
        </div>
        <p>{{ thread.description }}</p>
    </div>
</div>
{% endfor %}
{% else %}
<p>{{ _('No threads found') }}.</p>
{% endif %}
{% endmacro %}
