<nav class="site-navbar navbar fixed-top navbar-expand">

    <span class="mobile" onclick='window.toggle_menu("sidemenu");'>
        <span class="mobile-btn fa fa-bars"></span>
    </span>
       

    <a class="navbar-brand" href="{{ url_for('home.generic_homepage') }}"><img class="site-name-img" src="/static/img/logo_md.png" alt="{{ config['APP_NAME'] }}"/></a>
    <a class="navbar-brand mobile" href="{{ url_for('home.generic_homepage') }}"><img class="site-name-img" src="/static/img/logo_icon_sm.png" alt="{{ config['APP_NAME'] }}"/></a>

    <div class='navbar-wrapper w-100'>
        <ul class="nav navbar-nav float-left">
            <li class='nav-item'>
                <a class='nav-link' href='{{ url_for("home.default") }}'>{{ _('Home') }}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ url_for('search.search') }}" >{{ _('Search') }}&nbsp;<i class='fa fa-angle-down'></i></a>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='{{ url_for("search.search", stype="products") }}'>{{ _('By Products') }}</a>
                    <a class='dropdown-item' href='{{ url_for("search.search", stype="companies") }}'>{{ _('By Companies') }}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ url_for('trade_lead.listing') }}">{{ _('Trade Leads') }}&nbsp;<i class='fa fa-angle-down'></i></a>
                <div class='dropdown-menu with-cols'>
                    <div class='row medium-gutters'>
                        <div class='col-6'>
                            <h5>{{ _('Discover') }}</h5>
                            <p><a href='{{ url_for("trade_lead.listing") }}'>{{ _('Newest Trade Leads') }}</a></p>
                            <p><a href='{{ url_for("search.search") }}'>{{ _('Most popular products by category') }}</a></p>
                            <p><a href='{{ url_for("search.search", stype="companies") }}'>{{ _('Top suppliers by region') }}</a></p>
                        </div>

                        <div class='col-6'>
                            <h5>{{ _('Source') }}</h5>
                            <p><a href='{{ url_for("rfq.sourcing") }}'>{{ _('Search latest buying requests') }}</a></p>
                            <p><a href='{{ url_for("rfq.create_rfq") }}'>{{ _('Create a new RFQ') }}</a></p>
                            <p><a href='{{ url_for("rfq.sourcing") }}'>{{ _('Instant Quotes') }}</a></p>                            
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <ul class='nav navbar-nav justify-content-end'>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('messages.home') }}">
                        <!--<span class='total-unread-messages-count'></span>-->
                        {{ _('Messages') }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('notification.home') }}">
                        {{ _('Notifications')}}
                        <span class='total-unread-notifications-count'></span>
                    </a>                    
                </li>
                {% if current_user.company %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ url_for('company.my_company') }}">{{ _('My Company') }}&nbsp;<i class='fa fa-angle-down'></i></a>
                    <div class='dropdown-menu'>
                        {% if not current_user.company.is_verified %} 
                        <a class='dropdown-item verify' href='{{ url_for("company.verify_company") }}'>{{ _('Verify Company') }}</a>
                        <div class="dropdown-divider"></div>
                        {% endif %}                         
                        <a class='dropdown-item' href='{{ url_for("company.my_company") }}'>{{ _('Manage Page') }}</a>                        
                        <a class='dropdown-item' href='{{ url_for("product.manage_products") }}'>{{ _('Manage Products') }}</a>                        
                        <a class='dropdown-item membership' href='{{ url_for("membership.my_company_membership") }}'>{{ _('Membership') }}</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ url_for('company.link_my_company') }}">{{ _('My Company') }}&nbsp;<i class='fa fa-angle-down'></i></a>
                    <div class='dropdown-menu'>                        
                        <a class='dropdown-item verify' href='{{ url_for("company.link_my_company") }}'>{{ _('Link my company') }}</a>
                    </div>
                </li>
                {% endif %}   
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{{ url_for('account.my_account') }}">{{ _('My Account') }}&nbsp;<i class='fa fa-angle-down'></i></a>
                    <div class='dropdown-menu'>
                        <a class='dropdown-item' href='{{ url_for("account.my_account") }}'>{{ _('Profile & Settings') }}</a>
                        <a class='dropdown-item' href='{{ url_for("rfq.manage_rfqs") }}'>{{ _('Manage RFQs') }}</a>
                        <a class='dropdown-item' href='{{ url_for("quote.manage_quotes") }}'>{{ _('Manage Quotes') }}</a>
                        <div class="dropdown-divider"></div>
                        <a class='dropdown-item logout' href='{{ url_for("auth.logout") }}'>{{ _('Log Out') }}</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account.my_basket') }}">
                        <i class='fa fa-cart-plus'></i>
                        {% if session['BASKET_PRODUCTS'] and session['BASKET_PRODUCTS']|length > 0 %}({{ session['BASKET_PRODUCTS']|length }}){% endif %}
                    </a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('support_ticket.main') }}">{{ _('Support') }}</a>
                </li>
                <li class='nav-item mobile'>
                    <a href='{{ url_for("search.search") }}'>
                        <span class='mobile-btn'>
                            <i class='fa fa-search'></i>
                        </span>
                    </a>             
                </li>                   
                <li class='nav-item mobile'>
                    <a href='{{ url_for("messages.home") }}'>
                        <span class='mobile-btn fa fa-comments'></span>
                    </a>             
                </li>
                <li class='nav-item mobile'>
                    <a href='{{ url_for("notification.home") }}'>
                        <span class='mobile-btn fa fa-bell'></span>
                    </a>
                </li>
                <li class='nav-item mobile'>
                    <a href='{{ url_for("account.my_basket") }}'>
                        <span class='mobile-btn fa fa-cart-plus'></span>
                    </a>
                </li>                      
                <li class="nav-item mobile">
                    <a class="nav-link" href="{{ url_for('account.my_account') }}">
                        <img class='profile-pic' src='{{ current_user.profile_pic or "/static/img/user_default.png" }}' alt='my_account_pic'>
                    </a>
                </li>
            {% else %}
                <li class='nav-item mobile'>
                    <a href='{{ url_for("search.search") }}'>
                        <span class='mobile-btn fa fa-search'></span>
                    </a>             
                </li>      
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('static_pages.help') }}">{{ _('Help') }}</a>
                </li>                           
                <li class="nav-item alwayson">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">{{ _('Log In') }}</a>
                </li>
            {% endif %}
                <li class='nav-item'>
                    <button class="btn btn-outline-info" data-toggle="modal" data-target="#languageModal" data-toggle="tooltip" title="{{ _('Change language settings') }}">
                        {% if request.cookies['lang_code'] %}  
                        {% for key, val in constants.LANG_CODE_PAIRS if val == request.cookies['lang_code'] %} 
                        {% if loop.first  %}{{ key }} {% endif %}
                        {% endfor %}
                        {% else %}
                            {{ _('English') }}
                        {% endif %}
                    </button>
                </li>
                <li class='nav-item mobile'>                    
                        {% if request.cookies['lang_code'] %}  
                        {% for key, val in constants.LANG_COUNTRY_DICT.items() if key == request.cookies['lang_code'] %} 
                        {% if loop.first  %}
                        <span class='btn flag flag-{{ val }}' data-toggle="modal" data-target="#languageModal" data-toggle="tooltip" title="{{ _('Change language settings') }}"></span>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <span class='btn flag flag-us' data-toggle="modal" data-target="#languageModal" data-toggle="tooltip" title="{{ _('Change language settings') }}"></span>
                        {% endif %}                    
                </li>
        </ul>
    </div>
</nav>

<nav id='sidemenu' class='sidemenu'>
    <div class='sidemenu-container'>
        <div class='sidemenu-x' onclick='toggle_menu("sidemenu");'>
            <span class='fa fa-close'></span>
        </div>
        <div class='sidemenu-header'>
            <a href="{{ url_for('home.generic_homepage') }}">
                <img class="site-name-img" src="/static/img/logo_md.png" alt="{{ config['APP_NAME'] }}"/>
            </a>
        </div>

        <div class='sidemenu-content'>
            {% if not current_user.is_authenticated %}
            <div class='sidemenu-section'>
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("auth.login") }}'>                    
                        <span class='item-header'><i class='fa fa-sign-in'></i></span>
                        <span class='item-body'>{{ _('Log In / Register') }}</span>
                    </a>
                </div>                
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("home.default") }}'>                    
                        <span class='item-header'><i class='fa fa-home'></i></span>
                        <span class='item-body'>{{ _('Home') }}</span>
                    </a>
                </div>
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("search.search") }}'>                    
                        <span class='item-header'><i class='fa fa-search'></i></span>
                        <span class='item-body'>{{ _('Discover') }}</span>
                    </a>
                </div>                
            </div>
            <div class='sidemenu-section'>
                <h5>{{ _('Trade Leads and Sourcing') }}</h5>
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("trade_lead.create_trade_lead") }}'>
                        <span class='item-header'><i class='fa fa-pencil-square-o'></i></span>
                        <span class='item-body'>{{ _('Submit a Request') }}</span>
                    </a>
                </div>                
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("trade_lead.listing") }}'>                    
                        <span class='item-header'><i class='fa fa-binoculars'></i></span>
                        <span class='item-body'>{{ _('Search Leads and Requests') }}</span>
                    </a>
                </div>
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("rfq.sourcing") }}'>                    
                        <span class='item-header'><i class='fa fa-bolt'></i></span>
                        <span class='item-body'>{{ _('Instant Quotes') }}</span>
                    </a>
                </div>                                
            </div>                     
            {% else %}
            <div class='sidemenu-section'>                                
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("account.my_account") }}'>
                        <span class='item-header'>
                            <img class='profile-pic' 
                                src='{{ current_user.profile_pic or "/static/img/user_default.png" }}'
                                alt='my_account_pic'>
                        </span>
                        <span class='item-body'>{{ _('My Account') }}</span>
                    </a>
                </div>
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("messages.home") }}'>                    
                        <span class='item-header'><i class='fa fa-comments'></i></span>
                        <span class='item-body'>{{ _('Messages') }}</span>
                    </a>
                </div>                
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("home.default") }}'>                    
                        <span class='item-header'><i class='fa fa-home'></i></span>
                        <span class='item-body'>{{ _('Home') }}</span>
                    </a>
                </div>
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("search.search") }}'>                    
                        <span class='item-header'><i class='fa fa-search'></i></span>
                        <span class='item-body'>{{ _('Discover') }}</span>
                    </a>
                </div>                
            </div>
            <div class='sidemenu-section'>
                {% if current_user.company %}
                <h5>
                    <a href='{{ url_for("company.company_page", pr_id=current_user.company_id) }}'>{{ _('My Company') }}</a>
                </h5>
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("company.my_company") }}'>
                        <span class='item-header'><i class='fa fa-industry'></i></span>
                        <span class='item-body'>{{ _('Manage Page') }}</span>
                    </a>
                </div>
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("product.manage_products") }}'>                    
                        <span class='item-header'><i class='fa fa-cubes'></i></span>
                        <span class='item-body'>{{ _('Manage Products') }}</span>
                    </a>
                </div>
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("company.get_employee_list") }}'>                    
                        <span class='item-header'><i class='fa fa-users'></i></span>
                        <span class='item-body'>{{ _('Manage Users') }}</span>
                    </a>
                </div> 
                {% else %}
                <h5>
                    <a class="nav-link" href="{{ url_for('company.link_my_company') }}">{{ _('My Company') }}</a>    
                </h5>
                {% endif %}
            </div>
            <div class='sidemenu-section'>
                <h5>{{ _('Trade Leads') }}</h5>
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("trade_lead.create_trade_lead") }}'>
                        <span class='item-header'><i class='fa fa-pencil-square-o'></i></span>
                        <span class='item-body'>{{ _('Submit a Trade Lead') }}</span>
                    </a>
                </div>                
                <div class='sidemenu-item'>
                    <a class='sidemenu-link' href='{{ url_for("trade_lead.listing") }}'>                    
                        <span class='item-header'><i class='fa fa-binoculars'></i></span>
                        <span class='item-body'>{{ _('Search Trade Leads') }}</span>
                    </a>
                </div>                       
            </div>
            <div class='sidemenu-section'>
                <div class='sidemenu-item'>
                    <a class='sidemenu-link logout' href='{{ url_for("auth.logout") }}'>
                        <span class='item-header'><i class='fa fa-sign-out'></i></span>
                        <span class='item-body'>{{ _('Log Out') }}</span>
                    </a>
                </div>   
            </div>             
            {% endif %}
        </div>

        <div class='sidemenu-footer'>
            <div class='sidemenu-footer-links'>                
                <a href='{{ url_for("static_pages.about_page") }}'>{{ _('About') }}</a>               
                <a href='{{ url_for("static_pages.team_page") }}'>{{ _('Team') }}</a>
                <a href='{{ url_for("static_pages.careers") }}'>{{ _('Careers') }}</a>
                </br>
                <a href='{{ url_for("membership.membership_info") }}'>{{ _('Pricing') }}</a>
                <a href='{{ url_for("static_pages.sitemap") }}'>{{ _('Sitemap') }}</a>                            
                </br>
                <a href='{{ url_for("static_pages.tos_page") }}'>{{ _('Terms') }}</a>
                <a href='{{ url_for("static_pages.privacy_page") }}'>{{ _('Privacy') }}</a>
                </br>
                <a href='{{ url_for("static_pages.policy_and_rules") }}'>{{ _('Policy & Rules') }}</a>
                </br>
                <a href='{{ url_for("static_pages.report_abuse") }}'>{{ _('Report an Abuse') }}</a>
            </div>
            <br>
            <p>© 2018, Trade60 Inc.</p>
        </div>
    </div>
    <div class='sidemenu-overlay' onclick='toggle_menu("sidemenu");'></div>   
</nav>

<!-- Modal -->
<div class="modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="languageModalLongTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="languageModalLongTitle">{{ _('Select Your Language') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class='row lang-selection'>
            <div class='col-sm-12 col-md-12'>
                <div class='row'>                      
                    {% set next_url = (request.path.split('/')[2:] | join('')) %}
                    {% for key, val in constants.LANGUAGES.items() %}
                    <div class='col-sm-6 col-md-4'>
                        {#  <a data-lang="{{ val[1] }}" data-toggle="tooltip" title="{{ val[0] }}" href="/{{ val[1] }}/{{ next_url }}"><img class='flag flag-{{ key }}' src='/static/img/blank.gif'>{{ val[0] }}</a>
                        #}
                        <a data-lang="{{ val[1] }}" data-toggle="tooltip" title="{{ val[0] }}" href="{{ url_for('base.change_lang', lang_code=val[1]) }}"><img class='flag flag-{{ key }}' src='/static/img/blank.gif'> {{ val[0] }}</a>
                    
                    </div>
                    {% endfor %}
                </div>
            </div>
            </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Close') }}</button>
    </div>
    </div>
</div>
</div>