{% set color_match_dict = {
    constants.LEAD_TYPE_BUY: 'buyer',
    constants.LEAD_TYPE_SELL: 'seller',
    constants.LEAD_TYPE_OTHER: ''
}

%}

{% macro render_trade_leads(trade_leads) %}
<div class='trade-leads-list'>
    {% if trade_leads %}
    {% for lead in trade_leads %}
    <div class='mb-2 rfq-item' id='trade-lead-{{ lead.id }}'>
        <div class='rfq-item-pic badge {{ color_match_dict[lead.lead_type] }} float-left'>
            
        </div>        
        <div class='rfq-item-pic float-left'>
                <img src="{% if lead.media %} {{ lead.media[0].thumbnail() }} {% else %}/static/img/product_default.png{% endif %}" />
        </div>
        <div class='rfq-item-content float-left card border-0'>
            <div class='card-body'>
                <div class='card-title'>
                    <h5>
                        <span class="badge badge-sm {{ color_match_dict[lead.lead_type] }} text-white">
                        {% if lead.lead_type == constants.LEAD_TYPE_BUY %}
                            {{ _('Buy') }}
                        {% elif lead.lead_type == constants.LEAD_TYPE_SELL %}
                            {{ _('Sell') }}
                        {% else %}
                            {{ _('Other')  }}
                        {% endif %}
                        </span>
                    <a href='{{ url_for("trade_lead.trade_lead_page", pr_id=lead.id) }}'>
                            {{ lead.title }}
                    </a>
                    </h5>
                </div>
                        
                <div class='card-text'>
                    {% for keyword in lead.keywords %}
                    <span class='keyword'>{{ keyword }}</span>
                    {% endfor %}
                    <i>{{ lead.content|striptags|strip_spaces|fmt_title(numchars=150) }}</i>
                </div>
                <div class='card-text category-path'>{{ lead.product_category.path_as_str }}</div>
            </div>
        </div>

        <div class='float-right align-middle btn-box pt-2'>
                <a href='{{ url_for("messages.trade_lead_thread_page", trade_lead_id=lead.id) }}' class='float-right'>
                        <span class='btn-primary btn-sm'><i class='fa fa-comments'></i></span>
                </a>
                <div class='float-right mr-2'>
                    <span class='btn-sm btn-success ' onclick='window.open_trade_lead_quickview(this);'
                                data-user_url='{{ url_for("account.account_page", pr_id=lead.user_id) }}' 
                                data-trade_lead_thread_url='{{ url_for("messages.trade_lead_thread_page", trade_lead_id=lead.id) }}'
                                data-trade_lead_id='{{ lead.id }}' data-trade_lead_url='{{ url_for("trade_lead.trade_lead_page", pr_id=lead.id) }}' 
                                data-trade_lead='{{ lead.to_dict()|tojson }}'>
                                <i class='fa fa-search-plus'></i>
                    </span>
                </div>
           {# <a href='{{ url_for("trade_lead.update_trade_lead", pr_id=lead.id) }}' class='float-right'>
                <span class='btn-update btn-sm'><i class='fa fa-pencil'></i></span> 
            </a> #}
            <div class='text-muted float-left'> {{ _('posted ') }} <span class='quotes-left'>{{ lead.create_time|fmt_datetime('short') }}</span></div>
        </div>
                   
    </div>
    {% endfor %}
    {% else %}
    <p>
        <i>{{ _('No Trade Lead Found.') }}</i>
    </p>
    {% endif %}
</div>
{% endmacro %}
